.fhmm .dropdown a,
.fhmm .dropdown-menu  a {
    color:#D3D3D3;
    -webkit-transition: background-color .1s linear, color .1s linear;
    -moz-transition: background-color .1s linear, color .1s linear;
    -o-transition: background-color .1s linear, color .1s linear;
    -ms-transition: background-color .1s linear, color .1s linear;
    transition: background-color .1s linear, color .1s linear;
}
.fhmm .dropdown-menu > li {
    border-bottom:1px solid #292929;
}
.fhmm .dropdown-menu > li:last-child {
    border-bottom:0 solid #292929;
}
.fhmm .navbar-nav > li > .dropdown-menu {
    margin-top:36px;
}

.fhmm i {
    color:#BFBFBF
}
.fhmm .dropdown-menu {
    box-shadow:none;
    border:1px solid #292929;
    padding:0;
}
.fhmm .form-control {
    margin-top:10px;
    border:1px solid #292929;
}
.fhmm .btn {
    margin:10px 0 20px
}
.fhmm video {
    max-width: 100%;
    height: auto;
}
.fhmm iframe,
.fhmm embed,
.fhmm object {
    max-width: 100%;
}
.fhmm .google-map {
    width:100%;
    border:1px solid rgba(255, 255, 255, 0.5);
    min-height:200px;
}
.fhmm div.google-map {
    background:rgba(255, 255, 255, 0.5);
    background: #ffffff;
    height: 200px;
    margin: 0 0 0px 0;
    width: 100%;
}
#googlemaps img{
    max-width:none;
}
.fhmm .dropdown-menu .withoutdesc {
    margin-top:0;
    padding:15px 20px;
    background:url(../images/menubg.png) bottom right no-repeat;
    display: block;
    text-align: left;
    text-transform: none;
    width: 100%;
}
.fhmm .dropdown-menu .withoutdesc.nobg {
    background:none;
}
.fhmm .dropdown-menu .withoutdesc ul {
    margin:0;
}

.fhmm a:hover {
    text-decoration:none
}
.fhmm .dropdown-menu .withoutdesc ul li {
    padding:4px 0 5px 3px;
}

.fhmm p {
    color: #292723;
    font-size: 13px;
    font-weight: 300;
}
.fhmm .dropdown-menu .withoutdesc ul li a {
    clear: both;
    color: #292723;
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.42857;
    white-space: nowrap;
}

/*.fhmm .dropdown-menu .withoutdesc ul li:hover a,
.fhmm .dropdown-menu .withoutdesc ul li:focus a,
.fhmm .dropdown-menu .withoutdesc ul li a:hover,
.fhmm .dropdown-menu .withoutdesc ul li a:focus {
	color:#ffffff !important;
	text-decoration:none;
}*/
.fhmm .dropdown-menu .withoutdesc li:last-child {
    border-bottom:0 solid #fff;
}
.fhmm .fhmm-content.withdesc a:after {
    color: #D3D3D3;
    content: attr(data-description);
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 0;
    margin: 10px 0 15px;
    text-transform: uppercase;
}

.fhmm .dropdown-submenu{
    position:relative;
}
.fhmm .dropdown-submenu>.dropdown-menu{
    top:0;
    left:100%;
    margin-top:0;
    margin-left:-1px;

}
.fhmm .dropdown-submenu:hover>.dropdown-menu{
    display:block;
}

.fhmm .dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#656565;
    margin-top:5px;
    margin-right:-10px;
}
.fhmm .dropdown-submenu:hover>a:after{
    border-left-color:#454545;
}
.fhmm .dropdown-submenu.pull-left{
    float:none;
}
.fhmm .dropdown-submenu.pull-left>.dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.fhmm .nav,
.fhmm .collapse,
.fhmm .dropup,
.fhmm .dropdown {
    position: static;
}
.fhmm .half {
    width: 50%;
    left: auto !important;
    right: auto !important;
}
.fhmm .container {
    position: relative;
}
.fhmm .dropdown-menu {
    left: auto;
}
.fhmm .nav.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}
.fhmm .fhmm-content {
    padding: 15px 25px;
}
.fhmm .dropdown-menu .withoutdesc ul li a,
.fhmm a,
.fhmm p,
.fhmm .fhmm-content a {
    color:#D3D3D3;
}

.fhmm .dropdown.fhmm-fw .dropdown-menu {
    left: 0;
    right: 0;
}
.fhmm .title {
    font-size:13px;
    font-weight:bold;
    color:#ffffff;
    margin:15px 0 10px;
    border-bottom:0 solid #efefef;
    padding-bottom:0;
    text-transform:uppercase;
}
.fhmm ul {
    list-style:none;
    padding-left:0px;
}

.navbar {
    margin-top:33px;
}

.header.affix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top:0;
    padding:10px 0;
    min-height:inherit;
    z-index: 99;
    background:#323232;
    background: rgba(50,50,50,1);
    border-bottom: 1px solid #323232;
}

.header.affix .navbar {margin-top:0px;}
.header.affix .navbar-nav > li > .dropdown-menu {
    margin-top:10px !important;
}
.header.affix .logo img {width:80%;}

.header.affix .logo {
    line-height:38px;
}


.navbar-nav > li > a {
    border-top: 2px solid #323232;
    color: #D3D3D3;
    font-size: 13px;
    font-weight: 400;
    margin:0 3px;
    padding: 8px 15px;
    text-decoration: none;
}
.navbar-default {
    background:#323232;
    border:0 solid #ffffff;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.065);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.065);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background:#323232 !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background:#323232;
}

/*	.navbar-toggle .dropdown-menu > li > a:focus,
	.navbar-toggle .dropdown-menu > li > a:hover {
		color:#000000;
	}
	.fhmm .dropdown-menu > li > a:focus,
	.fhmm .dropdown-menu > li > a:hover {
		color:#ffffff !important;
	}*/
.navbar {margin-bottom:0;}
.navbar-collapse {padding:0 0 0 15px}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0 0;
    margin: 5px 0 0;
    list-style: none;
    font-size: 13px;
    background-color: #292929;
    border: 1px solid #2f2f2f;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.175);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.dropdown-menu > li > a {
    clear: both;
    color: #292723;
    display: block;
    font-weight: 300;
    line-height: 1.42857;
    padding: 8px 15px;
    font-size:13px;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #f5f5f5;
}
.navbar-nav > li > .dropdown-menu {
    margin-top:3px
}


.navbar-nav > li > a:after{
    position: absolute;
    max-width: 0;
    height: auto;
    left: 0;
    display: block;
    outline: none;
    margin: 0;
    background:none;
    content: attr(data-hover);
    overflow: hidden;
    -webkit-transition: max-width 0.3s ease-in-out;
    -moz-transition: max-width 0.3s ease-in-out;
    -ms-transition: max-width 0.3s ease-in-out;
    transition: max-width 0.3s ease-in-out;
}

.navbar-nav > li > a:hover:after{
    max-width: 100%;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
    border-top: 2px solid #454545;
    position: relative;
}

.nav .open > a:after,
.nav .open > a:hover:after,
.nav .open > a:focus:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after,
.navbar-nav > li > a:focus:after,
.navbar-nav > li > a:hover:after {
    position: absolute;
    left: 0;
    right: 0;
    top: -2px;
    border-top: 2px solid #111111;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-default .navbar-nav > a,
.navbar-default .navbar-nav > a:hover,
.navbar-default .navbar-nav > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    top:0;
}


/** COLOR SCHEMES **/
.navbar-blue {
    background: #00a4db;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00a4db), to(#007acc));
    background-image: -webkit-linear-gradient(top, #00a4db, 0%, #007acc, 100%);
    background-image: -moz-linear-gradient(top, #00a4db 0%, #007acc 100%);
    background-image: linear-gradient(to bottom, #00a4db 0%, #007acc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00a4db', endColorstr='#ff007acc', GradientType=0);
    border-color: #007acc #007acc #004c80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #00a4db;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-color: #007acc;
}
.navbar-blue .navbar-nav > .open > a,
.navbar-blue .navbar-nav > .open > a:hover,
.navbar-blue .navbar-nav > .open > a:focus,
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus,
.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus,
.navbar-blue .navbar-nav > .disabled > a,
.navbar-blue .navbar-nav > .disabled > a:hover,
.navbar-blue .navbar-nav > .disabled > a:focus {
    color: #ffffff !important;
    background-color: #007acc;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
    border-color: #007acc;
}
.navbar-blue .navbar-brand i,
.navbar-blue a,
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
    color: #ffffff;
}
.navbar-blue .navbar-link,
.navbar-blue .navbar-brand,
.navbar-blue .navbar-text,
.navbar-blue .navbar-nav > li > a {
    color: #eeeeee;
}
.navbar-blue .navbar-toggle {
    border-color: #eeeeee;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
    background-color: #007acc;
}
.navbar-blue .navbar-toggle .icon-bar {
    background-color: #eeeeee;
}
.navbar-blue .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-blue .navbar-nav > .dropdown > a .caret {
    border-top-color: #eeeeee;
    border-bottom-color: #eeeeee;
}
.navbar-blue .navbar-nav > .open > a .caret,
.navbar-blue .navbar-nav > .open > a:hover .caret,
.navbar-blue .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-blue .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #007acc;
    }
    .navbar-blue .dropdown a,
    .navbar-blue .dropdown-menu a,
    .navbar-blue .title,
    .navbar-blue p,
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }

    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff !important;
        background-color: #007acc !important;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ffffff;
        background-color: #007acc;
    }
}

.navbar-red {
    background: #ff4a45;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ff4a45), to(#bd0000));
    background-image: -webkit-linear-gradient(top, #ff4a45, 0%, #bd0000, 100%);
    background-image: -moz-linear-gradient(top, #ff4a45 0%, #bd0000 100%);
    background-image: linear-gradient(to bottom, #ff4a45 0%, #bd0000 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff4a45', endColorstr='#ffbd0000', GradientType=0);
    border-color: #bd0000 #bd0000 #710000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #ff4a45;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-color: #bd0000;
}
.navbar-red .navbar-nav > .open > a,
.navbar-red .navbar-nav > .open > a:hover,
.navbar-red .navbar-nav > .open > a:focus,
.navbar-red .navbar-nav > li > a:hover,
.navbar-red .navbar-nav > li > a:focus,
.navbar-red .navbar-nav > .active > a,
.navbar-red .navbar-nav > .active > a:hover,
.navbar-red .navbar-nav > .active > a:focus,
.navbar-red .navbar-nav > .disabled > a,
.navbar-red .navbar-nav > .disabled > a:hover,
.navbar-red .navbar-nav > .disabled > a:focus {
    color: #ffffff !important;
    background-color: #710000;
}
.navbar-red .navbar-collapse,
.navbar-red .navbar-form {
    border-color: #710000;
}
.navbar-red .navbar-brand i,
.navbar-red a,
.navbar-red .navbar-brand:hover,
.navbar-red .navbar-brand:focus {
    color: #ffffff;
}
.navbar-red .navbar-link,
.navbar-red .navbar-brand,
.navbar-red .navbar-text,
.navbar-red .navbar-nav > li > a {
    color: #eeeeee;
}
.navbar-red .navbar-toggle {
    border-color: #eeeeee;
}
.navbar-red .navbar-toggle:hover,
.navbar-red .navbar-toggle:focus {
    background-color: #710000;
}
.navbar-red .navbar-toggle .icon-bar {
    background-color: #eeeeee;
}
.navbar-red .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-red .navbar-nav > .dropdown > a .caret {
    border-top-color: #eeeeee;
    border-bottom-color: #eeeeee;
}
.navbar-red .navbar-nav > .open > a .caret,
.navbar-red .navbar-nav > .open > a:hover .caret,
.navbar-red .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-red .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #710000;
    }
    .navbar-red .dropdown a,
    .navbar-red .dropdown-menu a,
    .navbar-red .title,
    .navbar-red p,
    .navbar-red .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-red .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-red .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-red .dropdown-menu .withoutdesc ul li:hover,
    .navbar-red .dropdown-menu .withoutdesc ul li:focus,
    .navbar-red .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-red .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-red .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff !important;
        background-color: #710000 !important;
    }
    .navbar-red .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-red .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-red .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ffffff;
        background-color: #710000;
    }
}
.navbar-orange {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fbbf50), to(#f09c00));
    background-image: -webkit-linear-gradient(top, #fbbf50, 0%, #f09c00, 100%);
    background-image: -moz-linear-gradient(top, #fbbf50 0%, #f09c00 100%);
    background-image: linear-gradient(to bottom, #fbbf50 0%, #f09c00 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbbf50', endColorstr='#fff09c00', GradientType=0);
    border-color: #f09c00;
}
.navbar-orange .navbar-nav > .open > a,
.navbar-orange .navbar-nav > .open > a:hover,
.navbar-orange .navbar-nav > .open > a:focus,
.navbar-orange .navbar-nav > li > a:hover,
.navbar-orange .navbar-nav > li > a:focus,
.navbar-orange .navbar-nav > .active > a,
.navbar-orange .navbar-nav > .active > a:hover,
.navbar-orange .navbar-nav > .active > a:focus,
.navbar-orange .navbar-nav > .disabled > a,
.navbar-orange .navbar-nav > .disabled > a:hover,
.navbar-orange .navbar-nav > .disabled > a:focus {
    color: #ffffff !important;
    background-color: #f09c00;
}
.navbar-orange .navbar-collapse,
.navbar-orange .navbar-form {
    border-color: #f09c00;
}
.navbar-orange .navbar-brand i,
.navbar-orange a,
.navbar-orange .navbar-brand:hover,
.navbar-orange .navbar-brand:focus {
    color: #ffffff;
}
.navbar-orange .navbar-link,
.navbar-orange .navbar-brand,
.navbar-orange .navbar-text,
.navbar-orange .navbar-nav > li > a {
    color: #eeeeee;
}
.navbar-orange .navbar-toggle {
    border-color: #eeeeee;
}
.navbar-orange .navbar-toggle:hover,
.navbar-orange .navbar-toggle:focus {
    background-color: #f09c00;
}
.navbar-orange .navbar-toggle .icon-bar {
    background-color: #eeeeee;
}
.navbar-orange .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-orange .navbar-nav > .dropdown > a .caret {
    border-top-color: #eeeeee;
    border-bottom-color: #eeeeee;
}
.navbar-orange .navbar-nav > .open > a .caret,
.navbar-orange .navbar-nav > .open > a:hover .caret,
.navbar-orange .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-orange .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #f09c00;
    }
    .navbar-orange .dropdown a,
    .navbar-orange .dropdown-menu a,
    .navbar-orange .title,
    .navbar-orange p,
    .navbar-orange .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-orange .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-orange .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-orange .dropdown-menu .withoutdesc ul li:hover,
    .navbar-orange .dropdown-menu .withoutdesc ul li:focus,
    .navbar-orange .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-orange .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-orange .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff !important;
        background-color: #f09c00 !important;
    }
    .navbar-orange .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-orange .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-orange .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ffffff;
        background-color: #f09c00;
    }
}
.navbar-green {
    background: #75d428;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#75d428), to(#4ead00));
    background-image: -webkit-linear-gradient(top, #75d428, 0%, #4ead00, 100%);
    background-image: -moz-linear-gradient(top, #75d428 0%, #4ead00 100%);
    background-image: linear-gradient(to bottom, #75d428 0%, #4ead00 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff75d428', endColorstr='#ff4ead00', GradientType=0);
    border-color: #4ead00 #4ead00 #2c6100;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #75d428;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-color: #4ead00;
}
.navbar-green .navbar-nav > .open > a,
.navbar-green .navbar-nav > .open > a:hover,
.navbar-green .navbar-nav > .open > a:focus,
.navbar-green .navbar-nav > li > a:hover,
.navbar-green .navbar-nav > li > a:focus,
.navbar-green .navbar-nav > .active > a,
.navbar-green .navbar-nav > .active > a:hover,
.navbar-green .navbar-nav > .active > a:focus,
.navbar-green .navbar-nav > .disabled > a,
.navbar-green .navbar-nav > .disabled > a:hover,
.navbar-green .navbar-nav > .disabled > a:focus {
    color: #ffffff !important;
    background-color: #2c6100;
}
.navbar-green .navbar-collapse,
.navbar-green .navbar-form {
    border-color: #2c6100;
}
.navbar-green .navbar-brand i,
.navbar-green a,
.navbar-green .navbar-brand:hover,
.navbar-green .navbar-brand:focus {
    color: #ffffff;
}
.navbar-green .navbar-link,
.navbar-green .navbar-brand,
.navbar-green .navbar-text,
.navbar-green .navbar-nav > li > a {
    color: #eeeeee;
}
.navbar-green .navbar-toggle {
    border-color: #eeeeee;
}
.navbar-green .navbar-toggle:hover,
.navbar-green .navbar-toggle:focus {
    background-color: #2c6100;
}
.navbar-green .navbar-toggle .icon-bar {
    background-color: #eeeeee;
}
.navbar-green .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-green .navbar-nav > .dropdown > a .caret {
    border-top-color: #eeeeee;
    border-bottom-color: #eeeeee;
}
.navbar-green .navbar-nav > .open > a .caret,
.navbar-green .navbar-nav > .open > a:hover .caret,
.navbar-green .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-green .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #2c6100;
    }
    .navbar-green .dropdown a,
    .navbar-green .dropdown-menu a,
    .navbar-green .title,
    .navbar-green p,
    .navbar-green .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-green .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-green .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-green .dropdown-menu .withoutdesc ul li:hover,
    .navbar-green .dropdown-menu .withoutdesc ul li:focus,
    .navbar-green .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-green .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-green .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff !important;
        background-color: #2c6100 !important;
    }
    .navbar-green .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-green .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-green .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ffffff;
        background-color: #2c6100;
    }
}
/**
  .navbar-blue .dropdown-menu .withoutdesc ul li:hover,
  .navbar-blue .dropdown-menu .withoutdesc ul li:focus
  **/