/* MENU CONFIGURATION
**********************************************************/
.jetmenu {
    width      : 100%;
    padding    : 0;
    margin     : 0;
    position   : relative;
    list-style : none;
    background : #FFFFFF;
}

.jetmenu li {
    display : inline-block;
    float   : left;
}

.jetmenu a {
    -o-transition      : all .3s linear;
    -webkit-transition : all .3s linear;
    -moz-transition    : all .3s linear;
    transition         : all .3s linear;
    outline            : none;
    z-index            : 10;
}

.jetmenu > li > a {
    border-top      : 3px solid #FFFFFF;
    color           : #111111;
    display         : inline-block;
    font-family     : 'Libre Baskerville', sans-serif;
    font-size       : 13px;
    letter-spacing  : -0.6px !important;
    line-height     : 1.273em;
    padding         : 15px 20px;
    text-decoration : none;
    text-transform  : uppercase;
}

.jetmenu > li:hover > a,
.jetmenu > li.active > a {
    color : #111111;
}

/* DROPDOWN CONFIGURATION
**********************************************************/
.jetmenu ul.dropdown,
.jetmenu ul.dropdown li ul.dropdown {
    list-style : none;
    margin     : 0;
    border     : 1px solid #E9E9E9;
    padding    : 0;
    display    : none;
    position   : absolute;
    z-index    : 110;
    width      : 175px;
    background : #FFFFFF;
    background : rgba(255, 255, 255, 0.98);
}

.jetmenu ul.dropdown {
    top : 50px;
}

.jetmenu ul.dropdown li ul.dropdown {
    left : 146px;
    top  : inherit;
}

.jetmenu ul.dropdown li {
    clear         : both;
    width         : 100%;
    border-bottom : 1px solid #E9E9E9;
    font-size     : 14px;
}

.jetmenu ul.dropdown li:last-child {
    border-bottom : 0 solid #FFFFFF;
}

.jetmenu ul.dropdown li a {
    width              : 100%;
    padding            : 10px 28px 10px 15px;
    display            : inline-block;
    float              : left;
    clear              : both;
    font-weight        : 400;
    color              : #111111;
    font-family        : "Georgia", Arial, sans-serif;
    font-size          : 13px;
    line-height        : 22px;
    text-decoration    : none;
    box-sizing         : border-box;
    -moz-box-sizing    : border-box;
    -webkit-box-sizing : border-box;
}

.jetmenu ul.dropdown li:hover > a {
    background : #E0E0E0;
    color      : #111111;
}

/* SUBMENU INDICATORS
**********************************************************/
.jetmenu .indicator {
    position  : relative;
    left      : 5px;
    top       : 0;
    font-size : 12px;

}

.jetmenu ul li .indicator {
    top       : 0;
    font-size : 12px;
    left      : 10px;
}

/* MEGAMENU
**********************************************************/
.jetmenu > li > .megamenu {
    position           : absolute;
    display            : none;
    background         : #FFFFFF;
    background         : rgba(255, 255, 255, 0.98);
    min-width          : 25%;
    top                : 50px;
    color              : #6F6F6F;
    line-height        : 22px;
    font-family        : 'Georgia', sans-serif;
    font-size          : 13px;
    z-index            : 9999;
    padding            : 20px;
    border             : 1px solid #E9E9E9;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    margin-top         : -1px;
}

/* megamenu list */
.jetmenu li > .megamenu ul {
    margin   : 0 0 20px 0;
    float    : left;
    padding  : 0;
    display  : block;
    position : relative;
}

.jetmenu li > .megamenu ul li {
    width   : 100%;
    padding : 4px;
}

.jetmenu li > .megamenu ul li.title {
    margin        : 0 0 4px;
    padding       : 0;
    font-size     : 14px;
    border-bottom : solid 1px #E9E9E9;
}

/* megamenu h5 */
.jetmenu li > .megamenu h5 {
    text-decoration : none;
    text-transform  : uppercase;
    display         : inline-block;
    border-bottom   : 1px solid #DDDDDD;
}

/* megamenu links */
.jetmenu li > .megamenu a {
    color              : #6F6F6F;
    text-decoration    : none;
    -webkit-transition : color 0.3s linear;
    -moz-transition    : color 0.3s linear;
    -o-transition      : color 0.3s linear;
    transition         : color 0.3s linear;
}

.jetmenu li > .megamenu a:hover {
}

/* megamenu images */
.jetmenu .megamenu img {
    width              : 100%;
    -webkit-transition : border 0.3s linear;
    -moz-transition    : border 0.3s linear;
    -o-transition      : border 0.3s linear;
    transition         : border 0.3s linear;
}

/* MEGAMENU WIDTHS
**********************************************************/
.jetmenu > li > .megamenu.half-width {
    width : 50%;
}

.jetmenu > li > .megamenu.full-width {
    width : 100%;
    left  : 0;
}

/* MEGAMENU FORM CONFIGURATION
**********************************************************/
.jetmenu li > .megamenu form {
    width : 100%;
}

/* megamenu inputs */
.jetmenu li > .megamenu form input[type="text"],
.jetmenu li > .megamenu form textarea {
    padding            : 5px;
    color              : #111111;
    background         : #444444;
    font-family        : 'Libre Baskerville', sans-serif;
    font-size          : 14px;
    border             : solid 1px transparent;
    outline            : none;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    -webkit-transition : border 0.3s linear;
    -moz-transition    : border 0.3s linear;
    -o-transition      : border 0.3s linear;
    transition         : border 0.3s linear;
}

.jetmenu li > .megamenu form input[type="text"]:focus,
.jetmenu li > .megamenu form textarea:focus {
    border-color : #E0E0E0;
}

.jetmenu li > .megamenu form input[type="text"] {
    width      : 100%;
    margin-top : 10px;
}

.jetmenu li > .megamenu form textarea {
    width      : 100%;
    margin-top : 10px;
}

.jetmenu li > .megamenu form input[type="submit"] {
    width              : 25%;
    float              : right;
    height             : 30px;
    margin-top         : 10px;
    border             : none;
    cursor             : pointer;
    background         : #444444;
    color              : #777777;
    font-family        : 'Libre Baskerville', sans-serif;
    -webkit-transition : background 0.3s linear;
    -moz-transition    : background 0.3s linear;
    -o-transition      : background 0.3s linear;
    transition         : background 0.3s linear;
}

.jetmenu li > .megamenu form input[type="submit"]:hover {
    background : #E0E0E0;
    color      : #111111;
}

/* MEGAMENU GRID SYSTEM
**********************************************************/
.megamenu .row {
    width        : 100%;
    margin-top   : 15px;
    margin-left  : 0;
    margin-right : 0;

}

.megamenu .row:first-child {
    margin-top : 0;
}

.megamenu .row:before,
.megamenu .row:after {
    display     : table;
    content     : "";
    line-height : 0;
}

.megamenu .row:after {
    clear : both;
}

.megamenu .row .col1,
.megamenu .row .col2,
.megamenu .row .col3,
.megamenu .row .col4,
.megamenu .row .col5,
.megamenu .row .col6 {
    display            : block;
    width              : 100%;
    min-height         : 20px;
    float              : left;
    margin-left        : 2.127659574468085%;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

.megamenu .row [class*="col"]:first-child {
    margin-left : 0;
}

.megamenu .row .col1 {
    width : 14.893617021276595%;
}

.megamenu .row .col2 {
    width : 31.914893617021278%;
}

.megamenu .row .col3 {
    width : 48.93617021276595%;
}

.megamenu .row .col4 {
    width : 65.95744680851064%;
}

.megamenu .row .col5 {
    width : 82.97872340425532%;
}

.megamenu .row .col6 {
    width : 100%;
}

/* RIGHT ALIGNMENT (MENU ITEM)
**********************************************************/
.jetmenu > li.right {
    float : right;
}

.jetmenu > li.right > .megamenu {
    right : 0;
}

/* COLLAPSIBLE MENU
**********************************************************/
.jetmenu > li.showhide {
    display    : none;
    width      : 100%;
    height     : 50px;
    cursor     : pointer;
    color      : #111111;
    background : #FFFFFF;
}

.jetmenu > li.showhide span.title {
    margin      : 15px 0 0 25px;
    font-family : 'Libre Baskerville', sans-serif;
    float       : left;
}

.jetmenu > li.showhide span.icon {
    margin : 17px 20px;
    float  : right;
}

.jetmenu > li.showhide .icon em {
    margin-bottom : 3px;
    display       : block;
    width         : 20px;
    height        : 2px;
    background    : #111111;
}

/* STYLES
**********************************************************/

/* black */
.black > li:hover > a, .black > li.active > a {
    background : #111111;
    color      : #FFFFFF;
}

.black ul.dropdown li:hover > a {
    background : #111111;
    color      : #FFFFFF;
}

.black li > .megamenu form input[type="text"]:focus, .black li > .megamenu form textarea:focus {
    border-color : #111111;
}

.black li > .megamenu form input[type="submit"]:hover {
    background : #111111;
    color      : #FFFFFF;
}

.black li > .megamenu a:hover {
    color : #DEDEDE;
}

/* grey */
.grey > li:hover > a, .grey > li.active > a {
    background : #82837E;
    color      : #FFFFFF;
}

.grey ul.dropdown li:hover > a {
    background : #82837E;
    color      : #FFFFFF;
}

.grey li > .megamenu form input[type="text"]:focus, .grey li > .megamenu form textarea:focus {
    border-color : #82837E;
}

.grey li > .megamenu form input[type="submit"]:hover {
    background : #82837E;
    color      : #FFFFFF;
}

.grey li > .megamenu a:hover {
    color : #DEDEDE;
}

/* blue */
.blue > li:hover > a, .blue > li.active > a {
    border-top : 3px solid #7FC04C;
    color      : #111111;
}

.blue ul.dropdown li:hover > a {
    background : #F9F9F9;
}

.blue li > .megamenu form input[type="text"]:focus, .blue li > .megamenu form textarea:focus {
    border-color : #7FC04C;
}

.blue li > .megamenu form input[type="submit"]:hover {
    background : #7FC04C;
    color      : #FFFFFF;
}

/* deeper */
.deeper > li:hover > a, .deeper > li.active > a {
    background : #008C9E;
    color      : #FFFFFF;
}

.deeper ul.dropdown li:hover > a {
    background : #008C9E;
    color      : #FFFFFF;
}

.deeper li > .megamenu form input[type="text"]:focus, .deeper li > .megamenu form textarea:focus {
    border-color : #008C9E;
}

.deeper li > .megamenu form input[type="submit"]:hover {
    background : #008C9E;
    color      : #FFFFFF;
}

.deeper li > .megamenu a:hover {
    color : #008C9E;
}

/* green */
.green > li:hover > a, .green > li.active > a {
    background : #88C425;
    color      : #FFFFFF;
}

.green ul.dropdown li:hover > a {
    background : #88C425;
    color      : #FFFFFF;
}

.green li > .megamenu form input[type="text"]:focus, .green li > .megamenu form textarea:focus {
    border-color : #88C425;
}

.green li > .megamenu form input[type="submit"]:hover {
    background : #88C425;
    color      : #FFFFFF;
}

.green li > .megamenu a:hover {
    color : #88C425;
}

/* emerald */
.emerald > li:hover > a, .emerald > li.active > a {
    background : #2ECC71;
    color      : #FFFFFF;
}

.emerald ul.dropdown li:hover > a {
    background : #2ECC71;
    color      : #FFFFFF;
}

.emerald li > .megamenu form input[type="text"]:focus, .emerald li > .megamenu form textarea:focus {
    border-color : #2ECC71;
}

.emerald li > .megamenu form input[type="submit"]:hover {
    background : #2ECC71;
    color      : #FFFFFF;
}

.emerald li > .megamenu a:hover {
    color : #2ECC71;
}

/* red */
.red > li:hover > a, .red > li.active > a {
    background : #C21A01;
    color      : #FFFFFF;
}

.red ul.dropdown li:hover > a {
    background : #C21A01;
    color      : #FFFFFF;
}

.red li > .megamenu form input[type="text"]:focus, .red li > .megamenu form textarea:focus {
    border-color : #C21A01;
}

.red li > .megamenu form input[type="submit"]:hover {
    background : #C21A01;
    color      : #FFFFFF;
}

.red li > .megamenu a:hover {
    color : #C21A01;
}

/* pox */
.pox > li:hover > a, .pox > li.active > a {
    background : #FA023C;
    color      : #FFFFFF;
}

.pox ul.dropdown li:hover > a {
    background : #FA023C;
    color      : #FFFFFF;
}

.pox li > .megamenu form input[type="text"]:focus, .pox li > .megamenu form textarea:focus {
    border-color : #FA023C;
}

.pox li > .megamenu form input[type="submit"]:hover {
    background : #FA023C;
    color      : #FFFFFF;
}

.pox li > .megamenu a:hover {
    color : #FA023C;
}

/* orange */
.orange > li:hover > a, .orange > li.active > a {
    background : #FF670F;
    color      : #FFFFFF;
}

.orange ul.dropdown li:hover > a {
    background : #FF670F;
    color      : #FFFFFF;
}

.orange li > .megamenu form input[type="text"]:focus, .orange li > .megamenu form textarea:focus {
    border-color : #FF670F;
}

.orange li > .megamenu form input[type="submit"]:hover {
    background : #FF670F;
    color      : #FFFFFF;
}

.orange li > .megamenu a:hover {
    color : #FF670F;
}

/* sunburst */
.sunburst > li:hover > a, .sunburst > li.active > a {
    background : #D46D22;
    color      : #FFFFFF;
}

.sunburst ul.dropdown li:hover > a {
    background : #D46D22;
    color      : #FFFFFF;
}

.sunburst li > .megamenu form input[type="text"]:focus, .sunburst li > .megamenu form textarea:focus {
    border-color : #D46D22;
}

.sunburst li > .megamenu form input[type="submit"]:hover {
    background : #D46D22;
    color      : #FFFFFF;
}

.sunburst li > .megamenu a:hover {
    color : #D46D22;
}

/* yellow */
.yellow > li:hover > a, .yellow > li.active > a {
    background : #FEBF01;
    color      : #222222;
}

.yellow ul.dropdown li:hover > a {
    background : #FEBF01;
    color      : #222222;
}

.yellow li > .megamenu form input[type="text"]:focus, .yellow li > .megamenu form textarea:focus {
    border-color : #FEBF01;
}

.yellow li > .megamenu form input[type="submit"]:hover {
    background : #FEBF01;
    color      : #222222;
}

.yellow li > .megamenu a:hover {
    color : #FEBF01;
}

/* purple */
.purple > li:hover > a, .purple > li.active > a {
    background : #A849A3;
    color      : #FFFFFF;
}

.purple ul.dropdown li:hover > a {
    background : #A849A3;
    color      : #FFFFFF;
}

.purple li > .megamenu form input[type="text"]:focus, .purple li > .megamenu form textarea:focus {
    border-color : #A849A3;
}

.purple li > .megamenu form input[type="submit"]:hover {
    background : #A849A3;
    color      : #FFFFFF;
}

.purple li > .megamenu a:hover {
    color : #A849A3;
}

/* pink */
.pink > li:hover > a, .pink > li.active > a {
    background : #F56991;
    color      : #FFFFFF;
}

.pink ul.dropdown li:hover > a {
    background : #F56991;
    color      : #FFFFFF;
}

.pink li > .megamenu form input[type="text"]:focus, .pink li > .megamenu form textarea:focus {
    border-color : #F56991;
}

.pink li > .megamenu form input[type="submit"]:hover {
    background : #F56991;
    color      : #FFFFFF;
}

.pink li > .megamenu a:hover {
    color : #F56991;
}

/* RESPONSIVE LAYOUT
**********************************************************/
@media (max-width : 768px) {
    .jetmenu > li {
        display            : block;
        width              : 100%;
        box-sizing         : border-box;
        -moz-box-sizing    : border-box;
        -webkit-box-sizing : border-box;
    }

    .jetmenu > li > a {
        padding : 15px 25px;
    }

    .jetmenu a {
        width              : 100%;
        background         : #FFFFFF;
        box-sizing         : border-box;
        -moz-box-sizing    : border-box;
        -webkit-box-sizing : border-box;
    }

    .jetmenu ul.dropdown,
    .jetmenu ul.dropdown li ul.dropdown {
        width              : 100% !important;
        left               : 0;
        position           : static !important;
        border             : none;
        box-sizing         : border-box;
        -moz-box-sizing    : border-box;
        -webkit-box-sizing : border-box;
    }

    .jetmenu ul.dropdown li {
        background : #FFFFFF !important;
        border     : none;
    }

    .jetmenu ul.dropdown > li > a {
        padding-left : 40px !important;
    }

    .jetmenu > li > .megamenu {
        width      : 100% !important;
        position   : static;
        border-top : none;
    }

    .megamenu .row [class*="col"] {
        float              : none;
        display            : block;
        width              : 100% !important;
        margin-left        : 0;
        margin-top         : 15px;
        -webkit-box-sizing : border-box;
        -moz-box-sizing    : border-box;
        box-sizing         : border-box;
    }

    .megamenu .row:first-child [class*="col"]:first-child {
        margin-top : 0;
    }

    .megamenu .row {
        margin-top : 0;
    }

    .jetmenu > li > ul.dropdown > li > a {
        padding-left : 40px !important;
    }

    .jetmenu > li > ul.dropdown > li > ul.dropdown > li > a {
        padding-left : 60px !important;
    }

    .jetmenu > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a {
        padding-left : 80px !important;
    }
}