@CHARSET "UTF-8";
.sbHolder{
	background-color: #EEE;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	height: 35px;
	position: relative;
	width: 200px;
}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	height: 30px;
	left: 0;
	line-height: 35px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 170px;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #888;
	outline: none;
	text-decoration: none;
	font-weight: bold;
}
.sbToggle{
	background: url(../../images/dropdown-icon.png) center center no-repeat;
	display: block;
	height: 35px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.sbToggle:hover{
	background: url(../../images/dropdown-icon.png) center center no-repeat;
}
.sbToggleOpen{
	background: url(../../images/dropdown-icon.png) center center no-repeat;
}
.sbToggleOpen:hover{
	background: url(../../images/dropdown-icon.png) center center no-repeat;
}
.sbHolderDisabled{

	/*border: solid 1px #515151;*/
}
.sbHolderDisabled .sbHolder{
	
}
.sbHolderDisabled .sbToggle{
	
}
.sbOptions{
	background-color: #AAA;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 38px !important;
	width: 200px;
	z-index: 99999;
	overflow-y: auto;
	font-size: 12px;
}
.sbOptions li{
	padding: 0;
}
.sbOptions a{
	/*border-bottom: dotted 1px #515151;*/
	display: block;
	outline: none;
	padding: 8px;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #DDD;
	text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	background: #F5F5F5;
	color: #AAA;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	/*border-bottom: dotted 1px #515151;*/
	color: #999;
	display: block;
	padding: 8px;
}
.sbOptions .sbGroup{
	/*border-bottom: dotted 1px #515151;*/
	/*color: #EBB52D;*/
	display: block;
	font-weight: bold;
	padding: 5px;
}
.sbOptions .sbSub{
	padding-left: 10px;
}