/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
    border           : 2px solid #FE980F;
    margin           : 0; /* Set this to minus the border thickness. */
    background-color : #FFFFFF;
    cursor           : move;
}

/* This is for the title text. */
.cloud-zoom-title {
    display          : none;
    font-family      : Arial, Helvetica, sans-serif;
    position         : absolute !important;
    background-color : #000000;
    color            : #FFFFFF;
    padding          : 3px;
    width            : 100%;
    text-align       : center;
    font-weight      : bold;
    font-size        : 10px;
    top              : 0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
    border     : 3px solid #FE980F;
    box-shadow : 0 0 10px #111111;
    overflow   : hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
    color      : white;
    background : #222222;
    padding    : 3px;
    border     : 1px solid #000000;
}


