/********************MENU DOPDOWN STYLE********************************/
nav#main_menu_outer ul a {
    text-decoration : none;
    text-transform  : uppercase;
    outline         : none;
}

nav#main_menu_outer ul li.level0 {
    padding     : 0;
    margin      : 0;
    float       : left;
    border-left : 1px solid #191919;
}

nav#main_menu_outer ul .level0 a#level0 {
    color : #FFFFFF;
}

nav#main_menu_outer ul ul {
    margin     : 0;
    border-top : 3px solid #D80000;
}

nav#main_menu_outer ul ul li a {
    color     : #000000;
    font-size : 11px;
}

nav #category_level2 {
    max-height : 400px;
    overflow   : auto;
}

/*.dropdown-menu>li>a:hover,*/
/*.dropdown-menu>li>a:focus,*/
/*.dropdown-submenu:hover>a,*/
/*.dropdown-submenu:focus>a{*/
/*text-decoration:none;*/
/*color:#ffffff;*/
/*background-color:#7AC144;*/
/*}*/

.dropdown-submenu {
    position : relative;
}

.dropdown-submenu > .dropdown-menu {
    top                   : 0;
    left                  : 100%;
    margin-top            : 0;
    margin-left           : -1px;
    -webkit-border-radius : 0 6px 6px 0;
    -moz-border-radius    : 0 6px 6px 6px;
    border-radius         : 0 6px 6px 6px;
}

.level0:hover > #category_level1,
.dropdown-submenu:hover > #category_level2 {
    display : block;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu li.dropdown-submenu:hover > a,
.nav .open > a:hover,
.nav .open > a:focus {
    color            : #FFFFFF !important;
    background-color : #D80000;
}

.nav .open > a:hover,
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li.level0:hover > a {
    background-color : #D80000;
}

.menu .open,
.menu .open > a,
.menu .open > a:hover,
.menu .open > a:focus,
.home:hover {
    background-color : #D80000;
    color            : #FFFFFF;
}

.arrow-level2 {
    float       : right;
    width       : 0;
    margin-left : 3px;
    font-size   : 15px;
    color       : #CCCCCC;
}

/*.dropdown-submenu>a:after{*/
/*display:block;content:" ";*/
/*float:right;*/
/*width:0;*/
/*height:0;*/
/*border-color:transparent;*/
/*border-style:solid;*/
/*border-width:5px 0 5px 5px;*/
/*border-left-color:#cccccc;*/
/*margin-top:5px;*/
/*margin-right:-10px;*/
/*}*/
.dropdown-submenu:hover > a:after {
    border-left-color : #FFFFFF;
}

.dropdown-submenu.pull-left {
    float : none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left                  : -100%;
    margin-left           : 10px;
    -webkit-border-radius : 6px 0 6px 6px;
    -moz-border-radius    : 6px 0 6px 6px;
    border-radius         : 6px 0 6px 6px;
}

/********************END MENU DOPDOWN STYLE********************************/
/***********  ALL  **************/
* {
    -webkit-transition : All 0.5s ease;
    -moz-transition    : All 0.5s ease;
    -o-transition      : All 0.5s ease;
    -ms-transition     : All 0.5s ease;
    transition         : All 0.5s ease;
}

a, a:visited {
    outline : 0;
}

a:hover {
    text-decoration : none !important;
    color           : #000000;
}

.logo a, .phone {
    font-family : Arial, Helvetica, sans-serif;
}

.logo a img {
    max-width : 265px;
}

.button {
    background-color : #FF0000;
    float            : left;
    padding          : 0 8px;
    margin           : 2px;
    font-family      : Arial, Helvetica, sans-serif;
    font-size        : 12px;
}

.alert {
    border-radius : 0 !important;
}

/***********  HEADER  **************/

header, footer {
    /*padding-top: 10px;*/
    background     : #262626;
    padding-bottom : 20px;

}

footer {
    margin-top : 20px;
}

.topmenu_notselected {
    background-color : #070707;
    background       : -webkit-linear-gradient(#2E2E2E, #0F0F0F); /* For Safari 5.1 to 6.0 */
    background       : -o-linear-gradient(#2E2E2E, #0F0F0F); /* For Opera 11.1 to 12.0 */
    background       : -moz-linear-gradient(#2E2E2E, #0F0F0F); /* For Firefox 3.6 to 15 */
    background       : linear-gradient(#2E2E2E, #0F0F0F); /* Standard syntax */
}

.topmenu_notselected > a {
    color : #FFFFFF !important;
}

.topmenu_selected {
    background-color : #3E3E3E !important;
}

.header_panel {
    padding-top : 20px;
}

/***********  logo  **************/

.logo, .logo a {
    color   : #FFFFFF;
    padding : 0;
    /*padding-top: 5px;*/
}

.logo a {
    font-size : 50px;
}

.logo p::first-letter {
    color : #FF0000;
}

.slogan {
    margin-top : -20px;
    font-size  : 14px;
}

/***********  e-mail  ***********/
.e-mail {
    color : #FFFFFF;
}

/***********  topmenu  ***********/
.topmenu a {
    text-transform : uppercase;
    color          : #FFFFFF;
    padding-left   : 20px;
}

.topmenu a:hover {
    text-decoration : underline !important;
}

/***********  languages  ***********/
.lang {
    border-radius   : 0 !important;
    width           : 30px;
    height          : 30px;
    background      : #070707;
    color           : #FFFFFF;
    margin-right    : 3px;
    list-style-type : none;
    padding         : 0;
    text-align      : center;
    text-transform  : uppercase;
    line-height     : 29px;
}

.lang:hover {
    background : #3E3E3E;
    color      : #FFFFFF;
}

/***********  shopping_cart  ***********/
.shopping_cart_dropdown, .shopping_cart_dropdown:hover, .open > .shopping_cart_dropdown {
    border-radius : 0 !important;
    background    : transparent !important;
    border        : 0 !important;
    color         : #FFFFFF !important;
}

.shopping_cart {
    padding : 0 !important;
    font    : 12px/27px Arial, Helvetica, sans-serif;
}

.shopping_cart, .shopping_cart a {
    text-transform : uppercase;
    color          : #FFFFFF;
}

.shopping_cart span {
    color : #868686;
}

.height_shopping_cart {
    max-height : 400px;
    overflow   : auto;
}

.height_shopping_cart::-webkit-scrollbar {
    width : 12px;
}

.height_shopping-cart::-webkit-scrollbar-track {
    -webkit-box-shadow : inset 0 0 6px rgba(255, 255, 255, 0);
    border-radius      : 10px;
}

.height_shopping-cart::-webkit-scrollbar-thumb {
    border-radius      : 10px;
    -webkit-box-shadow : inset 0 0 6px rgba(255, 255, 255, 0.5);
}

.cart-btn {
    border        : 0 !important;
    border-radius : 0 !important;
    background    : transparent;
    color         : #FFFFFF;
    padding       : 0;
    width         : 20px;
    height        : 20px;
    float         : right;
}

.cart-btn:hover {
    background : #868686;
}

.shopping_cart_mini {
    background-color : #3E3E3E;
    color            : #EEEEEE;
    text-transform   : none;
    padding          : 4px 7px 0 7px;
    border-radius    : 0 !important;
}

.shopping_cart_mini .button:hover {
    background-color : #707070;
    color            : #FFFFFF;
}

.shopping_cart_mini .button {
    color              : #EEEEEE;
    float              : right;
    margin             : 4px 0 7px 7px;
    -webkit-transition : All 0.5s ease;
    -moz-transition    : All 0.5s ease;
    -o-transition      : All 0.5s ease;
    -ms-transition     : All 0.5s ease;
    transition         : All 0.5s ease;
}

.shopping_cart_product {
    background-color : #323232;
    padding          : 8px;
    margin-top       : 3px;
}

.shopping_cart_text {
    color        : #AEAEAE;
    padding-left : 20px;
}

.shopping_cart_total {
    background-color : #484848;
    height           : 31px;
    text-align       : right;
    line-height      : 32px;
    padding-right    : 15px;
    color            : #FFFFFF;
    margin-bottom    : 6px;

}

.shopping_cart_total span, .shopping_cart_text span {
    /*font-weight: bold;*/
    text-transform : uppercase;
    color          : #FFFFFF;
    font-family    : Arial, Helvetica, sans-serif;
}

.shopping_cart_tools a {
    background-color : #484848;
    display          : block;
    width            : 20px;
    height           : 20px;
    text-align       : center;
    line-height      : 20px;
    margin-bottom    : 2px;
}

/*********  search  **********/
.source_panel {
    padding-top : 10px;
}

#serch-text {
    background : #2F2F2F;
    border     : 0 !important;
}

.search-btn {
    border        : 0 !important;
    border-radius : 0 !important;
    background    : #FF0000;
    color         : #FFFFFF;
    font-size     : 20px;
    line-height   : 22px;
}

.search-btn:hover {
    border     : 0 !important;
    background : #FFFFFF;
    color      : #FF0000;
}

.form-control {
    border-radius : 0 !important;
    color         : #868686;
}

.form-control:focus {
    border-color       : #FF0000;
    outline            : 0;
    -webkit-box-shadow : inset 0 0 0 rgba(0, 0, 0, 0), 0 0 8px rgba(255, 0, 0, 0) !important;
    box-shadow         : inset 0 0 0 rgba(0, 0, 0, 0), 0 0 8px rgba(255, 0, 0, 0) !important;
}

/***********  navbar-main  **************/
.navbar-main {
    background-color : #2E2E2E;
    background       : -webkit-linear-gradient(#2E2E2E, #0F0F0F); /* For Safari 5.1 to 6.0 */
    background       : -o-linear-gradient(#2E2E2E, #0F0F0F); /* For Opera 11.1 to 12.0 */
    background       : -moz-linear-gradient(#2E2E2E, #0F0F0F); /* For Firefox 3.6 to 15 */
    background       : linear-gradient(#2E2E2E, #0F0F0F); /* Standard syntax */
    border-radius    : 0 !important;
    margin-bottom    : 0;
}

.menu > li:last-child {
    border-right : 1px solid #1B1B1B;
}

.menu > li {
    border-left : 1px solid #1B1B1B;
}

.menu .dropdown-menu {
    border-top    : 3px solid #D80000;
    border-radius : 0 !important;

}

.home, .catLevel_0_on > a, .catLevel_0 > a {
    color          : #FFFFFF !important;
    text-transform : uppercase;
}

.menu-panel {
    min-width        : 600px;
    max-width        : 1100px;
    position         : absolute;
    z-index          : 88888;
    height           : 220px;
    background-color : #FFFFFF;
    padding-left     : 10px;
    /*opacity: 0.5;*/
}

.menu-panel li a {
    display        : inline !important;
    text-transform : uppercase;
    font-size      : 12px;
}

.menu-panel-sub {
    background-color : #E5E5E5;
    width            : 200px;
    z-index          : 99999;
}

.dropdown-submenu:hover > .menu-panel-sub {
    display    : block;
    position   : absolute;
    top        : 0;
    left       : 100px;
    border     : 0;
    box-shadow : 0 10px 15px rgba(0, 0, 0, 0.5);
}

.menu-panel-sub li a:hover {
    background : transparent;
}

/***********  menu_image  **************/
.menu_image {
    width    : 200px;
    height   : 200px;
    overflow : hidden;
    display  : none;
}

.menu_image img {
    height : 200px;
}

.catLevel_0_on:hover .menu_image, .catLevel_0:hover .menu_image {
    display     : block;
    position    : absolute;
    top         : 60px;
    left        : 600px;
    margin-left : -210px;
    z-index     : 99999;
}

/***********  CONTENT  **************/

/***********  title  **************/
.page-title h1 {
    margin : 0;
}

.page-title h1 span {
    margin           : 2px 0 0;
    padding          : 4px 10px 4px 11px;
    background-color : #333333;
    color            : #FFFFFF;
    line-height      : 23px;
    min-height       : 24px;
    text-align       : left;
    font-size        : 16px;
    text-transform   : uppercase;
    font-family      : Arial, Helvetica, sans-serif;
}

/***********  CUSTOMER SERVICE list  **************/
ul.disc {
    margin-top : 20px;
}

.std ul.disc li {
    list-style   : none;
    padding-left : 13px;
    margin       : 0 0 6px;
    background   : url(images/customer_service_marker.gif) 0 7px no-repeat;
}

.std ul.disc a {
    font-size       : 12px;
    text-transform  : uppercase !important;
    text-decoration : underline !important;
    color           : #000000 !important;
}

.std ul.disc a:hover {
    text-decoration : none !important;
    color           : #000000 !important;
}

.std dl dt {
    font-size      : 12px;
    font-family    : Arial, Helvetica, sans-serif;
    text-transform : uppercase;
    font-weight    : bold;
}

.std dl dd {
    margin : 0 0 10px;
}

.std dd {
    padding : 0 0 0 1.5em;
}

#slogan {
    overflow   : hidden;
    margin     : 30px auto 0 0;
    text-align : center;
}

#slogan ul {
    background  : url(images/line.gif) repeat 0 3px;
    font-size   : 16px;
    line-height : 1em;
}

ul {
    list-style : none outside;
}

#slogan li {
    margin  : 0 30px;
    display : inline-block;
}

#slogan li a {
    color            : #000000 !important;
    display          : block;
    padding          : 0 10px;
    font-size        : 16px;
    line-height      : 1em;
    background-color : #FFFFFF;
    padding-bottom   : 1px;
    text-decoration  : none;
}

#slogan li a:hover {
    color : #D80000 !important;
}

/***********  FEATURED PRODUCTS  **************/
.pager {
    padding-top : 0;
    border-top  : 0;
    margin-left : 20px;
}

.pager li > a {
    padding       : 0;
    border        : 0;
    border-radius : 0;
    background    : none;
}

#cs1 {
    padding-top : 40px;

}

.featured {
    float            : left;
    background-color : #FFFFFF;
    overflow         : hidden;
    margin-bottom    : 20px;

}

.feature-box {
    overflow : visible;
}

.thumbnail-featured {
    padding       : 0;
    margin-bottom : 0;
    border        : 0;
    border-radius : 0;

}

.carousel-control-featured {
    position         : absolute !important;
    top              : 0 !important;
    left             : 100% !important;
    margin-left      : -32px;
    width            : 32px !important;
    height           : 32px !important;
    opacity          : 0.3 !important;
    font-size        : 20px !important;
    color            : #FFFFFF !important;
    text-align       : center !important;
    text-shadow      : none !important;
    line-height      : 33px !important;
    background-color : #D80000;

}

.carousel-control-featured:hover {
    opacity : 1 !important;
}

.controls-featured .left {
    margin-left : -68px;
}

#cs1 .carousel-control.right, #cs1 .carousel-control.left {
    background-image : none;
}

/***********  PRODUCTS  **************/
.wrapper-hover .price + a:not(.btn), .wrapper-hover .mwst_info {
    display : none;
}

.right_info .price-box span .mwst_info {
    color       : #000000;
    font-size   : 11px;
    margin-top  : -10px;
    display     : block;
    line-height : initial;
}

.price {
    font          : 26px/26px Tahoma, Geneva, sans-serif;
    color         : #000000;
    font-weight   : normal;
    padding-right : 5px;
}

.wrapper-hover:hover .price,
.wrapper-hover:hover .icon_cart_title {
    color : #FFFFFF;
}

.icon_cart_rollover {
    float : right;
    width : 20%;
}

.icon_cart_rollover .buy {
    display            : block;
    width              : 30px;
    height             : 24px;
    padding            : 0;
    margin             : 0;
    border             : none;
    float              : right;
    background         : url(images/icon_cart_rollover.png) -30px 0 no-repeat;
    cursor             : pointer;
    -webkit-transition : background-position .5s linear;
    -moz-transition    : background-position .5s linear;
    -o-transition      : background-position .5s linear;
    transition         : background-position .5s linear;
}

.icon_cart_rollover .buy:hover {
    background-position : 0 0;
}

.wrapper-hover {
    padding          : 8px 14px;
    background-color : #FFFFFF;
    min-height       : 80px;
}

.wrapper-hover:hover,
.product-image-wrapper:hover .wrapper-hover {
    background-color : #444444;
}

.icon_cart_title {
    float          : left;
    width          : 75%;
    color          : #000000;
    font-size      : 1em;
    text-transform : uppercase;
    text-align     : center;
}

/***********  FOOTER  **************/
.h1-information {
    font-size : 36px;
    margin    : 15px;
}

footer {
    border-top : 5px solid #000000;
}

#demo .container {
    /*background:#ccc;*/
    margin-bottom : 20px;
}

#footer_button {
    width             : 37px;
    height            : 23px;
    background-color  : #D80000;
    background-image  : url(images/arrow2.png);
    background-repeat : no-repeat;
    margin            : -5px auto 0;
    text-align        : center;
    font-size         : 20px;
    cursor            : pointer;
    position          : relative;
    z-index           : 1000;
}

#footer_button:hover {
    background-color : #999999;
}

.collaps_up {
    background-position : 0 -23px;
}

.collapsed {
    background-position : 0 0;
}

.footer-box {
    padding-left : 0;
    margin-top   : 20px;
}

.footer-box ul {
    -webkit-padding-start : 0;
    padding-left          : 0;
}

.footer-box li a {
    font            : 12px/14px Arial, Helvetica, sans-serif;
    color           : #959595;
    text-decoration : none;
    text-transform  : uppercase;
}

.footer-box li a:hover {
    text-decoration : underline !important;
}

.footer-box h2 {
    background-color : #151515;
    margin           : 2px 0 0;
    padding          : 4px 10px 4px 11px;
    color            : #FFFFFF;
    line-height      : 23px;
    min-height       : 24px;
    text-align       : left;
    font-size        : 16px;
    text-transform   : uppercase;
    font-family      : Arial, Helvetica, sans-serif;
}

.copyright, .copyright a {
    color : #959595;
}

.copyright a:hover {
    color : #FFFFFF;
}

/***************  BREADCRUMB **************/
.breadcrumb {
    border-bottom : 1px solid #E5E5E5;
    background    : none;
    text-align    : left;
}

.breadcrumb {
    color : rgba(0, 0, 0, 0.0);

}

.breadcrumb a {
    color           : #767676;
    /* font-family: 'Open Sans', 'sans-serif';*/
    text-transform  : uppercase;
    text-decoration : none;

}

.breadcrumb a:hover {
    color           : #000000;
    text-decoration : underline;
}

.breadcrumb a::before {
    content : " > ";
}

.breadcrumb a:hover::before, .breadcrumb a:last-child::before {
    color : #A09F9F;
}

.breadcrumb a:nth-child(1)::before {
    content : "";
}

.breadcrumb a:last-child {
    color  : #000000;
    cursor : default;
}

/***************** PRODUCT ******************/
.products_name_div .title {
    margin         : 0;
    font-size      : 20px;
    color          : #333333;
    font-weight    : bold;
    text-transform : uppercase;
}

.price_inquiry {
    text-transform : uppercase;
}

.price_inquiry a {
    color : #D80000;
}

.price_inquiry a:hover {
    text-decoration : underline !important;
}

.description-content {
    border     : 1px solid #D7D7D7;
    border-top : 0;
    padding    : 24px 20px 30px 21px;
}

.description li {
    color      : #000000 !important;
    background : #FFFFFF !important;
    border     : 1px solid #D7D7D7;
    margin     : 0 3px;
    top        : 1px;
}

.description li:first-child {
    margin : 0;
}

.description li.active, .description li:hover {
    color      : #FFFFFF !important;
    background : #000000 !important;
    border     : 1px solid #000000 !important;

}

.description li a {
    color            : #000000 !important;
    background-color : transparent !important;
    border           : 0 !important;
    padding          : 2px 15px 1px;
    font-size        : 11px;
    font-family      : Arial, Helvetica, sans-serif;
    text-transform   : uppercase;
    line-height      : 25px;
}

.description li.active a, .description li a:hover {
    color            : #FFFFFF !important;
    background-color : transparent !important;
    border           : 0 !important;
    padding          : 2px 15px 1px;
    font-size        : 11px;
    font-family      : Arial, Helvetica, sans-serif;
    text-transform   : uppercase;
    line-height      : 25px;
}

.button_add {
    color           : #FFFFFF !important;
    text-transform  : uppercase;
    min-height      : 48px;
    line-height     : 44px;
    font-size       : 14px;
    padding         : 0 10px;
    font-weight     : bold;
    min-width       : 140px;
    margin          : auto;
    border-radius   : 0 !important;
    background      : -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)) #000000;
    border          : 2px solid #EEEEEE;
    box-shadow      : 0 2px 1px rgba(0, 0, 0, 0.18);
    text-decoration : none;
}

.button_dell {
    color           : #FFFFFF !important;
    text-transform  : uppercase;
    min-height      : 48px;
    line-height     : 44px;
    font-size       : 14px;
    padding         : 0 10px;
    font-weight     : bold;
    min-width       : 140px;
    margin          : auto;
    border-radius   : 0 !important;
    background      : -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)) #EF1414;
    border          : 2px solid #EEEEEE;
    box-shadow      : 0 2px 1px rgba(0, 0, 0, 0.18);
    text-decoration : none;
}

.button_add:hover {

    background-image : -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.product-price {
    /*background: #fefefe;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%,  rgba(200, 200, 200, 0.3) 90%, rgba(0, 0, 0, 0) 100%);
    border: 1px solid #efefef;*/
    text-align : center;
    padding    : 12px 2% 9px;
}

.add-to-box {
    background-color : #F9F9F9;
    padding          : 15px 2% 15px 3%;
    text-align       : center;
}

.tab-content a {
    color : #000000 !important;
}

.tab-content a:hover {
    color : #D80000 !important;
}

/************STEPS**************/
ol.steps {
    font-family    : Arial, Helvetica, sans-serif;
    text-transform : uppercase;
    list-style     : none;
    margin         : 0 0 20px;
    padding        : 0;
    overflow       : hidden;
    font-size      : 13px;
    line-height    : 18px;
}

ol.steps li {
    list-style  : none;
    text-align  : center;
    color       : #999999;
    background  : #EEEEEE;
    position    : relative;
    margin-left : 43px;
}

ol.steps li:after {
    position          : absolute;
    top               : 50%;
    left              : 100%;
    content           : " ";
    height            : 0;
    width             : 0;
    pointer-events    : none;
    border            : 19px solid transparent;
    border-left-color : #EEEEEE;
    margin-top        : -19px;
}

ol.steps li:first-child {
    margin-left : 0;
}

ol.steps li:first-child span {
    padding : 9px;
}

ol.steps li:first-child span:after {
    border : none;
}

ol.steps li:last-child:after {
    border-width : 0;
}

ol.steps li span {
    display : block;
    padding : 9px 28px 9px 9px;
}

ol.steps li span:after {
    position          : absolute;
    top               : 50%;
    right             : 100%;
    content           : " ";
    height            : 0;
    width             : 0;
    pointer-events    : none;
    border            : solid #EEEEEE;
    border-left-color : transparent;
    border-width      : 19px;
    margin-top        : -19px;
}

ol.steps > li {
    float : left;
    width : 22%;
}

ol.steps li.current {
    background : #000000;
    width      : 22.9%;
}

ol.steps li.current a {
    color           : #FFFFFF;
    text-decoration : none !important;
}

ol.steps li.current:after {
    border-left-color : #000000; /*#7AC144;*/
}

ol.steps li.current span:after {
    border-color      : #000000; /*#7AC144;*/
    border-left-color : transparent;
}

ol.steps li.done a {
    color           : #000000;
    text-decoration : none !important;
}

ol.steps li span a:hover {
    text-decoration : none;

}

.shopping_margin_top a {
    text-decoration : none;
}

.summe_shopping_cart {
    font-weight : bold;
    text-align  : right;
    margin      : 10px;
    font-size   : 15px;
}

/******SHOPING CART*******/
.warenkorb_del_item:after {
    content     : "\f014";
    font-family : FontAwesome;
    font-size   : 15px;
    color       : #000000;
    margin-left : 30px;
}

.warenkorb_rem_item:before {
    content        : "\f0d9";
    font-family    : FontAwesome;
    font-size      : 32px;
    color          : #000000;
    vertical-align : middle;
}

.warenkorb_add_item:after {
    content        : "\f0da";
    font-family    : FontAwesome;
    font-size      : 32px;
    color          : #000000;
    vertical-align : middle;
}

.checkout-confirmation-image-cell {
    text-align : center;
}

.shopping {
    margin-bottom : 20px;
}

.shopping_margin_top {
    margin-top : 20px;
}

.form-group select, .form-group textarea, .panel-body .textarea textarea {
    display            : block;
    width              : 50%;
    /* height: 34px; */
    padding            : 6px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : #555555;
    background         : #FFFFFF;
    border             : 1px solid #CCCCCC;
    /* border-radius: 4px; */
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-horizontal .controls textarea.textarea {
    width : 100%;
}

.subtotal {
    font-weight : 900;
    font-size   : 18px;
    font-family : Arial, Helvetica, sans-serif;
}

#tab-card {
    font-family    : Arial, Helvetica, sans-serif;
    text-transform : uppercase;
}

#tab-card a:hover {
    text-decoration : none;
}

/**************************/
.form2val input:required/*, select:required*/   {
    background : #FFFFFF url(images/input_required.png) no-repeat 98% center;
    border     : 1px solid #CCCCCC;
}

.form2val input:required:valid/*, select:valid*/    {
    background   : #FFFFFF url(images/input_valid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #5CD053;
    border-color : #28921F;
}

.form2val input:focus:invalid/*, select:invalid */   {
    background   : #FFFFFF url(images/input_invalid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #D45252;
    border-color : #B03535
}

form {
    margin-bottom : 20px;
}

.mail-form {
    margin-bottom : 0;
}

/*******LOGIN*******/

/* ############# LOGIN/REGISTER OVERLAY end */
.inputtext {
    text-align : right;
}

.inputfield {
    display        : block;
    float          : left;
    width          : 212px;
    height         : 37px;
    font-size      : 14px;
    margin         : 0;
    padding        : 0 0 0 6px;
    /* IE7 / IE8 */
    height /*\**/  : 27px \9;
    padding /*\**/ : 10px 0 0 6px \9;
    /* IE7 / IE8 */
}

.general_inputs,
.advanced_searchFIELD,
.select-advanced-search select {
    display               : block;
    float                 : left;
    width                 : 212px;
    height                : 37px;
    font-size             : 14px;
    margin                : 0;
    /* IE7 / IE8 */
    height /*\**/         : 27px \9;
    padding /*\**/        : 10px 0 0 6px \9;
    /* IE7 / IE8 */
    -webkit-border-radius : 0 !important;
    -moz-border-radius    : 0 !important;
    border-radius         : 0 !important;
    padding               : 4px 10px !important;
    -webkit-transition    : all 0.2s ease-out !important;
    -moz-transition       : all 0.2s ease-out !important;
    -o-transition         : all 0.2s ease-out !important;
    transition            : all 0.2s ease-out !important;
    color                 : #666161 !important;
}

.general_inputs:focus,
.advanced_searchFIELD:focus {
    color : #000000 !important;
}

form .panel-body p {
    margin-bottom : 10px;
}

form .panel-body table td input {
    margin : 5px 0;
}

.panel-body table .main select, .form_tem .inputHLD select {
    display               : block;
    float                 : left;
    width                 : 213px;
    font-size             : 14px;
    cursor                : pointer;
    height                : 30px;
    line-height           : 30px;
    margin                : 0;
    padding               : 4px;
    -webkit-border-radius : 0;
    -moz-border-radius    : 0;
    border-radius         : 0;
    -webkit-transition    : all 0.2s ease-out;
    -moz-transition       : all 0.2s ease-out;
    -o-transition         : all 0.2s ease-out;
    transition            : all 0.2s ease-out;
}

.zipcode {
    width : 90px;
}

.city {
    width : 104px;
}

.inputbutton {
    display : block;
    height  : 39px;
    border  : 0;
    margin  : 18px 0 0 0;
    outline : none;
    cursor  : pointer;
}

a.linkpwf {
    display         : inline-block;
    margin          : 10px 0 0 0;
    color           : #BBBBBB;
    text-decoration : underline;
}

a.linkpwf:hover {
    color : #333333;
}

.errorMessages {
    padding    : 12px 8px 8px 8px;
    margin     : 0 0 12px 0;
    border     : 4px solid #990000;
    background : #F1CECE;
    font-size  : 12px;
}

.inputHLDbox {
    margin  : 0 0 17px 0;
    padding : 2px 2px 10px;
    border  : 1px solid #D3D3D3;
}

.inputHLDhead {
    padding     : 12px 0 15px 18px;
    font-size   : 14px;
    font-weight : bold;
    color       : #4E4E4E;
    background  : url(images/boxes_accHEADbg.png) repeat-x 0 0;
}

.inputHLDinner {
    width  : 470px;
    margin : 0 auto;
}

.inputHLDinnerChangePass {
    width  : 700px;
    margin : 10px auto;
}

.inputHLD {
    float  : left;
    margin : 10px 20px 14px 0;
}

.req_label {
    margin : 0 0 6px 0;
}

.req_label span {
    font-size   : 12px;
    font-weight : bold;
    color       : #990000;
}

.inputTXT {
    width  : 120px;
    margin : 0 0 4px 0;
}

.inputfieldHLD {
    width  : 260px;
    border : 1px solid #D4D4D4;
    margin : 0 15px 0 0;
}

.width_streed {
    width : 95%
}

.width_streed input,
.form-horizontal form .control-group .controls input {
    width : 100%;
}

.zipcodeHLD {
    width : 91px;
}

.cityHLD {
    width : 152px;
}

.inputcheckbox {
    float : left;
}

.inputcheckboxTXT span {
    padding : 0 0 0 7px;
}

.inputcheckboxTXT {
    float  : left;
    margin : 0 0 4px 0;

}

.inputselectHLD {
    width  : 210px;
    border : 1px solid #FFFFFF;
    margin : 0 2px 0 0;
}

.inputselectHLD select, .controls select {
    display            : block;
    width              : 100%;
    padding            : 8px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : #555555;
    background-color   : #FFFFFF;
    background-image   : none;
    border             : 1px solid #CCCCCC;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.logradioHLD {
    display : inline-flex;;
}

.clearer {
    clear  : both;
    height : 0;
}

.formHTML5 .inputHLDbox input:required {
    background : #FFFFFF url(images/input_required.png) no-repeat 98% center;
    border     : 1px solid #CCCCCC;
}

.formHTML5 .inputHLDbox input:required:valid {
    background   : #FFFFFF url(images/input_valid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #5CD053;
    border-color : #28921F;
}

.formHTML5 .inputHLDbox input:focus:invalid {
    background   : #FFFFFF url(images/input_invalid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #D45252;
    border-color : #B03535
}

.width-input-advanced-search {
    float : left;
    width : 250px;
}

.advanced-search-button {
    margin-left : 10px;
}

/* ############# LOGIN/REGISTER OVERLAY begin END*/
/*********TAB-PANE***********/
.tab-pane {
    padding : 20px;
}

.tab-pane a:hover {
    text-decoration : none;
}

.navbar-collapse .navbar-nav > li > a:active, .navbar-collapse .navbar-nav > li > a:focus {
    background-color : #000000 !important;
}

.tab-content {
    border        : 1px solid #DDDDDD;
    border-top    : 0;
    margin-bottom : 20px;
}

/*************** PANEL-DEFAULT *****************/
.panel-default {
    border-radius : 0;
}

.panel-default a, .checkbox a, .table-confirmation-checkout a, .checkout-container a {
    color           : #D80000;
    text-decoration : none !important;
}

.panel-default a:hover,
.checkbox a:hover,
.table-confirmation-checkout a:hover,
.checkout-container a:hover {
    text-decoration : underline;
}

.checkout-container .tableMAIN a:hover {
    text-decoration : none !important;
}

.checkout-container .tableMAIN td {
    border         : 1px solid #E9E9E9;
    vertical-align : middle;
    /*padding: 10px;*/
}

.checkout-container .productListing-data table {
    margin : auto;
}

.checkout-container .hallo td.productListing-data {
    text-align : center;
    padding    : 10px;
}

.checkout-container .pdD,
.checkout-container .pdE {
    padding-left : 15px;
}

.scTable {
    width : 100%;
}

.phA, .phB, .phC, .phD, .phE {
    background     : #F5F5F5;
    text-align     : center;
    height         : 50px;
    text-transform : uppercase;
    font-size      : 12px;
    font-family    : Arial, Helvetica, sans-serif;
}

.pdB_linkB {
    width  : 70%;
    border : 0 !important;
}

.pdB_linkA {
    width        : 30%;
    border       : 0 !important;
    border-right : 1px solid #CCCCCC !important;
}

.pdB_linkB {
    text-align : center;
}

.pdC td {
    border : 0 !important;
}

.cartcount_inputs {
    text-align : center;
}

/*************** SITE MAP *****************/
.pageContentTable h2 a {
    font-size : 16px;
}

.pageContentTable p a {
    font-size : 12px;
}

.pageContentTable h2 a, .pageContentTable p a {
    text-transform  : uppercase;
    color           : #000000;
    text-decoration : none !important;
}

.pageContentTable h2 a:hover, .pageContentTable p a:hover {
    color : #D80000;

}

/***********  SLIDER **********/
.slider_main {
    overflow : hidden;
    height   : 500px;
    width    : 100%;
    position : relative;
}

.carousel_slider_main .item {
    -webkit-transition : 0.7s ease-in-out opacity;
    -moz-transition    : 0.7s ease-in-out opacity;
    -o-transition      : 0.7s ease-in-out opacity;
    transition         : 0.7s ease-in-out opacity;
    left               : 0 !important;
}

.carousel_slider_main .next.left,
.carousel_slider_main .prev.right {
    opacity : 1;
    z-index : 1;
}

.carousel_slider_main .active.left,
.carousel_slider_main .active.right {
    opacity : 0;
    z-index : 2;
}

.carousel_slider_main .carousel-control {
    /*z-index: 1000;*/
    outline : none;
}

.picture_slider_left, .picture_slider_right {
    width : 50%;
    float : left;
}

.picture_slider_left a img, .picture_slider_right a img {
    width : 100%;
}

.picture_slider_left:hover a img, .picture_slider_right:hover a img {
    position : relative;
    width    : 120%;
    z-index  : 2;
}

.picture_slider_right:hover a img {
    margin-left : -20%;
}

.carousel_slider_main .carousel-control {
    z-index     : 99999;
    width       : 60px;
    height      : 104px;
    background  : rgba(0, 0, 0, 0.5);
    top         : 100px;
    margin      : 10px;
    line-height : 100px;
}

/****************** modules/modil_product_listing ****************/
.featured .link-p div {
    opacity        : 0.8;
    -webkit-filter : grayscale(50%);
}

.featured:hover .link-p div {
    opacity        : 1;
    -webkit-filter : grayscale(0%);
}

.currency {
    width : 80px;
}

.currency select {
    cursor     : pointer;
    background : #000000 !important;
    font-size  : 15px !important;
    color      : #FFFFFF !important;
    height     : 28px !important;
}

.image_view_product_list {
    width               : 280px;
    height              : 280px;
    background-position : center;
    background-size     : cover;
}

.form-horizontal .control-label {
    text-align : left !important;
}

table .pageHeading {
    vertical-align : middle !important;
}

form.form-horizontal .form-actions {
    margin-top : 10px;
}

form#preice_query_form input.general_inputs,
form#preice_query_form textarea {
    width : 100%;
}