body, header{
	background: #fb6f00;
	background-image:url(images_variant_orange/orange.jpg); 
	background-repeat: no-repeat;
}

header .logo a span {
color: #fff;
}
header .logo div {
color: #ddd;
}
.navbar li a.active {
background-color: #ffa800!important;
}
.navbar li a:hover {
background-color: #db6d00!important;
}
.navbar,footer{
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
border:0px;
}
a {
color: #ffa800;

}
a:hover, a:focus,span.title {
color: #db6d00;
}
 .btn-primary, .btn-primary, .btn-primary, .btn-primary, .open .dropdown-toggle, .panel-primary>.panel-heading {
background-color: #ffa800;
border-color: #ffa800;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
background-color: #000;
color: #ffa800;

/*box-shadow: 0px 0px 8px rgba(252, 166, 0, 0.9) inset;*/
}
.form-control:focus {
  outline: none;
  box-shadow: inset 0 1px 3px 1px  rgba(0,0,0,.5), inset 0 0 0 60px rgba(0,0,0,0), 0 1px rgba(255,255,255,.08);
  border:0px;
}
.list-group-item{
box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.3);
border:0px;
}
.list-group-item:hover{
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3)inset;
border:0px;
}
a.list-group-item {
color: #555;
}
.list-categ a:hover, .breadcrumb a:hover{
color: #db6d00;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
 /*border-color: rgba(252, 166, 0, 0.5); */
 border-color:#fff;
}

/* nav-dropdown */
.navbar li.nav-dropdown ul li a {
font-family: open_sanscondensed_light;
color: #333!important;
}
.navbar li.nav-dropdown ul li a:hover.panel-primary{
background-color: #ffa800!important;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
background-color: #ffa800;
border-color: #ffa800;
}
.pagination>li>a, .pagination>li>span, .pagination>li>a, .pagination>li>span {
color: #e89900;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus, .text-primary {
color:  #fb6f00;
}
.panel-primary{
border-color: #ffa800;
}
.warenkorb_del_item:after, .warenkorb_rem_item:before, .warenkorb_add_item:after {
color:#fb6f00; 
}
.warenkorb_del_item:hover, .warenkorb_rem_item:hover, .warenkorb_add_item:hover{
text-decoration: none;
}
ol.steps li.current {
background: #ffa800;
}
ol.steps li.current:after {
border-left-color: #ffa800;
}
ol.steps li.current span:after{
border-color: #ffa800;
border-left-color: transparent;
}
ol.steps li.done a, .breadcrumb a:last-child {
color: #fb6f00;
}
.navbar li a:hover, .navbar li a:active{
  background-color: #ffa800!important;
}
.navbar-collapse .navbar-nav>li>a:hover, .catLevel_0_on>a.visited, .catLevel_0_on>.menu-item, .catLevel_0_on>.menu-item:focus{
    color: #000;
    background: #ffa800;
}
.navbar-collapse .navbar-nav>li>a:active, .navbar-collapse .navbar-nav>li>a:focus{
  background-color: #fb6f00!important;
}