    <section class="homecolon">
        <div class="container">
            <div id="content" class="single col-lg-12 col-md-12 col-sm-12">
                {$INFO_DESCRIPTION}
            </div>
        </div>
    </section>