<div class="container">
<div class="alert alert-info">
  	{$smarty.const.TEXT_MAIN}
</div>
<div class="text-center">
	<a href="{$DEFAULT_URL}" class="btn button_add">{$smarty.const.IMAGE_BUTTON_CONTINUE}</a>
</div>
</div>