{if $arr_loginbox}


<a href="{$arr_topmenu.4.link}" class='info login'>
    <span class="icon"><i class="icon-lock"></i></span>
    {$arr_topmenu.4.name}
</a>
  {if $arr_loginbox.boxtyp == "myaccount"} | 
  	<a href="{$arr_loginbox.items.4.target}" class='info login'>
		{$arr_loginbox.items.4.text}
	</a>
  {/if}
{/if}




