	{$smarty.const.BEFORE_CONTENT}
    {if !$smarty.const.PH_INSIDE}		
		{include file="pieces/page_title_section.tpl"}
		{$smarty.const.BETWEEN_HL_CONTENT}

		<table border="0" width="100%" cellspacing="0" cellpadding="0">
		    <tr>
		        <td class="pageContentTable">
		            <table border="0" width="100%" cellspacing="0" cellpadding="0">
    {else}

		<table border="0" width="100%" cellspacing="0" cellpadding="0">
      		<tr>
        		<td>
					{include file="pieces/page_title_section.tpl"}        
        		</td>
      		</tr>
      	{$smarty.const.BETWEEN_HL_CONTENT}
    {/if}

	<tr>
    	<td class="cont_abst">
        	<table border="0" width="100%" cellspacing="0" cellpadding="0">
      			<tr>
        			<td>
        				<table border="0" width="100%" cellspacing="0" cellpadding="0" class="information_area">
          					<tr>
            					<td class="main">{$INFO_DESCRIPTION}</td>
          					</tr>
          					<tr><td><br><br>
	          					<!-- ><a href="" title="print" class="iconlink ic_notice">
	          						<input type="button" value=" drucken ">
								</a> -->
								<script language="javascript">
								<!--
									document.write('<a href="javascript:popupWindow(\'{$INFO_LINK_POP}\')"> drucken </a>');
								//-->
								</script>								
          					</td></tr>
        				</table>
        			</td>
      			</tr>
      			<!-- dist -->
      			<tr>
        			<td>{$pixel_trans_10}</td>
		     	</tr>
     			<!-- dist -->
        		</table>
        	</td>
      	</tr>
   	</table>

    {if !$smarty.const.PH_INSIDE}
		</td></tr></table>
    {/if}
    {$smarty.const.AFTER_CONTENT}