<table border="0" width="100%" cellspacing="0" cellpadding="0" class="pageHeadingTable"><!-- ausgabe pageHeading beginn -->
	<tr>
		{$smarty.const.BEFORE_HL_LEFT}
         <td class="pageHeading" nowrap {$smarty.const.HL_LEFT_STYLE}>{$smarty.const.HEADING_TITLE}</td>
		{$smarty.const.BETWEEN_HL_LEFT_RIGHT}
		<td class="pageHeadingRight" align="right" {$smarty.const.HL_RIGHT_STYLE}>						
			{$category_image}
			{$category_name}		
		</td>
		{$smarty.const.AFTER_HL_RIGHT}
	</tr>
</table><!-- ausgabe pageHeading ende -->