<head>
    <meta http-equiv="Content-Type" content="text/html; charset={$smarty.const.CHARSET}">
    <title>{$smarty.const.TITLE}</title>        
    <base href="{$BASE}">    
    <link rel="stylesheet" type="text/css" href="{$smarty.const.STS_TEMPLATE_BASEDIR}stylesheet.css">
</head>