<!doctype html public "-//W3C//DTD HTML 4.01 Transitional//EN">
<html {$smarty.const.HTML_PARAMS}>

{include file="pieces/popup_head.tpl"}

{literal} <!-- BODY { margin-bottom: 10px; margin-left: 10px; margin-right: 10px; margin-top: 10px; } //-->{/literal} 

<body marginwidth="10" marginheight="10" topmargin="10" bottommargin="10" leftmargin="10" rightmargin="10">

	{$popup_coupon_help_content}
	
	<p class="smallText" align="right"><a href="javascript:window.close()">{$smarty.const.TEXT_CLOSE_WINDOW}</a></p>

</body>

</html>
