<!doctype html public "-//W3C//DTD HTML 4.01 Transitional//EN">
<html {$smarty.const.HTML_PARAMS}>

{include file="pieces/popup_head.tpl"}

<body onLoad="resize();">
	
	{literal}
	<script language="javascript"><!--
	var i=0;
	function resize() {
		if (navigator.appName == 'Netscape') i=30;
		if (document.images[0]) window.resizeTo(document.images[0].width +50, document.images[0].height + 123-i);
		self.focus();
	}
	//--></script>
	{/literal} 
	
	{$img}
			
</body>
</html>