<!doctype html public "-//W3C//DTD HTML 4.01 Transitional//EN">
<html {$smarty.const.HTML_PARAMS}>

{include file="pieces/popup_head.tpl"}

<body marginwidth="0" marginheight="0" topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0" >
	<div>
		{$INFO_DESCRIPTION}
	</div>	
	<div id="print_btn"><br><br>
		<p class="smallText" align="left">
			<a href="javascript:window.print()"> drucken</a>
		</p>		
		<!-- <input type="button" value=" drucken " onClick="javascript:window.print()"><br> -->
		 <p class="smallText" align="left">
			<a href="javascript:window.close()"> Fenster schliessen</a>
		</p>
	</div>
</body>
</html>