/* ======= FONTS ====== */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

/* ====== GENERAL ELEMENTS ======== */
body {
    font-family : 'Oswald', sans-serif;
    /*background-color:#5E773E; */
}

h3, h4, h5 {
    margin-bottom : 20px;
}

p, ul {
    font-family : 'Oswald', sans-serif;
    font-size   : 16px;
    line-height : 23px;
    font-weight : 300;
}

a {
    color : #7AC144;
}

a, a:hover {
    text-decoration    : none;
    -webkit-transition : all 0.1s ease-in-out;
    -moz-transition    : all 0.1s ease-in-out;
    -o-transition      : all 0.1s ease-in-out;
    transition         : all 0.1s ease-in-out;
}

p a {
    color           : #7AC144;
    text-decoration : none;
}

p a:hover {
    color : #111111;
}

ul.inline {
    padding-left : 0;
}

ul.inline li {
    list-style : none;
}

ul.inline li {
    display : inline;
}

blockquote footer {
    border : 0;
}

iframe {
    border  : 0;
    outline : 0;
}

code {
    display          : block;
    padding          : 4px 8px;
    font-size        : 90%;
    color            : #C7254E;
    white-space      : inherit;
    background-color : #F9F2F4;
    border-radius    : 2px;
}

legend {
    padding-bottom : 3px;
    font-size      : 18px;
    position       : relative;
}

small, small a {
    color       : #AAAAAA;
    font-weight : 300;
}

small :hover {
    color : #000000;
}

/*************CHEKUOT SHOPINGCART****************/
.tableMAIN {
    width                 : 100%;
    margin-bottom         : 20px;
    max-width             : 100%;
    background-color      : transparent;
    border-collapse       : separate;
    border-spacing        : 0;
    border                : 1px solid #D3D6DB;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
}

.tableMAIN th, .tableMAIN td {
    padding        : 8px;
    line-height    : 20px;
    vertical-align : middle;
    text-align     : center;
}

.pdB img {
    height : 100px;
}

.productListing-heading {
    background-color : #F6F7F8;
    border-bottom    : 1px solid #E9EAED;
    color            : #6A7480;
    font-weight      : bold;
}

.productListing-even td,
.productListing-odd td {
    border-bottom : 1px solid #ECECEC;
}

.productListing-data td {
    border : none;
}

ul.unstyle {
    list-style : none;
    font-size  : 13px;
}

ol.steps {
    list-style  : none;
    margin      : 0 0 20px 0;
    padding     : 0;
    overflow    : hidden;
    font-size   : 13px;
    line-height : 20px;
}

ol.steps li {
    list-style  : none;
    text-align  : center;
    color       : #999999;
    background  : #EEEEEE;
    position    : relative;
    margin-left : 43px;
}

ol.steps li:after {
    position          : absolute;
    top               : 50%;
    left              : 100%;
    content           : " ";
    height            : 0;
    width             : 0;
    pointer-events    : none;
    border            : 19px solid transparent;
    border-left-color : #EEEEEE;
    margin-top        : -19px;
}

ol.steps li:first-child {
    margin-left : 0;
}

ol.steps li:first-child span {
    padding : 9px;
}

ol.steps li:first-child span:after {
    border : none;
}

ol.steps li:last-child:after {
    border-width : 0;
}

ol.steps li span {
    display : block;
    padding : 9px 28px 9px 9px;
}

ol.steps li span:after {
    position          : absolute;
    top               : 50%;
    right             : 100%;
    content           : " ";
    height            : 0;
    width             : 0;
    pointer-events    : none;
    border            : 19px solid #EEEEEE;
    border-left-color : transparent;
    margin-top        : -19px;
}

ol.steps > li {
    float : left;
    width : 22%;
}

ol.steps li.current {
    background : #3D8901; /*#7AC144;*/
}

ol.steps li.current a {
    color : #FFFFFF;

}

ol.steps li.current:after {
    border-left-color : #3D8901; /*#7AC144;*/
}

ol.steps li.current span:after {
    border-color      : #3D8901; /*#7AC144;*/
    border-left-color : transparent;
}

ol.steps li.done a {
    color : #3D8901;
}

.checkout-shipping-textarea textarea {
    width : 98%;
}

.checkout-payment-textarea textarea {
    width : 98%;
}

input[name='gv_redeem_code'] {
    width : 95%;
}

.infoBox td {
    vertical-align : top;
}

.cartcount_inputs {
    width         : 60px;
    margin-bottom : 0 !important;
    text-align    : center;
}

input[type=number].cartcount_inputs::-webkit-outer-spin-button,
input[type=number].cartcount_inputs::-webkit-inner-spin-button {
    -webkit-appearance : none;
    margin             : 0;
}

input[type=number].cartcount_inputs {
    -moz-appearance : textfield;
}

.catLevel_0_on {
    background-color : #3D8901;
    /*background-color: #3F3F3F; //#2E2E2E;*/
}

.shipping_address table select {
    width : 133px;
}

.shipping_address table tr td.main {
    padding : 5px 0;
}

.shipping_address table tr td.main input[type=text],
.shipping_address table tr td.main select {
    display            : block;
    width              : 80%;
    height             : 34px;
    padding            : 6px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : #555555;
    background         : #FFFFFF none;
    border             : 1px solid #CCCCCC;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    float              : left;
}

.pdC td {
    padding : 0;
}

.pdC a:hover, .pdA a:hover {
    text-decoration : none;
}

a.warenkorb_add_item,
a.warenkorb_del_item,
a.warenkorb_rem_item {
    text-decoration : none;
}

/*checout pages + and - and delete*/
.warenkorb_del_item:after {
    content     : "\f014";
    font-family : FontAwesome;
    font-size   : 15px;
    color       : #3D8901;
}

.warenkorb_rem_item:before {
    content     : "\f0d9";
    font-family : FontAwesome;
    font-size   : 38px;
    color       : #3D8901;
    line-height : 1;
}

.warenkorb_add_item:after {
    content     : "\f0da";
    font-family : FontAwesome;
    font-size   : 38px;
    color       : #3D8901;
    line-height : 1;
}

/*checout pages + and - and delete END*/
/*********************END CHEKOUT SHOPINCART************************/

.checkout-confirmation-image-cell {
    max-width  : 100px;
    max-height : 150px;
}

.table-confirmation-checkout td {
    vertical-align : middle !important;
    text-align     : center;
}

.table-confirmation-checkout .price-unit, .table-confirmation-checkout .price-total {
    white-space : nowrap;
}

*:focus {
    outline : 0;
}

.outter {
    /*max-width: 1170px;*/
    margin           : 0 auto;
    position         : relative;
    background-color : #FFFFFF
}

/* ANIMATION DELAY */
.delay1 {
    animation-delay         : 0.4s;
    -o-animation-delay      : 0.4s;
    -moz-animation-delay    : 0.4s;
    -webkit-animation-delay : 0.4s;
}

.delay2 {
    animation-delay         : 1s;
    -o-animation-delay      : 1s;
    -moz-animation-delay    : 1s;
    -webkit-animation-delay : 1s;
}

.delay3 {
    animation-delay         : 1.4s;
    -o-animation-delay      : 1.4s;
    -moz-animation-delay    : 1.4s;
    -webkit-animation-delay : 1.4s;
}

/* BLOCK */
.block {
    padding : 20px;
}

.block.newsletter {
    border-top    : 1px solid #444444;
    background    : #F4F4F4;
    /*background: url('../images/bg-newsletter.png') right top no-repeat #F4F4F4;*/
    text-align    : center;
    margin-top    : 10px;
    margin-bottom : 15px;
}

/* BOX TITLE */
.box-title {
    position   : relative;
    text-align : center;
}

.box-title:after {
    background : #000000;
    content    : "";
    height     : 1px;
    left       : 0;
    position   : absolute;
    top        : 10px;
    width      : 100%;
    z-index    : 1;
}

.box-title h2 {
    margin-top    : 0;
    margin-bottom : 15px;
    padding       : 0 28px;
    background    : #FFFFFF;
    z-index       : 2;
    position      : relative;
    display       : inline-block;
    font-size     : 14px;
}

.box-title h2:before, .box-title h2:after {
    position  : absolute;
    top       : -2px;
    font-size : 16px;
}

.box-title h2:before {
    left    : 8px;
    content : '\022C9';
}

.box-title h2:after {
    right   : 8px;
    content : '\022CA';
}

/* PRODUCT */
.product-block {
    position : relative;
}

.product-block .product-image {
    position : relative;
    width    : 100%;
    height   : 100%;
    content  : '';
    display  : block;
}

.product-label-special {
    background            : none repeat scroll 0 0 #C44569;
    color                 : #FFFFFF;
    right                 : 20px;
    -webkit-border-radius : 50%;
    -moz-border-radius    : 50%;
    -ms-border-radius     : 50%;
    -o-border-radius      : 50%;
    border-radius         : 50%;
    display               : block;
    font-size             : 17px;
    font-weight           : 300;
    height                : 70px;
    line-height           : 20px;
    opacity               : 0.8;
    filter                : alpha(opacity=80);
    padding               : 1px 4px;
    position              : absolute;
    text-align            : center;
    text-transform        : uppercase;
    top                   : 20px;
    width                 : 70px;
    z-index               : 3;
}

.product-label-special i {
    font-size      : 12px;
    line-height    : 20px;
    display        : block;
    text-transform : lowercase;
    padding-top    : 8px;
}

.product-label-special .special {
    padding-bottom : 3px;
    clear          : both;
    display        : block;
}

.product-block .product-image, .product-block .product-image a, .product-block .product-image .product-display, .product-block .product-image .product-display img {
    display : block;
    z-index : 1;
}

.product-block .product-image a {
    position : relative;
    overflow : hidden;
    display  : block;
    height   : 100%;
    z-index  : 10;
    content  : ' ';
}

.product-block .product-image a img {
    width : 100%;
}

.product-block .product-image .product-mainpic {
    opacity : 0;
    filter  : alpha(opacity=0);
}

.product-block .product-image .product-mainpic {
    max-width          : 100%;
    -webkit-transform  : rotateY(0deg);
    -moz-transform     : rotateY(0deg);
    -ms-transform      : rotateY(0deg);
    -o-transform       : rotateY(0deg);
    transform          : rotateY(0deg);
    opacity            : 1;
    filter             : alpha(opacity=100);
    -webkit-transition : all 0.4s ease-in-out;
    -moz-transition    : all 0.4s ease-in-out;
    -o-transition      : all 0.4s ease-in-out;
    transition         : all 0.4s ease-in-out;
}

.product-block .product-image .product-secondpic {
    position           : absolute;
    top                : 0;
    max-width          : 100%;
    -webkit-transform  : rotateY(-180deg);
    -moz-transform     : rotateY(-180deg);
    -ms-transform      : rotateY(-180deg);
    -o-transform       : rotateY(-180deg);
    transform          : rotateY(-180deg);
    opacity            : 0;
    left               : -1px;
    filter             : alpha(opacity=0);
    -webkit-transition : all 0.4s ease-in-out;
    -moz-transition    : all 0.4s ease-in-out;
    -o-transition      : all 0.4s ease-in-out;
    transition         : all 0.4s ease-in-out;
}

.product-block:hover .product-image .product-mainpic {
    -webkit-transform : rotateY(-180deg);
    -moz-transform    : rotateY(-180deg);
    -ms-transform     : rotateY(-180deg);
    -o-transform      : rotateY(-180deg);
    transform         : rotateY(-180deg);
    opacity           : 0;
    filter            : alpha(opacity=0);
}

.product-block:hover .product-image .product-secondpic {
    -webkit-transform : rotateY(0deg);
    -moz-transform    : rotateY(0deg);
    -ms-transform     : rotateY(0deg);
    -o-transform      : rotateY(0deg);
    transform         : rotateY(0deg);
    opacity           : 1;
    filter            : alpha(opacity=100);
}

.width-image-product {
    width               : 100%;
    min-height          : 200px;
    max-height          : 250px;
    background-position : center;
    background-size     : cover;
}

/* PRODUCT META */
.product-block .product-meta {
    overflow   : hidden;
    position   : relative;
    display    : block;
    height     : 56px;
    margin-top : -50px;
}

.product-block .product-action {
    width         : 100%;
    height        : 56px;
    overflow      : hidden;
    position      : relative;
    background    : #FFFFFF;
    border-bottom : 1px solid #EDEDED;
    z-index       : 12 !important;
}

.product-block .product-meta .product-action {
    display                  : block;
    position                 : absolute;
    width                    : 100%;
    bottom                   : -57px;
    font-size                : 0;
    -webkit-transition       : all 0.5s ease-in-out;
    -moz-transition          : all 0.5s ease-in-out;
    -o-transition            : all 0.5s ease-in-out;
    transition               : all 0.5s ease-in-out;
    transition-delay         : 0.2s;
    -o-transition-delay      : 0.2s;
    -moz-transition-delay    : 0.2s;
    -webkit-transition-delay : 0.2s;
    opacity                  : 0;
}

.product-block:hover .product-meta .product-action {
    bottom  : 0;
    opacity : 1;
}

.product-block .product-action a {
    display     : inline-block;
    text-align  : center;
    line-height : 56px;
    height      : 56px;
    color       : #CCCCCC;
    font-size   : 14px;
}

.product-block .product-action a:hover {
    background : #F4F4F4;
}

.product-block .product-action a.addcart {
    width : 100%;
    color : #000000;
}

.product-block .product-action a.addcart:hover {
    color : #7AC144
}

.topinfo-block a {
    color : #3D8901;
}

.product-block .product-action a.wishlist {
    width              : 25%;
    -webkit-box-shadow : -1px 0 0 0 #EDEDED;
    -moz-box-shadow    : -1px 0 0 0 #EDEDED;
    box-shadow         : -1px 0 0 0 #EDEDED;
}

.product-block .product-action a.wishlist:hover {
    color : #C44569;
}

.product-block .product-action a.compare {
    width              : 25%;
    -webkit-box-shadow : -1px 0 0 0 #EDEDED;
    -moz-box-shadow    : -1px 0 0 0 #EDEDED;
    box-shadow         : -1px 0 0 0 #EDEDED;
}

.product-block .product-price {
    color       : #111111;
    text-align  : center;
    font-weight : bold;
    display     : block;
    font-size   : 16px;
}

.product-block .product-price span {
    margin : 0 4px;
}

.product-block .product-price .oldprice {
    font-weight     : normal;
    color           : #CCCCCC;
    text-decoration : line-through;
}

.product-block .product-price .newprice {
    color : #DA774D;
}

.product-block .product-name {
    font-size          : 14px;
    color              : #111111;
    display            : block;
    text-align         : center;
    margin-bottom      : 7px;
    -webkit-transition : all ease-in-out 0.2s;
    -moz-transition    : all ease-in-out 0.2s;
    -o-transition      : all ease-in-out 0.2s;
    transition         : all ease-in-out 0.2s;
}

.product-block .product-name:hover {
    color : #CCCCCC;
}

.product-block .product-rating {
    padding-top    : 5px;
    opacity        : 0;
    padding-bottom : 8px;
    border-top     : 1px solid #EDEDED;
    border-bottom  : 1px solid #111111;
    margin-top     : 10px;
    text-align     : center;
    color          : #FFCC00;
}

.product-block:hover .product-rating {
    opacity : 1;
}

/* =========== FORM ========= */
.input-black {
    border             : 1px solid #CCCCCC;
    height             : 30px;
    padding            : 4px 7px;
    margin-top         : 5px;
    display            : inline;
    outline            : 0;
    -webkit-transition : all ease-in-out 0.2s;
    -moz-transition    : all ease-in-out 0.2s;
    -o-transition      : all ease-in-out 0.2s;
    transition         : all ease-in-out 0.2s;
}

.input-black:focus {
    border : 1px solid #111111;
}

/* =========== BUTTON =========== */
.btn-black {
    border     : none;
    background : #111111;
    color      : #FFFFFF;
    height     : 30px;
    margin-top : 5px;
    display    : inline;
}

.btn-black:hover {
    border     : none;
    background : #333333;
    color      : #FFFFFF;
    height     : 30px;
}

.btn-black:focus {
    background : #000000;
}

/* ======== OVERWRITE BOOTSTRAP ELEEMENTS ========= */

/* ========= TOP BLOCK ============ */
.top-block {
    background    : #444444;
    display       : block;
    text-align    : right;
    padding       : 5px 0;
    font-size     : 12px;
    border-bottom : 4px solid #DDDDDD;
    position      : relative;
}

.top-block .dropdown {
    display      : inline-block;
    margin-right : 15px;
    text-align   : left;
}

.top-block .dropdown-menu {
    box-shadow         : none;
    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
    -o-box-shadow      : none;
    border-radius      : 0;
    background         : #FFFFFF;
    margin-top         : 5px;
}

.top-block .dropdown span {
    color : #FFFFFF;
}

.top-block a {
    color : #7AC144;
}

/* ========== HEADER ======= */
.header .sitelogo-block {
    position : relative;
}

.header .sitelogo-block .logo, .header .sitelogo-block .titledesc {
    display : inline-block;
}

.header .sitelogo-block .logo {
    position           : absolute;
    top                : -31px;
    width              : 80px;
    height             : 126px;
    padding-top        : 20px;
    background         : #7AC144;
    border-bottom      : 4px solid #3D8901;
    -webkit-box-shadow : inset 0 -3px 0 -2px rgba(255, 255, 255, 0.25);
    -moz-box-shadow    : inset 0 -3px 0 -2px rgba(255, 255, 255, 0.25);
    box-shadow         : inset 0 -3px 0 -2px rgba(255, 255, 255, 0.25);
}

.header .sitelogo-block .logo img {
    position  : absolute;
    max-width : 80px;
    padding   : 10px;
    bottom    : 10px;
}

.header .sitelogo-block .titledesc {
    color       : #CCCCCC;
    font-weight : 100;
    margin-left : 110px;
    font-size   : 18px;
}

.header .sitelogo-block .titledesc h1 {
    color         : #7AC144;
    font-weight   : 700;
    font-size     : 24px;
    margin-bottom : 3px;
}

.header .topinfo-block {
    height     : 30px;
    margin-top : 30px;
    text-align : right;
}

.header .topinfo-block form {
    display      : inline-block;
    border       : 1px solid #CCCCCC;
    margin-right : 5px;
}

.header .topinfo-block form .input-search {
    border             : 0;
    height             : 30px;
    padding            : 5px;
    color              : #CCCCCC;
    width              : 60px;
    -webkit-transition : all ease-in-out 0.2s;
    -moz-transition    : all ease-in-out 0.2s;
    -o-transition      : all ease-in-out 0.2s;
    transition         : all ease-in-out 0.2s;
}

.header .topinfo-block form .input-search:focus {
    width : 110px;
}

.header .topinfo-block form .submit-search {
    border             : none;
    background         : #FFFFFF;
    height             : 30px;
    color              : #CCCCCC;
    -webkit-transition : all ease-in-out 0.2s;
    -moz-transition    : all ease-in-out 0.2s;
    -o-transition      : all ease-in-out 0.2s;
    transition         : all ease-in-out 0.2s;
}

.header .topinfo-block form .submit-search:hover {
    color : #111111;
}

.header .topinfo-block .info {
    color       : #666666;
    position    : relative;
    display     : inline-block;
    margin-left : 5px;
}

.header .topinfo-block .info .icon {
    border        : 2px solid #C44569;
    color         : #C44569;
    border-radius : 50%;
    width         : 24px;
    height        : 24px;
    line-height   : 20px;
    position      : relative;
    display       : inline-block;
    padding       : 5px;
    margin-right  : 5px;
    top           : 6px;
}

.header .topinfo-block .info .icon i {
    font-size   : 11px;
    position    : absolute;
    top         : 0;
    left        : 50%;
    margin-left : -8px;
}

.right-zero {
    left  : inherit;
    right : 0 !important;
}

@media (max-width : 768px) {
    .header .sitelogo-block .logo {
        display : none;
    }

    .header .sitelogo-block .titledesc {
        margin-left : 0;
    }

    .header .topinfo-block, .sel-top .dropdown {
        float : left;
    }
}

/* ========== NAVIGATION ======= */
.navigation {
    margin-top : 60px;
}

.navigation .navbar-default {
    background    : #FFFFFF;
    border        : none;
    border-top    : 1px solid #EDEDED;
    border-radius : 0;
    border-bottom : 3px solid #444444;
}

.navigation .navbar-default .nav > li {
    border-right : 1px solid #EDEDED;
}

.navigation .navbar-default .nav > li:first-child {
    border-left : 1px solid #EDEDED;
}

.navigation .navbar-nav {
    margin       : 0 auto;
    display      : table;
    table-layout : fixed;
    float        : none;
}

.navigation .navbar-default .navbar-nav > li > a {
    color              : #5F5F5F;
    text-transform     : uppercase;
    font-family        : 'Oswald', sans-serif;
    font-weight        : 400;
    font-size          : 14px;
    -webkit-transition : all ease-in-out 0.2s;
    -moz-transition    : all ease-in-out 0.2s;
    -o-transition      : all ease-in-out 0.2s;
    transition         : all ease-in-out 0.2s;
}

.navigation .navbar-default .navbar-nav > li > a:hover {
    color      : #FFFFFF;
    background : #7AC144;
}

.navigation .navbar-default .nav > li > a {
    padding-left  : 20px;
    padding-right : 20px;
}

.navigation .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background : inherit;
    color      : #000000;
}

.navigation .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background : #7AC144;
    color      : #FFFFFF;
}

.navigation .dropdown-menu {
    border             : 1px solid #EDEDED;
    border-top         : 0;
    border-radius      : 0;
    -webkit-box-shadow : none;
    box-shadow         : none;
    background-clip    : content-box;
    padding            : 0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background : #7AC144;
    color      : #FFFFFF;
}

.navigation .navbar-nav > li > .dropdown-menu {
    margin-top : 0;
}

.navigation .dropdown-menu > li > a {
    padding-bottom : 8px;
    padding-top    : 8px;
}

@media (max-width : 768px) {
    .navigation .navbar-default .nav > li {
        border-left : 1px solid #EDEDED;
    }

    .navigation .navbar-nav {
        margin       : 0 auto;
        display      : block;
        table-layout : inherit;
        float        : left;
        width        : 100%;
    }
}

/* ====== TOP SLIDER ======= */
.topslider {
    max-width : 1170px;
    padding   : 0 15px;
    margin    : 10px auto 0 auto;
    position  : relative;
}

.topslider.fullwidth {
    max-width : 100%;
    width     : 100%;
    padding   : 0;
    position  : relative;
}

.sequence-theme {
    position : relative;
}

.sequence-theme:before,
.sequence-theme:after {
    z-index            : -1;
    position           : absolute;
    content            : "";
    bottom             : 15px;
    left               : 2%;
    width              : 50%;
    top                : 90%;
    max-width          : 400px;
    background         : #777777;
    -webkit-box-shadow : 0 15px 10px #777777;
    -moz-box-shadow    : 0 15px 10px #777777;
    box-shadow         : 0 15px 10px #777777;
    -webkit-transform  : rotate(-3deg);
    -moz-transform     : rotate(-3deg);
    -o-transform       : rotate(-3deg);
    -ms-transform      : rotate(-3deg);
    transform          : rotate(-3deg);
}

.sequence-theme:after {
    -webkit-transform : rotate(3deg);
    -moz-transform    : rotate(3deg);
    -o-transform      : rotate(3deg);
    -ms-transform     : rotate(3deg);
    transform         : rotate(3deg);
    right             : 2%;
    left              : auto;
}

.topslider .carousel-inner > .item {
    max-height : 550px;
}

.topslider .carousel-inner > .item img {
    width : 100%;
}

.topslider .carousel-control {
    width      : 15%;
    opacity    : 1;
    filter     : alpha(opacity=100);
    text-align : center;
}

.topslider .carousel-control.left,
.topslider .carousel-control.right {
    background : none no-repeat;
    filter     : none;
}

.topslider .carousel-control.left img,
.topslider .carousel-control.right img {
    position      : absolute;
    bottom        : 50%;
    margin-bottom : -20px;
}

.topslider .carousel-control.left img {
    left : 0;
}

.topslider .carousel-control.right img {
    right : 0;
}

.topslider .carousel-indicators {
    letter-spacing : 25px;
}

.topslider .carousel-indicators li {
    display     : inline-block;
    border      : none;
    position    : relative;
    text-indent : 0;
    padding     : 8px;
}

.topslider .carousel-indicators li.active {
    background : transparent;
}

.topslider .carousel-indicators li.active:before {
    content    : '\022C8';
    margin-top : -14px;
}

.topslider .carousel-indicators li:before {
    font-size  : 18px;
    position   : absolute;
    content    : '\022C4';
    margin-top : -12px;
    left       : 5px;
    color      : #FFFFFF;
}

.topslider .caption {
    position    : absolute;
    top         : 0;
    padding-top : 19%;
    display     : block;
    width       : 100%;
    height      : 100%;
}

.topslider .slider-title,
.topslider .slider-desc,
.topslider .slider-button {
    display    : block;
    width      : 100%;
    position   : relative;
    text-align : center;
}

.topslider .slider-title {
    font-size : 30px;
    color     : #FFFFFF;
    display   : inline-block;
}

.topslider .slider-desc {
    font-size : 20px;
    width     : 50%;
    display   : block;
    margin    : 20px auto 0;
    color     : #FFFFFF;
}

.topslider .slider-button a {
    padding        : 10px 20px;
    text-transform : uppercase;
    border         : 1px solid #FFFFFF;
    margin-top     : 20px;
    color          : #FFFFFF;
    display        : inline-block;
}

.topslider .slider-button a:hover {
    color        : #FFFFFF;
    background   : #111111;
    border-color : #111111;
}

/* ========= PROMO =========== */
.promo {
    margin-top : 30px;
}

.promo .promo-box {
    position      : relative;
    margin-bottom : 15px;
}

.promo .promo-img {
    position   : relative;
    overflow   : hidden;
    background : #000000;
    height     : 100%;
    content    : '';
    width      : 100%;
}

.promo .promo-box a,
.promo .promo-img img {
    display : block;
    width   : 100%;
}

.promo .promo-img img {
    min-height         : 120px;
    -webkit-transition : all 0.4s ease-in-out;
    -moz-transition    : all 0.4s ease-in-out;
    -o-transition      : all 0.4s ease-in-out;
    transition         : all 0.4s ease-in-out;
    -webkit-transform  : scale(1);
    -moz-transform     : scale(1);
    -ms-transform      : scale(1);
    -o-transform       : scale(1);
    transform          : scale(1);
}

.promo .promo-box .promo-block {
    background         : rgba(120, 120, 120, .2);
    -webkit-transition : all 0.4s ease-in-out;
    -moz-transition    : all 0.4s ease-in-out;
    -o-transition      : all 0.4s ease-in-out;
    transition         : all 0.4s ease-in-out;
    opacity            : 1;
    filter             : alpha(opacity=100);
    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
    box-shadow         : none;
    position           : absolute;
    width              : 100%;
    top                : 0;
    height             : 100%;
}

.promo .promo-box a:hover .promo-block {
    background : rgba(0, 0, 0, .4);
}

.promo .promo-info {
    position : absolute;
    top      : 15%;
    width    : 100%;
}

.promo .promo-info .promo-title {
    font-size      : 17px;
    font-weight    : bold;
    text-align     : center;
    text-transform : uppercase;
    color          : #FFFFFF;
    letter-spacing : 3px;
    padding        : 0 10px;
    line-height    : 22px;
}

.promo .promo-info p {
    color      : #C44569;
    text-align : center;
    font-size  : 12px;
    position   : relative;
}

.promo .promo-box:hover img {
    -webkit-transform : rotate(4deg) scale(1.2);
    -moz-transform    : rotate(4deg) scale(1.2);
    -ms-transform     : rotate(4deg) scale(1.2);
    -o-transform      : rotate(4deg) scale(1.2);
    transform         : rotate(4deg) scale(1.2);
}

/* ========== FEATURED ========== */
#featured-slider {
    margin-top : 20px;
    padding    : 0 5px;
}

.featured {
    margin-top    : 20px;
    margin-bottom : 40px;
}

.featured .owl-theme .owl-controls .owl-buttons div {
    margin        : 0;
    opacity       : 1;
    background    : none;
    border-radius : 0;
    height        : 64px;
}

.featured .owl-next,
.featured .owl-prev {
    position : absolute;
    top      : 35%;
}

.featured .owl-next {
    right       : 0;
    width       : 40px;
    text-indent : -99999px;
    background  : url('images/owl-right.png') center left no-repeat !important;
}

.featured .owl-prev {
    left        : 4px;
    width       : 40px;
    text-indent : -99999px;
    background  : url('images/owl-left.png') center left no-repeat !important;
}

/* =========== RECENT BLOG ======= */
.newsblog {
    margin-bottom : 30px;
}

/* ========== BRANDS ============= */
.brands {
    display      : block;
    padding-left : 0;
    list-style   : none;
    text-align   : center;
    margin-top   : 20px;
}

.brands li {
    display : inline-block;
    padding : 0 10px;
    height  : 60px;
    opacity : 1;
}

.brands li img {
    -webkit-transition : all 0.4s ease-in-out;
    -moz-transition    : all 0.4s ease-in-out;
    -o-transition      : all 0.4s ease-in-out;
    transition         : all 0.4s ease-in-out;
}

.brands:hover li:not(:hover) img {
    opacity : 0.3;
}

/* ========= WIDGET TAGS ========== */
.wdgt-tags {
    padding-left : 0;
    list-style   : none;
}

.wdgt-tags li {
    display : inline-block;
    margin  : 0 2px 7px 0;
}

.wdgt-tags li a {
    font-size  : 13px;
    padding    : 5px 8px;
    background : #EEEEEE;
    color      : #666666;
}

.wdgt-tags li a:hover {
    background : #666666;
    color      : #EEEEEE;
}

/* ========== WIDGET ABOUT ============ */
.wdgt-about {
    padding-top : 10px;
    border-top  : 3px solid #111111;
    margin-top  : 60px;
}

/* ========== WIDGET SIDEBAR ============ */
.widget-box.sidebar {
    border-top    : none;
    margin-bottom : 30px;
}

/* ========== WIDGET BOTTOM ============ */
.wdgt-title {
    font-weight   : 700;
    font-size     : 16px;
    margin-bottom : 30px;
    margin-top    : 30px;
    color         : #000000 !important;
}

.wdgt-bottom {
    margin-top     : 60px;
    padding-bottom : 20px;
    border-bottom  : 1px solid #EDEDED;
}

.widget-box {
    border-top    : 1px dotted #CCCCCC;
    margin-bottom : 15px;
}

.widget-box .openhour {
    padding-left : 0;
}

.widget-box .openhour li {
    list-style  : none;
    line-height : 20px;
}

.widget-box .openhour .openday {
    font-weight : bold;
    margin-top  : 10px;
}

.widget-box .openhour .openday:first-child {
    margin-top : 0;
}

.widget-box .opentime {
    color : #666666;
}

.widget-box .wdgt-ul {
    padding-left : 0;
}

.widget-box .wdgt-ul li {
    padding-left       : 20px;
    margin-bottom      : 5px;
    position           : relative;
    list-style         : none;
    -webkit-transition : all 0.2s ease-in-out;
    -moz-transition    : all 0.2s ease-in-out;
    -o-transition      : all 0.2s ease-in-out;
    transition         : all 0.2s ease-in-out;
}

.widget-box .wdgt-ul li a {
    color       : #666666;
    font-size   : 14px;
    line-height : 26px;
}

.widget-box .wdgt-ul li a:hover {
    padding-left : 7px;
}

.widget-box .wdgt-ul li:hover a {
    color : #111111;
}

.widget-box .wdgt-ul li:before {
    content   : '\022D7';
    position  : absolute;
    left      : 0;
    color     : #111111;
    font-size : 18px;
}

.widget-box .wdgt-address {
    margin-bottom : 15px;
    color         : #666666;
}

.widget-box .wdgt-address strong {
    display       : block;
    margin-bottom : 5px;
    color         : #111111;
}

ul.widget {
    font-size : 15px;
}

.logo-bottom {
    margin-top : 30px;
}

/* ====== WIDGET PRODUCT ====== */
.wdgt-product {
    list-style   : none;
    padding-left : 0;
}

.wdgt-product li {
    padding       : 5px 0 8px 50px;
    border-bottom : 1px dotted #EEEEEE;
}

.wdgt-product li a {
    position    : relative;
    display     : block;
    font-size   : 13px;
    line-height : 17px;
    font-weight : bold;
    color       : #666666;
}

.wdgt-product li a:hover {
    color : #CCCCCC;
}

.wdgt-product li a img {
    position : absolute;
    left     : -50px;
}

.wdgt-product li .price {
    font-size     : 11px;
    padding       : 4px 6px;
    line-height   : 11px;
    margin-top    : 6px;
    display       : inline-block;
    border-radius : 3px;
    background    : #DDDDDD;
    color         : #666666;
}

/* ====== ICONIZE ========= */
.iconize {
    width         : 35px;
    height        : 35px;
    text-align    : center;
    line-height   : 35px;
    font-size     : 20px;
    display       : inline-block;
    border        : 1px solid #666666;
    color         : #666666;
    margin-right  : 5px;
    margin-bottom : 8px;
}

.iconize:hover {
    border-color : #111111;
    color        : #111111;
}

.iconize.round {
    width         : 25px;
    height        : 25px;
    line-height   : 20px;
    font-size     : 13px;
    border-radius : 50%;
}

/* ======== FOOTER ============ */
footer {
    border-top : 5px solid #111111;
    background : #F7F7F7;
    /*max-width: 1170px;*/
    margin     : 0 auto;
}

.shop-info {
    padding-top    : 90px;
    text-align     : center;
    padding-bottom : 90px;
    border-bottom  : 10px solid #111111;
    color          : #666666;
}

.shop-info a {
    color       : #111111;
    font-weight : bold;
}

/* ============ CONTENT PART =========== */
.row:first-child .content-box {
    margin-top : 40px;
}

.content-box {
    margin-top    : 10px;
    margin-bottom : 35px;
}

.content-box h3 {
    font-size      : 20px;
    text-transform : uppercase;
    font-weight    : 800;
    margin-top     : 5px;
    margin-bottom  : 20px;
}

.content-box p {
    margin-top    : 10px;
    margin-bottom : 15px;
}

.list-date-description {
    list-style : none;
    padding    : 0;
}

/* ===== ABOUT PAGES ======== */
.slide-about-people {
    position : relative;
}

.slide-about-people .people-block:hover .people-desc,
.slide-about-people .people-block:hover figure {
    border-color : #111111;
}

.slide-about-people .people-desc {
    padding    : 15px;
    border     : 1px solid #CCCCCC;
    border-top : none;
    position   : relative;
}

.slide-about-people .people-desc:after {
    bottom              : 100%;
    left                : 20%;
    border              : 15px solid transparent;
    content             : " ";
    height              : 0;
    width               : 0;
    position            : absolute;
    pointer-events      : none;
    border-bottom-color : #FFFFFF;
    margin-left         : -15px;
}

.slide-about-people .people-desc .people-name {
    margin-top : 5px;
    font-size  : 18px;
    display    : block;
}

.slide-about-people .people-desc .people-job {
    margin-bottom : 10px;
    font-size     : 13px;
    color         : #CCCCCC;
    display       : block;
}

.slide-about-people .owl-item .people-block {
    margin-right : 15px;
}

.slide-about-people .people-block figure {
    border        : 1px solid #CCCCCC;
    border-bottom : none;
}

.slide-about-people .people-block img {
    width : 100%;
}

.slide-about-people .owl-controls .owl-buttons div {
    margin        : 0;
    opacity       : 1;
    background    : none;
    border-radius : 0;
    height        : 64px;
}

.slide-about-people .owl-next,
.slide-about-people .owl-prev {
    position : absolute;
    top      : 35%;
}

.slide-about-people .owl-next {
    right       : 10px;
    width       : 40px;
    text-indent : -99999px;
    background  : url('images/owl-right.png') center left no-repeat !important;
}

.slide-about-people .owl-prev {
    left        : 0;
    width       : 40px;
    text-indent : -99999px;
    background  : url('images/owl-left.png') center left no-repeat !important;
}

/* ========== SHORT CODE =========== */

/*
    SHOP LIST
*/
.select-wrapper {
    display : inline-block;
}

/*
    PRODUCT DETAIL
*/
.sp-wrap {
    width : 100%;
}

.sp-current-big {
    width : 100%;
}

.sp-large {
    width : 100%;
}

.product-meta {
    border-bottom  : 1px solid #EDEDED;
    padding-bottom : 8px;
    margin-bottom  : 15px;
}

.product-title {
    font-size : 30px;
}

.product-breadcrumb {
    padding-left : 0;
}

.product-breadcrumb li {
    list-style    : none;
    display       : inline;
    position      : relative;
    padding-right : 17px;
}

.product-breadcrumb li:after {
    font-family : 'FontAwesome';
    content     : '\f105';
    position    : absolute;
    right       : 8px;
    top         : 0;
    color       : #DDDDDD;
}

.product-breadcrumb li:last-child:after {
    content : '';
}

.product-breadcrumb li a {
    font-weight : 300;
    color       : #CCCCCC;
}

.product-breadcrumb a:last-child {
    color          : #111111;
    pointer-events : none;
}

.product-breadcrumb li a:hover {
    color : #7AC144;
}

.product-rating {
    color : #FFCC00;
}

.product-price > div {
    padding   : 15px;
    font-size : 12px;
    display   : inline-block;
    color     : #FFFFFF;
}

.product-price > div > span {
    display       : block;
    margin-bottom : 10px;
    font-size     : 25px;
}

.product-price .price-old {
    background : #DDDDDD;
    color      : #111111;
}

.product-price .price-old span {
    text-decoration : line-through;
}

.product-price .price-new {
    /*background: #7ac144;*/
    color : #7AC144;
}

.price-base {
    color       : #7AC144;
    font-size   : 25px;
    font-weight : bold;
}

.price-base .mwst_info {
    color      : #000000;
    font-size  : 10px;
    margin-top : -10px;
    display    : block;
}

.product-price .price-sale {
    background : #C44569;
}

.product-desc .nav-tabs {
    margin-top : 30px;
}

.product-option {
    clear        : both;
    display      : block;
    position     : relative;
    padding-left : 0;
}

.product-option li {
    position       : relative;
    display        : block;
    clear          : both;
    height         : 25px;
    padding-bottom : 5px;
    margin-bottom  : 6px;
    border-bottom  : 1px dotted #DDDDDD;
}

.product-option li a {
    float       : left;
    position    : relative;
    font-weight : 300;
    color       : #111111;
}

.product-option li a:hover {
    color : #888888;
}

.product-option li span {
    float       : right;
    position    : relative;
    font-weight : 300;
}

.product-option li span.opt-available {
    color : #7AC144;
}

.product-option li span.opt-not-available {
    color : #C44569;
}

.product-shop-info th {
    padding    : 8px;
    background : #FFFFFF;
    /* Old browsers */
    background : -moz-linear-gradient(top, #FFFFFF 0%, #F5F5F5 2%, #DDDDDD 100%);
    /* FF3.6+ */
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(2%, #F5F5F5), color-stop(100%, #DDDDDD));
    /* Chrome,Safari4+ */
    background : -webkit-linear-gradient(top, #FFFFFF 0%, #F5F5F5 2%, #DDDDDD 100%);
    /* Chrome10+,Safari5.1+ */
    background : -o-linear-gradient(top, #FFFFFF 0%, #F5F5F5 2%, #DDDDDD 100%);
    /* Opera 11.10+ */
    background : -ms-linear-gradient(top, #FFFFFF 0%, #F5F5F5 2%, #DDDDDD 100%);
    /* IE10+ */
    background : linear-gradient(to bottom, #FFFFFF 0%, #F5F5F5 2%, #DDDDDD 100%);
    /* W3C */
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
    /* IE6-9 */
    border     : 1px solid #EEEEEE;
}

.product-shop-info td {
    padding : 8px;
    border  : 1px solid #EEEEEE;
}

.product-shop-info td p {
    margin : 0;
}

.media .product-rating {
    margin-top : 5px;
    font-size  : 12px;
}

/*====== BLOG =======*/
.page-title {
    font-size   : 30px;
    font-weight : 700;
}

.post {
    display     : block;
    margin-left : 130px;
    position    : relative;
}

.post {
    border-bottom  : 1px dotted #EDEDED;
    padding-bottom : 40px;
    margin-bottom  : 40px;
}

.post figure {
    margin-bottom : 20px;
    position      : relative;
}

.post figure img {
    width : 100%;
}

.post .post-meta {
    width    : 100px;
    position : absolute;
    top      : 0;
    left     : -130px;
}

.post .post-meta .post-icon {
    width              : 50px;
    height             : 50px;
    color              : #FFFFFF;
    font-size          : 24px;
    text-align         : center;
    line-height        : 48px;
    background         : #7AC144;
    display            : inline-block;
    margin-bottom      : 12px;
    -webkit-transition : all 0.3s ease-in-out;
    -moz-transition    : all 0.3s ease-in-out;
    -o-transition      : all 0.3s ease-in-out;
    transition         : all 0.3s ease-in-out;
}

.post .post-meta .post-icon:hover {
    background : #000000;
}

.post .post-meta h5 {
    font-size     : 13px;
    margin-bottom : 3px;
    margin-top    : 5px;
}

.post .post-meta span {
    font-size   : 13px;
    font-weight : 300;
}

.post .post-meta span a {
    color : #7AC144;
}

.post .post-title {
    font-size     : 22px;
    line-height   : 20px;
    margin-bottom : 25px;
}

.post .post-title a {
    color : #111111;
}

.post .post-title a:hover {
    color : #CCCCCC;
}

.post p {
    margin-bottom : 20px;
}

.post pre {
    margin-left   : 10%;
    margin-right  : 10%;
    border-radius : 0;
}

.post .read-more {
    padding   : 4px 7px;
    border    : 1px solid #7AC144;
    display   : inline-block;
    font-size : 14px;
}

.post .read-more:hover {
    background   : #111111;
    border-color : #111111;
    color        : #FFFFFF;
}

@media (max-width : 768px) {
    .post {
        margin-left : 0;
    }

    .post .post-meta {
        display  : block;
        margin   : 10px 0;
        width    : 100%;
        position : relative;
        left     : 0;
    }

    .post .post-meta h5,
    .post .post-meta span {
        display : inline;
    }

    .post .post-meta span {
        margin-right : 13px;
        padding-left : 5px;
    }

    .post .post-meta .post-icon {
        display : none;
    }
}

.audio-wrapper {
    width              : 90%;
    left               : 5%;
    top                : 80%;
    float              : left;
    clear              : both;
    position           : absolute;
    background         : #474747;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background         : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ3NDc0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNjM2MzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background         : -moz-linear-gradient(top, #474747 0%, #363636 100%);
    /* FF3.6+ */
    background         : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #474747), color-stop(100%, #363636));
    /* Chrome,Safari4+ */
    background         : -webkit-linear-gradient(top, #474747 0%, #363636 100%);
    /* Chrome10+,Safari5.1+ */
    background         : -o-linear-gradient(top, #474747 0%, #363636 100%);
    /* Opera 11.10+ */
    background         : -ms-linear-gradient(top, #474747 0%, #363636 100%);
    /* IE10+ */
    background         : linear-gradient(to bottom, #474747 0%, #363636 100%);
    /* W3C */
    filter             : progid:DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#363636', GradientType=0);
    /* IE6-8 */
    height             : 50px;
    box-shadow         : 0 0 3px #1E1E1E;
    -webkit-box-shadow : 0 0 3px #1E1E1E;
}

.audio-wrapper > div {
    box-shadow     : inset 1px 1px 1px #5F5F5F;
    padding-bottom : 10px;
}

@media (max-width : 768px) {
    .mejs-controls .mejs-time-rail {
        width : 45% !important;
    }

    .mejs-horizontal-volume-slider {
        display : none !important;
    }

    .mejs-controls .mejs-volume-button {
        left : 55%;
    }
}

/* BLOG AUTHOR */
.post-author {
    margin     : 60px 0;
    padding    : 0 20px 40px 20px;
    border     : 1px solid #EDEDED;
    position   : relative;
    background : #F5F5F5;
}

.post-author .blog-author-content {
    position : relative;
    display  : block;
}

.post-author figure {
    width    : 120px;
    position : relative;
}

.post-author .blog-author-info {
    margin-left : 120px;
    position    : absolute;
    top         : 0;
}

.post-author .media-heading a {
    color : #111111;
}

.post-author .blog-author-info p {
    position : relative;
}

/* BLOG COMMENTS */
.blog-comments > h2 span {
    font-size  : 13px;
    display    : block;
    margin-top : 10px;
}

.blog-comments form {
    margin-bottom : 40px;
}

.blog-comments .blog-comment-content figure img {
    border-radius : 50%;
}

.blog-comments .blog-comment-content .comment-meta {
    display : block;
}

.blog-comments .blog-comment-content .comment-meta .media-heading {
    display : inline-block;
}

.blog-comments .blog-comment-content .comment-meta .in-reply,
.blog-comments .blog-comment-content .comment-meta span.time {
    font-size    : 12px;
    padding-left : 15px;
}

.blog-comments .blog-comment-content .comment-meta .comment-extra {
    display : inline-block;
}

.blog-comments .blog-comment-content .comment-meta .comment-extra a {
    color : #7AC144;
}

.blog-comments .blog-comment-content .media-list li {
    padding : 15px;
}

.blog-comments .blog-comment-content .media-list li:nth-child(2n+1) {
    background : #F5F5F5;
}

.blog-comments .blog-comment-content .media-body .media-heading a {
    color          : #111111;
    padding-bottom : 1px;
    border-bottom  : 1px dotted #85939B;
}

/* ======== COUNT DOWN ========== */

/*
  Time
*/
.timer-wrapper {
    margin-top              : 12px;
    background-size         : cover;
    -webkit-background-size : cover;
    position                : relative;
    z-index                 : -1;
}

.timer-wrapper:after,
.timer-wrapper:before {
    top            : 100%;
    margin-top     : -20px;
    left           : 50%;
    margin-left    : -25px;
    border         : solid transparent;
    content        : " ";
    height         : 0;
    width          : 0;
    position       : absolute;
    pointer-events : none;
}

.timer-wrapper:after {
    position     : absolute;
    border-style : solid;
    border-width : 0 25px 20px 25px;
    border-color : transparent transparent #FFFFFF transparent;
}

.timer-bg {
    background : rgba(35, 35, 40, 0.3);
    padding    : 150px 0;
}

.styled {
    text-align : center;
    color      : #FFFFFF;
}

.styled div {
    display       : inline-block;
    margin-left   : 25px;
    font-size     : 70px;
    font-weight   : 900;
    line-height   : 1;
    text-align    : center;
    margin-top    : 5px;
    margin-bottom : 10px;
    text-shadow   : 2px 1px 0 rgba(0, 0, 0, 0.4);
}

/* IE7 inline-block hack */
* + html .styled div {
    display : inline;
    zoom    : 1;
}

.styled div:first-child {
    margin-left : 0;
}

.styled div span {
    display        : block;
    width          : 100px;
    margin-top     : 10px;
    padding        : 8px 12px;
    background     : #7AC144;
    font-size      : 17px;
    font-weight    : normal;
    text-transform : uppercase;
    text-align     : center;
    color          : #FFFFFF;
}

.timer-wrapper h2 {
    font-size   : 43px;
    font-weight : 700;
    color       : #FFFFFF;
    text-align  : center;
    text-shadow : 2px 1px 0 rgba(0, 0, 0, 0.4);
}

.timer-wrapper h3 {
    font-size     : 20px;
    font-weight   : 300;
    color         : #FFFFFF;
    text-align    : center;
    margin-top    : 0;
    margin-bottom : 40px;
    text-shadow   : 2px 1px 0 rgba(0, 0, 0, 0.4);
}

/* ============ PRICING ================= */
.pricing {
    margin-top    : 5px;
    margin-bottom : 10px;
}

.pricing .pricing-top {
    display        : block;
    width          : 100%;
    position       : relative;
    padding-bottom : 40px;
    border-right   : 1px solid #111111;
    border-left    : 1px solid #111111;
    /* gradient */
    background     : #45484D;
    /* Old browsers */
    background     : -moz-linear-gradient(top, #45484D 0%, #111111 100%);
    /* FF3.6+ */
    background     : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484D), color-stop(100%, #111111));
    /* Chrome,Safari4+ */
    background     : -webkit-linear-gradient(top, #45484D 0%, #111111 100%);
    /* Chrome10+,Safari5.1+ */
    background     : -o-linear-gradient(top, #45484D 0%, #111111 100%);
    /* Opera 11.10+ */
    background     : -ms-linear-gradient(top, #45484D 0%, #111111 100%);
    /* IE10+ */
    background     : linear-gradient(to bottom, #45484D 0%, #111111 100%);
    /* W3C */
    filter         : progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#111111', GradientType=0);
    /* IE6-9 */
}

.pricing .pricing-top .pricing-price {
    position           : absolute;
    width              : 80px;
    height             : 80px;
    left               : 50%;
    margin-left        : -40px;
    border-radius      : 50%;
    border             : 3px solid #DDDDDD;
    background         : #FFFFFF;
    /* box shadow */
    -webkit-box-shadow : inset 0 8px 10px -4px rgba(7, 7, 7, 0.4);
    -moz-box-shadow    : inset 0 8px 10px -4px rgba(7, 7, 7, 0.4);
    box-shadow         : inset 0 8px 10px -4px rgba(7, 7, 7, 0.4);
}

.pricing .pricing-top .pricing-price span {
    display     : block;
    font-size   : 23px;
    line-height : 75px;
    text-align  : center;
    font-weight : 900;
}

.pricing .pricing-content {
    border              : 1px solid #DDDDDD;
    border-top-width    : 3px;
    padding-top         : 50px;
    text-align          : center;
    padding-bottom      : 10px;
    border-bottom-color : #CCCCCC;
    border-bottom-width : 3px;
}

.pricing .pricing-content ul {
    display      : block;
    padding-left : 0;
}

.pricing .pricing-content ul li {
    display    : block;
    text-align : center;
    list-style : none;
    padding    : 7px 0;
}

.pricing .pricing-content ul li:nth-child(2n+1) {
    background : #F5F5F5;
}

.pricing .btn {
    border-radius : 0;
    padding       : 8px 10px;
    font-size     : 13px;
    font-weight   : 900;
    margin        : 10px auto;
    background    : #7AC144;
    color         : #FFFFFF;
    border-color  : transparent;
}

.pricing .btn:hover {
    background : #111111;
}

.pricing .pricing-top h3 {
    color       : #FFFFFF;
    font-weight : 400;
    text-align  : center;
    margin      : 15px 0;
    display     : inline-block;
    width       : 100%;
}

/* ======== SEQUENCE JS ========== */
.sequence-canvas h2 {
    font-family : 'Oswald', sans-serif;
    font-weight : 900;
    font-size   : 40px;
}

/*
-------------------------

    BOOTSTRAP THEMING

-------------------------
*/

/*
    NAV
*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background            : #FFFFFF;
    color                 : #111111;
    border-radius         : 0;
    -webkit-border-radius : 0;
    border-top            : 2px solid #7AC144;
    border-left           : none;
    border-right          : 1px solid #CCCCCC;
    padding               : 10px 15px;
}

.nav-tabs {
    border-bottom : 1px solid transparent;
    overflow      : hidden;
}

@media screen and (max-width : 440px) {
    .nav-tabs li {
        width : 30%;
    }
}

.nav-tabs > li > a {
    font-family   : 'Oswald', sans-serif;
    font-weight   : 400;
    font-size     : 14px;
    border-top    : 1px solid #CCCCCC;
    border-right  : 1px solid #CCCCCC;
    border-bottom : 1px solid transparent;
    border-left   : none;
    margin        : 0;
    border-radius : 0;
    background    : #FAFAFA;
    color         : #CCCCCC;
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap;
}

.nav-tabs > li.active:first-child > a:hover {
    border-left   : 1px solid #CCCCCC;
    border-bottom : 1px solid transparent;
}

.nav-tabs > li > a {
    border-bottom : 1px solid #CCCCCC;
}

.nav-tabs > li > a:hover {
    background   : #FFFFFF;
    border-top   : 1px solid #CCCCCC;
    border-right : 1px solid #CCCCCC;
    border-left  : none;
}

.nav-tabs > li:first-child > a,
.nav-tabs > li.active:first-child > a {
    border-left : 1px solid #CCCCCC;
}

.tab-content {
    border     : 1px solid #CCCCCC;
    padding    : 15px;
    margin-top : -2px;
}

/*
    SKILL BAR
*/
.skill-bar ul {
    list-style : none;
    padding    : 0;
}

.skill-bar ul li {
    height        : 35px;
    line-height   : 35px;
    width         : 100%;
    background    : #CCCCCC;
    position      : relative;
    margin-bottom : 15px;
}

.skill-bar ul li h5 {
    margin      : 0;
    color       : #3D8901;
    line-height : 35px;
    position    : absolute;
    text-shadow : 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.skill-bar ul li .bar {
    display      : inline-block;
    padding-left : 15px;
    height       : 100%;
    background   : #7AC144;
}

.skill-bar ul li span {
    position : absolute;
    top      : 0;
    right    : 20px;
    color    : #FFFFFF;
}

/*
    ICON TEXT BOX 
*/
.icon-text-box {
    border        : 1px solid #DDDDDD;
    padding       : 15px;
    margin-bottom : 8px;
    margin-top    : 7px;
}

.itb-icon {
    font-size  : 40px;
    display    : block;
    text-align : center;
}

.itb-title {
    font-size  : 16px;
    display    : block;
    text-align : center;
}

.itb-content {
    display       : block;
    text-align    : center;
    font-weight   : 300;
    font-size     : 16px;
    margin-top    : 10px;
    margin-bottom : 20px;
}

/*
    RESPONSIVE VIDEO
*/
.responsive-video iframe {
    border : 0;
}

/*
    ACCORDION
*/
.panel-group {
    border-left   : 1px solid #DDDDDD;
    border-right  : 1px solid #DDDDDD;
    border-bottom : 1px solid #DDDDDD;
}

.panel-group p {
    font-size : 16px;
}

.panel-group .panel {
    border        : 0;
    border-radius : 0;
    margin-top    : 0 !important;
}

.panel-heading {
    border-radius : 0;
    border-top    : 1px solid #DDDDDD;
}

/*
    MAP
*/
.map {
    height : 450px;
}

/*
    ALERTS
*/
/*.alert {
   border-radius: 0;
   padding: 20px;
   margin-bottom: 10px;
   border:none;
   color: #FFF;
   font-size: 16px;
}*/
.alert-dismissable .close {
    right       : -20px;
    top         : -20px;
    width       : 30px;
    height      : 30px;
    background  : #1A1E22;
    color       : inherit;
    opacity     : 1;
    text-shadow : none;
}

/*.alert-warning {
    background: #deb14d;
}*/
.alert-success {
    background : #70BC70;
}

.alert-info {
    background : #52ADDA;
}

/*.alert-danger {
    background: #c46868;
}*/
/*
    TOOLTIP
*/
.tooltip {
    font-size : 14px;
}

.tooltip-inner {
    padding       : 15px 15px;
    border-radius : 0;
    background    : #1A1E22;
}

.tooltip.in {
    opacity : 1;
    filter  : alpha(opacity=100);
}

.tooltip.top .tooltip-arrow {
    bottom           : 0;
    left             : 50%;
    margin-left      : -5px;
    border-top-color : #1A1E22;
    border-width     : 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
    border-left-color : #1A1E22;
}

.tooltip.right .tooltip-arrow {
    border-right-color : #1A1E22;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color : #1A1E22;
}

/*
    LABEL
*/
.label {
    font-size     : 13px;
    font-weight   : 300;
    padding       : 5px 12px;
    border-radius : 0;
}

.label-warning {
    background : #DEB14D;
}

.label-info {
    background : #52ADDA;
}

.label-success {
    background : #70BC70;
}

.label-danger {
    background : #C46868;
}

/*
    PROGRESS BAR
*/
.progress {
    height             : 25px;
    border-radius      : 0;
    background         : #EEEEEE;
    box-shadow         : none;
    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
}

.progress-bar {
    padding : 20px;
}

/*
    PANEL
*/
.panel {
    border-radius : 0;
}

.panel .panel-heading {
    border-radius : 0;
    padding       : 0;
}

.panel .panel-heading h3 {
    padding : 10px;
}

.panel .panel-heading h4 a {
    padding : 10px;
    display : inline-block;
    width   : 100%;
}

/*
    TABLE
*/
.table.table-bordered thead {
    background : #EEEEEE;
    color      : #666666;
}

.table.table-bordered thead tr th {
    font-weight    : 400;
    text-transform : uppercase;
}

/*
    FORM
*/
.form-control {
    border-radius : 0;
}

.form-control:focus {
    border-color       : #111111;
    -webkit-box-shadow : 0 0 2px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow    : 0 0 2px 0 rgba(0, 0, 0, 0.4);
    box-shadow         : 0 0 2px 0 rgba(0, 0, 0, 0.4);
}

/*
    BUTTON
*/
.btn {
    border-radius : 0;
    padding       : 8px 13px;
    margin-right  : 5px;
    outline       : 0;
    font-weight   : 700;
}

.btn-link {
    color           : #FFFFFF;
    text-decoration : underline;
}

.btn-link:hover {
    color : #DDAD02;
}

.btn-dark {
    background : #111111;
    color      : #FFFFFF;
}

.btn-dark:hover {
    color      : #FFFFFF;
    background : #444444;
}

/*
    WELL
*/
.well {
    border-radius      : 0;
    background         : #EEEEEE;
    border             : 1px solid #DDDDDD;
    box-shadow         : none;
    -moz-box-shadow    : none;
    -webkit-box-shadow : none;
}

/*
    PAGINATION
*/
.pagination {
    width         : 100%;
    background    : #EEEEEE;
    padding       : 6px;
    border-radius : 0;
}

.pagination .pag-prev a, .pagination .pag-next a {
    background : #7AC144;
    color      : #FFFFFF;
}

.pagination li.active a {
    background     : #CCCCCC;
    color          : #111111;
    pointer-events : none;
}

.pagination li a {
    border        : none;
    color         : #111111;
    font-size     : 12px;
    border-radius : 2px;
    margin        : 3px;
}

.pagination li a:hover {
    background : #CCCCCC;
    color      : #111111;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius : 2px;
    border-top-right-radius    : 2px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left               : 0;
    border-bottom-left-radius : 2px;
    border-top-left-radius    : 2px;
}

/*
    ICON
*/
.bs-glyphicons {
    overflow : hidden;
}

.bs-glyphicons-list {
    padding-left : 0;
    list-style   : none;
}

.bs-glyphicons .glyphicon {
    margin-top    : 5px;
    margin-bottom : 10px;
    font-size     : 24px;
}

.bs-glyphicons .glyphicon-class {
    display    : block;
    text-align : center;
    word-wrap  : break-word;
}

.bs-glyphicons li {
    float            : left;
    width            : 25%;
    height           : 115px;
    padding          : 10px;
    font-size        : 10px;
    line-height      : 1.4;
    text-align       : center;
    border           : 1px solid #FFFFFF;
    background-color : #F9F9F9;
}

/*
    SOCIAL ICON
*/
.social-icon {
    padding    : 0;
    text-align : inherit;
}

.social-icon li {
    list-style    : none;
    display       : inline-block;
    cursor        : pointer;
    margin-left   : 8px;
    margin-bottom : 8px;
}

.social-icon li:first-child {
    margin-left : 0;
}

.social-icon li a {
    display            : block;
    width              : 45px;
    height             : 45px;
    text-align         : center;
    font-size          : 22px;
    line-height        : 45px;
    color              : #FFFFFF;
    background         : #7AC144;
    -webkit-transition : all .5s ease-in-out;
    -moz-transition    : all .5s ease-in-out;
    -ms-transition     : all .5s ease-in-out;
    -o-transition      : all .5s ease-in-out;
    transition         : all .5s ease-in-out;
}

.social-icon li:hover a {
    transform         : rotateX(360deg);
    -ms-transform     : rotateX(360deg);
    /* IE 9 */
    -webkit-transform : rotateX(360deg);
    /* Safari and Chrome */
    -o-transform      : rotateX(360deg);
    /* Opera */
    -moz-transform    : rotateX(360deg);
    /* Firefox */
    color             : #FFFFFF;
    background        : #111111;
}

.social-icon li:hover a i {
    transform         : rotateY(360deg);
    -ms-transform     : rotateY(360deg);
    /* IE 9 */
    -webkit-transform : rotateY(360deg);
    /* Safari and Chrome */
    -o-transform      : rotateY(360deg);
    /* Opera */
    -moz-transform    : rotateY(360deg);
    /* Firefox */
}

/********************MENU DOPDOWN STYLE********************************/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus, .dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    text-decoration  : none;
    color            : #FFFFFF;
    background-color : #7AC144;
}

.dropdown-menu.select-language > li > a:hover {
    color : #333333;
}

.dropdown-submenu {
    position : relative;
}

.dropdown-submenu > .dropdown-menu {
    top                   : 0;
    left                  : 100%;
    margin-top            : 0;
    margin-left           : -1px;
    -webkit-border-radius : 0 6px 6px 0;
    -moz-border-radius    : 0 6px 6px 6px;
    border-radius         : 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display : block;
}

.dropdown-submenu > a:after {
    display           : block;
    content           : " ";
    float             : right;
    width             : 0;
    height            : 0;
    border            : solid transparent;
    border-width      : 5px 0 5px 5px;
    border-left-color : #CCCCCC;
    margin-top        : 5px;
    margin-right      : -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color : #FFFFFF;
}

.dropdown-submenu.pull-left {
    float : none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left                  : -100%;
    margin-left           : 10px;
    -webkit-border-radius : 6px 0 6px 6px;
    -moz-border-radius    : 6px 0 6px 6px;
    border-radius         : 6px 0 6px 6px;
}

/********************END MENU DOPDOWN STYLE********************************/
.product-info .mwst_info {
    display : none;
}

/**************STYLE FOR SELECT********************/
.inputselectHLD select {
    display            : block;
    width              : 100%;
    /*height: 34px;*/
    padding            : 6px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : #555555;
    background-color   : #FFFFFF;
    border             : 1px solid #CCCCCC;
    /*border-radius: 4px;*/
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.pdB_linkB a {
    color : #3D8901;
}

.select-wrapper .icon_mod {
    font-size : 3em;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color : #3D8901;
    color            : #FFFFFF;
}

/* ############# LOGIN/REGISTER OVERLAY end */
.inputtext {
    text-align : right;
}

.inputfield {
    display       : block;
    float         : left;
    width         : 212px;
    height        : 37px;
    font-size     : 14px;
    margin        : 0;
    padding       : 0 0 0 6px;
    /* IE7 / IE8 */
    height /*\**/ : 27px \9;
    /* IE7 / IE8 */
}

.zipcode {
    width : 90px;
}

.city {
    width : 104px;
}

.inputbutton {
    display : block;
    height  : 39px;
    border  : 0;
    margin  : 18px 0 0 0;
    outline : none;
    cursor  : pointer;
}

a.linkpwf {
    display         : inline-block;
    margin          : 10px 0 0 0;
    color           : #BBBBBB;
    text-decoration : underline;
}

a.linkpwf:hover {
    color : #333333;
}

.errorMessages {
    padding    : 12px 8px 8px 8px;
    margin     : 0 0 12px 0;
    border     : 4px solid #990000;
    background : #F1CECE;
    font-size  : 12px;
}

.inputHLDbox {
    margin  : 0 0 17px 0;
    padding : 2px;
    border  : 1px solid #D3D3D3;
}

.inputHLDhead {
    padding     : 12px 0 15px 18px;
    font-size   : 14px;
    font-weight : bold;
    color       : #4E4E4E;
    background  : url(images/boxes_accHEADbg.png) repeat-x 0 0;
}

.inputHLDinner {
    width  : 470px;
    margin : 0 auto;
}

.inputHLDinnerChangePass {
    width  : 700px;
    margin : 10px auto;
}

.inputHLD {
    float  : left;
    margin : 0 20px 14px 0;
}

.req_label {
    margin : 0 0 6px 0;
}

.req_label span {
    font-size   : 12px;
    font-weight : bold;
    color       : #990000;
}

.inputTXT {
    width  : 120px;
    margin : 0 0 4px 0;
}

.inputfieldHLD {
    width  : 260px;
    border : 1px solid #D4D4D4;
    margin : 0 15px 0 0;
}

.width_streed {
    width : 95%
}

.width_streed input {
    width : 100%;
}

.zipcodeHLD {
    width : 91px;
}

.cityHLD {
    width : 152px;
}

.inputcheckbox {
    float : left;
}

.inputcheckboxTXT span {
    padding : 0 0 0 7px;
}

.inputcheckboxTXT {
    float  : left;
    margin : 0 0 4px 0;

}

.inputselectHLD {
    width  : 210px;
    border : 1px solid #FFFFFF;
    margin : 0 2px 0 0;
}

.clearer {
    clear  : both;
    height : 0;
}

.formHTML5 .inputHLDbox input:required {
    background : #FFFFFF url(images/input_required.png) no-repeat 98% center;
    border     : 1px solid #CCCCCC;
}

.formHTML5 .inputHLDbox input:required:valid {
    background   : #FFFFFF url(images/input_valid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #5CD053;
    border-color : #28921F;
}

.formHTML5 .inputHLDbox input:focus:invalid {
    background   : #FFFFFF url(images/input_invalid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #D45252;
    border-color : #B03535
}

/* ############# LOGIN/REGISTER OVERLAY begin END*/
/*.messageStackError {
  color:#fff;
  padding:0 0 10px 0;
  background-color: #A60B0B;
}*/
form .alert table {
    border : 0;
}

/*****************MODIFY ADRESS USER ACCOUNT******************/
.modify_address {
    float : right;
}

.modify_address a,
a:hover {
    color : #CCCCCC;
}

.form-group select,
.form-group textarea,
.panel-body .col-xs-6 textarea {
    display            : block;
    width              : 100%;
    /*height: 34px;*/
    padding            : 6px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : #555555;
    background-color   : #FFFFFF;
    border             : 1px solid #CCCCCC;
    /*border-radius: 4px;*/
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.accountMarginBottom {
    margin-bottom : 20px;
}

.dropdown select {
    background         : transparent;
    border             : none;
    color              : #7AC144;
    -webkit-appearance : none;
    cursor             : pointer;
}