.currency a, .language a,
#nav a, #nav ul li a,
#search_dresscode input[type="submit"],
#footer_button,
.newsletter_footer_submit button,
.tabs div a,
.product-tabs a,
#shopping_cart_mini .button{
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}


#footer_button:hover{background-color:#999}


/*snow*/
.scene {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.layer:nth-child(2) { opacity: 1;}
.layer:nth-child(4) {
    opacity: 0.4;
    width: 110%;
    height: 110%;
    background-image: url(snowh.png), url(snow3q.png), url(snow2l.png);
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}
.layer:nth-child(5) {opacity: 1;}
.layer:nth-child(6) {opacity: 0.5;}
@keyframes hide-block{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes hide-block{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes site-slide{
  0%{
    background-position: 15px 0;
  }
  100%{
    background-position: 15px 100%;
  }
}
@-webkit-keyframes site-slide{
  0%{
    background-position: 15px 0;
  }
  100%{
    background-position: 15px 100%;
  }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}
@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

#scene{background-color: #262626}

.dark_color{background-color: #262626}

/*#header{background: none}*/
#footer_higher{margin-top: 0;padding-top: 11px}
.main{margin-top: 0;padding-top: 20px}
/*end snow*/