/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

@media only screen and (min-width : 1200px) {
    #slogan li {
        margin : 0 60px;
    }

    #nav ul, #nav div {
        min-width : 1100px
    }

}

@media only screen and (min-width : 960px) and (max-width : 1200px) {
    #select_top {
        float      : left;
        margin-top : 8px
    }

    #nav ul, #nav div {
        min-width : 870px
    }

}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width : 959px) {
    .product-view .product-img-box .product-image a {
        float : none;
    }

    .phone,
    #menu_custom_block {
        display : none;
    }

    #select_top_nav {
        display : block;
    }

    #nav_first {
        position : relative;
        left     : 0;
        top      : 0;
        width    : 185px;
        float    : left
    }

    #nav_first #nav_block_head {
        display : block
    }

    #nav_first .nav_block_dropdown {
        background-color : #2F2F2F;
        list-style       : none;
        margin           : 0;
        padding          : 10px 0 0 0;
        width            : 185px;
        display          : none;
        position         : absolute;
        top              : 36px;
        left             : 0;
        z-index          : 99999;
        display          : none
    }

    #nav_first .nav_block_dropdown li {
        padding : 0 10px;
        float   : none;
    }

    #nav_first .nav_block_dropdown a {
        border-bottom   : dotted 1px #515151;
        display         : block;
        outline         : none;
        padding         : 0 0 6px 0;
        line-height     : 18px;
        height          : auto;
        color           : #868686;
        text-decoration : none;
        text-transform  : none;
        font-size       : 12px
    }

    #nav_first .nav_block_dropdown a:hover {
        color           : #FFFFFF;
        text-decoration : none !important
    }

    #nav_first .nav_block_dropdown li.last a {
        border-bottom : none;
    }

    #nav_first .visible_on {
        display : block
    }

    #slogan li {
        margin : 0 15px;
    }

    .product-view .product-shop .pinit_button,
    .product-view .product-shop .twitter_button,
    .product-view .product-shop .right_info .facebook {
        float : left !important;
    }

    .product-view .product-shop .left_info {
        width : 100%

    }

    .product-view .product-shop .right_info {
        width : 100%;
        float : none;
    }

    #nav ul, #nav div {
        width : auto;
    }

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width : 768px) and (max-width : 959px) {
    .product-view .product-img-box .product-image a {
        float : none;
    }

    .product-view .product-shop .email_size_links {
        margin-top : 18px
    }

    .product-view .product-shop .pinit_button {
        margin-left  : -9px;
        margin-right : 12px
    }

    .product-view .product-shop .right_info .socialsplugins_wrapper {
        margin-top : 0
    }

    .product-view .product-shop .email-friend, .product-view .product-shop .size-guide {
        margin-top : 0
    }

    .product-view .product-shop .pinit_button,
    .product-view .product-shop .twitter_button,
    .product-view .product-shop .right_info .facebook {
        float : left;
    }

    .product-view .product-shop .price-box {
        float : left;
        width : 100%
    }

    .product-view .product-shop .add-to-box {
        clear : both;
        width : 100%
    }

    .product-view .product-shop .right_info .socials_clearer {
        clear : none;
    }

    .product-options {
        margin-top : 0
    }

    .product-options-bottom .add-to-cart {
        width : 45%
    }

    #menu_custom_block {
        display : none;
    }

    .newsletter_footer_input {
        width : 150px;
    }

    .newsletter_footer_input input {
        padding : 6px 0 5px 12px;
        width   : 138px;
    }

    #nav ul, #nav div {
        width : auto;
    }

    #social_icons a, #payment_services span {
        margin-right : 3px;
    }

    #nav ul, #nav div {
        min-width : 605px
    }

    .product-view .product-shop .dresscode_product_custom_block {
        width         : auto;
        float         : none;
        clear         : both;
        margin-bottom : 20px
    }

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width : 767px) {
    .product-view .product-img-box .product-image a, .product-view .product-img-box {
        float : none;
    }

    #slider_top {
        height : 235px;
    }

    .tabs {
        margin         : 5px 0 0 0;
        padding-bottom : 70px;
    }

    .product-view .product-shop .pinit_button,
    .product-view .product-shop .twitter_button,
    .product-view .product-shop .right_info .facebook {
        float : left;
    }

    .product-options {
        margin-top : 0
    }

    #menu_custom_block {
        display : none;
    }

    #nav ul, #nav div {
        width : auto;
    }

    .product-view .product-shop .dresscode_product_custom_block {
        width         : auto;
        float         : none;
        clear         : both;
        margin-bottom : 20px
    }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width : 480px) and (max-width : 767px) {

    .products-grid li.item_3cols_1 {
        clear : none;
    }

    .products-grid li.item_2cols_1 {
        clear : both;
    }

    .product-view .product-img-box .product-image a {
        float : none;
    }

    .callbacks_nav {
        width      : 40px;
        height     : 75px;
        background : transparent url(/templates/t_0737/images/nav1_1.png) no-repeat left top;
    }

    .padding-2 {
        padding-top : 10px;
    }

    .shopping_cart > .shopping_cart_b > a {
        padding-right : 10px;
    }

    #search, #search_dresscode {
        width : 200px;
    }

    #search input[type=text], #search_dresscode input[type=text] {
        width : 140px;
    }

    .cloud-zoom-loading, .mousetrap, #cloud-zoom-big, .cloud-zoom-lens, .cloud-zoom-gallery {
        display : none !important
    }

    .sorter .limiter {
        text-align : left;
        clear      : both;
    }

    .sorter .sort-by, .sorter .view-mode {
        margin-bottom : 5px !important;
    }

    .product-tabs li {
        display : block;
    }

    .product-tabs li {
        margin-right : 0
    }

    .cart .title-buttons .checkout-types {
        float : none;
        clear : both
    }

    .cart .title-buttons .checkout-types li {
        margin : 5px 0 0
    }

    .tags-list-devices {
        display : block;
    }

    .tagcloud_flash {
        display : none;
    }

    .product-view .product-shop .pinit_button,
    .product-view .product-shop .twitter_button,
    .product-view .product-shop .right_info .facebook {
        float : left;
    }

    .product-view .box-up-sell .products-grid {
        margin-left  : 0;
        margin-right : 0
    }

    .product-view .product-shop .right_info {
        float       : left;
        margin-left : 0
    }

    .col1-layout .product-view .product-shop {
        margin-left : 0;
    }

    .product-view .product-shop .pinit_button {
        margin-right : 12px
    }

    .es-nav span {
        right : 41px;
    }

    .es-nav span.es-nav-next {
        right : 5px;
    }

    .tabs {
        padding-bottom : 41px;
    }

    .product-view .product-shop .price-box {
        float : left;
        width : 100%
    }

    .product-view .product-shop .add-to-box {
        clear : both;
        width : 100%
    }

    .product-view .product-shop {
        padding-bottom : 0
    }

    .product-options {
        margin-top : 0
    }

    .product-options-bottom .add-to-cart {
        width : 45%
    }

    #menu_custom_block {
        display : none;
    }

    #nav ul, #nav div {
        width : auto;
    }

    .product-view .product-shop .dresscode_product_custom_block {
        width         : auto;
        float         : none;
        clear         : both;
        margin-bottom : 20px
    }

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width : 479px) {
    .cms-index-index #slider_top,
    #menu_custom_block,
    .category_desc_in_menu {
        display : none !important;
    }

    .product-view .product-img-box .product-image a {
        float : none;
    }

    .products-list .product-shop button.button {
        float : left;
    }

    .nav-container {
        text-align : left
    }

    .nav-container #menu_block_head {
        display : block
    }

    .nav-container .nav_block_head_field {
        width            : 250px;
        padding-left     : 10px;
        background-color : #000000;
        float            : left;
        height           : 36px;
        color            : #868686;
        outline          : none;
        text-decoration  : none;
        line-height      : 36px;
        cursor           : pointer
    }

    .nav-container .menu_block_head_button {
        background : url(/templates/t_0737/images/select-icons1.png) 10px 15px no-repeat #000000;
        display    : block;
        float      : left;
        height     : 36px;
        outline    : none;
        width      : 30px;
        cursor     : pointer
    }

    .nav-container .menu_block_dropdown {
        background-color : #000000;
        list-style       : none;
        margin           : 0;
        padding          : 15px 0 0 0;
        width            : 290px;
        display          : none;
        /*position:absolute;*/
        top              : 36px;
        left             : 0;
        z-index          : 99999;

    }

    .nav-container .menu_block_dropdown #nav {
        padding : 0 10px;
    }

    .nav-container .menu_block_dropdown #nav li {
        display     : block;
        border-left : none
    }

    .nav-container .menu_block_dropdown #nav li a {
        display         : block;
        outline         : none;
        line-height     : 18px;
        height          : auto;
        color           : #FFFFFF;
        text-decoration : none;
        text-transform  : none;
        font-size       : 12px;
        float           : none;
        padding         : 6px 0 6px 10px;
        border-bottom   : dotted 1px #515151;
        font-weight     : bold
    }

    ul#nav a.image-link span {
        padding : 0;
        margin  : 0;
        display : none
    }

    .nav-container .menu_block_dropdown #nav li a.image-link {
        padding    : 0;
        margin     : 0;
        border     : none;
        background : none
    }

    .nav-container .menu_block_dropdown #nav li.over a, .nav-container .menu_block_dropdown #nav a:hover {
        background       : none #FFFFFF;
        color            : #000000
    }

    .nav-container .menu_block_dropdown #nav ul, .nav-container .menu_block_dropdown #nav div {
        padding    : 0;
        margin     : 0;
        background : none;
        position   : relative;
        width      : 100%;
        top        : 0;
        left       : 0;
        border     : none

    }

    .nav-container .menu_block_dropdown #nav li ul span {
        color : #FFFFFF
    }

    .nav-container .menu_block_dropdown #nav li ul li a span {
        margin-left : 10px
    }

    #nav li .shown-sub ul.shown-sub,
    #nav li .shown-sub li div.shown-sub,
    .nav-container .menu_block_dropdown #nav ul ul {

        left     : 0;
        width    : auto;
        top      : 0;
        position : static;

    }

    #nav ul, #nav div {
        -moz-box-shadow    : none;
        -webkit-box-shadow : none;
        box-shadow         : none
    }

    #nav ul.list_in_column ul li {
        border-top : none
    }

    .nav-container .menu_block_dropdown #nav ul li a:hover {
        text-decoration : none;
        color           : #000000 !important;
        background      : none
    }

    .nav-container .menu_block_dropdown #nav li ul a:hover span {
        color : #000000 !important;
    }

    .nav-container .visible_on {
        display : block
    }

    .tabs li {
        margin-bottom : 3px;
    }

    .tabs li a {
        padding : 3px;
    }

    .product-tabs li {
        margin-right : 0
    }

    .padding-2 {
        padding : 10px 0;
        margin  : 0;
    }

    .shopping_cart {
        float      : left;
        margin-top : 8px;
    }

    .shopping_cart > .shopping_cart_b > a {
        padding-right : 20px;
    }

    .cloud-zoom-loading, .mousetrap, #cloud-zoom-big, .cloud-zoom-lens, .cloud-zoom-gallery {
        display : none !important
    }

    .sorter .limiter {
        text-align : left;
        clear      : both;
    }

    .sorter .sort-by, .sorter .view-mode {
        margin-bottom : 5px !important;
    }

    .product-tabs li {
        display : block;
    }

    .cart .title-buttons .checkout-types {
        float : none;
        clear : both
    }

    .cart .title-buttons .checkout-types li {
        margin : 5px 0 0
    }

    .my-wishlist .buttons-set button.button {
        clear         : both;
        margin-bottom : 5px;
        float         : left;
    }

    #review-buttons-container button.button {
        float : none;
        clear : both;
    }

    #opc-review .buttons-set {
        border      : none;
        padding     : 10px 0 0;
    }

    .my-account .title-buttons h1 {
        float         : none;
        margin-right  : 0;
        margin-bottom : 10px
    }

    .my-account .title-buttons {
        text-align : left
    }

    button.button {
        line-height    : 14px;
        padding-top    : 3px;
        padding-bottom : 3px
    }

    .product-view .product-shop .pinit_button,
    .product-view .product-shop .twitter_button,
    .product-view .product-shop .right_info .facebook {
        float : left;
    }

    .product-view .box-up-sell .products-grid {
        margin-left  : 0;
        margin-right : 0
    }

    .col1-layout .product-view .product-shop {
        margin-left : 0;
    }

    .product-view .product-shop .pinit_button {
        margin-right : 12px
    }

    .es-nav span {
        right : 36px;
    }

    .es-nav span.es-nav-next {
        right : 0;
    }

    .tabs {
        padding-bottom : 41px;
    }

    .product-view .product-shop .price-box {
        margin-top : 10px
    }

    .product-options {
        margin-top : 0
    }

    .product-options-bottom .add-to-cart {
        width : 80%
    }

    .product-view .product-shop .dresscode_product_custom_block {
        width         : auto;
        float         : none;
        clear         : both;
        margin-bottom : 20px
    }

    #nav ul, #nav div {
        width : auto;
    }

    ul#nav > li.level0 > ul.level0 > li {
        width : 270px
    }

}


