/* SLIDER STYLES */

.sns-slideshow-wrap{
	position:relative;
	overflow:hidden;
	margin:0 auto;
	/*background:url("../images/slideshow-bg.jpg") no-repeat center top;*/
}
.sns-slideshow-wrap .slider{
	position:relative;
	max-swidth:100%;
	margin:0 auto;

}
.sns-slideshow-wrap .next,
.sns-slideshow-wrap .prev {
    background: url("../images/fs.prevnext.png") no-repeat left top;
    left: 7px; top: 50%; margin-top: -22px;
    height: 44px; width: 44px; z-index: 100;
    cursor: pointer; position: absolute; display: none;
}
.sns-slideshow-wrap:hover .next,
.sns-slideshow-wrap:hover .prev{display: block;}

.sns-slideshow-wrap .prev:hover{background-position: -55px top;
	background-image: url("../images/fs.prevnext.png");
}
.sns-slideshow-wrap .next{right: 7px; left: auto;
	background-position: -165px top;background-image: url("../images/fs.prevnext.png");
}
.sns-slideshow-wrap .next:hover{background-position: -110px top;
	background-image: url("../images/fs.prevnext.png");
}

.fs-pager-wrapper a, .fs-custom-pager-wrapper a{
	background:url("../images/fs.pager.png") no-repeat scroll 0 -14px;
}
.fs-pager-wrapper .active, .fs-custom-pager-wrapper .active {
    background: url("../images/fs.pager.png") no-repeat scroll 0 0;
}
@media only screen and (min-width: 1000px){
	.sns-slideshow-wrap .slider{
		/*width:1000px;*/
	}
}

@media only screen and (min-width: 1440px){
	.sns-slideshow-wrap .slider{
		/*width:1440px;*/
	}
}

/* ELEMENT STYLES */

.sns-slideshow-wrap p{
	position:absolute;
	top:-200px;
	z-index:8000;
	padding:0 0; margin: 0 0;
	font-size:14px;
	line-height:100%;
	color:#fff;
}
.sns-slideshow-wrap .claim{
	line-height:100%;
	font-size:34px;
	text-transform: uppercase; font-weight: normal; color: #000;
}
.sns-slideshow-wrap .subclaim{
	line-height:100%;
	font-size:34px;
	text-transform: uppercase; font-weight: normal; color: #666;
}
@media (min-width: 768px){
	.sns-slideshow-wrap .teaser{line-height: 18px !important;}
}
.sns-slideshow-wrap .teaser{
	color: #383737;
	padding:0;
	font-size:12px;
}

.sns-slideshow-wrap .small{
   width:250px;
   padding-left:0; padding-right:0px;
   text-align:center;
}
.sns-slideshow-wrap .large{
   width:530px;
}
.sns-slideshow-wrap .buttons-action{
	display: block; margin-top: 25px;
}
.sns-slideshow-wrap .buttons-action .button{
	padding: 10px 25px; text-transform: uppercase;font-size: 18px; color: #FFF; background: #000;
}
.sns-slideshow-wrap .align-left{text-align: left;}
.sns-slideshow-wrap .align-right{text-align: right;}
.sns-slideshow-wrap .align-center{text-align: center;}

.fraction-slider .active-slide{z-index: 1}
.sns-slideshow-wrap .fraction-slider .fs_obj{z-index: 99;}