* { background:none !important;  }

/* Resets */
* { min-height:0 !important;text-align:left !important; }
body { background:#fff; font-size:9pt; margin:15px; }
a, a:hover { color:#2976C9 !important; }
th, td { color:#2f2f2f !important; }
td { border-color:#ccc !important; }
hr{ visibility:visible; height:1px; margin:20px 0; }

/* Common Elements */
.button-set { display:none; }
.col3-set *, .col4-set * { float:none !important; width:auto !important; }
.form-button { display:none; }
.head { text-align:left; }
.head *, .page-head *, .page-head-alt * { display:block !important; float:none; }

.pager, .view-by { display:none; }
.actions { display:none !important; }
.content, .box { padding:5px 0 5px 0 !important; }

/* Layout */
#nav, #yt_mainnav{ display:none; }
.header-top-container { border:0; }
.quick-access { float:none; display:none; }
.side-col { float:none !important; }
.side-col .box { display:none; }
#yt_content, .col-main{ width:auto !important; float:none !important; margin:0 !important; }
#yt_footer { margin-top:2em; border-top:1px solid #ccc; }
#yt_footer .ytm-info ul { display:none; border:0; }

/* Shop Elements */
.count { color:#2f2f2f !important; }
.ratings, .rating-box { display:none !important; }
.step-count { display:inline !important; }
.base-mini .head * { padding:0; }

/* Shop Pages */
#track1 { display:none; }
ul.more-views { margin-bottom:10px; }
ul.more-views * { display:inline !important; }
.product-info { float:none !important;  width:auto !important;}
.add-to-box { display:none; }
.checkout-progress { padding:0; margin:10px 0 !important;}
.checkout-progress * { display:inline !important; padding:0 !important; padding-right:10px !important; }
.listing-type-list .listing-item { padding:10px 0 10px 0; border-top:1px dashed #ddd; }
.one-page-checkout .active .step-count { color:#2f2f2f; }
.login-box td { border-bottom:0; }
.shipment-count { color:#2f2f2f; }
.grand-total { background:none !important; color:#2f2f2f; }
p.grand-total { padding-right:0; }
.account-side{ border:0; width:auto !important;}
.account-side .box { display:block !important; }
.account-box .head h4 { background:none; padding-left:0; }
.account-box .product-images { width:auto; }
.account-box .product-details { margin:0; }
table.data-table {width:90% !important;}
body.page-popup .data-table td, body.page-popup .data-table th { border-right:1px solid #D9DDE3 !important; border-bottom:1px solid #D9DDE3 !important; }
body.page-popup .data-table th.last, body.page-popup .data-table td.last { border-right:0 !important; }
body.page-popup .data-table tfoot td { border-bottom:none !important; }
body.page-popup .data-table td, body.page-popup .data-table th { border-color:#bbb; }
.page-popup h1#logo {  display:block; margin-bottom:10px; }
.a-right {text-align: right !important;}

