
.sns-megamenu-wrap.horizontal-menu {
    margin   : 0 auto;
    display  : block;
    position : relative;
    clear    : both;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav > li {
    float      : left;
    text-align : center;
    position   : static;
    border     : none;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .mega-content-wrap {
    margin         : 0 auto;
    top            : -9999em;
    position       : absolute;
    text-align     : left;
    z-index        : 999;
    border-top     : 1px solid #EAEAEA;
    border-bottom  : 4px solid #606060;
    padding-top    : 10px !important;
    padding-bottom : 20px !important;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav li.level0 .mega-content-wrap .megamenu-col.have-spetitle > .mega-title span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav ul li .mega-content-wrap {

    position : relative;

    z-index  : 999;

}

.sns-megamenu-wrap.horizontal-menu .mega-nav .mega-content-wrap:before {
    background  : #FFFFFF;
    content     : "";
    border-left : 1px solid #EAEAEA;
    position    : absolute;
    left        : 0;
    top         : 0;
    height      : 100%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .mega-content-wrap:after {
    background   : #FFFFFF;
    content      : "";
    border-right : 1px solid #EAEAEA;
    position     : absolute;
    right        : 0;
    top          : 0;
    height       : 100%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav li:hover .mega-content-wrap {
    top : 40px;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav li .mega-content-wrap.align-right {
    left  : auto;
    right : 0;
}

.megamenu-col .mega-title a.active {
}

.megamenu-col .mega-title span {
    padding : 3px 0;
    display : block
}

.megamenu-col.have-spetitle > .mega-title {
    font-size      : 150%;
    text-transform : none;
    padding        : 12px 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.megamenu-col.level3 > .mega-title span {
    padding : 5px 5px;
    display : block;
}

.have-icon .menu-title {
    padding-left : 30px;
}

.menu-description {
    display        : block;
    font-family    : arial, sans-serif;
    font-size      : 10px;
    text-transform : none;
    line-height    : normal;
}

/*-------------------------------------- Columns Sizes ---------------------------------------- */
/*
.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-1col {width: 8.3333%; padding: 0 0;}
.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-2col {width: 16.6666%; padding: 0 0;}
.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-3col {width: 25%; padding: 0 0;}
.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-4col {width: 33.3333%; padding: 0 0;}
.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-5col {width: 41.6666%; padding: 0 0;}
.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-6col {width: 50%;padding: 0 0;}
.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-7col {width: 58.3333%;padding: 0 0;}
.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-8col {width: 66.6666%;padding: 0 0;}
.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-9col {width: 75%;padding: 0 0;}
.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-10col {width: 83.3333%;padding: 0 0;}
.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-11col {width: 91.6666%;padding: 0 0;}
.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-12col {width: 100%;padding: 0 0;}
*/
.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-1col {
    width   : 6.3333%;
    padding : 0 1%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-2col {
    width   : 14.6666%;
    padding : 0 1%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-3col {
    width   : 30%;
    padding : 0 1%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-4col {
    width   : 31.3333%;
    padding : 0 1%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-5col {
    width   : 39.6666%;
    padding : 0 1%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-6col {
    width   : 48%;
    padding : 0 1%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-7col {
    width   : 56.3333%;
    padding : 0 1%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-8col {
    width   : 64.6666%;
    padding : 0 1%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-9col {
    width   : 73%;
    padding : 0 1%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-10col {
    width   : 81.3333%;
    padding : 0 1%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-11col {
    width   : 89.6666%;
    padding : 0 1%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-12col {
    width   : 98%;
    padding : 0 1%;
}

.sns-megamenu-wrap.horizontal-menu .mega-nav .megamenu-col {
    background : #FFFFFF;
    float      : left;
    left: 20px;
}

.level1 {
    padding: 10px 15px;
}

