/*------ template stylization ----------------------------------------------------------------------------------------*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #6A6A6A;
    overflow-x: hidden;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input, textarea, button {
    outline: none;
    resize: none;
}

/*========= Links =============*/
a {
    color: #1B1B1B;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    color: #1F97FF;
    text-decoration: none;
}

a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

a:visited {
    outline: none;
    border: none;
    text-decoration: none;
}

/*========== headings, text ===============*/

.h2indent {
    margin: 42px 0 27px 0;
}

.h2indent_1 {
    margin: 25px 0 27px 0;
}

.h2indent_2 {
    margin: 54px 0 27px 0;
}

.indent_null {
    margin: 0 0 20px 0;
}

.heading-h4 {
    text-transform: uppercase;
    font-size: 18px;
    layout-flow: 20px;
    font-weight: 600;
    padding: 6px 0 27px;
}

h5 a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*=========== Basic classes and elements =============*/

#content ul.slides {
    list-style: none;
    padding-left: 0;
}

#product_list ul.v_index {
    list-style: none;
}

.dis-block {
    display: block;
}

.left-0 {
    margin-left: 0 !important;
}

.last-mbot {
    margin-bottom: 0 !important;
}

.wrapper,
.extra-wrap,
.wrapper-extra {
    overflow: hidden;
}

.fleft {
    float: left !important;
}

.fright {
    float: right !important;
}

.inner_color {
    background-color: #FFFFFF;
}

.overflow {
    overflow: hidden;
}

.color1 {
    color: #1F97FF;
}

.pad-top {
    padding-top: 15px;
}

.pad-top2 {
    padding-top: 29px;
}

.pad-top3 {
    padding-top: 34px;
}

/*================ DROPDOWN MENU MULTILEVEL ==================*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #CCCCCC;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #FFFFFF;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*============== DROPDOWN MENU MULTILEVEL =================END*/

/*************************
*******CHECKOUT PAGE******
**************************/
.warenkorb_del_item:after {
    content: "\f014";
    font-family: FontAwesome;
    font-size: 15px;
    color: #262626;
}

.warenkorb_rem_item:before {
    content: "\f0d9";
    font-family: FontAwesome;
    font-size: 40px;
    color: #262626;
    vertical-align: middle;
}

.warenkorb_add_item:after {
    content: "\f0da";
    font-family: FontAwesome;
    font-size: 40px;
    color: #262626;
    vertical-align: middle;
}

.tableMAIN {
    width: 100%;
    margin-bottom: 20px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #D3D6DB;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tableMAIN th, .tableMAIN td {
    padding: 8px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
}

.pdB img {
    height: 100px;
}

.productListing-heading {
    background-color: #F6F7F8;
    border-bottom: 1px solid #E9EAED;
    color: #6A7480;
    font-weight: bold;
}

.productListing-even td,
.productListing-odd td {
    border-bottom: 1px solid #ECECEC;
}

.productListing-data td {
    border: none;
}

ul.unstyle {
    list-style: none;
    font-size: 13px;
}

ol.steps {
    list-style: none;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
    line-height: 20px;
    margin: 20px 0;
}

ol.steps li {
    list-style: none;
    text-align: center;
    color: #999999;
    background: #EEEEEE;
    position: relative;
    margin-left: 43px;
}

ol.steps li:after {
    position: absolute;
    top: 50%;
    left: 100%;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border: 19px solid transparent;
    border-left-color: #EEEEEE;
    margin-top: -19px;
}

ol.steps li:first-child {
    margin-left: 0;
}

ol.steps li:first-child span {
    padding: 9px;
}

ol.steps li:first-child span:after {
    border: none;
}

ol.steps li:last-child:after {
    border-width: 0;
}

ol.steps li span {
    display: block;
    padding: 9px 28px 9px 9px;
}

ol.steps li span:after {
    position: absolute;
    top: 50%;
    right: 100%;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border: 19px solid #EEEEEE;
    border-left-color: transparent;
    margin-top: -19px;
}

ol.steps > li {
    float: left;
    width: 22%;
}

ol.steps li.current {
    background: #262626;
    width: 22.3%;
}

ol.steps li.current a {
    color: #FFFFFF;

}

ol.steps li.current:after {
    border-left-color: #262626;
}

ol.steps li.current span:after {
    border-color: #262626;
    border-left-color: transparent;
}

ol.steps li.done a {
    color: #262626;
}

.checkout-shipping-textarea textarea {
    width: 98%;
}

.checkout-payment-textarea textarea {
    width: 98%;
}

input[name='gv_redeem_code'] {
    width: 95%;
}

.infoBox td {
    vertical-align: top;
}

.cartcount_inputs {
    width: 60px;
    text-align: center;
    margin-bottom: 0 !important;
}

.total-amount-shopping_cart {
    border-bottom:1px solid #000;
    font-style:italic;
}

.catLevel_0_on {
    background-color: #262626;
    /*background-color: #3F3F3F; //#2E2E2E;*/
}

.pdC td,
.block-privacypolicy ul.custom-block {
    padding: 0;
}

.pdC a:hover, .pdA a:hover {
    text-decoration: none;
}

.checkout-confirmation-image-cell {
    /*max-width: 100px;*/
    max-height: 150px;
}

.table-confirmation-checkout td {
    vertical-align: middle !important;
    text-align: center;
}

.table-confirmation-checkout .price-unit, .table-confirmation-checkout .price-total {
    white-space: nowrap;
}

.price .mwst_info {
    display: none;
}

#product .price .mwst_info {
    color: #000000;
    font-size: 11px;
    margin-top: -10px;
    display: block;
    line-height: initial;
}

#product .price {
    font-weight: bold;
}

.blog-description h3 {
    font-weight: bold;
}

.accountMarginBottom {
    margin-bottom: 50px;
}

.alert_checkout_payment {
    z-index: 999;
    position: absolute;
    /*width: 80%;*/
    /*height: 30px;*/
    font-size: 17px;
    padding-top: 20px;
}

.panel-body table .main input,
.form_tem .logradioHLD input[type="radio"],
.content-wrapper .inputHLDinner input[type="radio"] {
    margin-bottom: 6px;
}

.panel-body table .main select,
.form_tem .inputHLD select {
    display: block;
    float: left;
    width: 234px;
    font-size: 14px;
    cursor: pointer;
}

.model-product-info {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px
}

/*======== LOGIN/REGISTER end =============*/
.inputtext {
    text-align: right;
}

.inputfield {
    display: block;
    float: left;
    width: 223px;
    height: 37px;
    font-size: 14px;
    margin: 0;
    /* IE7 / IE8 */
    height /*\**/: 27px \9;
    padding /*\**/: 10px 0 0 6px \9;
    /* IE7 / IE8 */
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    padding: 4px 10px !important;
    -webkit-transition: all 0.2s ease-out !important;
    -moz-transition: all 0.2s ease-out !important;
    -o-transition: all 0.2s ease-out !important;
    transition: all 0.2s ease-out !important;
    color: #C8C8C8 !important;
}

.inputfield:focus {
    color: #000000 !important;
}

.general_inputs,
.inputfield {
    background-color: #F0F0F0;
    display: block;
    float: left;
    width: 234px;
    height: 37px;
    font-size: 14px;
    margin: 0;
    /* IE7 / IE8 */
    height /*\**/: 27px \9;
    padding /*\**/: 10px 0 0 6px \9;
    /* IE7 / IE8 */
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    padding: 4px 10px !important;
    -webkit-transition: all 0.2s ease-out !important;
    -moz-transition: all 0.2s ease-out !important;
    -o-transition: all 0.2s ease-out !important;
    transition: all 0.2s ease-out !important;
    color: #696763 !important;
    border: 1px solid #CCCCCC;
}

.general_inputs:focus,
.inputfield:focus {
    color: #000000 !important;
}

.zipcode {
    width: 105px;
}

.city {
    width: 120px;
}

.inputbutton {
    display: block;
    height: 39px;
    border: 0;
    margin: 18px 0 0 0;
    outline: none;
    cursor: pointer;
}

select.validate-custom {
    background-color: #f0f0f0;
    padding: 8px;
    border: 1px solid #ccc;
    width: 205px;
}

a.linkpwf {
    display: inline-block;
    margin: 10px 0 0 0;
    color: #BBBBBB;
    text-decoration: underline;
}

a.linkpwf:hover {
    color: #333333;
}

.errorMessages {
    padding: 12px 8px 8px 8px;
    margin: 0 0 12px 0;
    border: 4px solid #990000;
    background: #F1CECE;
    font-size: 12px;
}

.logradioHLD {
    display: inline-flex;;
}

.inputHLDbox {
    margin: 0 0 17px 0;
    padding: 2px;
    border: 1px solid #D3D3D3;
}

.inputHLDhead {
    padding: 12px 0 15px 18px;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #262626;
}

.inputHLDinner {
    width: 510px;
    margin: 10px auto;
}

.inputHLDinnerChangePass {
    width: 765px;
    margin: 10px auto;
}

.inputHLD {
    float: left;
    margin: 0 20px 14px 0;
}

.req_label {
    margin: 0 0 6px 0;
}

.req_label span {
    font-size: 12px;
    font-weight: bold;
    color: #990000;
}

.inputTXT {
    width: 100%;
    margin: 0 0 4px 0;
}

.inputfieldHLD {
    width: 260px;
    border: 1px solid #D4D4D4;
    margin: 0 15px 0 0;
}

.width_streed {
    width: 96%
}

.width_streed input {
    width: 100%;
}

.zipcodeHLD {
    width: 91px;
}

.cityHLD {
    width: 152px;
}

.inputcheckbox {
    float: left;
}

.inputcheckboxTXT span {
    padding: 0 0 0 7px;
}

.inputcheckboxTXT {
    float: left;
    margin: 0 0 4px 0;

}

.inputselectHLD {
    width: 210px;
    /*border: 1px solid #FFFFFF;*/
    margin: 0 2px 0 0;
}

.clearer {
    clear: both;
    height: 0;
}

.formHTML5 .inputHLDbox input:required {
    background: #F0F0F0 url(images/input_required.png) no-repeat 98% center;
    border: 1px solid #CCCCCC;
}

.formHTML5 .inputHLDbox input:required:valid {
    background: #FFFFFF url(images/input_valid.png) no-repeat 98% center;
    border-color: #28921F;
}

.formHTML5 .inputHLDbox input:focus:invalid {
    background: #FFFFFF url(images/input_invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #D45252;
    border-color: #B03535
}

/*/+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                        HEADER ELEMENTS STYLE BEGIN
======================================================================================================================*/
header {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
    height: auto;
    position: relative;
    z-index: 20;
}

header .header_top > .container {
    padding: 15px 0;
}

.panel {
    border-top: 3px solid #1F97FF;
    background: #F0F0F0;
    position: relative;
    z-index: 1001;
    margin-bottom: 0;
}

/*top panel ==========================================================================================================*/
header .panel {
    padding: 8px 0 4px;
    border-radius: 0;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.padding-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/*top-menu*/
#login-box {
    margin: 0 !important;
    border: none;
    min-height: 15px !important;
    background: #F0F0F0;
}

#login-box .navbar-collapse.in {
    overflow-y: inherit;
}

.navbar-default .navbar-collapse#top-menu {
    border: none;
    position: absolute;
}

#login-box button.navbar-toggle {
    padding: 0;
    background: none;
    border: none;
    margin: 0;
    float: left;
}

.header_top {
    background: #F9F9F9;
    height: auto;
    width: 100%;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;
}

.list-panel {
    float: left;
    display: block;
    list-style: none;
    margin: 0 0 0 -8px;
}

.list-panel li {
    float: left;
    border-left: 2px solid #A0A0A0;
    font-size: 12px;
    line-height: 12px;
    padding: 0 8px;
}

.list-panel li:first-child {
    border-left: none;
}

.list-panel li a:hover {
    color: #1F97FF !important;
}

/*top menu=END*/
/*language*/
.icon {
    margin: 0 4px 0 0;
    display: inline-block;
}

.block_language {
    color: #848484;
    font-size: 12px;
    float: right;
    list-style: none;
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    display: inline-flex;
    height: 12px;
    top: -8px
}

ul.block_language > li > ul {
    top: 200%;
}

.block_language li.dropdown a.dropdown-toggle {
    margin-right: 10px;
}

.block_language li {
    margin-left: 5px;
}

#drop1 {
    padding: 0 !important;
    display: inline-block;
}

/*language=END*/
/*curriences*/
#drop-currencies .btn.dropdown-toggle.selectpicker.btn-default {
    background: #F0F0F0;
    border: none;
    font-size: 12px;
    padding: 0 !important;
    display: inline-block;
    top: -1px;
}

#drop-currencies > div > div > ul > li > a > span.glyphicon.glyphicon-ok.check-mark {
    display: none;
}

#drop-currencies > div > div.dropdown-menu {
    border: none;
    margin: 0;
    padding: 0;
}

#drop-currencies > div > div > ul {
    margin-top: 5px;
    left: -63%;
}

#drop-currencies > div > button > span.glyphicon.glyphicon-chevron-down {
    font-size: 9px;
    opacity: 0.5;
}

#drop-currencies > div.btn-group.bootstrap-select.open.dropdown-toggle {
    box-shadow: none;

}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .125);
}

#drop-currencies > div > button:hover {
    color: #428BCA;
}

/*curriences=END*/
/*===================buttons======================*/
.btn-large {
    display: inline-block;
    font-size: 26px;
    line-height: 1em;
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: #FFFFFF;
    position: relative;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    background-color: #282828;
    background-image: -moz-linear-gradient(top, #373737, #121212);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#373737), to(#121212));
    background-image: -webkit-linear-gradient(top, #373737, #121212);
    background-image: -o-linear-gradient(top, #373737, #121212);
    background-image: linear-gradient(to bottom, #373737, #121212);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff373737', endColorstr='#ff121212', GradientType=0);
    border-top: 1px solid #6E6E6E;
    border-bottom: 1px solid #121212;
    padding: 16px 38px;
    z-index: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.btn-large:hover {
    text-decoration: none;
    color: #FFFFFF;
    border-top: 1px solid #65BBFF;
    border-bottom: 1px solid #0D4681;
    background-color: #2498FF;
    background-image: -moz-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2BA1FF), to(#198AFF));
    background-image: -webkit-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: -o-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: linear-gradient(to bottom, #2BA1FF, #198AFF);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ba1ff', endColorstr='#ff198aff', GradientType=0);
}

.btn-large.btn-shadow {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    border: none !important;
}

.btn-large.btn-shadow > span {
    display: block;
    position: relative;
    background-color: #282828;
    background-image: -moz-linear-gradient(top, #373737, #121212);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#373737), to(#121212));
    background-image: -webkit-linear-gradient(top, #373737, #121212);
    background-image: -o-linear-gradient(top, #373737, #121212);
    background-image: linear-gradient(to bottom, #373737, #121212);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff373737', endColorstr='#ff121212', GradientType=0);
    border-top: 1px solid #6E6E6E;
    border-bottom: 1px solid #121212;
    padding: 16px 38px;
    z-index: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.btn-large.btn-shadow:hover {
    border: none !important;
    color: #FFFFFF;
    text-decoration: none;
}

.btn-large.btn-shadow:hover > span {
    border-top: 1px solid #65BBFF;
    border-bottom: 1px solid #0D4681;
    text-decoration: none;
    background-color: #2498FF;
    background-image: -moz-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2BA1FF), to(#198AFF));
    background-image: -webkit-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: -o-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: linear-gradient(to bottom, #2BA1FF, #198AFF);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ba1ff', endColorstr='#ff198aff', GradientType=0);
}

.btn-shadow a {
    margin-right: 0 !important;
}

.btn-double.btn-shadow a {
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}

.alternative .btn-blue,
.alternative .btn-large.btn-shadow > span,
.alternative .btn-medium,
.alternative .btn-large {
    border-bottom: none !important;
}

.btn-white.btn-shadow span {
    color: #1B1B1B;
    background-color: #E1E1E1;
    background-image: -moz-linear-gradient(top, #E4E4E4, #DCDCDC);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E4E4E4), to(#DCDCDC));
    background-image: -webkit-linear-gradient(top, #E4E4E4, #DCDCDC);
    background-image: -o-linear-gradient(top, #E4E4E4, #DCDCDC);
    background-image: linear-gradient(to bottom, #E4E4E4, #DCDCDC);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe4e4e4', endColorstr='#ffdcdcdc', GradientType=0);
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #A7A7A7;
}

.btn-white.btn-shadow:hover span {
    color: #FFFFFF;
}

.btn-blue.btn-shadow span {
    border-top: 1px solid #65BBFF;
    border-bottom: 1px solid #0D4681;
    background-color: #2498FF;
    background-image: -moz-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2BA1FF), to(#198AFF));
    background-image: -webkit-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: -o-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: linear-gradient(to bottom, #2BA1FF, #198AFF);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ba1ff', endColorstr='#ff198aff', GradientType=0);
}

.btn-blue.btn-shadow:hover span {
    background-color: #232323;
    border-top: 1px solid #6E6E6E;
    border-bottom: 1px solid #121212;
}

.btn-shadow {
    border: none !important;
    padding: 10px;
    background: rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
}

.btn-shadow:hover {
    background: rgba(0, 0, 0, 0.15);
}

.btn-shadow span {
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}

.btn-extra,
.btn-shadow.btn-extra span,
.btn-double.btn-shadow a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*top panel =======================================================================================================END*/
/*breadcrumb==========================================================================================================*/
.breadcrumb-section {
    background: #F0F0F0;
    padding: 30px 0 32px;
}

.breadcrumb-section h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    color: #1B1B1B;
    text-transform: none;
    margin: 0;
    float: left;
}

ul.breadcrumb {
    background: none;
    float: right;
    padding: 8px 0 0;
    margin: 0;
    font-size: 13px;
}

/*breadcrumbs =====================================================================================================end*/
.brand {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    line-height: 0;
}

/*SEARCH HEADER=======================================================================================================*/
#search_mini_form {
    background: #F0F0F0;
    border: 1px solid #E4E4E2;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0;
}

#search_mini_form input {
    background: transparent;
    border: none;
    outline: none;
    width: 85%;
    font-size: 13px;
    line-height: 16px;
    padding: 10px;
    color: #999898;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    float: left;
}

#search_mini_form span {
    border-right: 1px solid #D4D4D4;
    display: block;
    width: 40px;
    text-align: center;
    height: 35px;
    color: #1F97FF;
    float: left;
    padding: 10px 0;
}

/*SEARCH HEADER====================================================================================================end*/
/*shoping cart HEADER=================================================================================================*/
.btn-cart {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    padding: 12px 21px 12px 57px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: none;
    font-weight: bold;
    background: #1F97FF;
    font-size: 14px;
    line-height: 1em;
    float: right;
}

.btn-cart.open, .btn-cart:hover, .btn-cart:focus {
    outline: none;
    background: #222222;
    color: #FFFFFF;
    text-shadow: none;
}

.box-dropdown {
    position: absolute;
    z-index: 5000;
    background: #FFFFFF;
    right: 0;
    left: auto;
    top: 46px;
    width: 380px;
    height: auto;
    margin: 0;
    padding: 10px;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.box-dropdown:after {
    background: #1F97FF;
    top: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

#drop1 > span {
    font-size: 9px;
    opacity: 0.5;
}

.btn-cart:before {
    font-family: FontAwesome, serif;
    content: "";
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 20px;
}

/*shoping-cart HEADER==============================================================================================end*/

/*MAIN-MENU =======================================================================================================END*/
/*CONTENT STYLES======================================================================================================*/
#content {
    background: #F9F9F9;
    position: relative;
    z-index: 10;
    padding-bottom: 20px;
}

article.product-block {
    margin-bottom: 50px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.product-block .maxheight {
    padding: 10px;
    background: #FFFFFF;
    border-bottom: 3px solid #1F97FF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.block-info .inner-block {
    padding-bottom: 158px;
}

.preview-image-product,
.img-product {
    width: 100%;
    height: 200px;
    background-size: cover;
}

.block-info .btn-small {
    opacity: 0;
    filter: alpha(opacity=0);
}

.block-info .inner-block > div {
    top: 256px;
    position: absolute;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding-right: 10px;
}

.block-info:hover .inner-block > div {
    top: 60%;
}

.block-info:hover .inner-block > div a {
    font-size: 17px;
}

.block-info:hover .btn-small {
    opacity: 1;
    filter: alpha(opacity=100);
}

.box-text-small .mwst_info,
.list-popular .mwst_info,
.block-product .v_price .mwst_info {
    display: none;
}

article.product-block:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.block-btns {
    text-align: center;
    padding: 14px 0 10px;
}

.block-btns a {
    display: inline-block;
    width: 21%;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 1px solid #0D4681;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    margin: 0 2px;
}

.block-btns a:before {
    font-family: FontAwesome;
}

.button-send.btn-small {
    position: relative;
    z-index: 1;
    padding: 12px 29px;
    color: #FFFFFF;
    display: inline-block;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    text-decoration: none;
    text-shadow: none;
    font-weight: normal;
    background-color: #282828;
    background-image: -moz-linear-gradient(top, #373737, #121212);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#373737), to(#121212));
    background-image: -webkit-linear-gradient(top, #373737, #121212);
    background-image: -o-linear-gradient(top, #373737, #121212);
    background-image: linear-gradient(to bottom, #373737, #121212);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff373737', endColorstr='#ff121212', GradientType=0);
    border: none;
    font-size: 14px;
    line-height: 1em;
    font-family: 'Open Sans', sans-serif;
}

.button-send.btn-small:hover {
    color: #FFFFFF;
    background-color: #2498FF;
    background-image: -moz-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2BA1FF), to(#198AFF));
    background-image: -webkit-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: -o-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: linear-gradient(to bottom, #2BA1FF, #198AFF);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ba1ff', endColorstr='#ff198aff', GradientType=0);
}

.block-btns a:hover {
    background-color: #282828;
    background-image: -moz-linear-gradient(top, #373737, #121212);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#373737), to(#121212));
    background-image: -webkit-linear-gradient(top, #373737, #121212);
    background-image: -o-linear-gradient(top, #373737, #121212);
    background-image: linear-gradient(to bottom, #373737, #121212);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff373737', endColorstr='#ff121212', GradientType=0);
    color: #FFFFFF;
}

.block-btns .button-cart {
    background-color: #2498FF;
    background-image: -moz-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2BA1FF), to(#198AFF));
    background-image: -webkit-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: -o-linear-gradient(top, #2BA1FF, #198AFF);
    background-image: linear-gradient(to bottom, #2BA1FF, #198AFF);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ba1ff', endColorstr='#ff198aff', GradientType=0);
    width: 100%;
}

.block-btns .button-cart:before {
    content: "";
}

.block-btns .button-like,
.block-btns .button-compare {
    color: #1B1B1B;
    background-color: #E1E1E1;
    background-image: -moz-linear-gradient(top, #E4E4E4, #DCDCDC);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E4E4E4), to(#DCDCDC));
    background-image: -webkit-linear-gradient(top, #E4E4E4, #DCDCDC);
    background-image: -o-linear-gradient(top, #E4E4E4, #DCDCDC);
    background-image: linear-gradient(to bottom, #E4E4E4, #DCDCDC);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe4e4e4', endColorstr='#ffdcdcdc', GradientType=0);
    border-bottom: 1px solid #A7A7A7;
}

.price {
    color: #1F97FF;
    font-size: 16px;
    line-height: 18px;
}

.price-old {
    color: #6A6A6A;
    margin-right: 5px;
    text-decoration: line-through;
}

/*========== for sortable*/
.sort_shop {
    padding-top: 15px;
    border-top: 1px solid #E4E4E2;
    margin-top: 15px;
}

.sort_shop select {
    background-color: #F0F0F0;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.sort_shop .select_title {
    padding: 4px 39px 4px 9px;
}

.sort_shop.no_bord {
    border: none !important;
}

.sort_shop .description_table {
    margin-top: 0;
}

.sort_shop span {
    line-height: 30px;
}

.sort_shop .btn-tags {
    padding: 6px 9px;
}

.sort_shop .navigation_grid {
    float: right;
    font-size: 13px;
}

/*-----================== Pagination and Progress bars ============== ------*/

.v_block-control {
    overflow: hidden;
    padding-top: 10px;
}

.v_block-control .results {
    float: left;
    font-size: 13px;
}

.v_block-control .control-post {
    overflow: hidden;
}

.v_block-control .control-post a {
    float: left;
    margin-left: 6px;
    color: #1B1B1B;
    font-size: 13px;
    margin-bottom: 10px;
}

.v_block-control .control-post a:hover {
    color: #1F97FF;
}

.v_block-control .control-post a.active {
    color: #1F97FF;
}

.v_block-control .control-post a {
    font-size: 14px;
    padding: 0;
    width: 23px;
    line-height: 22px;
    height: 23px;
    text-align: center;
}

.v_block-control .v_button_var2 a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.v_block-control .v_button_var3 a {
    line-height: 30px;
}

.v_block-control .control-btn2 {
    width: 30px !important;
    height: 30px !important;
    font-size: 21px !important;
}

.v_block-control .control-post .v_button_var,
.v_block-control .v_button_var a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(240, 240, 240, 0.8);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
}

.v_block-control .v_button_var a:hover,
.v_block-control .v_button_var a.active {
    background-color: rgba(31, 151, 255, 0.8);
    color: #FFFFFF;
}

.control-post a:first-child {
    margin-left: 0;
}

.progress.v_yellow {
    background-color: #FFB400;
}

.progress.v_green {
    background-color: #449B0A;
}

.progress.v_red {
    background-color: #E92D00;
}

.progress.v_no_border {
    border-radius: 0;
}

.progress-striped .progress.bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.txt-1 {
    font-size: 13px;
    line-height: 20px;
    color: #6A6A6A;
}

.btn-tags {
    background: #F0F0F0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15) inset;
    border: none;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    color: #1B1B1B;
    padding: 6px 14px;
    text-shadow: none;
    transition: all 0.3s ease 0s;
}

.btn-tags:hover {
    color: #FFFFFF;
    background: #1F97FF;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset;
}

.navigation_grid .btn-tags {
    text-indent: -9999px;
    position: relative;
    width: 30px;
    height: 30px;
    outline: none;
    padding: 0 !important;
}

.navigation_grid a i {
    font-size: 18px;
    position: absolute;
    line-height: 30px;
    left: 24%;
    top: 4%;
    text-indent: 0;
    margin-left: -1px;
    text-decoration: none;
    display: block;
}

.navigation_grid > .active {
    background-color: #1F97FF;
    color: #FFFFFF;
}

.navigation_grid .Cgrid.active i,
.navigation_grid .Clist.active i,
.Clist:hover i,
.Cgrid:hover i {
    color: #FFFFFF;
}

.navigation_grid span {
    float: left;
    line-height: 30px;
    margin-right: 10px;
}

.m_bottom_20 {
    margin-bottom: 20px;
}

.m_top_20 {
    margin-top: 10px !important;
}

article .col-left {
    margin-top: 10px;
}

.fleft {
    float: left !important;
}

.fright {
    float: right !important;
}

/*-----================== Product_categories_v2 ============== ------*/

.v_grid .v_list_block {
    display: none;
}

.v_list .v_list_block {
    display: block;
}

.poduct_wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 360px;
    padding: 5px 0 122px;
    margin: 0 -25px -89px !important;
}

.v_list.list_grid .box-product {
    border-bottom: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.v_list.list_grid .block-product:hover .box-product {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.block-product {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    height: 360px;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
}

.block-product:hover {
    height: 482px;
}

.d_inline_b {
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.block-product:hover .d_inline_b {
    opacity: 1;
}

.box-product .rating,
.box-product .block-btns {
    display: none;
}

.block-product:hover .box-product-hover {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    margin-top: -241px;
    z-index: 1000;
}

.block-product:hover .box-product {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.box-product {
    padding: 10px;
    background: #FFFFFF;
    border-bottom: 3px solid #1F97FF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    text-align: center;
    z-index: 10;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.txt_trans {
    font-size: 16px;
    line-height: 20px;
    color: #1B1B1B;
    display: block;
    font-weight: bold;
    margin: 15px 0 10px;
}

.v_list .poduct_wrap {
    height: auto !important;;
}

.v_list .poduct_wrap .span3 {
    float: none;
    width: 97%;
    min-height: 258px;
}

.v_list .block-product {
    padding-bottom: 0;
}

.v_list .block-product:hover .box-product {
    opacity: 1;
    filter: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.v_list .block-product:hover,
.v_list .block-product {
    height: auto;
}

.v_list .box_content {
    display: none;
}

.v_list .img-product {
    margin-bottom: 0;
}

.v_list .block-product figure:first-child {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    position: relative;
    width: 27%;
}

.v_list .block-product .v_list_block {
    display: inline-block;
    width: 63%;
    position: relative;
    z-index: 10;
}

.v_list .block-product:hover .box-product-hover {
    opacity: 0;
    z-index: 1;
    display: none;
}

.v_list li.span3 {
    margin-bottom: 30px;
}

.v_list li.span3:last-child {
    margin-bottom: 0;
}

.v_list.list_grid {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.v_list.list_grid .block-product:hover {
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #1F97FF;
    border-radius: 5px;
    padding-bottom: 0;
}

.v_list.list_grid .box-product {
    border-bottom: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.v_list.list_grid .block-product:hover .box-product {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.v_list.list_grid figure {
    margin-right: 30px;
}

/*.v_list.list_grid .btn-small {*/
/*padding: 12px 20px 12px 50px;*/
/*}*/

.v_list.list_grid .btn-cart:before {
    left: 15px;
    font-size: 23px;
    font-weight: normal;
}

.v_list.list_grid .btn-cart.wishlist:before {
    content: "\f08a";
}

.v_list.list_grid .btn-cart.compare:before {
    content: "\f0c5";
}

.v_list.list_grid li .v_price {
    float: left;
    padding-top: 4px;
    padding-right: 20px;
}

.v_tables td.v_td_price,
.v_tables td.v_td_price a,
.v_price {
    color: #1F97FF !important;
    font-weight: bold;
    font-size: 16px;
}

.m_t_no_space {
    margin-top: 0;
    margin-bottom: 10px;
}

.v_list.list_grid li.v_list.list_grid_element .btn-small {
    margin-right: 5px;
}

.v_list.list_grid .btn-small:last-child {
    margin-right: 0;
}

.description_table tr td:first-child {
    min-width: 108px;
}

.description_table.type_2 tr td:first-child {
    min-width: 65px;
}

.description_table.type_3 tr td:first-child {
    min-width: 175px;
}

.v_form .description_table {
    width: 100%;
    margin-top: 0;
}

.shop_section .description_table {
    margin-top: -5px;
}

.shop_section .description_table td {
    padding: 5px 0;
}

.shop_section .description_table tr td:first-child {
    min-width: 108px;
}

.shop_section .description_table.type_2 tr td:first-child {
    min-width: 65px;
}

.shop_section .description_table.type_3 tr td:first-child {
    min-width: 175px;
}

.shop_section .description_table.type_2 tr td:first-child {
    min-width: 40px;
}

.shop_section .description_table.type_3 tr td:first-child {
    min-width: 45px;
}

.shop_section .description_table.type_2 .select_title {
    min-width: 73px;
}

.shop_section .description_table button {
    background: none;
}

.description_table {
    margin-top: -5px;
}

.description_table.type_2 tr td:first-child {
    min-width: 55px;
}

.description_table tr td:first-child {
    min-width: 90px;
}

.v_deal .shop_section .description_table td {
    padding: 0;
}

.relative {
    position: relative;
}

.d_inline_middle {
    display: inline-block;
    vertical-align: middle;
}

.r_corners {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.select_title {
    cursor: pointer;
    padding: 9px 39px 8px 9px;
    border: 1px solid #E4E4E2;
    background: #F0F0F0;
    z-index: 1;
    min-width: 85px;
    color: #1B1B1B;
    -webkit-transition: border-color .4s ease;
    -moz-transition: border-color .4s ease;
    -o-transition: border-color .4s ease;
    transition: border-color .4s ease;
    box-shadow: 0 0 5px #E4E4E2 inset;
}

.select_title.active {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 #E4E4E2 inset;
}

.r_corners {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.select_title:before {
    content: "";
    border-left: 1px solid #D4D4D4;
    position: absolute;
    height: 21px;
    right: 27px;
    top: 50%;
    margin-top: -10px;
}

.select_title.active:after {
    content: "\f106";
}

.select_title:after {
    content: "\f107";
    display: inline-block;
    font-family: FontAwesome sans-serif;
    line-height: inherit;
    position: absolute;
    color: #292F38;
    font-size: 14px;
    right: 8px;
    top: 50%;
    margin-top: -10px;
}

.v_form .select_title:after {
    font-size: 20px;
    font-weight: bold;
    color: #111111;
}

.v_form .select_title:before {
    display: none;
}

.v_form .select_list > li {
    color: #8E8E8E;
}

.shortcode_forms .dark_bg .select_title,
.shortcode_forms .dark_bg .select_list {
    background-color: #1D1D1D;
    border-color: #131313;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.shortcode_forms .dark_bg .select_title.active {
    border-bottom-color: transparent;
    background: #1D1D1D;
}

.shortcode_forms .dark_bg .select_title:after {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.bg_light_color_1, .sub_menu li:hover > a, .select_list > li:hover {
    background: rgba(240, 240, 240, 0.95);
}

.select_list {
    position: absolute;
    left: 0;
    top: 100%;
    cursor: pointer;
    width: 100%;
    background: #FFFFFF;
    border-left: 1px solid #E4E4E2;
    border-right: 1px solid #E4E4E2;
    border-bottom: 1px solid #E4E4E2;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 22;
    box-shadow: 0 -1px 5px 0 #E4E4E2 inset;
}

.d_none, .tw_buttons li:first-child:before {
    display: none;
}

.select_list > li {
    color: #6A6A6A;
    padding: 3px 10px;
}

.select_list > li:hover {
    background-color: #F0F0F0;
}

.heading-h4 {
    text-transform: uppercase;
    font-size: 18px;
    layout-flow: 20px;
    font-weight: 600;
    padding: 6px 0 27px;
}

.block-widget h4.heading-h4 {
    border-bottom: 2px solid #F0F0F0;
    padding: 7px 0 17px;
    margin-bottom: 24px;
}

.list-popular {
    margin: 0;
    padding: 14px 0 20px;
    list-style: none;
}

.list-popular li {
    *zoom: 1;
    border-top: 1px solid #F0F0F0;
    margin-top: 20px;
    padding-top: 20px;
}

.list-popular li:before,
.list-popular li:after {
    display: table;
    content: "";
    line-height: 0;
}

.list-popular li:after {
    clear: both;
}

.list-popular li:first-child {
    border: none;
    padding: 0;
    margin: 0;
}

.list-popular li figure {
    float: left;
    margin: 0 12px 0 0;
}

.list-popular li h5 {
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    height: 53px;
}

.list-popular li .link-comment {
    color: #6A6A6A;
    font-size: 12px;
}

.list-popular li .link-comment:hover {
    color: #1F97FF;
}

.img-polaroid1 {
    padding: 5px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.link {
    font-size: 14px;
    display: inline-block;
    color: #1F97FF;
}

.link:hover {
    text-decoration: underline;
}

.block-widget.extra {
    margin-top: 20px;
}

.block-widget.extra1 .btn-small {
    margin: 4px 0 18px;
}

.block-widget {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #F0F0F0;
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    overflow: hidden;
    padding: 20px 20px 13px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.block-widget h4.heading-h4 {
    border-bottom: 2px solid #F0F0F0;
    padding: 7px 0 17px;
    margin-bottom: 24px;
}

.block-widget p {
    font-size: 14px;
    line-height: 21px;
}

/*================Product Listing==============*/
/*================CONTENT STYLES========================END*/
/*==================FOOTER STYLE==============*/
footer {
    border-top: 3px solid #131313;
    position: relative;
    background: #262626;
    padding-bottom: 0;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

footer h3 {
    font-size: 20px;
    line-height: 1.2em;
    text-transform: none;
    color: #FFFFFF;
    padding: 43px 0 21px;
}

footer a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
}

.copyrighttext {
    padding-top: 11px;
    background: #1B1B1B;
}

.footer-box {
    padding-bottom: 15px;
}

#gotoTop {
    background: #262626;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    bottom: 30px;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    font-size: 24px;
    height: 40px;
    left: auto;
    line-height: 35px !important;
    position: fixed;
    right: 30px;
    text-align: center;
    top: auto;
    transition: background-color 0.2s linear 0s;
    width: 40px;
    z-index: 100;
}

#gotoTop:hover {
    background: #F0F0F0;
    color: #000000;
}

/*-----================== Contact ============== ------*/

.map_container iframe {
    background: transparent;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: top;
    border: 0;
}

.map_container {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 27%;
}

.map_container.photoframe {
    border: none;
    z-index: 1;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.map_container > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.v_contact_form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.v_contact_form .txt-2 {
    font-size: 15px;
}

.v_contact_form .v_drop li {
    padding-bottom: 27px;
}

.v_contact_form .v_drop li:last-child {
    padding-bottom: 0;
}

.v_contact_form2 .map_container {
    padding-bottom: 47%;
}

.v_contact_form2 .full_width {
    width: 100%;
}

.v_contact_form2 .v_h_fild li {
    margin-bottom: 15px;
}

.v_contact_form2 .v_h_fild li:last-child {
    margin-bottom: 0;
}

.v_contact_form3 .v_contact_list3 li {
    float: left;
    margin-right: 40px;
}

.v_contact_form3 .v_contact_list3 li:last-child {
    margin-right: 0;
}

.v_contact_form3 .v_contact_list3 li p {
    overflow: visible;
    display: inline-block;
}

.v_contact_form3 .map_container {
    padding-bottom: 31%;
}

.v_contact_form .v_drop .block-features p {
    overflow: hidden;
}

input:not([type="submit"]):focus, textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: 1px solid #E4E4E2;
}

.block-features span i {
    font-size: 20px;
    color: #1B1B1B;
    display: block;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    text-transform: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.block-features h4 {
    padding: 10px 0 0 0;
    font-size: 18px;
}

.block-features h4 a:hover span {
    background: #1F97FF;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

.block-features h4 a:hover span i {
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
    color: #FFFFFF;
}

.block-features p {
    margin: 11px 0 9px 0;
}

.v_drop .block-features span {
    background: #1F97FF;
    margin: 0 15px 0 0;
}

.block-features span {
    display: block;
    overflow: hidden;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 620px;
    -moz-border-radius: 620px;
    border-radius: 620px;
    padding: 0;
    vertical-align: top;
    background: #F0F0F0;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
    margin: -10px 15px 0 0;
}

.v_drop .block-features span i {
    color: #FFFFFF;
}

.v_drop .block-features div {
    padding: 10px 0 0 0;
    font-size: 18px;
}

.v_drop .block-features div a:hover span {
    background: #F0F0F0;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

.v_drop .block-features div a:hover span i {
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
    color: #1B1B1B;
}

.v_drop .block-features p,
.v_drop .block-features div {
    margin: 0;
    padding: 0;
}

.v_drop .list-landing span {
    width: 48px;
}

.v_drop .list-landing .dropcap i.fa-font {
    padding-top: 5px;
}

.v_drop .block-features p {
    overflow: visible;
}

.v_contact_form .v_drop .block-features p {
    overflow: hidden;
}

/*.blog_post .btn-small,*/
/*.post_form .btn-small{*/
/*border-top: none !important;*/
/*border-bottom: none !important;*/
/*}*/
/*.btn-small {*/
/*-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);*/
/*-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);*/
/*box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);*/
/*position: relative;*/
/*z-index: 1;*/
/*padding: 12px 29px;*/
/*color: #fff;*/
/*display: inline-block;*/
/*-webkit-transition: opacity 0.2s ease;*/
/*-moz-transition: opacity 0.2s ease;*/
/*-o-transition: opacity 0.2s ease;*/
/*transition: opacity 0.2s ease;*/
/*text-decoration: none;*/
/*text-shadow: none;*/
/*font-weight: normal;*/
/*background-color: #282828;*/
/*background-image: -moz-linear-gradient(top, #373737, #121212);*/
/*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#373737), to(#121212));*/
/*background-image: -webkit-linear-gradient(top, #373737, #121212);*/
/*background-image: -o-linear-gradient(top, #373737, #121212);*/
/*background-image: linear-gradient(to bottom, #373737, #121212);*/
/*background-repeat: repeat-x;*/
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff373737', endColorstr='#ff121212', GradientType=0);*/
/*border-top: 1px solid #6e6e6e !important;*/
/*border-bottom: 1px solid #121212 !important;*/
/*font-size: 14px ;*/
/*line-height: 1em;*/
/*font-family: 'Open Sans', sans-serif;*/
/*}*/
/*.btn-small:hover {*/
/*color: #ffffff;*/
/*border-top: 1px solid #65bbff;*/
/*border-bottom: 1px solid #0d4681;*/
/*background-color: #2498ff;*/
/*background-image: -moz-linear-gradient(top, #2ba1ff, #198aff);*/
/*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2ba1ff), to(#198aff));*/
/*background-image: -webkit-linear-gradient(top, #2ba1ff, #198aff);*/
/*background-image: -o-linear-gradient(top, #2ba1ff, #198aff);*/
/*background-image: linear-gradient(to bottom, #2ba1ff, #198aff);*/
/*background-repeat: repeat-x;*/
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ba1ff', endColorstr='#ff198aff', GradientType=0);*/
/*}*/

/*-----================== Forms ============== ------*/

.shortcode_forms form {
    margin: 0;
}

.v_form.dark_bg {
    padding: 10px;
}

.form-horizontal span {
    padding-left: 10px;
    font-size: 13px;
}

.form-horizontal .controls {
    margin-left: 0;
    overflow: hidden;
}

.form-horizontal .control-label {
    width: 95px;
    text-align: left;
    float: left;
}

.form-horizontal .control-group {
    margin-bottom: 15px;
}

.form-horizontal .control-group.form-elements input {
    width: auto;
}

.v_form input,
.v_form select,
.v_form textarea {
    background-color: #F0F0F0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #E4E4E2;
}

.v_form input,
.v_form select {
    height: 40px;
}

.v_form textarea {
    height: 200px;
}

label, input, button, select, textarea {
    line-height: 20px;
    font-size: 14px;
}

.form-horizontal .input_profiles label {
    width: 125px;
}

.shortcode_forms .v_form .v_text_yellow input,
.shortcode_forms .v_form .v_text_red input,
.shortcode_forms .v_form .v_text_blue input,
.shortcode_forms .v_form .v_text_green input {
    width: 200px;
}

.shortcode_forms .v_form .v_text_yellow input {
    border-color: #E7A446;
}

.shortcode_forms .v_form .v_text_red input {
    border-color: #E92D00;
}

.shortcode_forms .v_form .v_text_blue input {
    border-color: #59B1FD;
}

.shortcode_forms .v_form .v_text_green input {
    border-color: #50A11A;
}

.shortcode_forms .dark_bg input,
.shortcode_forms .dark_bg select,
.shortcode_forms .dark_bg textarea {
    background-color: #1D1D1D;
    border-color: #131313;
}

.shortcode_forms .dark_bg {
    background-color: rgba(51, 51, 51, 2);
}

.form-elements input[type="radio"],
.form-elements input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.form-elements label {
    cursor: pointer;
}

.form-elements input[type="radio"]:checked + label:before {
    background-position: -29px 0;
}

.form-elements input[type="radio"] + label:before {
    background-position: -29px -29px;
}

.form-elements input[type="checkbox"] + label:before {
    background-position: 0 -29px;
}

.form-elements input[type="checkbox"]:checked + label:before {
    background-position: 0 0;
}

.form-elements label:before {
    display: inline-block;
    position: relative;
    top: 7px;
    left: 0;
    content: '';
    width: 26px;
    height: 26px;
    background-image: url('images/form_icons.png');
    margin-right: 10px;
}

.dark_bg .form-elements input[type="radio"]:checked + label:before {
    background-position: -26px 0;
}

.dark_bg .form-elements input[type="radio"] + label:before {
    background-position: -26px -26px;
}

.dark_bg .form-elements input[type="checkbox"] + label:before {
    background-position: 0 -26px;
}

.dark_bg .form-elements input[type="checkbox"]:checked + label:before {
    background-position: 0 0;
}

.form-elements span {
    padding: 0;
    width: 90px;
    display: inline-block;
    font-size: 14px;
}

.form-elements label {
    display: inline-block;
}

.form-elements label:last-child {
    margin-left: 10px;
}

.v_form .select_title {
    padding: 8px 39px 7px 9px;
    color: #8E8E8E;
}

.v_form .custom_select {
    width: 100%;
}

.v_form .description_table {
    width: 100%;
    margin-top: 0;
}

.v_form .select_title:after {
    font-size: 20px;
    font-weight: bold;
    color: #111111;
}

.v_form .select_title:before {
    display: none;
}

.v_form .select_list > li {
    color: #8E8E8E;
}

.shortcode_forms .dark_bg .select_title,
.shortcode_forms .dark_bg .select_list {
    background-color: #1D1D1D;
    border-color: #131313;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.shortcode_forms .dark_bg .select_title.active {
    border-bottom-color: transparent;
    background: #1D1D1D;
}

.shortcode_forms .dark_bg .select_title:after {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.shortcode_forms .dark_bg input:not([type="submit"]):focus {
    border: 1px solid #131313;
}

/*----------- social --------------*/
.social {
    top: 280px;
    position: fixed;
    right: 0;
    z-index: 99;
}

.social ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.social li {
    margin-bottom: 1px;
}

.social a {
    background-color: #262626;
    border-radius: 6px 0 0 6px;
    display: block;
    height: 36px;
    margin: 0;
    outline: medium none;
    padding: 4px 0 0;
    transition: all 0.3s ease 0s;
    width: 40px;
    text-align: center;
}

.social .facebook:hover {
    background-color: #3B5998;
}

.social .mail:hover {
    background-color: #E92D00;
}

.social .twitter:hover {
    background-color: #2DAAE1;
}

.social .google:hover {
    background-color: #F63E28;
}

.social .linkedin:hover {
    background-color: #0073B2;
}

.social .pinterest:hover {
    background-color: #CB2027;
}

.social .youtube:hover {
    background-color: #FF3132;
}

.social .vimeo:hover {
    background-color: #44B0DE;
}

.social .flickr:hover {
    background-color: #FF0084;
}

.social .youtube i {
    font-size: 24px;
}

.social .twitter i {
    font-size: 23px;
}

.social i {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 30px;
}

/*----------- social -----------END*/
/*FOOTER STYLES====================================================================================================END*/

/*responsive==========================================================================================================*/
@media (max-width: 1200px) {

    .menu-ul > li > a {
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
    .menu-ul > li > a {
        font-size: 13px;
    }

    .right-col {
        display: none;
    }

    .navbar-nav > li.dropdown > a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .navbar-nav ul.level-3 {
        margin-left: 10px;
    }

    #header-nav-bar > ul > li > ul,
    #header-nav-bar > ul > li > ul > li.dropdown-submenu > ul.dropdown-menu {
        font-size: 12px;
    }

    .margin-search {
        margin: 10px 0;
    }
}

@media (min-width: 768px) {
    .menu-nav {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: relative;
        margin: 0;
        padding: 0;
        background: #262626;
        border: none;
    }

    .menu-ul {
        display: block;
        float: none;
        margin: 0;
        padding: 0;
    }

    .main-menu {
        width: 100%;
        background: #262626 !important;
        border-top: 1px solid #E4E4E2;
    }

    .menu-ul > li > a {
        color: #FFFFFF !important;
        font-size: 14px;
        line-height: 20px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: relative;
        display: block;
        margin: 0;
        padding: 21px 12px 19px;
        text-align: center;
        z-index: 1;
    }

    .menu-ul > li {
        display: inline-block;
        float: left;
        margin: 0;
        border: none;
        border-right: 1px solid #333333;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        width: auto;
        position: relative;
        padding: 0;
        text-transform: uppercase;
        zoom: 1;
    }

    .menu-ul > li:first-child {
        border-left: 1px solid #333333;
    }

    .nav.menu-ul > li > a:hover,
    .nav.menu-ul > li > a:active {
        background: #333333 !important;
        color: #1F97FF !important;
    }

    .nav.menu-ul > li:hover > ul {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }

    #header-nav-bar > ul > li > ul {
        width: 200px;
        position: absolute;
        background: #333333 !important;
        -webkit-animation: mymove 0.3s;
        animation: mymove 0.3s;
    }

    #header-nav-bar > ul > li > ul.dropdown-menu > li:hover > a,
    #header-nav-bar > ul > li > ul > li > ul > li:hover a {
        background: #262626;
        color: #1F97FF;
    }

    #header-nav-bar > ul > li:hover a.level0 {
        background: #262626 !important;
        color: #1F97FF !important;
    }

    li:hover a > span.border-top {
        display: block;
        position: absolute;
        border-top: 3px solid #1F97FF;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #header-nav-bar > ul > li > ul > li > a,
    #header-nav-bar > ul > li > ul > li > ul > li a {
        background: #333333;
        color: #FFFFFF;
        padding: 8px 20px;
        font-size: 14px;
        font-weight: normal;
        text-transform: none;
        white-space: normal;
        text-decoration: none;
    }

    @-webkit-keyframes mymove {
        from {
            top: 75px;
        }
        to {
            top: 60px;
        }
    }
    @keyframes mymove {
        from {
            top: 75px;
        }
        to {
            top: 60px;
        }
    }
    #header-nav-bar > ul > li > ul > li.dropdown-submenu > ul {
        width: 200px;
        position: absolute;
        background: #333333 !important;
        -webkit-animation: mymove1 0.3s;
        animation: mymove 0.3s;
    }

    @-webkit-keyframes mymove1 {
        from {
            top: -10px;
        }
        to {
            top: 0;
        }
    }
    @keyframes mymove1 {
        from {
            top: 10px;
        }
        to {
            top: 0;
        }
    }
    .navbar-nav .open ul {
        display: none
    }

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        background: none
    }

    .navbar-nav .hovernav:hover > .dropdown-menu {
        display: block;
    }
}

@media (max-width: 768px) {
    footer {
        text-align: center;
    }

    footer ul {
        list-style: none;
    }

    .social {
        display: none;
    }

    .block_language {
        float: none;
    }

    .language {
        text-align: center;
        margin-top: 10px;
    }

    .list-panel {
        list-style: none;
        width: 150px;
        background-color: #F0F0F0;
    }

    .list-panel li {
        font-size: 12px;
        line-height: 12px;
        padding: 5px 8px;
        border-bottom: 1px solid #A0A0A0;
        border-left: none;
        float: none;
    }
}

@media (max-width: 625px) {
    .language-name {
        display: none;
    }
}

@media (max-width: 450px) {

}

@media (max-width: 350px) {
    .block_language li.dropdown a.dropdown-toggle:after {
        display: none;
    }

}

/*responsive=======================================================================================================END*/