<!-- topmenue //-->
																	{if $arr_topmenu.6.link eq ""}
																			{*1 Startseite  *}<a href="{$arr_topmenu.1.link}">{$arr_topmenu.1.name}</a>&nbsp;|
                 {/if}
																			{*2 Kontakt  *}<a href="{$arr_topmenu.2.link}">{$arr_topmenu.2.name}</a>&nbsp;|
																			{*4 Ihr Konto*}<a href="{$arr_topmenu.4.link}">{$arr_topmenu.4.name}</a>&nbsp;|
																			{*3 Warenkorb*}<a href="{$arr_topmenu.3.link}">{$arr_topmenu.3.name}</a>				
																			{if $arr_topmenu.6.link neq ""}
																			   {*6 Abmelden*}|&nbsp;<a href="{$arr_topmenu.6.link}">{$arr_topmenu.6.name}</a>			
                   {/if}
                   
                   <div class="trusted_head">
                   <a title="Kundenbewertungen von CS-Trading einsehen" href="https://www.trustedshops.com/bewertung/info_X028538763027206EFAE8460DEDDB9FF3.html" target="_blank"> <img class="bewertung" style="float: right;" src="https://www.trustedshops.com/bewertung/widget/widgets/X028538763027206EFAE8460DEDDB9FF3.gif" alt="Kundenbewertungen von CS-Trading" border="0"> </a>
                   </div>

<!-- topmenue_eof //-->


