{foreach from=$arr_informationbox.items key=key item=link name=element}
    {if $request_uri eq $link.target}
        <li><a href="{$link.target}">{$link.text}</a></li>
    {else}
        <li><a href="{$link.target}">{$link.text}</a></li>
    {/if}
{/foreach}
