{if $arr_topmenu.6.link eq ""}
    <span class="topbar-top_menu"><a href="{$arr_topmenu.1.link}">{$arr_topmenu.1.name}</a></span>
{/if}
<span class="topbar-top_menu"><a href="{$arr_topmenu.2.link}">{$arr_topmenu.2.name}</a></span>
<span class="topbar-top_menu"><a href="{$arr_topmenu.4.link}">{$arr_topmenu.4.name}</a></span>
<span class="topbar-top_menu"><a href="{$arr_topmenu.3.link}">{$arr_topmenu.3.name}</a></span>
{if $arr_topmenu.6.link neq ""}
    <span class="topbar-top_menu"><a href="{$arr_topmenu.6.link}">{$arr_topmenu.6.name}</a></span>
{/if}




