{if $arr_points}
    {assign var=title value=$arr_points.title}
    {include file="boxes/smallpieces/sidebarbox_top.tpl"}
    <div class="sidebarboxcontent">
        <div class="pointscontent">
            {if $arr_points.isarraytext eq 1}
                {assign var=t1 value=$arr_points.text}
                {assign var=tt1 value=$t1.0}
                {assign var=tt2 value=$t1.1}
                {$tt1}
                <br>
                {$tt2}
            {else}
                {$arr_points.text}
            {/if}
        </div>
        <div class="pointscontent">
            {$arr_points.link}
        </div>
        <div class="pointscontent">
            Um Gutscheine in  Punkte umwandeln zu k&ouml;nnen, klicken Sie {$arr_points.couponlink} hier</a></div>
    </div>
{/if}