html {
    overflow : -moz-scrollbars-vertical;
    margin   : 0;
    padding  : 0;
}

body {
    background  : #FFFFFF;
    color       : #636363;
    font-family : Helvetica, Arial, sans-serif;
    margin      : 0;
    padding     : 0;
}

body, td, th, input, textarea, select, a {
    font-size : 14px;
}

h1, .welcome {
    font-family    : 'Oswald', serif;
    font-size      : 32px;
    font-weight    : normal;
    text-align     : center;
    text-transform : uppercase;
    position       : relative;
    color          : #363636;
    margin         : 0;
    padding        : 0;
}

h2 {
    font-family    : 'Oswald', sans-serif;
    color          : #636363;
    font-size      : 21px;
    font-weight    : normal;
    text-transform : uppercase;
    /*background     : url('images/dot.png') 50% 50% repeat-x;*/
    padding        : 0;
}

h2 .heading-lines {
    background : #FFFFFF;
    padding    : 6px;
}

.h2-wm .heading-lines {
    padding : 6px 6px 6px 0;
}

#footer p {
    padding-right : 10px;
}

p {
    margin      : 20px 0;
    line-height : 22px;
    color       : #636363;
}

a, a:visited, a b {
    color              : #8CC327;
    text-decoration    : none;
    cursor             : pointer;
    outline            : none;
    -webkit-transition : color .3s;
    -moz-transition    : color .3s;
    transition         : color .3s;
}

a:hover {
    color : #8CC327;
}

a img {
    border : none;
}

.description a img {
    border : 1px solid #BAB7B7;
}

form {
    padding : 0;
    margin  : 0;
    display : inline;
}

input[type='text'], input[type='password'], textarea {
    background         : #FFFFFF;
    border             : 1px solid #DDDDDD;
    padding            : 6px;
    margin             : 2px;
    color              : #595959;
    -webkit-transition : border .3s;
    -moz-transition    : border .3s;
    transition         : border .3s;
}

input[type='text']:hover, input[type='password']:hover, textarea:hover, input[type='text']:focus, input[type='password']:focus, textarea:focus {
    -webkit-box-shadow : 0 0 0 1px #FFFFFF, 0 0 0 2px #DDDDDD;
    -moz-box-shadow    : 0 0 0 1px #FFFFFF, 0 0 0 2px #DDDDDD;
    box-shadow         : 0 0 0 1px #FFFFFF, 0 0 0 2px #DDDDDD;
}

select {
    background : #FFFFFF;
    border     : 1px solid #DDDDDD;
    padding    : 4px;
    color      : #636363;
}

label {
    cursor      : pointer;
    margin-left : 10px;
    color       : #666666;
}

/* LAYOUT
------------------------------------------------------------*/

#container {
    width      : 1000px;
    margin     : 0 auto;
    padding    : 0 10px;
    text-align : left;
    box-shadow : 1px 5px 20px 1px;
}

#column-left {
    float : left;
    width : 195px;
}

#column-right {
    float : right;
    width : 195px;
}

#content {
    /*min-height : 400px;*/
    padding    : 0 0 10px 0;
}

#column-left + #column-right + #content, #column-left + #content {
    margin-left : 215px;
}

#column-right + #content {
    margin-right : 215px;
}

/* HEADER
------------------------------------------------------------*/

#header {
    height         : 106px;
    margin-bottom  : 7px;
    padding-bottom : 4px;
    position       : relative;
    z-index        : 99992;
}

#header #logo {
    position : absolute;
    top      : 26px;
    left     : 10px;
}

/* WELCOME
------------------------------------------------------------*/

#header #welcome {
    font-family    : 'Oswald', sans-serif;
    text-align     : right;
    font-size      : 13px;
    text-transform : uppercase;
    color          : #636363;
    position       : absolute;
    top            : 77px;
    right          : 0;
    z-index        : 99991;
}

#header #welcome a {
    color           : #636363;
    font-size       : 13px;
    text-decoration : underline;
}

#header #welcome a:hover {
    color           : #8CC327;
    text-decoration : none;
}

/* LANGUAGE AND CURRENCY SWITCHER
------------------------------------------------------------*/
form select {
    /*border: 0;*/
    padding : 4px;
    color   : #363636;
    cursor  : pointer;
    outline : 0;
}

.langcur form select {
    border : 0;
}

.langcur {
    position : absolute;
    top      : 50px;
    right    : 0;
}

.langcur form {
    display : inline-block;
    margin  : 0;
    padding : 0;
}

.langcur .switcher {
    display : inline-block;
    cursor  : pointer;
    margin  : 0 2px;
}

.langcur .switcher a {
    font-family    : 'Oswald', sans-serif;
    text-transform : uppercase;
    font-size      : 13px;
    color          : #636363;
}

.langcur .switcher p {
    padding : 0;
    margin  : 0;
}

.langcur .switcher p span {
    /*background: url('../image/dropdown.png') 60% 60% no-repeat;*/
    padding : 8px 2px 2px;
    float   : right;
    display : block;
    width   : 20px;
    height  : 10px;
    margin  : 0 0 5px 0;
}

.langcur .switcher .option {
    display    : none;
    position   : absolute;
    top        : 9px;
    right      : 0;
    min-width  : 120px;
    text-align : left;
    z-index    : 99;
}

.langcur .switcher .option a {
    display   : block;
    color     : #878787;
    font-size : 13px;
}

.langcur .switcher .option a:hover {
    color : #8CC327;
}

.langcur .switcher .option ul {
    list-style  : none;
    background  : #FFFFFF;
    border      : 1px solid #CDCDCD;
    padding     : 4px 10px;
    line-height : 20px;
    z-index     : 9;
}

/* SEARCH
------------------------------------------------------------*/

#header #search {
    position      : absolute;
    top           : 5px;
    right         : 15px;
    width         : 174px;
    z-index       : 15;
    border-bottom : 1px solid #CDCDCD;
}

#header .button-search {
    position : absolute;
    top      : 4px;
    right    : -2px;
    width    : 28px;
    height   : 28px;
    cursor   : pointer;
}

#header .button-search .icon-search {
    color              : #636363;
    font-size          : 14px;
    padding            : 0 5px;
    -webkit-transition : color .4s;
    -moz-transition    : color .4s;
    transition         : color .4s;
}

#header .button-search .icon-search:hover {
    color : #999999;
}

#header #search input {
    font-family        : 'Oswald', sans-serif;
    text-transform     : uppercase;
    font-size          : 13px;
    color              : #363636;
    text-align         : right;
    border             : none;
    padding            : 0 5px;
    width              : 134px;
    height             : 24px;
    -webkit-transition : box-shadow .4s;
    -moz-transition    : box-shadow .4s;
    transition         : box-shadow .4s;
    outline            : none;
}

#header #search input:hover, #header #search input:focus {
    border             : none;
    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
    box-shadow         : none;
}

.odd,
form .advanced-search .input-box {
    text-align : left;
}

/* MAIN MENU
------------------------------------------------------------*/

#menu select {
    display : none;
}

#menu {
    position      : relative;
    height        : 36px;
    border-bottom : 4px solid #636363;
    margin-bottom : 8px;
    z-index       : 99991;
}

#menu ul {
    list-style : none;
    margin     : 0;
    padding    : 0;
    /*width      : 750px;*/
}

#menu > div > ul > li {
    float    : left;
    position : relative;
    /*z-index  : 20;*/
}

#menu > div > ul > li > a {
    font-family        : 'Oswald', sans-serif;
    font-size          : 16px;
    /*text-transform     : uppercase;*/
    color              : #363636;
    line-height        : 22px;
    text-decoration    : none;
    font-weight        : normal;
    display            : block;
    padding            : 10px 18px 10px 10px;
    /*z-index            : 6;*/
    position           : relative;
    -webkit-transition : color .4s;
    -moz-transition    : color .4s;
    transition         : color .4s;
}

#menu .lihome a {
    padding : 10px 18px 10px 14px;
}

#menu > div > ul > li:hover > a {
    color : #8CC327;
}

#menu > div > ul > li > div {
    display  : none;
    position : absolute;
    z-index  : 5;
}

#menu > div > ul > li:hover > div {
    display : table;
}

#menu > div > ul > li > div > ul {
    display : table-cell;
}

#menu > div > ul > li ul + ul {
    padding-left : 20px;
}

#menu > div > ul > li ul > li > a {
    text-decoration : none;
    padding         : 6px 14px;
    color           : #FFFFFF;
    display         : block;
    white-space     : nowrap;
    min-width       : 120px;
}

#menu > div > ul > li ul > li > a:hover {
    color      : #363636;
    background : #DDDDDD;
    border     : 1px solid #B5B5B5;
}

#menu > div > ul > li > div > ul > li > a {
    font-family    : 'Oswald', sans-serif;
    color          : #636363;
    font-size      : 13px;
    text-transform : uppercase;
    letter-spacing : 2px;
    background     : #FFFFFF;
    border         : 1px solid #BFBFBF;
    margin         : 0 0 2px;
}

/* SHOPPING CART
------------------------------------------------------------*/

#welcome #cart {
    /*position : absolute;*/
    /*top      : 0;*/
    /*right    : 14px;*/
    z-index : 9;
}

#welcome #cart .heading {
    float      : right;
    height     : 42px;
    text-align : center;
    position   : relative;
    z-index    : 1;
}

#welcome #cart .heading a {
    color           : #363636;
    font-family     : 'Oswald', sans-serif;
    font-size       : 17px;
    text-decoration : none;
    text-transform  : uppercase;
    /*line-height     : 240%;*/
}

#welcome #cart .content {
    clear      : both;
    display    : none;
    position   : absolute;
    top        : 30px;
    right      : 0;
    min-height : 50px;
    min-width  : 120px;
    background : #FFFFFF;
    border     : 1px solid #BFBFBF;
}

#welcome #cart:hover .content,
#welcome #cart .center:hover {
    display : block;
}

.mini-cart-info table {
    border-collapse : collapse;
    width           : 100%;
}

.mini-cart-info td {
    font-family    : 'Oswald', sans-serif;
    vertical-align : middle;
    padding        : 4px 4px 2px;
}

.mini-cart-info tr {
    border-bottom : 1px solid #DDDDDD;
    margin        : 0 0 10px;
}

.mini-cart-info a {
    text-transform  : uppercase;
    text-decoration : none;
    font-weight     : normal;
    color           : #636363;
}

.mini-cart-info a:hover {
    color : #8CC327;
}

.mini-cart-info .image {
    width : 1px;
}

.mini-cart-info .image img {
    padding    : 4px;
    text-align : left;
}

.mini-cart-info .name {
    text-align: center;
}

.mini-cart-info .name small {
    color : #636363;
}

.mini-cart-info .quantity input.qty {
    text-align : center;
}

.mini-cart-info td.total {
    width: 80px;
    text-align: left;
}

.mini-cart-info .remove {
    text-align    : right;
    padding-right : 10px;
}

.mini-cart-info .remove img {
    cursor : pointer;
}

.mini-cart-info .icon-remove {
    cursor : pointer;
}

.mini-cart-info .icon-remove:hover {
    color : #AAAAAA;
}

.mini-cart-total {
    text-align     : right;
    padding-top    : 10px;
    padding-right  : 30px;
    line-height    : 150%;
    font-family    : 'Oswald', sans-serif;
    text-transform : uppercase;
    border-bottom  : 1px solid #DDDDDD;
}

.mini-cart-total table {
    border-collapse : collapse;
    display         : inline-block;
    margin-bottom   : 5px;
}

.mini-cart-total td {
    color : #636363;
}

.mini-cart-total td b {
    color       : #636363;
    margin-left : 4px;
}

#welcome #cart .checkout {
    padding    : 14px 10px;
    clear      : both;
    text-align : center;
}

#welcome #cart .checkout a {
    font-family     : 'Oswald', Arial, sans-serif;
    display         : inline-block;
    text-decoration : none;
    margin-left     : 10px;
    cursor          : pointer;
    color           : #636363;
    line-height     : 12px;
    font-weight     : 700;
    text-transform  : uppercase;

}

#welcome #cart .checkout a:hover {
    color           : #8CC327;
    text-decoration : underline;
}

#welcome #cart .empty {
    padding    : 25px;
    text-align : center;
}

.shopping-cart-mobile {
    display : none;
}

/* LOCATION BAR
------------------------------------------------------------*/

.location-bar {
    margin : 0 0 14px 0;
}

/* BREADCRUMBS
------------------------------------------------------------*/

.breadcrumb {
    text-align : center;
}

.breadcrumb a {
    color           : #878787;
    text-decoration : none;
    margin          : 0;
}

.breadcrumb a:hover {
    text-decoration : underline;
}

/* NOTIFICATION
------------------------------------------------------------*/

.success, .warning, .attention, .information {
    position           : fixed;
    top                : 40px;
    right              : 60px;
    display            : block;
    width              : 200px;
    padding            : 25px 20px 30px;
    margin             : 0 0 10px;
    color              : #363636;
    text-align         : center;
    line-height        : 17px;
    background         : #FFFFFF;
    border             : 1px solid #DDDDDD;
    -webkit-box-shadow : 0 0 0 3px #FFFFFF, 0 0 0 4px #DDDDDD, 0 0 30px 0 #D6D6D6;
    -moz-box-shadow    : 0 0 0 3px #FFFFFF, 0 0 0 4px #DDDDDD, 0 0 30px 0 #D6D6D6;
    box-shadow         : 0 0 0 3px #FFFFFF, 0 0 0 4px #DDDDDD, 0 0 30px 0 #D6D6D6;
    z-index            : 999;
}

.success a:hover, .warning a:hover, .attention a:hover, .information a:hover {
    text-decoration : underline;
}

.success .close, .warning .close, .attention .close, .information .close {
    display  : block;
    position : absolute;
    top      : 5px;
    right    : 5px;
    padding  : 5px;
    cursor   : pointer;
}

.required {
    color       : #DDDDDD;
    font-weight : normal;
}

.error {
    display   : block;
    color     : #D2322A;
    font-size : 11px;
}

.help {
    color       : #9B9B9B;
    font-size   : 10px;
    font-weight : normal;
    display     : block;
}

/* TABLES
------------------------------------------------------------*/

table.form {
    width           : 100%;
    border-collapse : collapse;
    margin-bottom   : 20px;
    margin-left     : 10px;
}

table.form tr td:first-child {
    width          : 200px;
    font-family    : 'Oswald', sans-serif;
    font-weight    : normal;
    text-transform : uppercase;
}

table.form > * > * > td {
    color : #636363;
}

table.form td {
    padding : 8px;
}

input.large-field, select.large-field {
    width : 300px;
}

table.list {
    width           : 940px;
    margin          : 0 20px 20px;
    border-collapse : collapse;
}

table.list td {
    padding : 7px;
}

table.list thead td {
    font-weight   : bold;
    border-bottom : 1px solid #DDDDDD;
}

table.list thead td a, .list thead td {
    text-decoration : none;
    color           : #363636;
    font-weight     : normal;
}

table.list tbody td {
    vertical-align : middle;
    color          : #878787;
}

table.list .left {
    text-align : left;
    padding    : 7px;
}

table.list .right {
    text-align : right;
    padding    : 7px;
}

table.list .center {
    text-align : center;
    padding    : 7px;
}

table.radio {
    width           : 98%;
    border-collapse : collapse;
}

table.radio td {
    padding        : 5px;
    vertical-align : middle;
    text-align     : left;
}

table.radio tr td:first-child {
    width : 1px;
}

table.radio label {
    width  : 98%;
    height : 15px;
    color  : #636363;
}

/* PAGINATION
------------------------------------------------------------*/

.pagination {
    display : inline-block;
    width   : 100%;
    margin  : 20px 10px 6px 0;
}

.pagination .links {
    text-align      : right;
    display         : inline-flex;
    list-style-type : none;
}

.pagination .links a {
    display         : inline-block;
    padding         : 2px 6px;
    margin-left     : -2px;
    color           : #636363;
    font-size       : 12px;
    font-weight     : normal;
    text-decoration : none;
    border          : 1px solid #FFFFFF;
}

.pagination .links a:hover {
    color : #B3B3B3;
}

.pagination .links b {
    display         : inline-block;
    padding         : 2px 6px;
    color           : #FFFFFF;
    font-size       : 12px;
    font-weight     : normal;
    text-decoration : none;
    background      : #636363;
}

.pagination .results {
    /*display: none;*/
    font-size  : 11px;
    text-align : center;
}

/* BUTTONS
------------------------------------------------------------*/

a.button, input.button, button.button {
    font-family        : 'Oswald', sans-serif;
    cursor             : pointer;
    color              : #363636;
    text-transform     : uppercase;
    background         : #FFFFFF;
    border             : 1px solid #DDDDDD;
    -webkit-transition : color .3s,
    background .3s,
    border .3s;
    -moz-transition    : color .3s,
    background .3s,
    border .3s;
    transition         : color .3s,
    background .3s,
    border .3s;
}

input.button, a.button, button.button {
    display         : inline-block;
    text-decoration : none;
    padding         : 6px 20px;
}

a.button:hover,
input.button:hover,
button.button:hover {
    background : #636363;
    border     : 1px solid #636363;
    color      : #FFFFFF;
}

/* BUTTONS
------------------------------------------------------------*/

.buttons {
    overflow : auto;
    padding  : 5px 0;
}

.buttons .left {
    float      : left;
    text-align : left;
}

.buttons .right {
    float      : right;
    text-align : right;
}

.buttons .center {
    text-align   : center;
    margin-left  : auto;
    margin-right : auto;
}

/* PRODUCT TABS
------------------------------------------------------------*/

.htabs {
    text-align : center;
    margin     : 30px 0 0 0;
}

.htabs a {
    display         : none;
    color           : #636363;
    font-family     : 'Oswald', sans-serif;
    padding         : 6px 12px 4px;
    margin-right    : 0;
    font-size       : 14px;
    font-weight     : 400;
    text-align      : center;
    text-decoration : none;
    text-transform  : uppercase;
    border-bottom   : 1px solid #DDDDDD;
}

.htabs a:hover {
    color : #363636;
}

.htabs a.selected {
    color              : #363636;
    -webkit-box-shadow : inset 0 -3px 0 0 #DDDDDD;
    -moz-box-shadow    : inset 0 -3px 0 0 #DDDDDD;
    box-shadow         : inset 0 -3px 0 0 #DDDDDD;
}

.tab-content {
    z-index  : 2;
    overflow : hidden;
    margin   : 10px 0 0;
}

.tab-content p {
    text-align : justify;
}

/* BOX
------------------------------------------------------------*/

.box .box-heading {
    font-family    : 'Oswald', sans-serif;
    color          : #363636;
    font-size      : 19px;
    font-weight    : normal;
    text-transform : uppercase;
    background     : url('images/dot.png') 50% 50% repeat-x;
    padding        : 0;
    margin         : 0 0 18px;
    clear          : both;
}

.box .box-heading span {
    background : #FFFFFF;
    padding    : 0 6px 0 0;
}

.box .box-content {
    background : #FFFFFF;
    margin     : 0 0 16px;
}

#column-left .box, #column-right .box {
    margin : 0 0 60px 0;
}

/* BOX PRODUCT
------------------------------------------------------------*/
.box-product {
    width    : 100%;
    overflow : hidden;
}

.box-product > div:nth-child(n+5) {
    display : none;
}

.box-product > div {
    position           : relative;
    width              : 227px;
    display            : inline-block;
    text-align         : center;
    vertical-align     : top;
    margin             : 0 20px 40px 0;
    overflow           : hidden;
    -webkit-transition : border .3s;
    -moz-transition    : border .3s;
    transition         : border .3s;
}

.box-product > div:nth-child(4n) {
    margin : 0 0 20px 0;
}

.box-product .name a {
    color              : #636363;
    text-decoration    : none;
    text-transform     : uppercase;
    display            : block;
    margin             : 8px 0 0 0;
    -webkit-transition : color .3s;
    -moz-transition    : color .3s;
    transition         : color .3s;
}

.box-product .name a:hover {
    color : #363636;
}

.box-product .price {
    display            : block;
    color              : #567F0D;
    font-size          : 18px;
    margin             : 4px 0 6px;
    -webkit-transition : color .3s;
    -moz-transition    : color .3s;
    transition         : color .3s;
}

.box-product .price-old {
    color       : #D9D9D9;
    font-weight : normal;
    display     : none;
}

.box-product .price-new {
    color : #D2322A;
}

.box-product .rating {
    display : none;
}

.box-product .sale {
    position : absolute;
    top      : 2px;
    right    : 4px;
}

.box-product .sale .icon-barcode {
    color     : #D2322A;
    cursor    : default;
    font-size : 28px;
}

#column-left .sale, #column-right .sale {
    display : none;
}

#column-left .box-product, #column-right .box-product {
    padding  : 0;
    overflow : hidden;
}

#column-left .box-product > div, #column-right .box-product > div {
    position   : relative;
    width      : 100%;
    display    : inline-block;
    text-align : left;
    margin     : 0 0 20px;
    padding    : 0;
    border     : none;
    overflow   : hidden;
}

#column-left .box-product > div:hover, #column-right .box-product > div:hover {
    border        : none;
    border-radius : 0;
    box-shadow    : none;
}

#column-left .box-product .cart input.button, #column-right .box-product .cart input.button {
    display : none;
}

#column-left .box-product .image, #column-right .box-product .image {
    float   : right;
    padding : 0 0 0 8px;
}

#column-left .box-product .name a, #column-right .box-product .name a {
    color           : #636363;
    text-transform  : capitalize;
    text-decoration : none;
    line-height     : 21px;
    display         : block;
    margin          : 0 0 2px;
    padding         : 0;
}

#column-left .box-product .name a:hover, #column-right .box-product .name a:hover {
    color : #363636;
}

#column-left .box-product .price, #column-right .box-product .price {
    font-size : 16px;
}

.more {
    text-align : center;
}

.more .fa-align-justify {
    display            : block;
    cursor             : pointer;
    color              : #636363;
    background         : url('images/more.png');
    font-size          : 14px;
    padding            : 6px;
    -webkit-transition : color .3s;
    -moz-transition    : color .3s;
    transition         : color .3s;
}

.more .icon-plus:hover {
    color : #73923A;
}

#column-left .more, #column-right .more {
    display : none;
}

/* BOX CATEGORY
------------------------------------------------------------*/

ul.box-category, ul.box-category ul {
    list-style : none;
    margin     : 0;
    padding    : 0;
}

ul.box-category > li:first-child {
    padding : 0 8px 4px 0;
}

ul.box-category > li {
    padding : 8px 8px 8px 0;
}

ul.box-category > li + li {
    border-top : 1px solid #DDDDDD;
}

ul.box-category > li > a {
    color : #636363;
}

ul.box-category > li > a:hover {
    color : #8CC327;
}

ul.box-category > li ul {
    display : none;
}

ul.box-category > li a.active {
    font-style : italic;
}

ul.box-category > li a.active + ul {
    display : block;
}

ul.box-category > li ul > li {
    padding : 10px 5px 1px 6px;
}

ul.box-category > li ul > li > a {
    text-decoration : none;
    color           : #636363;
    display         : block;
}

ul.box-category > li ul > li > a:hover {
    color : #8CC327;
}

ul.box-category > li ul > li > a.active {
    font-weight : bold;
    color       : #8CC327;
}

/* BOX FILTER
------------------------------------------------------------*/

ul.box-filter, ul.box-filter ul {
    list-style : none;
    margin     : 0;
    padding    : 0;
}

ul.box-filter span {
    font-weight    : bold;
    border-bottom  : 1px solid #EDECE9;
    display        : block;
    padding-bottom : 5px;
    margin-bottom  : 8px;
}

ul.box-filter > li ul {
    padding-bottom : 10px;
}

/* CONTENT
------------------------------------------------------------*/

#content .content {
    padding  : 10px;
    overflow : hidden;
    margin   : 20px 0;
}

#content .content .left {
    float : left;
}

#content .content ul {
    color       : #878787;
    line-height : 180%;
}

#content .content ul > li a {
    color : #878787;

}

#content .content ul > li a:hover {
    color : #636363;
}

#content .content td {
    color : #878787;
}

#content .content .right {
    float : right;
}

/* CATEGORY INFO
------------------------------------------------------------*/

.category-info {
    overflow : auto;
    padding  : 8px 0;
    margin   : 0;
}

.category-info p {
    color      : #636363;
    text-align : justify;
    margin     : 0;
}

.category-info .image {
    float   : left;
    margin  : 0 0 10px;
    padding : 0 20px 0 0;
}

.category-list {
    overflow : auto;
    margin   : 0 0 20px;
    padding  : 0 0 4px 0;
}

.category-list ul {
    margin  : 0;
    padding : 0;
}

.category-list ul li {
    float      : left;
    list-style : none;
    margin     : 12px 2px 12px 0;
}

.category-list ul li a {
    color              : #636363;
    text-decoration    : none;
    border             : 1px solid #DDDDDD;
    padding            : 4px 22px;
    -webkit-transition : .3s;
    -moz-transition    : .3s;
    transition         : .3s;
}

.category-list ul li a:hover {
    background : #636363;
    border     : 1px solid #636363;
    color      : #FFFFFF;
}

.category-list .div a {
    text-decoration : underline;
    font-weight     : normal;
}

/* MANUFACTURER
------------------------------------------------------------*/

.bndx {
    margin-left   : 20px;
    margin-right  : 20px;
    font-weight   : normal;
    border-bottom : 1px solid #EAEAEA;
    padding       : 10px 25px;
}

.bndx a {
    color          : #636363;
    font-size      : 15px;
    font-weight    : normal;
    text-transform : uppercase;
}

.manufacturer-list {
    padding       : 15px 20px;
    overflow      : auto;
    margin        : 0 20px;
    border-bottom : 1px solid #EAEAEA;
}

.manufacturer-list:last-child {
    border : none;
}

.manufacturer-list a {
    color           : #999999;
    text-decoration : none;
}

.manufacturer-list a:hover {
    color : #8CC327;
}

.manufacturer-heading {
    font-family    : 'Oswald', sans-serif;
    color          : #636363;
    font-size      : 28px;
    padding        : 0 8px 0;
    margin-bottom  : 6px;
    text-transform : uppercase;
}

.manufacturer-content {
    padding : 5px;
}

.manufacturer-list ul {
    float         : left;
    width         : 25%;
    padding       : 0;
    list-style    : none;
    margin-bottom : 10px;
}

/* PRODUCT FILTER
------------------------------------------------------------*/
#content .nav-tabs > li a:hover {
    border-color : transparent;
}

#content .nav > li > a:hover, .nav > li > a:focus {
    background-color : transparent;
}

#content #navtabs .nav-tabs {
    border-bottom : none;
}

#content .nav-tabs > li > a {
    border-bottom  : 1px solid #DDDDDD;
    text-transform : uppercase;
    color          : #636363;
    font-weight    : bold;
}

#content .nav-tabs > li.active > a,
#content .nav-tabs > li.active > a:hover,
#content .nav-tabs > li.active > a:focus {
    webkit-box-shadow : inset 0 -3px 0 0 #DDDDDD;
    -moz-box-shadow   : inset 0 -3px 0 0 #DDDDDD;
    box-shadow        : inset 0 -4px 0 0 #DDDDDD;
    border            : none;
    color             : #000000;

}

.product-filter {
    overflow      : auto;
    padding       : 0;
    border-bottom : 1px solid #DDDDDD;
}

.product-filter .display {
    float   : right;
    margin  : 0 4px 0 0;
    padding : 9px 0 13px 10px;
}

.product-filter .list-text {
    margin-left : 0;
    font-size   : 0;
}

.product-filter .grid-text {
    margin-left : 0;
    font-size   : 0;
}

.product-filter .list-view {
    display      : inline;
    height       : 27px;
    width        : 27px;
    padding      : 14px 14px 13px 13px;
    margin-right : 5px;
    background   : url('images/list.png') no-repeat center left;
}

.product-filter .list-view-active {
    display      : inline;
    height       : 27px;
    width        : 27px;
    padding      : 14px 14px 13px 13px;
    margin-right : 5px;
    background   : url('images/list-active.png') no-repeat center left;
}

.product-filter .grid-view {
    display    : inline;
    height     : 27px;
    width      : 27px;
    padding    : 14px 14px 13px 13px;
    background : url('images/grid.png') no-repeat center left;
}

.product-filter .grid-view-active {
    display    : inline;
    height     : 27px;
    width      : 27px;
    padding    : 14px 14px 13px 13px;
    background : url('images/grid-active.png') no-repeat center left;
}

.product-filter .text-styling {
    color     : #636363;
    font-size : 15px;
}

.product-filter .sort {
    float       : right;
    padding-top : 8px;
    color       : #B9B9B9;
}

.product-filter .limit {
    float       : right;
    padding-top : 8px;
    margin      : 0 0 0 10px;
}

.product-compare {
    display    : inline-block;
    margin-top : 8px;
}

.product-compare a {
    font-family     : 'Oswald', sans-serif;
    text-transform  : uppercase;
    text-decoration : none;
    font-weight     : normal;
    font-size       : 15px;
    color           : #636363;
    line-height     : 26px;
}

.product-compare a:hover {
    color : #8CC327;
}

/* PRODUCT LIST
------------------------------------------------------------*/
/* BEGIN FOR al template */
.image_view_product_list {
    width               : 228px;
    height              : 228px;
    background-position : center;
    background-size     : cover;
}

.price .mwst_info {
    display : none;
}

#product .price .mwst_info {
    color       : #000000;
    font-size   : 11px;
    margin-top  : -10px;
    display     : block;
    line-height : initial;
}

/* END For al template */
.product-list > div {
    position      : relative;
    overflow      : auto;
    margin        : 20px 0;
    padding       : 0 0 17px;
    border-bottom : 1px solid #DDDDDD;
}

.product-list .right {
    float       : right;
    margin-left : 30px;
}

.product-list .image {
    float        : left;
    margin-right : 30px;
}

.product-list .name a {
    color              : #636363;
    font-weight        : bold;
    text-decoration    : none;
    text-transform     : uppercase;
    display            : block;
    margin             : 0 0 30px;
    padding            : 20px 0 0;
    -webkit-transition : color .3s;
    -moz-transition    : color .3s;
    transition         : color .3s;
}

.product-list .name a:hover {
    color : #363636;
}

.product-list .description {
    line-height : 21px;
    color       : #4D4D4D;
}

.product-list .rating {
    margin : 7px 0 0;
}

.product-list .price {
    float              : right;
    color              : #567F0D;
    font-size          : 18px;
    margin             : 0 0 6px;
    padding            : 20px 0 0;
    -webkit-transition : color .3s;
    -moz-transition    : color .3s;
    transition         : color .3s;
}

.product-list .price-old {
    color       : #D9D9D9;
    font-weight : normal;
    display     : none;
}

.product-list .price-new {
    color : #D2322A;
}

.product-list .price-tax {
    display : none;
}

.product-list .cart {
    margin : 20px 10px 13px;
}

.product-list .wishlist, .product-list .compare {
    font-family        : 'Oswald', sans-serif;
    text-transform     : uppercase;
    text-align         : center;
    margin-bottom      : 3px;
    border             : 1px solid #DDDDDD;
    padding            : 4px 0;
    -webkit-transition : .3s;
    -moz-transition    : .3s;
    transition         : .3s;
}

.product-list .wishlist a {
    color           : #636363;
    font-size       : 11px;
    text-decoration : none;
    display         : block;
}

.product-list .compare a {
    color           : #636363;
    font-size       : 11px;
    text-decoration : none;
    display         : block;
}

.product-list .wishlist a:hover, .product-list .compare a:hover {
    color : #363636;
}

.product-list .wishlist:hover, .product-list .compare:hover {
    border : 1px solid #A2A2A2;
}

.product-list .sale {
    display : none;
}

/* PRODUCT GRID
------------------------------------------------------------*/

.product-grid {
    width    : 100%;
    overflow : auto;
    padding  : 20px 0;
}

.product-grid > div {
    position           : relative;
    width              : 222px;
    display            : inline-block;
    text-align         : center;
    vertical-align     : top;
    margin             : 0 20px 40px 0;
    overflow           : hidden;
    -webkit-transition : border .3s;
    -moz-transition    : border .3s;
    transition         : border .3s;
}

/*.product-grid > div:nth-child(3n) {*/
/*margin : 0 0 20px 0;*/
/*}*/

.product-grid .name a {
    color              : #636363;
    text-decoration    : none;
    text-transform     : uppercase;
    display            : block;
    margin             : 8px 0 0 0;
    -webkit-transition : color .3s;
    -moz-transition    : color .3s;
    transition         : color .3s;
}

.product-grid .name a:hover {
    color : #363636;
}

.product-grid .description {
    display : none;
}

.product-grid .rating {
    display : none;
}

.product-grid .price {
    display            : block;
    color              : #567F0D;
    font-size          : 18px;
    margin             : 4px 0 6px;
    -webkit-transition : color .3s;
    -moz-transition    : color .3s;
    transition         : color .3s;
}

.product-grid .price-old {
    color       : #D9D9D9;
    font-weight : normal;
    display     : none;
}

.product-grid .price-new {
    color : #D2322A;
}

.product-grid .price .price-tax {
    display : none;
}

.product-grid .wishlist a,
.product-grid .compare a {
    display : none;
}

.product-grid .sale {
    position : absolute;
    top      : 2px;
    right    : 4px;
}

.product-grid .sale .icon-barcode {
    color     : #D2322A;
    cursor    : default;
    font-size : 28px;
}

/* PRODUCT INFO
------------------------------------------------------------*/

.product-info {
    overflow      : auto;
    margin-bottom : 20px;
}

.product-info .tab-content .product-description {
    float      : left;
    display    : block;
    width      : 250px;
    margin     : 0 20px 0 10px;
    text-align : right;
}

.product-info .tab-content .product-images {
    float   : left;
    margin  : 0 20px 0 0;
    display : block;
}

.product-info .tab-content .product-options {
    /*padding : 10px 0;*/
    /*margin  : 0 10px 0 710px;*/
}

.product-info .tab-content .product-options label {
    margin : 0;
}

.product-info .image {
    margin-bottom : 20px;
}

.product-info .image-additional {
    width      : 420px;
    text-align : center;
    clear      : both;
    overflow   : hidden;
}

.product-info .image-additional img {
    display    : inline;
    margin     : 0 2px 2px 0;
    padding    : 0;
    text-align : center;
}

.product-info .price {
    overflow    : auto;
    color       : #636363;
    font-weight : 400;
    margin-top  : 18px;
}

.product-info .price-regular {
    font-size : 20px;
}

.product-info .price-old {
    color     : #999999;
    font-size : 14px;
}

.product-info .price-new {
    color     : #D2322A;
    font-size : 20px;
}

.product-info .price-tax {
    display     : block;
    font-weight : normal;
    color       : #999999;
    margin-top  : 4px;
}

.product-info .price .reward {
    display     : block;
    font-weight : normal;
    color       : #999999;
    margin-top  : 0;
}

.product-info .price .discount {
    font-weight : normal;
    color       : #757575;
}

.product-info .description {
    line-height : 25px;
    /*margin-top  : 10px;*/
}

.product-info .description .dcolumn1, .product-info .description .dcolumn2 {
    display : inline-block;
    margin  : 0 1px 1px 0;
    padding : 0 8px;
}

.product-info .description .dcolumn1 {
    border-bottom : 1px solid #DDDDDD;
}

.product-info .description .dcolumn2 {
    color      : #FFFFFF;
    background : #636363;
    border     : 1px solid #636363;
    width      : 70px;
}

.product-info .description a {
    color : #FFFFFF;
}

.product-info .description a:hover {
    color : #EAEAEA;
}

.product-info .options {
    color       : #636363;
    font-weight : bold;
}

.product-info .options h2 {
    padding : 4px 0;
}

.product-info .options h2 .heading-lines {
    padding : 4px 6px 4px 2px;
}

.product-info .options label, .product-info .options select {
    font-weight : normal;
}

.product-info .option-image {
    margin-top    : 3px;
    margin-bottom : 10px;
}

.product-info .option-image label {
    display : block;
    width   : 100%;
    height  : 100%;
}

.product-info .option-image img {
    margin-right : 5px;
    cursor       : pointer;
}

.product-info .cart {
    overflow : auto;
    margin   : 10px 0 0 0;
}

.product-info .cart .qty-text {
    float         : left;
    padding-top   : 17px;
    padding-right : 4px;
    color         : #999999;
}

.product-info .cart .qty-input {
    display : block;
    margin  : 2px;
}

.product-info .cart .button {
    margin : 20px 0 0 0;
}

.product-info .cart input.button,
.product-info .cart button.button {
    font-family        : 'Oswald', sans-serif;
    padding            : 10px 30px;
    font-size          : 21px;
    color              : #FFFFFF;
    background         : #8CC327;
    border             : 1px solid #8CC327;
    -webkit-transition : background .3s, border .3s, color .3s;
    -moz-transition    : background .3s, border .3s, color .3s;
    transition         : background .3s, border .3s, color .3s;
}

.product-info .cart input.button:hover,
.product-info .cart button.button:hover {
    background : #FFFFFF;
    border     : 1px solid #DDDDDD;
    color      : #8CC327;
}

.product-info .wishlist a, .product-info .compare a {
    color              : #636363;
    -webkit-transition : .3s;
    -moz-transition    : .3s;
    transition         : .3s;
}

.product-info .wishlist a {
    float          : left;
    font-family    : 'Oswald', sans-serif;
    border         : 1px solid #DDDDDD;
    margin         : 20px 16px 0 0;
    padding        : 10px 20px;
    text-transform : uppercase;
}

.product-info .compare a {
    float          : left;
    font-family    : 'Oswald', sans-serif;
    border         : 1px solid #DDDDDD;
    margin         : 3px 0 0 0;
    padding        : 10px 22px;
    text-transform : uppercase;
}

.product-info .wishlist a:hover, .product-info .compare a:hover {
    color      : #FFFFFF;
    background : #636363;
    border     : 1px solid #636363;
}

.product-info .cart .minimum {
    font-size : 11px;
    color     : #999999;
}

.product-info .icon-pencil {
    font-size   : 14px;
    margin-left : 40px;
}

.product-info .review {
    font-family    : 'Oswald', sans-serif;
    text-transform : uppercase;
    margin         : 10px auto 20px;
    padding        : 0 0 3px;
    text-align     : center;
}

.product-info .review .icon-pencil {
    font-size    : 16px;
    margin-right : 4px;
    margin-left  : 10px;
}

.product-info .review .share {
    overflow    : auto;
    line-height : normal;
    display     : none;
}

.product-info .review .share a {
    text-decoration : none;
    font-size       : 11px;
    color           : #747474;
}

.product-info .review a {
    font-size : 13px;
    color     : #878787;
}

.product-info .review .share a:hover,
.product-info .review a:hover {
    color : #8CC327;
}

.product-info .tags {
    margin : 40px 0;
}

.product-info .tags div {
    display     : inline-block;
    font-weight : bold;
    color       : #636363;
    margin      : 0 0 4px;
}

.product-info .tags a {
    display            : inline-block;
    text-transform     : lowercase;
    text-decoration    : none;
    line-height        : 25px;
    color              : #636363;
    background         : #F7F7F7;
    margin             : 0 -2px 2px 0;
    padding            : 0 8px;
    -webkit-transition : color .3s,
    background .3s;
    -moz-transition    : color .3s,
    background .3s;
    transition         : color .3s,
    background .3s;
}

.product-info .tags a:hover {
    background : #636363;
    color      : #FFFFFF;
}

/* REVIEWS
------------------------------------------------------------*/

.review-list {
    padding    : 0 20px 10px 20px;
    overflow   : auto;
    margin     : 20px 0 10px 0;
    background : #F9FBF7;
}

.review-list .author {
    float : left;
    color : #878787;
}

.review-list .author span {
    font-family    : 'Oswald', sans-serif;
    text-transform : uppercase;
}

.review-list .author .icon-user {
    position     : relative;
    top          : 10px;
    font-size    : 48px;
    color        : #EDEFEB;
    margin-right : 10px;
}

.review-list .rating {
    float      : right;
    margin-top : 23px;
}

.review-list .text {
    clear       : both;
    line-height : 21px;
    padding     : 20px 0;
}

/* ATTRIBUTE
------------------------------------------------------------*/

.attribute {
    border-collapse : collapse;
    width           : 100%;
    border-top      : 1px solid #DDDDDD;
    border-left     : 1px solid #DDDDDD;
    margin-top      : 20px;
    margin-bottom   : 20px;
}

.attribute thead td, .attribute thead tr td:first-child {
    color       : #636363;
    font-weight : bold;
    text-align  : left;
}

.attribute tr td:first-child {
    color       : #636363;
    font-weight : normal;
    text-align  : right;
    width       : 20%;
}

.attribute td {
    padding        : 7px;
    color          : #878787;
    text-align     : center;
    vertical-align : top;
    border-right   : 1px solid #DDDDDD;
    border-bottom  : 1px solid #DDDDDD;
}

/* COMPARE INFO
------------------------------------------------------------*/

.compare-info {
    border-collapse : collapse;
    width           : 96%;
    margin          : 0 20px 20px;
}

.compare-info thead td, .compare-info thead tr td:first-child {
    color          : #636363;
    font-family    : 'Oswald', sans-serif;
    font-weight    : normal;
    text-align     : left;
    text-transform : uppercase;
    background     : #FFFFFF;
    margin-bottom  : 4px;
}

.compare-info tr td:first-child {
    color       : #636363;
    font-weight : bold;
    text-align  : right;
}

.compare-info td {
    padding        : 7px;
    width          : 20%;
    color          : #878787;
    text-align     : center;
    vertical-align : top;
}

.compare-info tbody td {
    border : 1px solid #EDECE9;
}

.compare-info .name a {
    color       : #636363;
    font-weight : normal;
}

.compare-info .name a:hover {
    color : #8CC327;
}

.compare-info .price {
    color       : #636363;
    font-size   : 15px;
    font-weight : bold;
}

.compare-info .price-old {
    color           : #999999;
    font-weight     : normal;
    text-decoration : line-through;
    display         : none;
}

.compare-info .price-new {
    color       : #D2322A;
    font-weight : bold;
    font-size   : 15px;
}

/* WISHLIST
------------------------------------------------------------*/

.wishlist-info table {
    width           : 940px;
    margin          : 0 20px 20px;
    border-collapse : collapse;
}

.wishlist-info td {
    padding : 7px;
    border  : 1px solid #DDDDDD;
}

.wishlist-info thead td {
    color         : #636363;
    font-weight   : bold;
    border-right  : 1px solid #DDDDDD;
    border-bottom : 1px solid #DDDDDD;
}

.wishlist-info thead .image {
    text-align : center;
}

.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
    text-align : left;
}

.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
    text-align : right;
}

.wishlist-info tbody td {
    vertical-align : middle;
    color          : #878787;
    border-right   : 1px solid #DDDDDD;
    border-bottom  : 1px solid #DDDDDD;
}

.wishlist-info tbody td a {
    color : #636363;
}

.wishlist-info tbody td a:hover {
    color : #8CC327;
}

.wishlist-info tbody .image img {
}

.wishlist-info tbody .image {
    text-align : center;
}

.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
    text-align : left;
}

.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
    text-align : right;
}

.wishlist-info tbody .price s {
    display : none;
}

.wishlist-info tbody .action img {
    cursor : pointer;
}

.wishlist-info .action a {
    font-size : 16px;
}

.wishlist-info .action a:hover {
    color : #B3B3B3;
}

/* LOGIN PAGE
------------------------------------------------------------*/

.align-loginbox {
    list-style : none;
    display    : inline-flex;
}

.align-loginbox li {
    margin : 0 5px;
}

.login-content {
    padding    : 0 20px 20px 20px;
    overflow   : auto;
    color      : #8A8A8A;
    text-align : center;
}

.login-content p {
    text-align : center;
}

.login-content .left {
    position : relative;
    float    : left;
    width    : 47%;
}

.login-content .right {
    position : relative;
    float    : right;
    width    : 47%;
}

.login-content .right a {
    color : #999999;
}

.login-content .right a:hover {
    color : #8CC327;
}

/* ORDER LIST
------------------------------------------------------------*/

.order-list {
    line-height : 180%;
    color       : #878787;
}

.order-list .order-id {
    width         : 49%;
    float         : left;
    margin-bottom : 2px;
}

.order-list .order-status {
    width         : 49%;
    float         : right;
    text-align    : right;
    margin-bottom : 2px;
}

.order-list .order-content {
    padding       : 10px 0;
    display       : inline-block;
    width         : 100%;
    margin-bottom : 20px;
    border-top    : 1px solid #EDECE9;
    border-bottom : 1px solid #EDECE9;
}

.order-list .order-content div {
    float : left;
    width : 33.3%;
}

.order-list .order-info {
    text-align : right;
}

.order-detail {
    background  : #FFFFFF;
    font-weight : normal;
}

/* RETURN PAGE
------------------------------------------------------------*/

#return-info {
    padding : 20px 0 10px;
    margin  : 0 20px 20px 20px;
}

#return-info p {
    text-align : center;
}

#return-product {
    margin : 0 20px 20px 20px;
}

#return-product h2 {
    margin-bottom : 20px;
}

#return-product td, #return-product label, .gift-voucher label {
    color : #8A8A8A;
}

.return-product {
    overflow      : auto;
    margin-bottom : 20px;
}

.return-data {
    float : left;
}

.return-reason {
    float      : right;
    margin-top : 5px;
}

.return-name {
    padding       : 4px;
    margin-bottom : 6px;
}

.return-model {
    padding       : 4px;
    margin-bottom : 6px;
}

.return-quantity {
    padding       : 4px;
    margin-bottom : 6px;
}

.return-detail {
    overflow      : auto;
    margin-bottom : 20px;
}

.return-opened textarea {
    width          : 98%;
    vertical-align : top;
}

.return-captcha {
    margin-top : 30px;
}

/* RETURN LIST
------------------------------------------------------------*/

.return-list {
    margin-bottom : 10px;
}

.return-list .return-id {
    width         : 49%;
    float         : left;
    margin-bottom : 2px;
}

.return-list .return-status {
    width         : 49%;
    float         : right;
    text-align    : right;
    margin-bottom : 2px;
}

.return-list .return-content {
    padding       : 10px 0;
    display       : inline-block;
    width         : 100%;
    margin-bottom : 20px;
    border-top    : 1px solid #EDECE9;
    border-bottom : 1px solid #EDECE9;
}

.return-list .return-content div {
    float : left;
    width : 33.3%;
}

.return-list .return-info {
    text-align : right;
}

/* DOWNLOAD LIST
------------------------------------------------------------*/

.download-list {
    margin-bottom : 10px;
}

.download-list .download-id {
    width         : 49%;
    float         : left;
    margin-bottom : 2px;
}

.download-list .download-status {
    width         : 49%;
    float         : right;
    text-align    : right;
    margin-bottom : 2px;
}

.download-list .download-content {
    padding       : 10px 0;
    display       : inline-block;
    width         : 100%;
    margin-bottom : 20px;
    border-top    : 1px solid #EDECE9;
    border-bottom : 1px solid #EDECE9;
}

.download-list .download-content div {
    float : left;
    width : 33.3%;
}

.download-list .download-info {
    text-align : right;
}

/* SHOPPING CART
------------------------------------------------------------*/

.cart-info table {
    width           : 940px;
    margin          : 0 20px 20px;
    border-collapse : collapse;
    border          : 1px solid #DDDDDD;
}

.cart-info td {
    padding : 7px;
}

.cart-info thead td {
    color         : #636363;
    font-weight   : bold;
    border-right  : 1px solid #DDDDDD;
    border-bottom : 1px solid #DDDDDD;
}

.cart-info thead .image {
    text-align : center;
}

.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
    text-align : center;
}

.cart-info thead .price, .cart-info thead .total {
    text-align : center;
}

.cart-info tbody td {
    vertical-align : middle;
    color          : #878787;
    border-right   : 1px solid #DDDDDD;
    border-bottom  : 1px solid #DDDDDD;
}

.cart-info tbody td a {
    color : #636363;
}

.cart-info tbody td a:hover {
    color : #8CC327;
}

.cart-info tbody .image img {
}

.cart-info tbody .image {
    text-align : center;
}

.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
    text-align : center;
}

.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
    position : relative;
    top      : 4px;
    cursor   : pointer;
}

.cart-info tbody .price, .cart-info tbody .total {
    text-align : center;
}

.cart-info tbody span.stock {
    color       : #D2322A;
    font-weight : normal;
}

.cart-info .cart-ctrl a {
    color     : #636363;
    font-size : 16px;
}

.cart-info .cart-ctrl a:hover {
    color           : #B3B3B3;
    text-decoration : none;
}

.cart-module > div {
    display : none;
}

.cart-total {
    border-top  : 1px solid #DDDDDD;
    overflow    : auto;
    padding-top : 8px;
    margin      : 0 0 20px;
}

.cart-total table {
    float : right;
}

.cart-total td {
    padding    : 3px;
    text-align : right;
}

/* CHECKOUT
------------------------------------------------------------*/

.checkout {
    margin : 0 20px;
}

.checkout-new-address {
    width  : 500px;
    margin : 0 auto
}

.checkout-heading {
    color          : #636363;
    font-family    : 'Oswald', sans-serif;
    text-transform : uppercase;
    font-size      : 15px;
    margin         : 2px 0;
    padding        : 15px 10px 2px;
    border         : 1px solid #DDDDDD;
}

.checkout-heading a {
    float           : right;
    margin-top      : 1px;
    color           : #8CC327;
    text-decoration : none;
    text-transform  : lowercase
}

.checkout-heading a:hover {
    text-decoration : underline;
}

.checkout-content {
    display            : none;
    padding            : 10px;
    overflow           : auto;
    border             : 1px solid #DDDDDD;
    -webkit-box-shadow : 0 -43px 0 0 #DDDDDD;
    -moz-box-shadow    : 0 -43px 0 0 #DDDDDD;
    box-shadow         : 0 -43px 0 0 #DDDDDD;
}

.checkout-content .left {
    float       : left;
    width       : 48%;
    margin-left : 5px;
}

.checkout-content .right {
    float       : right;
    width       : 48%;
    margin-left : 5px;
}

.checkout-content .right a {
    color : #878787;
}

.checkout-content .buttons {
    clear : both;
}

.checkout-product table {
    width           : 100%;
    border-collapse : collapse;
    margin-bottom   : 20px;
    border          : 1px solid #DDDDDD;
}

.checkout-product td {
    padding : 7px;
}

.checkout-product thead td {
    color         : #636363;
    font-weight   : bold;
    border-left   : 1px solid #DDDDDD;
    border-right  : 1px solid #DDDDDD;
    border-bottom : 1px solid #DDDDDD;
}

.checkout-product thead .name, .checkout-product thead .model {
    text-align : left;
}

.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
    text-align : right;
    color      : #636363;
}

.checkout-product tbody td {
    vertical-align : middle;
    color          : #878787;
    border-left    : 1px solid #DDDDDD;
    border-right   : 1px solid #DDDDDD;
    border-bottom  : 1px solid #DDDDDD;
}

.checkout-product tbody td a {
    color : #636363;
}

.checkout-product tbody td a:hover {
    color : #8CC327;
}

.checkout-product tbody .name, .checkout-product tbody .model {
    text-align : left;
}

.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
    text-align : right;
}

.checkout-product tfoot td {
    text-align : right;
    color      : #636363;
}

/* CONTACT
------------------------------------------------------------*/

.contact-info {
    float         : left;
    width         : 44.6%;
    margin-left   : 20px;
    margin-bottom : 32px;
}

.contact-info .text-styling, .contact-form .text-styling {
    color : #878787;
}

.contact-form .error {
    display   : block;
    color     : #D2322A;
    font-size : 11px;
}

.contact-info p, .contact-form p {
    margin : 0;
}

.contact-info .left {
    float : left;
    width : 48%;
}

.contact-info .right {
    float : left;
    width : 48%;
}

.contact-form {
    float         : right;
    width         : 45%;
    margin-right  : 20px;
    margin-bottom : 32px;
}

form .form-list {
    list-style-type : none;
}

form ul li .field {
    margin : 10px 0;
    width  : 50%;
}

form ul li .wide {
    width : 90%;
}

form .textarea {
    width : 90%;
}

form ul li .field input,
form ul li .wide {
    width : 100%;
}

/* SITEMAP
------------------------------------------------------------*/

.sitemap-info {
    overflow       : auto;
    margin         : 0 40px 40px;
    padding-bottom : 8px;
}

.sitemap-info ul {
    list-style-type : disc;
    color           : #999999;
}

.sitemap-info ul li {
    line-height : 180%;
    color       : #999999;
}

.sitemap-info a {
    color           : #999999;
    text-decoration : none;
}

.sitemap-info a:hover {
    color : #544C50;
}

.sitemap-info .left {
    float        : left;
    width        : 46.6%;
    padding      : 10px 0;
    margin-right : 28px;
}

.sitemap-info .right {
    float   : left;
    width   : 46.2%;
    padding : 10px 0;
}

.sitemap-info .right p {
    margin : 0;
    color  : #999999;
}

/* GIFT VOUCHERS
------------------------------------------------------------*/

.gift-voucher {
    position : relative;
    margin   : 0 20px 20px 20px;
    padding  : 10px 20px;
}

.gift-voucher p {
    text-align : center;
}

/* FOOTER
------------------------------------------------------------*/

#footer {
    position   : relative;
    clear      : both;
    overflow   : auto;
    min-height : 150px;
    padding    : 6px 0 0 10px;
    border-top : 4px solid #636363;
}

#footer h3 {
    color          : #363636;
    font-family    : 'Oswald', sans-serif;
    font-size      : 17px;
    text-transform : uppercase;
    font-weight    : normal;
    margin         : 0;
    padding        : 0 0 6px;
}

#footer .column1,
#footer .column2,
#footer .column3,
#footer .column4,
#footer .column5 {
    float    : left;
    width    : 25%;
    position : relative;
    z-index  : 1;
}

#footer .column1 ul,
#footer .column2 ul,
#footer .column3 ul,
#footer .column4 ul,
#footer .column5 ul {
    padding    : 0;
    margin     : 6px 0 0;
    list-style : none;
}

#footer .column1 ul li,
#footer .column2 ul li,
#footer .column3 ul li,
#footer .column4 ul li,
#footer .column5 ul li {
    margin-bottom : 6px;
}

#footer .column1 a,
#footer .column2 a,
#footer .column3 a,
#footer .column4 a {
    text-decoration    : none;
    color              : #636363;
    line-height        : 120%;
    padding            : 0 0 0 4px;
    -webkit-transition : color .3s;
    -moz-transition    : color .3s;
    transition         : color .3s;
}

#footer .column1 a:hover,
#footer .column2 a:hover,
#footer .column3 a:hover,
#footer .column4 a:hover {
    color : #8CC327;
}

/* SOCIAL BUTTONS
------------------------------------------------------------*/

#footer .column5 a {
    display            : block;
    height             : 28px;
    width              : 28px;
    color              : #FFFFFF;
    font-size          : 14px;
    line-height        : 28px;
    text-align         : center;
    margin             : 4px 4px 0 0;
    float              : left;
    -webkit-transition : .3s;
    -moz-transition    : .3s;
    transition         : .3s;
}

#footer .column5 a.twitter:hover,
#footer .column5 a.facebook:hover,
#footer .column5 a.google:hover,
#footer .column5 a.pinterest:hover,
#footer .column5 a.flickr:hover,
#footer .column5 a.tumblr:hover,
#footer .column5 a.vk:hover,
#footer .column5 a.instagram:hover,
#footer .column5 a.youtube:hover,
#footer .column5 a.rss:hover {
    color : #FFFFFF;
}

#footer .column5 a.twitter {
    background : #00ACEE;
    background : -moz-linear-gradient(top, #39C0F3 0%, #00ACEE 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #39C0F3), color-stop(100%, #00ACEE));
    background : -webkit-linear-gradient(top, #39C0F3 0%, #00ACEE 100%);
    background : -o-linear-gradient(top, #39C0F3 0%, #00ACEE 100%);
    background : -ms-linear-gradient(top, #39C0F3 0%, #00ACEE 100%);
    background : linear-gradient(to bottom, #39C0F3 0%, #00ACEE 100%);
}

#footer .column5 a.facebook {
    background : #3B5998;
    background : -moz-linear-gradient(top, #6986C4 0%, #3B5998 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6986C4), color-stop(100%, #3B5998));
    background : -webkit-linear-gradient(top, #6986C4 0%, #3B5998 100%);
    background : -o-linear-gradient(top, #6986C4 0%, #3B5998 100%);
    background : -ms-linear-gradient(top, #6986C4 0%, #3B5998 100%);
    background : linear-gradient(to bottom, #6986C4 0%, #3B5998 100%);
}

#footer .column5 a.google {
    background : #DB4A39;
    background : -moz-linear-gradient(top, #DB7164 0%, #DB4A39 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DB7164), color-stop(100%, #DB4A39));
    background : -webkit-linear-gradient(top, #DB7164 0%, #DB4A39 100%);
    background : -o-linear-gradient(top, #DB7164 0%, #DB4A39 100%);
    background : -ms-linear-gradient(top, #DB7164 0%, #DB4A39 100%);
    background : linear-gradient(to bottom, #DB7164 0%, #DB4A39 100%);
}

#footer .column5 a.pinterest {
    background : #C8232C;
    background : -moz-linear-gradient(top, #D14249 0%, #C8232C 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D14249), color-stop(100%, #C8232C));
    background : -webkit-linear-gradient(top, #D14249 0%, #C8232C 100%);
    background : -o-linear-gradient(top, #D14249 0%, #C8232C 100%);
    background : -ms-linear-gradient(top, #D14249 0%, #C8232C 100%);
    background : linear-gradient(to bottom, #D14249 0%, #C8232C 100%);
}

#footer .column5 a.flickr {
    background : #FF0084;
    background : -moz-linear-gradient(top, #FF3EA2 0%, #FF0084 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF3EA2), color-stop(100%, #FF0084));
    background : -webkit-linear-gradient(top, #FF3EA2 0%, #FF0084 100%);
    background : -o-linear-gradient(top, #FF3EA2 0%, #FF0084 100%);
    background : -ms-linear-gradient(top, #FF3EA2 0%, #FF0084 100%);
    background : linear-gradient(to bottom, #FF3EA2 0%, #FF0084 100%);
}

#footer .column5 a.tumblr {
    background : #34526F;
    background : -moz-linear-gradient(top, #587591 0%, #34526F 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #587591), color-stop(100%, #34526F));
    background : -webkit-linear-gradient(top, #587591 0%, #34526F 100%);
    background : -o-linear-gradient(top, #587591 0%, #34526F 100%);
    background : -ms-linear-gradient(top, #587591 0%, #34526F 100%);
    background : linear-gradient(to bottom, #587591 0%, #34526F 100%);
}

#footer .column5 a.vk {
    background : #36638E;
    background : -moz-linear-gradient(top, #5580AA 0%, #36638E 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5580AA), color-stop(100%, #36638E));
    background : -webkit-linear-gradient(top, #5580AA 0%, #36638E 100%);
    background : -o-linear-gradient(top, #5580AA 0%, #36638E 100%);
    background : -ms-linear-gradient(top, #5580AA 0%, #36638E 100%);
    background : linear-gradient(to bottom, #5580AA 0%, #36638E 100%);
}

#footer .column5 a.instagram {
    background : #3F729B;
    background : -moz-linear-gradient(top, #588AB2 0%, #3F729B 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #588AB2), color-stop(100%, #3F729B));
    background : -webkit-linear-gradient(top, #588AB2 0%, #3F729B 100%);
    background : -o-linear-gradient(top, #588AB2 0%, #3F729B 100%);
    background : -ms-linear-gradient(top, #588AB2 0%, #3F729B 100%);
    background : linear-gradient(to bottom, #588AB2 0%, #3F729B 100%);
}

#footer .column5 a.youtube {
    background : #C4302B;
    background : -moz-linear-gradient(top, #D94E49 0%, #C4302B 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D94E49), color-stop(100%, #C4302B));
    background : -webkit-linear-gradient(top, #D94E49 0%, #C4302B 100%);
    background : -o-linear-gradient(top, #D94E49 0%, #C4302B 100%);
    background : -ms-linear-gradient(top, #D94E49 0%, #C4302B 100%);
    background : linear-gradient(to bottom, #D94E49 0%, #C4302B 100%);
}

#footer .column5 a.rss {
    background : #EE802F;
    background : -moz-linear-gradient(top, #EF914C 0%, #EE802F 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EF914C), color-stop(100%, #EE802F));
    background : -webkit-linear-gradient(top, #EF914C 0%, #EE802F 100%);
    background : -o-linear-gradient(top, #EF914C 0%, #EE802F 100%);
    background : -ms-linear-gradient(top, #EF914C 0%, #EE802F 100%);
    background : linear-gradient(to bottom, #EF914C 0%, #EE802F 100%);
}

#footer .column5 a.twitter:hover {
    color : #006992;
}

#footer .column5 a.facebook:hover {
    color : #273C67;
}

#footer .column5 a.google:hover {
    color : #79190E;
}

#footer .column5 a.pinterest:hover {
    color : #5F070B;
}

#footer .column5 a.flickr:hover {
    color : #71003A;
}

#footer .column5 a.tumblr:hover {
    color : #0D1823;
}

#footer .column5 a.vk:hover {
    color : #192A3C;
}

#footer .column5 a.instagram:hover {
    color : #203547;
}

#footer .column5 a.youtube:hover {
    color : #54110E;
}

#footer .column5 a.rss:hover {
    color : #5E2E0A;
}

/* POWERED
------------------------------------------------------------*/

#powered {
    clear : both;
}

#powered .clm1 {
    float : left;
}

#powered .clm1 ul {
    margin  : 0;
    padding : 0;
}

#powered .clm1 ul li {
    float      : left;
    list-style : none;
    margin     : 0 4px 4px 0;
}

#powered .clm2 {
    float          : right;
    font-family    : 'Oswald', sans-serif;
    text-align     : right;
    font-size      : 9px;
    letter-spacing : 3px;
    text-transform : uppercase;
}

#powered .clm2 a {
    font-size : 9px;
    color     : #363636;
}

#powered .clm2 a:hover {
    text-decoration : underline;
}

/* BANNER
------------------------------------------------------------*/

.banner div {
    text-align : center;
    width      : 102%;
    display    : block;
}

.banner div img {
    float   : left;
    border  : 1px solid #DDDDDD;
    margin  : 0 20px 20px 0;
    padding : 4px;
}

/* CLEARFIX
------------------------------------------------------------*/

.clearfix:after {
    visibility : hidden;
    display    : block;
    font-size  : 0;
    content    : " ";
    clear      : both;
    height     : 0;
}

.clearfix {
    display : inline-block;
}

* html .clearfix {
    height : 1%;
}

.clearfix {
    display : block;
}

/* SCROLL TO TOP
------------------------------------------------------------*/
#back-top {
    position : fixed;
    right    : 20px;
    bottom   : 30px;
}

#back-top a {
    display            : block;
    text-align         : center;
    color              : #636363;
    text-decoration    : none;
    text-transform     : uppercase;
    font-size          : 28px;
    -webkit-transition : 1s;
    -moz-transition    : 1s;
    transition         : 1s;
}

#back-top a:hover {
    color : #73923A;
}

/* IE10 SPECIFIC STYLES
------------------------------------------------------------*/
.ie10 .box-product {
    overflow : hidden;
}

.ie10 .box-product > div {
    margin : 0 15px 40px 0;
}

.ie10 #menu > div > ul > li > div {
    background : #FFFFFF;
}

/* MISC
------------------------------------------------------------*/
.welcome {
    font-size          : 24px;
    font-weight        : 700;
    color              : #363636;
    padding            : 30px 0 0 0;
    word-spacing       : 5px;
    line-height        : 0;
    border-top         : 4px solid #777777;
    -webkit-box-shadow : inset 0 2px 0 0 #FFFFFF, inset 0 3px 0 0 #888888;
    -moz-box-shadow    : inset 0 2px 0 0 #FFFFFF, inset 0 3px 0 0 #888888;
    box-shadow         : inset 0 2px 0 0 #FFFFFF, inset 0 3px 0 0 #888888;
}

.mn-styling p {
    font-family : 'Oswald', sans-serif;
    font-size   : 22px;
    text-align  : center;
    font-weight : 300;
}

.text-styling {
    font-family    : 'Oswald', sans-serif;
    color          : #636363;
    font-weight    : normal;
    text-transform : uppercase;
}

.box-wrap {
    margin : 0 20px;
}

.box-wrap p {
    text-align : justify;
}

/* MOBILE DEVICES
------------------------------------------------------------*/

/* ----- Design for a width of 768px ----- */

@media only screen and (min-width : 768px) and (max-width : 959px) {

    #container,
    #footer {
        width : 768px;
    }

    #menu > div > ul > li > a {
        font-size : 15px;
    }

    #welcome #cart .heading a {
        font-size   : 15px;
        line-height : 280%;
    }

    .box-product > div, .product-grid > div {
        padding : 0;
        width   : 174px;
    }

    .box-product > div img {
        width : 100%
    }

    .banner div img {
        width : 361px;
    }

    .product-filter .display {
        display : none;
    }

    .product-grid > div {
        width : 168px;
    }

    .product-grid > div .image img {
        width : 100%;
    }

    .product-info .tab-content .product-description {
        width  : 180px;
        margin : 0 10px 0 0;
    }

    .product-info .description .dcolumn2 {
        width : 50px;
    }

    .product-info .tab-content .product-images {
        width : 370px;
    }

    .product-info .tab-content .product-images .image img {
        width : 100%;
    }

    .product-info .tab-content .product-options {
        margin : 0 10px 0 540px;
    }

    .product-info .description .dcolumn1 {
        border : none;
    }

    .product-info .image-additional {
        width : 370px;
    }

    .wishlist-info table,
    .cart-info table {
        width : 95%;
    }

    #content .content {
        overflow : hidden;
    }

    #return-info .left,
    #return-info .right,
    #return-info .buttons,
    #return-product {
        margin : 0;
    }

    #back-top a {
        display : none;
    }

}

/* ----- Design for a width of 320px ----- */

@media only screen and (max-width : 767px) {

    #container,
    #footer {
        width   : 320px;
        padding : 0;
    }

    #header {
        height : 180px;
    }

    #header #logo {
        top  : 5px;
        left : 50px;
    }

    #header #logo img {
        width : 100%;
    }

    #header #welcome {
        top   : 160px;
        right : 0;
    }

    .welcome {
        line-height : normal;
    }

    .langcur {
        display : none;
    }

    .shopping-cart-mobile {
        display  : block;
        position : absolute;
        top      : 125px;
        right    : 10px;
    }

    .shopping-cart-mobile a {
        font-family     : 'Oswald', Arial, sans-serif;
        color           : #636363;
        text-transform  : uppercase;
        text-decoration : underline;
    }

    #header #search {
        top   : 80px;
        right : 10px;
    }

    #carousel0 {
        display : none;
    }

    #footer .column1,
    #footer .column2,
    #footer .column3,
    #footer .column4,
    #footer .column5 {
        width      : 100%;
        text-align : center;
        padding    : 20px 0;
    }

    #welcome #cart, #menu ul {
        display : none;
    }

    #menu ul {
        display : none;
    }

    #menu select {
        display        : block;
        width          : 320px;
        margin         : 0;
        padding        : 0;
        background     : #FFFFFF;
        border         : 1px solid #DDDDDD;
        color          : #636363;
        font-family    : 'Oswald', sans-serif;
        text-transform : uppercase;
        position       : relative;
        top            : 0;
        left           : 0;
    }

    #menu select option {
        color : #636363;
    }

    #content .content {
        overflow : hidden;
    }

    #back-top a {
        display : none;
    }

    .return-reason {
        width : 100%;
    }

    .box-product > div, .product-grid > div {
        padding : 0;
        width   : 148px;
    }

    .box-product > div img, .product-grid > div img {
        width : 100%
    }

    .box-product > div:nth-child(2n), .product-grid > div:nth-child(2n) {
        margin : 0 0 20px 0;
    }

    .banner div img {
        width : 311px;
    }

    #column-left, #column-right {
        display : none;
    }

    #column-left + #column-right + #content, #column-left + #content {
        margin-left : 0;
    }

    #column-right + #content {
        margin-right : 0;
    }

    .product-filter .display {
        display : none;
    }

    .product-filter .limit {
        margin-right : 0;
    }

    .product-compare,
    .product-filter .sort {
        margin-bottom : 10px;
    }

    .product-info {
        text-align : center;
    }

    .product-info .tab-content .product-description {
        float  : none;
        width  : 100%;
        margin : 0 20px 0 0;
    }

    .product-info .tab-content .product-images {
        float  : none;
        margin : 0 0 40px;
    }

    .product-info .image {
        width : 320px;
    }

    .product-info .image img {
        width : 100%;
    }

    .product-info .image-additional {
        width : 320px;
    }

    .product-info .tab-content .product-options {
        display : block;
        margin  : 0;
    }

    .product-info .description {
        margin     : 0 0 20px;
        text-align : center;
    }

    .product-info .description a {
        color : #636363;
    }

    .product-info .description .dcolumn1 {
        width  : 120px;
        border : 1px solid #DDDDDD;
    }

    .product-info .description .dcolumn2 {
        background : #FFFFFF;
        color      : #636363;
        border     : 1px solid #DDDDDD;
    }

    .product-info .cart .qty-input {
        margin : 0 auto;
    }

    .product-info .compare a {
        margin : 20px 0 0;
        float  : right;
    }

    .htabs a {
        line-height : 35px;
    }

    .login-content .left,
    .login-content .right,
    .contact-info,
    .contact-info .left,
    .contact-info .right,
    .contact-form {
        width : 100%;
    }

    .contact-info {
        margin-left : 0;
    }

    .contact-form {
        margin-right : 0;
    }

    .wishlist-info .image,
    .wishlist-info .stock,
    .cart-info .model,
    .cart-info .price {
        display : none;
    }

    .compare-info,
    .wishlist-info table,
    .cart-info table {
        width : 90%;
    }

    input.large-field, select.large-field {
        width : 270px;
    }

    .checkout {
        margin : 0;
    }

    .checkout-product table,
    .checkout-product thead td,
    .checkout-product tbody td,
    .checkout-product tfoot td {
        border : 0;
    }

    .checkout-content .left,
    .checkout-content .right {
        width : 100%;
    }

    #return-info .left,
    #return-info .right,
    #return-info .buttons,
    #return-product {
        margin : 0;
    }

    #powered .clm2 {
        margin     : 20px 0 0;
        float      : left;
        text-align : left;
    }
}

/* Design for a width of 480px */

@media only screen and (min-width : 480px) and (max-width : 767px) {

    #container,
    #footer {
        width      : 480px;
        padding    : 0;
        text-align : center;
    }

    #header {
        height : 100px;
    }

    #header #logo {
        top  : 4px;
        left : 0;
    }

    #header #welcome {
        top   : 80px;
        right : 0;
    }

    .welcome {
        line-height : normal;
    }

    .langcur {
        display : none;
    }

    .shopping-cart-mobile {
        display  : block;
        position : absolute;
        top      : 50px;
        right    : 10px;
    }

    .shopping-cart-mobile a {
        font-family     : 'Oswald', Arial, sans-serif;
        color           : #636363;
        text-transform  : uppercase;
        text-decoration : underline;
    }

    #header #search {
        top   : 10px;
        right : 10px;
    }

    #menu ul {
        display : none;
    }

    #menu select {
        display        : block;
        width          : 480px;
        margin         : 0;
        padding        : 0;
        background     : #FFFFFF;
        border         : 1px solid #DDDDDD;
        color          : #636363;
        font-family    : 'Oswald', sans-serif;
        text-transform : uppercase;
        position       : relative;
        top            : 0;
        left           : 0;
    }

    #menu select option {
        color : #636363;
    }

    #footer .column1,
    #footer .column2,
    #footer .column3,
    #footer .column4,
    #footer .column5 {
        width      : 100%;
        text-align : center;
        padding    : 20px 0;
    }

    .box-product > div, .product-grid > div {
        padding : 0;
        width   : 228px;
    }

    .box-product > div img {
        width : 100%
    }

    .box-product > div:nth-child(2n) {
        margin : 0 0 20px 0;
    }

    .banner div img {
        width : 214px;
    }

    .product-filter .display {
        display : none;
    }

    .product-filter .limit {
        margin-right : 0;
    }

    .product-grid > div:nth-child(2n) {
        margin : 0 0 20px 0;
    }

    .product-info .tab-content .product-description {
        float  : none;
        width  : 480px;
        margin : 0 20px 0 0;
    }

    .product-info .tab-content .product-images {
        float  : none;
        margin : 0 0 40px 15px;
    }

    .product-info .image, .product-info .image-additional {
        width  : 420px;
        margin : 20px 0 0 15px;
    }

    .product-info .tab-content .product-options {
        display : block;
        margin  : 0;
    }

    .product-info .description {
        margin     : 0 0 20px;
        text-align : center;
    }

    .product-info .description a {
        color : #636363;
    }

    .product-info .description .dcolumn1 {
        width  : 120px;
        border : 1px solid #DDDDDD;
    }

    .product-info .description .dcolumn2 {
        background : #FFFFFF;
        color      : #636363;
        border     : 1px solid #DDDDDD;
    }

    .product-info .compare a {
        margin : 20px 0 0;
    }

    .checkout-content .left,
    .checkout-content .right {
        width : 100%;
    }

    .compare-info,
    .wishlist-info table,
    .cart-info table {
        width : 92%;
    }

    #powered .clm2 {
        margin : 20px 0 0;
        float  : left;
    }
}

/*checout pages + and - and delete*/
.warenkorb_del_item:after {
    content     : "\f014";
    font-family : FontAwesome;
    font-size   : 15px;
    color       : #8CC327;
}

.cartcount_inputs {
    width         : 60px;
    margin-bottom : 0 !important;
    text-align    : center;
}

/*input[type=number].cartcount_inputs::-webkit-outer-spin-button,*/
/*input[type=number].cartcount_inputs::-webkit-inner-spin-button {*/
/*-webkit-appearance : none;*/
/*margin             : 0;*/
/*}*/

/*input[type=number].cartcount_inputs {*/
/*-moz-appearance : textfield;*/
/*}*/

.warenkorb_rem_item:before {
    content        : "\f0d9";
    font-family    : FontAwesome;
    font-size      : 40px;
    color          : #8CC327;
    vertical-align : middle;
}

.warenkorb_add_item:after {
    content        : "\f0da";
    font-family    : FontAwesome;
    font-size      : 40px;
    color          : #8CC327;
    vertical-align : middle;
}

.tableMAIN {
    width                 : 100%;
    margin-bottom         : 20px;
    max-width             : 100%;
    background-color      : transparent;
    border-collapse       : separate;
    border-spacing        : 0;
    border                : 1px solid #D3D6DB;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
}

.tableMAIN th,
.tableMAIN td {
    padding        : 8px;
    line-height    : 20px;
    vertical-align : middle;
    text-align     : center;
}

.pdB img {
    height : 100px;
}

.productListing-heading {
    background-color : #F6F7F8;
    border-bottom    : 1px solid #E9EAED;
    color            : #6A7480;
    font-weight      : bold;
}

.productListing-even td {
    border-bottom : 1px solid #ECECEC;
}

.productListing-data td {
    border : none;
}

ul.unstyle {
    list-style : none;
    font-size  : 13px;
}

ol.steps {
    list-style  : none;
    padding     : 0;
    overflow    : hidden;
    font-size   : 13px;
    line-height : 20px;
    margin      : 20px 0;
}

ol.steps li {
    list-style  : none;
    text-align  : center;
    color       : #999999;
    background  : #EEEEEE;
    position    : relative;
    margin-left : 43px;
}

ol.steps li:after {
    position          : absolute;
    top               : 50%;
    left              : 100%;
    content           : " ";
    height            : 0;
    width             : 0;
    pointer-events    : none;
    border            : 19px solid transparent;
    border-left-color : #EEEEEE;
    margin-top        : -19px;
}

ol.steps li:first-child {
    margin-left : 0;
}

ol.steps li:first-child span {
    padding : 9px;
}

ol.steps li:first-child span:after {
    border : none;
}

ol.steps li:last-child:after {
    border-width : 0;
}

ol.steps li span {
    display : block;
    padding : 9px 28px 9px 9px;
}

ol.steps li span:after {
    position          : absolute;
    top               : 50%;
    right             : 100%;
    content           : " ";
    height            : 0;
    width             : 0;
    pointer-events    : none;
    border            : 19px solid #EEEEEE;
    border-left-color : transparent;
    margin-top        : -19px;
}

ol.steps > li {
    float : left;
    width : 21.3%;
}

ol.steps li.current {
    background : #8CC327;
    width      : 22.9%;
}

ol.steps li a {
    font-size : 13px;
}

ol.steps li.current a {
    color : #FFFFFF;

}

ol.steps li.current:after {
    border-left-color : #8CC327;
}

ol.steps li.current span:after {
    border-color      : #8CC327;
    border-left-color : transparent;
}

ol.steps li.done a {
    color : #8CC327;
}

.checkout-shipping-textarea textarea {
    width : 98%;
}

.checkout-payment-textarea textarea {
    width : 98%;
}

input[name='gv_redeem_code'] {
    width : 95%;
}

.infoBox td {
    vertical-align : top;
}

.catLevel_0_on {
    background-color : #8CC327;
    /*background-color: #3F3F3F; //#2E2E2E;*/
}

.pdC td {
    padding : 0;
}

.pdC a:hover, .pdA a:hover {
    text-decoration : none;
}

.checkout-confirmation-image-cell {
    max-width  : 280px;
    max-height : 150px;
}

.table-confirmation-checkout td {
    vertical-align : middle !important;
    text-align     : center;
}

.table-confirmation-checkout .price-unit, .table-confirmation-checkout .price-total {
    white-space : nowrap;
}

.price .mwst_info {
    display : none;
}

table .checkout-confirmation-image-cell img {

}

.price .price-regular .mwst_info {
    color       : #000000;
    font-size   : 11px;
    margin-top  : -10px;
    display     : block;
    line-height : initial;
}

.shopping_cart_mini {
    margin-top      : 10px;
    font-weight     : bold;
    font-size       : 20px;
    text-decoration : underline;
    text-align      : center;
}

.summe_shopping_cart {
    font-weight   : bold;
    text-align    : right;
    margin-bottom : 10px;
    font-size     : 15px;
}

.accountMarginBottom {
    margin-bottom : 50px;
}

.alert_checkout_payment {
    z-index     : 999;
    position    : absolute;
    width       : 80%;
    height      : 30px;
    font-size   : 17px;
    padding-top : 20px;
}

.panel-body table .main input[type="radio"],
.form_tem .logradioHLD input[type="radio"],
.content-wrapper .inputHLDinner input[type="radio"] {
    margin-bottom : 6px;
}

.panel-body table .main select,
.form_tem .inputHLD select {
    display   : block;
    float     : left;
    width     : 234px;
    font-size : 14px;
    cursor    : pointer;
}

/* ############# LOGIN/REGISTER OVERLAY end */
.inputtext {
    text-align : right;
}

.inputfield {
    display               : block;
    float                 : left;
    width                 : 212px;
    height                : 37px;
    font-size             : 14px;
    margin                : 0;
    /* IE7 / IE8 */
    height /*\**/         : 27px \9;
    padding /*\**/        : 10px 0 0 6px \9;
    /* IE7 / IE8 */
    -webkit-border-radius : 0 !important;
    -moz-border-radius    : 0 !important;
    border-radius         : 0 !important;
    padding               : 4px 10px !important;
    -webkit-transition    : all 0.2s ease-out !important;
    -moz-transition       : all 0.2s ease-out !important;
    -o-transition         : all 0.2s ease-out !important;
    transition            : all 0.2s ease-out !important;
    color                 : #C8C8C8 !important;
}

.inputfield:focus {
    color : #000000 !important;
}

select[name="country"] {
    width : 215px !important;
}

.general_inputs,
select[name="country"] {
    display               : block;
    float                 : left;
    width                 : 212px;
    height                : 37px;
    font-size             : 14px;
    margin                : 0;
    /* IE7 / IE8 */
    height /*\**/         : 27px \9;
    padding /*\**/        : 10px 0 0 6px \9;
    /* IE7 / IE8 */
    -webkit-border-radius : 0 !important;
    -moz-border-radius    : 0 !important;
    border-radius         : 0 !important;
    padding               : 4px 10px !important;
    -webkit-transition    : all 0.2s ease-out !important;
    -moz-transition       : all 0.2s ease-out !important;
    -o-transition         : all 0.2s ease-out !important;
    transition            : all 0.2s ease-out !important;
    color                 : #C8C8C8 !important;
}

.general_inputs:focus {
    color : #000000 !important;
}

.zipcode {
    width : 90px;
}

.city {
    width : 104px;
}

.inputbutton {
    display : block;
    height  : 39px;
    border  : 0;
    margin  : 18px 0 0 0;
    outline : none;
    cursor  : pointer;
}

a.linkpwf {
    display         : inline-block;
    margin          : 10px 0 0 0;
    color           : #BBBBBB;
    text-decoration : underline;
}

a.linkpwf:hover {
    color : #333333;
}

.errorMessages {
    padding    : 12px 8px 8px 8px;
    margin     : 0 0 12px 0;
    border     : 4px solid #990000;
    background : #F1CECE;
    font-size  : 12px;
}

.logradioHLD {
    display : inline-flex;;
}

.inputHLDbox {
    margin  : 0 0 17px 0;
    padding : 2px;
    border  : 1px solid #D3D3D3;
}

.inputHLDhead {
    padding     : 12px 0 15px 18px;
    font-size   : 14px;
    font-weight : bold;
    color       : #4E4E4E;
    background  : url(images/boxes_accHEADbg.png) repeat-x 0 0;
}

.inputHLDinner {
    width  : 510px;
    margin : 0 auto;
}

.inputHLDinnerChangePass {
    width  : 765px;
    margin : 10px auto;
}

.inputHLD {
    float  : left;
    margin : 0 20px 14px 0;
}

.req_label {
    margin : 0 0 6px 0;
}

.req_label span {
    font-size   : 12px;
    font-weight : bold;
    color       : #990000;
}

.inputTXT {
    width  : 120px;
    margin : 0 0 4px 0;
}

.inputfieldHLD {
    width  : 260px;
    border : 1px solid #D4D4D4;
    margin : 0 15px 0 0;
}

.width_streed {
    width : 96%
}

.width_streed input {
    width : 92%;
}

.zipcodeHLD {
    width : 91px;
}

.cityHLD {
    width : 152px;
}

.inputcheckbox {
    float : left;
}

.inputcheckboxTXT span {
    padding : 0 0 0 7px;
}

.inputcheckboxTXT {
    float  : left;
    margin : 0 0 4px 0;

}

.inputselectHLD {
    width  : 210px;
    border : 1px solid #FFFFFF;
    margin : 0 2px 0 0;
}

.clearer {
    clear  : both;
    height : 0;
}

.formHTML5 .inputHLDbox input:required {
    background : #FFFFFF url(images/input_required.png) no-repeat 98% center;
    border     : 1px solid #CCCCCC;
}

.formHTML5 .inputHLDbox input:required:valid {
    background   : #FFFFFF url(images/input_valid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #5CD053;
    border-color : #28921F;
}

.formHTML5 .inputHLDbox input:focus:invalid {
    background   : #FFFFFF url(images/input_invalid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #D45252;
    border-color : #B03535
}

/* ############# LOGIN/REGISTER OVERLAY begin END*/
/**************STYLE FOR SELECT********************/
.inputselectHLD select {
    display            : block;
    width              : 100%;
    height             : 37px;
    padding            : 6px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : #555555;
    background         : #FFFFFF none;
    border             : 1px solid #CCCCCC;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.alert table {
    border : 0;
}

/*****************MODIFY ADRESS USER ACCOUNT******************/
.modify_address {
    float : right;
}

.form-group select, .form-group textarea, .panel-body .textarea textarea {
    display            : block;
    width              : 50%;
    height             : 100px;
    padding            : 6px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : #555555;
    background         : #FFFFFF none;
    border             : 1px solid #CCCCCC;
    /*border-radius: 4px;*/
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.dropdown select {
    background         : transparent;
    border             : none;
    color              : #7AC144;
    -webkit-appearance : none;
    cursor             : pointer;
}

.image_view_product_list {
    width               : 228px;
    height              : 228px;
    background-position : center;
    background-size     : cover;
}

.country_id {
    /*border-radius: 30px;*/
    /*border: 1px solid #ccc;*/
    /*cursor: pointer;*/
    margin : 8px 0 0 10%;
}

.title-modal {
    font-size     : 25px;
    font-weight   : bold;
    text-align    : left;
    margin-bottom : 10px;
    line-height   : 30px;
}

.no-actived-content {
    display : none;
}

.actived-content {
    display : block;
}

.block .btn-delete {
    font-size             : 150%;
    -webkit-transition    : all 0.2s ease-out;
    -moz-transition       : all 0.2s ease-out;
    -o-transition         : all 0.2s ease-out;
    transition            : all 0.2s ease-out;
    text-transform        : none;
    padding               : 6px 20px;
    -webkit-border-radius : 18px;
    -moz-border-radius    : 18px;
    border-radius         : 18px;
    color                 : #FFFFFF;
    border                : 1px solid #E5E5E5;
    background            : #FF0000;
}

.block .btn-delete:hover {
    background-color : #BC0808;
    color            : #FFFFFF;
    border-color     : #A60505;
}

.mini-cart form .mini-products-list .odd .img_mini_cart img {
    width : 60px;
}

.cont_abst_sitemap .pager .pages ol li .pageResultsACTIVE {
    height                : 26px;
    width                 : 26px;
    -webkit-border-radius : 100%;
    -moz-border-radius    : 100%;
    border-radius         : 100%;
    background            : #8CC327;
    border                : 1px solid #8CC327;
    color                 : #FFFFFF;
}

.cont_abst_sitemap .pager .pages {
    float : right;
}

.cont_abst_sitemap .pager .pages ol li a,
.cont_abst_sitemap .pager .pages ol li .pageResultsACTIVE {
    margin : 0 3px;
}

.row-fluid .span3_span4_min {
    width : 25.914894%;
}

.row-fluid .span3_span4_max {
    width : 21.1%;
}

.span9 form ul .fields .input-box select {
    width  : 100%;
    height : 38px;
    margin : -1px;
}