 	{$smarty.const.BEFORE_CONTENT}
 	{if !$smarty.const.PH_INSIDE}	
		{include file="pieces/page_title_section.tpl"}
	    {$smarty.const.BETWEEN_HL_CONTENT}
		<table border="0" width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td class="pageContentTable">
					<table border="0" width="100%" cellspacing="0" cellpadding="0">
	{else}
		<table border="0" width="100%" cellspacing="0" cellpadding="0">
	    {$smarty.const.BETWEEN_HL_CONTENT}
	{/if}	 

		<tr>
        	<td class="cont_abst">
        		<table border="0" width="100%" cellspacing="0" cellpadding="0">					
      				<tr>
        				<td>{$pixel_trans_100_10}</td>
      				</tr>
      				<tr>
        				<td>
        					<table border="0" width="100%" cellspacing="0" cellpadding="0" height="100%">
        						{$checkout_moneybookers_form}
          						<tr>
            						<td class="pageHeadingLeft" nowrap {$smarty.const.HL_LEFT_STYLE}>
            							{$form_hidden_fields}
										Sie werden nun auf die Seite von moneybooker weitergeleitet.
										<br>
	            						Bitte schliessen Sie die Bestellung mit der Zahlung bei moneybookers ab.
	            						<br><br><br>
		            				</td>
		            				<td class="pageHeadingRight" nowrap {$smarty.const.HL_LEFT_STYLE}>&nbsp;</td>
								</tr>
		          				<tr>
				            		<td class="pageHeadingRight" align="right" {$smarty.const.HL_RIGHT_STYLE}>&nbsp;{$button_confirm_order_img_submit}</td>
									<td class="pageHeadingRight" nowrap {$smarty.const.HL_LEFT_STYLE}>&nbsp;</td>
								</tr>
								</form>
				        	</table>
						</td>
          			</tr>
        		</table>
        	</td>
      	</tr>
	</table>
        
   <!-- </td></tr></table>  -->
       
	{if !$smarty.const.PH_INSIDE}
				</td>
			</tr>
		</table>
	{/if}

	{$smarty.const.AFTER_CONTENT}
