
ul.mainnav{ margin: 0 0;
	list-style: none;
	li{
		position: relative; border: 1px solid #dfdfdf; border-top: none;
		display: inline-block; z-index: 1;
		ul[class*="level"]{position: absolute;.transition(all 0.3s ease-out 0s);
		 	.opacity(0);top:5px; left: 0px; text-align: left;
			border-top:1px solid #dfdfdf;
			width: 180px; background: #FFF; margin: 0 0; .transform(scale(0.3));
			.box-shadow(3px 4px 5px rgba(0, 0, 0, 0.2));
			li{display: block; background: url("../images/ico-dot.png") no-repeat 10px center;
				&.parent > a{background: url("../images/arrow.png") no-repeat 95% center;}
				a{padding: 10px 15px 10px 28px; display: block; color: @color;
					&:hover{text-decoration: none; color: @activeColor}
				}
			}
			ul{top:5px; border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;
				left: 160px;transform-origin:0% 15% 0;-moz-transform-origin:0% 15% 0;-webkit-transform-origin:0% 15% 0;
				-o-transform-origin:0% 15% 0;-ms-transform-origin:0% 15% 0;
			}
		}
		&.last{border-bottom: none;}
		&:hover{ z-index: 2;
			> ul[class*="level"]{left: 160px;.opacity(100); visibility: visible; top:5px;.transform(scale(1));}
			> a{color: @activeColor}
		}
		&.active > a{color: @activeColor}
	}
	> li { border: none !important;float: left;position: static; padding: 21px 0 21px 10px;
		> a{display:block;padding: 8px 20px; font-size: 150%; font-weight: normal; .border-radius(22px);
			position: relative; .transition(all 0.2s ease-out); color: #FFF; border: 1px solid transparent;
			&:hover{text-decoration: none;}
		}
		> ul[class*="level"]{left:auto;
			.transition(all 0.3s ease-out 0.15s);top:85px;.opacity(0);visibility: hidden;
			.transform(scale(0.3));
			transform-origin:0% 15% 0;-moz-transform-origin:0% 15% 0;-webkit-transform-origin:0% 15% 0;
			-o-transform-origin:0% 15% 0;-ms-transform-origin:0% 15% 0;
		}
		&:first-child{
			padding-left: 0px;
		}
		&.last{
			> a{}
		}
		&:hover{ vertical-align: bottom;
			> a{color: #FFF;position: relative; background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.3);
			}
			> ul{left:auto !important;top: 85px !important;
				.opacity(100);visibility: visible; .transform(scale(1));
			}
		}
		&.active{
			> a{color: #FFF; position: relative; background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.3);
				&:before{
					width: 100%; left: 0px;
				}
			}
		}
	}
}
/* Mega menu */
.sns-megamenu-wrap.horizontal-menu{
	.mega-nav{
		li.menu-video{
			.megamenu-col {
				.megamenu-col{ padding-top: 1%;
					.videoWrapper {
						position: relative;
						padding-bottom: 51.9%; /* 16:9 */
						padding-top: 25px;
						height: 0;
						iframe {
							position: absolute;
							top: 0;
							left: 0;
							width: 100% !important;
							height: 100% !important;
						}
					}
				}
			}
		}
		li.menu-basestyle{
			> .megamenu-col { padding-top: 2px !important; padding-bottom: 2px !important;
				.megamenu-col{border-top: 1px solid #d4d4d4; padding-top: 5px; padding-bottom: 5px;
					&:first-child{border:none;}
				}
			}
		}
		li.level0{
			> a{/*.transition(none);*/}
			.mega-content-wrap{
				.transition(all 0.3s ease-out 0.15s);top:85px;.opacity(0);visibility: hidden;
				.transform(scale(0.3));
				transform-origin:50% 10% 0;-moz-transform-origin:50% 10% 0;-webkit-transform-origin:50% 10% 0;
				-o-transform-origin:50% 10% 0;-ms-transform-origin:50% 10% 0;
				border-bottom: 3px solid @activeColor; border-top: 1px solid #d5d5d5; .box-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
				ul li{border: none;}
				.megamenu-col{
					&.have-spetitle{
						> .mega-title{ font-size: 150%; margin-bottom: 10px; text-transform: uppercase; font-weight: normal;
							span{ color: @linkColor; background: none; padding: 0px;
								&:hover{color: @activeColor;}
							}
						}
					}
					.mega-title {
						a{
							&:hover{text-decoration: none;}
							&.active{color: @activeColor}
						}
						span{ color: @color; background: url("../images/ico-dot.png") no-repeat left 11px;
							padding: 5px 5px 5px 20px;
							&:hover{color: @activeColor}
						}
					}
					.sns-productlist{
						.item{ border: none; margin: 0 0;
							border-top: 1px solid #e9e9e9;
							.item-img{float: left; margin: 10px 8px 10px 10px;}
							.item-info{text-align: left;
								.item-title{font-size: 100%; margin-top: 6px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
									a{ font-weight: bold;
										&:hover{color: @activeColor;}
									}
								}
								.price-box{
									.price{font-size: 100%;}
									.old-price{padding: 0 5px; margin: 0 10px 0 0;}
								}
								.ratings{
									.rating-box{float: none; margin: 0 0;}
									.rating-links{font-size: 91.66%;}
								}
								.no-rating{font-size:91.66%; }
							}
							&:first-child{border-top: none;}
							&:hover{background-color: #f4f4f4;}
						}
					}
				}
				.block{
					.block-content{padding: 0 0;}
				}
			}
			&:hover{
				.mega-content-wrap{
					.opacity(100);visibility: visible; .transform(scale(1));
				}
			}
		}
	}
	&.no-effect{
		.mega-nav{
			li.level0{
				> a{.transition(none);}
				.mega-content-wrap{.transition(none);
					.opacity(0);
					visibility: hidden;
				}
				&:hover{
					.mega-content-wrap{
						display: block;
						.opacity(100);
						visibility: visible;
					}
				}
			}
		}
	}
}