// sns mixin
@import "sns-mixin.less";

@media (max-width: 1136px) {
	
}

// 2.Tablets landscape to regular desktops
// --------------------------------------------------
@media (min-width: 980px) and (max-width: 1024px) {
	#bd.boxed-layout{
		#sns_wrapper{max-width: 960px;}
	}
	.sns-product-detail{
		.more-views{
			.slide-gallery{
				.caroufredsel_wrapper{ margin: 0 0 !important;
					ul{margin: 0 0 0 -10px !important;
						li{width: 90px !important; margin-left: 12px;}
					}
				}
			}
		}
	}
	#sns_menu {
		.megamenu-col .mega-title span {
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
		ul.mainnav > li{
			padding-left: 5px;
			> a{padding-left: 15px; padding-right: 15px; }
			&:first-child{padding-left: 0px;}
		}
	}
	#sns_slideshow{
		.sns-slideshow-wrap .buttons-action{margin-top: 15px;}
	}
	#sns_content{
		#sns_right,
		#sns_left{
			// Shop by
			.block-layered-nav{
				.price{
					.text-box{
						input[type="text"]{width: 45px;}
						.price-separator{margin: 0 5px;}
						.price-to{margin-right: 0px;}
					}
				}
			}
		}
		.block.slide-banner {
			ul{ margin-left: -10px !important;
				> li{width: 220px !important; margin:0 0 0 20px;}
			}
		}
		#sns_mainmidle {
			.block{
			}
		}
		#sns_mainbottom{
			.sns-tabs{
				.tabs-navi{width: 170px;}
				.tabs-content{width: 750px; margin-left: 20px;
					.sns-slider{
						&.fortabs{
							.navigation{left: -77px;}
							ul.products-grid{margin-left: -10px !important;
								.item{
									margin:0 0 0 20px;width: 172.5px !important;
								}
							}
						}
					}
				}
			}
		}
		.box-up-sell{
			.block-content{
				.up-sell-products{
					ul.products-grid{ margin: 0 0 0 -20px !important;
						li.item{width: 220px !important; float: left; margin: 0 0 0 20px;}
					}
				}
			}
		}
	}
	#sns_testimonials{
		.block-content{
			.list-quotes{
				.item{padding: 5px 55px 0;}
			}
		}
	}
	#sns_productswrap{
		.sns-slider {
			ul.products-grid{ margin-left: -10px !important;
				.item{width: 210px !important; margin:0 0 0 20px;}
			}
		}
	}
	#sns_botsl2{
		.block-subscribe{
			.block-content{
				form{
					.input-box{
						input{width: 188px;}
					}
				}
			}
		}
	}
	#postComment{
		ul.form-list{
			.input-box{
				input.input-text{max-width:170px;}
			}
		}
	}
}
// 3.Tablets to regular desktops
// --------------------------------------------------
@media (min-width: 801px) and (max-width: 979px) {
	body{padding: 0 0;
		.container{width: 724px;}
	}

	#sns_content{
	}

}
@media (min-width: 768px) and (max-width: 979px) {
	#bd.boxed-layout{
		#sns_wrapper{max-width: 744px;}
	}
	#sns_slideshow{ overflow: hidden; max-height: 450px;
		.sns-slideshow-wrap{ padding-top: 25px;
			.sns-fraction-slider{
				.fs_loader{top: 240px;}
			}
			.teaser{line-height: 14px !important}
		}
	}
	#sns_content{
		.block.slide-banner {
			ul{ margin-left: -10px !important;
				> li{width: 220px !important; margin:0 0 0 20px;}
			}
		}
		#sns_mainmidle {
			.block{
			}
		}
		.box-up-sell{
			.block-content{
				.up-sell-products{
					ul.products-grid{ margin: 0 0 0 -20px !important;
						li.item{width: 228px !important; float: left; margin: 0 0 0 20px;}
					}
					.caroufredsel_wrapper{max-width: 100%;}
				}
			}
		}
	}
	#sns_testimonials{
		.block-content{
			.list-quotes{
				.item{padding: 5px 10px 0;}
			}
		}
	}
	#sns_botsl{
		.block{
			&.block-ouragents{
				.pretext{ div{width: 70%; overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}
				}
				.block-content{
					.list-agents{ margin-left: -10px !important;
						.item{
							margin:0 0 0 20px;width: 230px !important;
						}
					}
				}
			}
		}
	}
	#sns_productswrap{
		.sns-slider {
			ul.products-grid{ margin-left: -10px !important;
				.item{width: 228px !important; margin:0 0 0 20px;}
			}
		}
	}
	#sns_botsl2{
		.block-connectus{
			.block-content{
				p{
					&.c-address{
						line-height: 18px;
					}
					&.c-phone{line-height: 48px;
						label{display: none;}
					}
					&.c-email{ line-height: 48px;
						label{display: none;}
					}
				}
			}
		}
		.block-subscribe{
			.block-content{
				form{
					.input-box{
						input{width: 136px;}
					}
				}
			}
		}
	}

}
@media (max-width: 979px) {
	.data-table{
		thead tr td, thead tr th{
			white-space: normal;
			padding: 5px;
		}
		tbody td{padding: 5px;}
		input.input-text{
			width: auto; max-width: 70%;
		}
		textarea{max-width: 70%;}
		.button{padding-left: 7px; padding-right: 7px; margin: 2px 0;}
		.price-box .price{font-size: 120%}
		&.cart-table{
		}
	}
	.quickview-wrap{display: none;}
	.sns-btn-quickview{display: none;}
	.products-grid{
		.item{
			.item-inner{
				.item-img{
					.item-box-hover{
						&.number-buttom3.has-btn-qv{
							.box-inner{width: 122px;}
						}
						&.number-buttom2.has-btn-qv{
							.box-inner{width: 61px;}
						}
						&.number-buttom1.has-btn-qv{
							.box-inner{width: 0px;}
						}
					}
				}
			}
		}
	}
	.sns-product-detail{
		.product-shop {
			.price-rating{margin-bottom: 45px;}
		}
	}
	.quickview-main{
		.addthis_toolbox{display: none;}
		#product-shop .email-friend{margin: 0 0;}
	}
	.sns-product-detail{
		.more-views{
			.slide-gallery{
				.caroufredsel_wrapper{ margin: 0 0 !important;
					ul{margin: 0 0 0 -9px !important;
						li{width: 69px !important;}
					}
				}
			}
			.caroufredsel_wrapper{max-width: 100%;}
		}
	}
	body{padding: 0 0;
		.container{padding: 0 10px;}
	}
	#sns_topheader{
		.topheader-right{
			.sns-quickaccess{ height: 36px; width: 36px; position: relative; cursor: pointer;
				border-left: 1px solid #EBEBEB; border-right: 1px solid #EBEBEB;
				.welcome{display: none;}
				ul.links{ position: absolute; top: 35px; left: -114px; background: transparent; width: 160px; padding: 10px 0 0;
					.opacity(0); .transition(all 0.4s ease-out); .transform(scale(0));
					transform-origin:50% 10% 0;-moz-transform-origin:50% 10% 0;-webkit-transform-origin:50% 10% 0;
					-o-transform-origin:50% 10% 0;-ms-transform-origin:50% 10% 0; margin: 0 0; padding: 0 0; border: none;
					background: #FFF; border: 1px solid #EBEBEB;
					li{display: block; background: none; padding: 5px 0px; text-align: left; border-top: 1px solid #DFDFDF;
						margin: 0 10px;
						&:first-child{padding: 5px 0px; border-top: none;}
						a{display: block; font-size: 100%;}
					}
				}
				&:hover{
					ul.links{
						.opacity(100); .transform(scale(1));
					}
				}
				&:before{content: "\f13d"; position: absolute; font-family: FontAwesome; left: 9px; top: 0px; font-size: 16px;
					color: #909090;
					z-index: 1; cursor: pointer;
				}
			}
		}
	}
	#sns_header{
		.header-left{display: none;}
		#logo{text-align: left; margin-left: 0px;}
		.header-right{
			.header-right-inner{float: right;
				#search_mini_form{
					.form-search{
						input.input-text{width: 150px;
							&:focus{width: 160px;}
						}
					}
				}
			}
		}
	}
	#sns_slideshow{
		.sns-slideshow-wrap .buttons-action{margin-top: 10px;}
	}
	#sns_menu{
		position: relative;
		.container{ padding: 0 0; height: 43px;
			.row-fluid{
				.search-box{
					float: right;margin: 0 0; width: 0;
					form{position: absolute;top: 0px; right: 0px;}
				}
			}
		}
		#sns_mainnav{width: 100%}
		#sns_mainnav .sns-megamenu-wrap,
		#sns_mainnav .header-nav-container,
		#sns_mainnav .header-nav-container-home{display: none;}
		#sns_resmenu{ display: block;position: relative;
			&.sns-resmenu{
				#sns_resmenu_collapse{ position: relative;
					background: #333; top: 18px;
					.transition(all 0.4s ease-out 0s);
					&.active {ul.nav{.opacity(100); display: block;}}
				}
				ul.nav{ margin: 0 0 0; .opacity(0);.transition(all 0.3s ease 0s); display: none;
					li{display: block;border-top:1px solid #444; position: relative;
						a{display: block;.border-radius(0px); margin: 0 0; color: #FFF;padding: 5px 0; font-weight: normal;
							&:hover,&:focus{color: #FFF;}
							span{background:none;}
						}
						&:first-child{margin: 0 0;}
						.res-wrapnav{background:#3A3A3A;height: 0;.transition(all 0.4s ease-out 0s);
							> ul{.opacity(0); margin: 0 0 0 20px;
								ul{margin: 0 0 0 20px;}
							}
						}
						&.open{
							> .res-wrapnav > ul{.opacity(100);display: block;}
							> .menuress-toggle:before{content: "\f106";}
						}
						.menuress-toggle{position: absolute; top: 0px; right: 1px; height: 30px;
							width: 30px; background:#111; text-align: center; cursor: pointer;
							&:before{font-family: FontAwesome; content: "\f107"; color: #FFF;position: relative;top:4px;}
							&:hover{background: #000;}
						}
					}
					> li > a{background:#333;text-decoration: none; padding: 5px 10px;}
				}
				//&.menu-collapse{height: 46px;}
			}
		}
		&.keep-menu {position: relative;top: auto;left: auto;z-index: 2;
		}
		.nav-right{position: absolute;width: 100%; top: 0px; right: 0px;}
	}
	#sns_off_screennav{
		ul{
			margin: 0 0 0 15px;
			li{display: block;
				&:first-child{border: none}
				a{color: #999; padding: 5px 5px; display: block;border-bottom: 1px solid #444;}
				&.active,
				&:hover{
					> a{color: #fff;}
				}
			}
		}
		> ul{margin: 15px;}
	}
	body.resmenu-sb{ overflow-x: hidden;width: 100%;
		#sns_wrapper{
			.transition(all 0.3s ease-out 0s);
			/*
			transform: translate3d(0px, 0px, 0px);
			-moz-transform: translate3d(0px, 0px, 0px);
			-o-transform: translate3d(0px, 0px, 0px);
			-webkit-transform: translate3d(0px, 0px, 0px);
			-ms-transform: translateX(0px); */
		}
		&.on-sidebar{
			#sns_wrapper{
				.transition(all 0.3s ease-out 0s);
				transform: translate3d(220px, 0px, 0px);
				-moz-transform: translate3d(220px, 0px, 0px);
				-o-transform: translate3d(220px, 0px, 0px);
				-webkit-transform: translate3d(220px, 0px, 0px);
				-ms-transform: translateX(220px);
			}
			#sns_off_screennav_overlay{display: block;}
		}
	}
	body.resmenu-collapse{
		//.container{width: 100%;}
	}
	#sns_content{
		#sns_right,
		#sns_left{
			// Shop by
			.block-layered-nav{
				.price{
					.text-box{
						input[type="text"]{width: 48px;}
						.price-separator{margin: 0 5px;}
						.price-to{margin-right: 0px;}
					}
				}
			}
		}
		.sns-slider {
			ul.products-grid{ margin-left: -10px !important;
				.item{width: 228px !important; margin:0 0 0 20px;}
			}
		}
		#sns_mainmidle{
			.left-content{
				width: 100%;
			}
			.right-content{width: 100%; margin: 20px 0 0;
			}
			.products-list{
				.item{
					.item-img{width: 35%;}
					.product-shop{
						.actions-addtocart{
							padding: 10px 0 0; clear: left; display: block;
						}
					}
				}
			}
		}
		#sns_mainbottom{
			.sns-tabs{
				.tabs-navi{width: 169px;}
				.tabs-content{width: 540px; margin-left: 15px;
					.sns-slider{
						&.fortabs{
							.navigation{left: -72px;}
							.caroufredsel_wrapper{ margin: 0px -8px 0 !important; padding: 10px 8px 0 !important;
							}
							ul.products-grid{margin-left: -8px !important;
								.item{
									margin:0 0 0 15px;width: 170px !important;
								}
							}
						}
					}
				}
			}
		}
		.category-products{
			.toolbar{
				.limiter{display: none}
				.pager{
					.amount{display: none;}
				}
			}
		}
		.block-subscribe.forright{
			input{width: 180px;}
		}
	}
	#sns_cpanel{display: none}
	#postComment{
		ul.form-list{
			.input-box{
				input.input-text{max-width:170px;}
				textarea{max-width: 95%; width: 90% !important}
			}
		}
	}
}

@media (max-width: 641px) {
	#modal_login,
	#modal_regis{
	    left: 20%;
	    margin: 0;
	    width: 60%;
	    &.fade.in{top: 15px;}
	}
	#modal_regis{
		.buttons-set{padding-bottom: 20px !important;}
	}
	.products-grid{
		.item{
			float: none;
		}
	}
	#sns_menu{
		.container{ margin: 0 10px;
			.row-fluid{
				#sns_resmenu{
					#sns_resmenu_collapse{
						left: -10px !important;
					}
				}
			}
		}
	}
	#sns_ajaxinner {
	    margin: 0 0 0 -158px;
	    width: 316px;
	}
	.sns-producttabs{
		.sns-pdt-container{
			.sns-pdt-nav{
				.pdt-nav > li{
					margin-bottom: 5px; float: left; padding-left: 22px; padding-right: 22px;
				}
			}
			.pre-text{display: none;}
			.sns-pdt-content{width: 100%; float: left;
		 		.content-loading{
				    background: none;
					min-height:450px;
					.cir{
						box-shadow:
						-35px -60px 0 20px #6cce74,
						 35px -60px 0 20px #c18d46,
						70px    0px 0 20px #c14745,
						 35px  60px 0 20px #2e1e5b,
						-35px  60px 0 20px #9c37a6,
						-70px    0px 0 20px #76bdd1;
						-o-animation:smallLoading 12s infinite linear;
						-moz-animation:smallLoading 12s infinite linear;
						-webkit-animation:smallLoading 12s infinite linear;
						animation:smallLoading 12s infinite linear;
					}
		 		}
		 	}
		}
	}
	.col2-set{
		.col-1{width: 100%; margin-bottom: 10px;}
		.col-2{width: 100%; margin-bottom: 10px;}
	}
	.cart{
		.col2-set{width: 100%;}
		tbody td{.product-name{line-height: 18px;}}
		tfoot td{ padding: 10px 5px;}
		.totals{width: 100%}
		.a-center{input.input-text{padding: 6px 2px; text-align: center}}
	}
	#sns_topheader{
		.topheader-left{width: 60%; float: left;}
		.topheader-right{width: 40%; float: left;}
	}
 	#sns_header{
		#logo{
			width: 100%;text-align: center;
		}
		.header-right{ height: 0px; position: absolute; right: 0px;
			.header-right-inner{ height: 0px;
				.connect-us{display: none;}
			}
			#search_mini_form{position: absolute; bottom: -30px; right: 196px; cursor: pointer;
				height: 84px; width: 51px;
				&:before{ content: ""; top: 14px; right: 0px;
					position: absolute; width: 49px; height: 49px; .border-radius(12px);
					border: 1px solid rgba(255, 255, 255, 0.5); background: transparent;
				}
				&:after{position: absolute;content: ""; height: 16px; width: 17px;
					background: url("../images/ico-search-white.png") no-repeat left top; top: 32px; left: 18px;
				}
				.form-search{position: absolute; right: -20px; top: 84px;
					.opacity(0); .transition(all 0.4s ease-out); .transform(scale(0));
					transform-origin:50% 10% 0;-moz-transform-origin:50% 10% 0;-webkit-transform-origin:50% 10% 0;
			        -o-transform-origin:50% 10% 0;-ms-transform-origin:50% 10% 0;
			        input.input-text{width: 160px !important; border-color: #FFF;
			        	&:focus{width: 160px !important;}
			        }
				}
				&:hover{
					&:before{background: rgba(255, 255, 255, 0.2)}
					.form-search{
						.opacity(100); .transform(scale(1));
					}
				}
			}
		}
	}
	#sns_slideshow{ overflow: hidden; max-height: 400px;
		.sns-slideshow-wrap{ padding-top: 32px;
			.buttons-action{ display: none;
			}
			.sns-fraction-slider{
				.fs_loader{top: 200px;}
			}
		}
	}
	#sns_topsl{ display: none;
		.block{margin-top: 25px;
			&:first-child{margin-top: 0px;}
		}
	}
	#sns_testimonials{ height: 265px; padding: 50px 0 0;
		.block-title{
			&:before{display: none;}
			&:after{display: none;}
		}
		.block-content{
			.list-quotes{
				.item{padding: 5px 0px 0;}
			}
		}
	}
	#sns_content{
		.block.block-subscribe input{width: auto;}
		.block.block-social .block-title{float: none; display: block; margin-bottom: 20px;}
		.sns-slider{
			.pretext{display: none;
				&:before{display: none;}
			}
			.navigation{top: -5px;}
			.caroufredsel_wrapper{ margin: 22px 0px 0 !important; padding: 0 0 !important;
			}
			ul.products-grid{ margin-left: 0px !important;
				.item{
					width: 190px !important; margin: 0 8px;
				}
			}
		}
		.block.slide-banner {
			ul{ margin-left: 0px !important;
				> li{width: 620px !important;}
			}
		}
		#sns_right,
		#sns_left{ margin-bottom: 30px;
			.block-layered-nav{
				.price{
					.text-box{
						input[type="text"]{width: 60px;}
					}
				}
			}
		}
		.box-up-sell{
			.block-content{
				.up-sell-products{
					ul.products-grid{ margin:0 0 0 -20px !important;
						li.item{ margin-left: 20px; width: 300px !important}
					}
				}
			}
		}
		#sns_mainmidle{
			.block{
				&.block-testimonials{margin-top: 30px;
					.navigation{top: -4px;}
					.pretext{display: none;
						&:before{display: none;}
					}
					.block-content{
						.caroufredsel_wrapper{ padding: 0 0 !important; margin: 0 0 !important;
							.list-quotes {
							    margin: 0 0 0 0 !important;
							    .item{width: 294px !important; margin: 0 8px;}
							}
						}
					}
				}
				&.block-related{
					.products-grid{
						.item{
							margin: 0 10px; width: 265px !important; float: left;
						}
					}
				}
			}
			.products-list{
				.item{
					.item-img{width: 100%; margin: 0 0 15px 0;
						.product-image{width: 100%; text-align: center;
							.img-additional{width: 100%;}
						}
					}
					.product-shop{margin: 0; width: 100%;
						> *{padding-right: 10px; padding-left: 10px;}
						.price-rating{
							.rating-links{display: none;}
						}
						.actions-addtocart{
							padding: 0 0;
						}
					}
				}
			}

			.category-products{
				.toolbar{
					.sort-by{display: none}
				}
			}

			.sns-product-detail{
				.product-image-zoom{
					.cloud-zoom{text-align: center;
						img{display: inline-block !important;}
					}
					.popup-btn{display: none;}
					.cloud-zoom-big,
					.cloud-zoom-lens{display: none !important}
				}
				h1.product-name{margin: 10px 0}
				.more-views .slide-gallery{ margin-bottom: 20px;}
			}

		}
		#sns_mainbottom{ display: none;
			.sns-tabs{display: none;
			}
		}
	}
	#sns_promotions{display: none;}
	#sns_productswrap{
		.sns-slider {
			.pretext{display: none;}
			ul.products-grid{ margin-left: -10px !important;
				.item{width: 298px !important; margin:0 0 0 20px; float: left;}
			}
		}
	}
	#sns_brand .slider-brands ul li{width: 230px !important;}
	#sns_botsl{
		.block{margin-top: 30px;
			&:first-child{margin-top: 0px;}
		}
	}
	#sns_botsl2{
		.block{margin-top: 10px;
			&:first-child{margin-top: 0px;}
		}
	}
	.price-box .old-price{margin-right: 5px;}

	#postComment{ position: relative; padding-bottom: 30px;
		ul.form-list{
			.input-box{
				input.input-text{max-width:170px;}
				textarea{max-width: 95%; width: 90% !important}
			}
			.button-set{position: absolute; bottom: 0px;}
		}
	}
	.contact-page{ max-width: 870px; margin: 0 auto;
	.page-title{
		h1{text-align: center;}
	}
	.contact-content{ > p{text-align: center;}}
		.more-info{margin-bottom: 30px; padding: 10px 0; border-bottom: 1px solid #e9e9e9; border-top: 1px solid #e9e9e9;
			p{margin: 0 0; line-height: 20px;}
			.address{
				p{margin: 0px; text-align: left;}
			}
			.chat{
				p{margin: 0px;text-align: left;}
			}
			.phone{text-align: left; height: 50px; margin: 3px 0; border:none;}
		}
	}
}
@media (max-width: 481px) {
	#sns_topheader{
		.topheader-left{width: 36px; height: 36px; position: relative; border-right: 1px solid #EBEBEB;
			border-left: 1px solid #EBEBEB;
			&:before{ font-family: FontAwesome; width: 100%; height: 100%; cursor: pointer;
				content: "\f0c0"; position: absolute; font-size: 16px; left: 8px; top: 0px;
			}
			ul.contact-us-now{position: absolute; top: 35px; left: -1px; width: 160px; border: 1px solid #EBEBEB;
				background: #FFF; .opacity(0); .transform(scale(0)); .transition(all 0.4s ease-out);
				li{display: block; margin: 0 10px; border-top: 1px solid #EBEBEB; float: none;
					&:first-child{border-top: none; margin-left: 10px;}
				}
			}
			&:hover{
				ul.contact-us-now{.opacity(100); .transform(scale(1));}
			}
		}
		.topheader-right{width: 80%; float: right;}
	}
	#modal_login,
	#modal_regis{
	    left: 15%;
	    margin: 0;
	    width: 70%;
	    &.fade.in{top: 15px;}
	}
	.sns-product-detail{
		#sns_tab_products{
			ul.sns-tab-navi{width: 100% !important;
				li{width: auto; display: inline-block; margin: 0 0 5px 5px;
					a{border: 1px solid #eaeaea;
						&.tabulous_active{
							&:before{display: none;}
						}
					}
					&:first-child{margin-left: 0px;}
				}
			}
			.sns-tab-content{width: 100% !important;}
		}
	}
	#sns_slideshow{ overflow: hidden; max-height: 350px;
		.sns-slideshow-wrap{ padding-top: 45px;
			.buttons-action{ display: none;
			}
			.sns-fraction-slider{
				.fs_loader{top: 160px;}
			}
		}
	}
 	#sns_content{
		.sns-slider{
			.caroufredsel_wrapper{ margin: 22px 0px 0 !important; padding: 0 0;
			}
			ul.products-grid{ margin-left: 0px !important;
				.item{
					width: 214px !important; margin: 0 8px;
				}
			}
		}
		.block.slide-banner {
			ul{ margin-left: 0px !important;
				> li{width: 460px !important;}
			}
		}
		#sns_mainmidle{
			.box-up-sell{
				.block-content{
					.up-sell-products{
						ul.products-grid{ margin:0 0 0 -20px !important;
							li.item{ margin-left: 20px; width: 220px !important}
						}
					}
				}
			}
			.block{
				&.block-testimonials{
					.block-content{
						.caroufredsel_wrapper{ padding: 0 0 !important; margin: 0 0 !important;
							.list-quotes {
							    margin: 0 0 0 0 !important;
							    .item{width: 214px !important; margin: 0 8px;}
							}
						}
					}
				}
				&.block-related{
					.products-grid{
						.item{
							width: 185px !important; float: left;
						}
					}
				}
			}
			.sns-product-detail{
				.more-views .slide-gallery{

				}
			}
		}
	}
	#sns_productswrap{
		.sns-slider {
			.pretext{display: none;}
			ul.products-grid{ margin-left: -10px !important;
				.item{width: 220px !important; margin:0 0 0 20px; float: left;}
			}
		}
	}
	#sns_brand .slider-brands ul li{width: 295px !important;}
	#sns_footer{
		.sns-info{
			ul{
				display:table; margin: 0 auto;
				li{
					display:inline-block; float: left;
					padding: 0 5px 0 7px;
					&:first-child{padding-left: 0px;}
					&.last{padding-right: 0px;}
				}
			}
		}
	}
}
@media (max-width: 361px) {
	//.price-box .old-price{display: none;}
	#modal_login,
	#modal_regis{
	    left: 5%;
	    margin: 0;
	    width: 90%;
	    &.fade.in{top: 15px;}
	}
	#sns_header{
		.header-right{
			#search_mini_form{
				.form-search{right: -70px;}
			}
		}
	}
	.sns-product-detail{
		#sns_tab_products .sns-tab-content .tab-content-inner{margin-left: 10px; margin-right: 10px;}
		.more-views{
			.nav-gallery{
				.next,
				.prev{
					left: -9px; margin-top: -22px;
				}
				.next{left: auto;right: -9px;}
			}
			.slide-gallery{
				.caroufredsel_wrapper{
					ul{ margin: 0 0 0 -8px !important;
						li{width: 76px !important}
					}
				}
			}
		}
	}
	#sns_slideshow{ overflow: hidden; max-height: 320px;
		.sns-slideshow-wrap{ padding-top: 52px;
			.buttons-action{ display: none;
			}
			.sns-fraction-slider{
				.fs_loader{top: 150px;}
			}
		}
	}
 	#sns_content{
		.sns-slider{
			.caroufredsel_wrapper{ margin: 22px 0px 0 !important; padding: 0 0;
			}
			ul.products-grid{ margin-left: 0px !important;
				.item{
					width: 155px !important; margin: 0 8px;
				}
			}
		}
		.block.slide-banner {
			ul{ margin-left: 0px !important;
				> li{width: 340px !important;}
			}
		}
		#sns_mainmidle{
			.box-up-sell{
				.block-content{
					.up-sell-products{
						ul.products-grid{ margin:0 0 0 -20px !important;
							li.item{ margin-left: 20px; width: 340px !important}
						}
					}
				}
			}
			.block{
				&.block-related{
					.products-grid{
						.item{
							width: 300px !important;
						}
					}
				}
			}
		}
	}

	#sns_productswrap{
		.sns-slider {
			.pretext{display: none;}
			ul.products-grid{ margin-left: -10px !important;
				.item{width: 340px !important; margin:0 0 0 20px; float: left;}
			}
		}
	}
	#sns_brand .slider-brands ul li{width: 180px !important;
		a{display: inline;}
	}
}
@media (max-width: 321px) {
	#sns_header{
		.header-right{
			#search_mini_form{
				.form-search{right: -110px;}
			}
		}
	}
	#sns_menu{
		.nav-right{
			.block-wishlist{
				.block-content{right: -110px;}
			}
		}
	}
	.sns-product-detail{
		.more-views{
			.slide-gallery{
				.caroufredsel_wrapper{
					ul{ margin: 0 0 0 -8px !important;
						li{width: 92px !important}
					}
				}
			}
		}
	}
	#sns_slideshow{ overflow: hidden; max-height: 320px;
		.sns-slideshow-wrap{ padding-top: 55px;
			.buttons-action{ display: none;
			}
			.sns-fraction-slider{
				.fs_loader{top: 150px;}
			}
		}
	}
 	#sns_content{
		.sns-slider{
			.caroufredsel_wrapper{ margin: 22px 0px 0 !important; padding: 0 0;
			}
			ul.products-grid{ margin-left: 0px !important;
				.item{
					width: 284px !important; margin: 0 8px;
				}
			}
		}
		.block.slide-banner {
			ul{ margin-left: 0px !important;
				> li{width: 300px !important;}
			}
		}
		#sns_mainmidle{
			.box-up-sell{
				.block-content{
					.up-sell-products{
						ul.products-grid{
							li.item{ width: 300px !important}
						}
					}
				}
			}
			.block{
				&.block-related{
					.products-grid{
						.item{
							width: 260px !important;
						}
					}
				}
			}
		}
	}
	#sns_productswrap{
		.sns-slider {
			.pretext{display: none;}
			ul.products-grid{ margin-left: -10px !important;
				.item{width: 300px !important; margin:0 0 0 20px; float: left;}
			}
		}
	}
	#sns_brand .slider-brands ul li{width: 145px !important;
		a{display: inline;}
	}
}