/*------------------------------------------------------------------------
 * Copyright (C) 2013 The SNS Group. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: SNS Group
 * Websites: http://www.snstheme.com
-------------------------------------------------------------------------*/
body{overflow-x: hidden; position: relative;}
.wrap{ width: 100%; clear: both;}
#bd.boxed-layout{ background: #dfdfdf;
	#sns_wrapper{max-width: 1200px; margin: 0 auto; background: #FFF; 
		box-shadow:0 0 3px rgba(0,0,0,0.2);
	}
}
.row-fluid .span12{margin: 0 0;}
/*--- Block ---*/
.block{
	.block-title{color:@moduleTitleColor;font-size: 150%; font-weight: normal; text-transform: uppercase;
		padding: 5px 0;
		strong{font-weight: normal}
	}
	.block-content{padding: 10px 0;}
	&.blank{
		.block-content{padding: 0 0 !important;}
	}
	&.block-custommenu{ text-align: center !important; padding: 20px 0 10px; border: 1px solid transparent;
		margin-top:10px; .transition(all 0.2s ease-in); background: #f6f6f6;
		> *{margin: 0 auto;}
		.block-title{margin-top: 10px; margin-bottom: 5px;}
		.block-content{padding: 0 10px !important;}
		&:hover{border-color:#ddd;}
	}
	&.block-privacypolicy{
		.block-title{text-transform: none; font-size: 183.3%;
			span{padding-bottom: 5px;}
		}
		.block-content{
			ul.custom-block{ list-style: none;margin: 20px 0 0;
				li{padding: 0 0 0 60px; height: 47px; position: relative; margin: 10px 0 0; line-height: 46px;
					color: @labelColor;
					&:before{ position: absolute; content: ""; height: 45px; width: 45px; left: 0px; top: 0px;
						.border-radius(100%); border:1px solid @activeColor; .transition(all 0.2s ease-out);
						background: url("@{base-url}ico-pricacypolicy.png") no-repeat left top;
					}
					span{line-height: 18px; display: inline-block; margin-top: 3px;}
					&:hover{
						color: @activeColor;
						&:before{
							background-color: @activeColor; background-position: left -45px;
						}
					}
					&.money-back{
						&:before{background-position: left -90px;}
						&:hover{
							&:before{background-position: left -135px;}
						}
					}
					&.order-247{
						&:before{background-position: left -180px;}
						&:hover{
							&:before{background-position: left -225px;}
						}
					}
					&.special-event{
						&:before{background-position: left -270px;}
						&:hover{
							&:before{background-position: left -315px;}
						}
					}
					&.gift{
						&:before{background-position: left -360px;}
						&:hover{
							&:before{background-position: left -405px;}
						}
					}
				}
			}
		}
	}
	&.have-border{
		border: 2px solid #dfdfdf; position: relative; .transition(all 0.2s ease-out);
		.block-inner{margin: -2px; padding: 4px;
			.block-inner2{.transition(all 0.2s ease-out);border: 1px solid #dfdfdf;text-align: center; padding: 10px 10px;}
		}
	}
	&.block-connectus{
		.block-content{
			p{line-height: 24px; margin: 0 0 3px 0; padding: 0 0 0 46px; position: relative;
				color: @labelColor; height: 48px;
				a{.transition(all 0.1s ease-out);
					&:hover{text-decoration: none;}
				}
				label{margin: 0 0; float: left;
					line-height: 24px; color: @labelColor;
				}
				&:before{ .transition(all 0.2s ease-out);
					content: ""; position: absolute; width: 34px; height: 34px; left: 0px; top: 6px;
					background-image: url("@{base-url}ico-contactus.png");background-position: top left;
					background-repeat: no-repeat; border: 1px solid #dfdfdf; .border-radius(100%);
				}
				&.c-phone{line-height: 48px;
					label{line-height: 48px;}
					&:before{ background-position: left -136px;}
					&:hover{
						&:before{background-position: left -170px;}
					}
				}
				&.c-email{ line-height: 48px;
					label{line-height: 48px;}
					&:before{ background-position: left -68px;}
					&:hover{
						&:before{background-position: left -102px;}
					}
				}
				&:hover{
					&:before{ border-color: @activeColor; background-position: left -34px;}
				}
			}

			ul{list-style: none;margin: 0 0;
				li{display: inline-block;float: left; margin-left: 10px;
					a{width: 30px; height: 30px; text-indent: -999em;.transition(all 0.3s ease-out); .border-radius(3px);
						background: url(../images/ico-socials.png) no-repeat left top; display: block;
						&:hover{background-position: left -30px; background-color: #FFF !important;}
					}
					&.facebook{
						a{background-color: #3c5b9b;}
					}
					&.twitter{
						a{background-position: left -60px; background-color: #359bed;
							&:hover{background-position: left -90px;}
						}
					}
					&.rss{
						a{background-position: left -120px; background-color: #fd9f13;
							&:hover{background-position: left -150px;}
						}
					}
					&.youtube{
						a{background-position: left -180px; background-color: #f03434;
							&:hover{background-position: left -210px;}
						}
					}
					&.vimeo{
						a{background-position: left -240px; background-color: #87d3e0;
							&:hover{background-position: left -270px;}
						}
					}
					&.frickr{
						a{background-position: left -300px; background-color: #e9e9e9;
							&:hover{background-position: left -330px;}
						}
					}
					&:first-child{margin-left: 0px;}
				}
			}
		}
	}
	&.block-gettouch{
		.block-title{
			position: relative;
			padding: 10px 10px 10px 45px;
			&:before{
				position: absolute;
				left: 0px; top: 2px;
				font-size: 120%; text-align: center; height: 19px; width: 35px; padding: 8px 0;
				.border-radius(100%);background:#f3734f; color: #FFF;
				content:"\f041";
				font-family: FontAwesome;
			}
		}
	}
	&.block-social{ padding:30px 20px 20px;
		.block-title{
			display: inline-block;float: left; margin-right: 25px;
		}
		.block-content{ padding: 0 0 !important;
			ul{margin: 0 0; list-style: none;
				li{float: left; display: inline-block; margin: 0 10px;
					a{ display: inline-block; color: @color;
						.transition(all 0.2s ease-out);
						span{display: none}
						&:before{font-family: FontAwesome; font-size: 35px; height: 35px; width: 35px; line-height: 100%}
						&.facebook{
							&:before{content: "\f09a";}
							&:hover{color: #425f9c;}
						}
						&.plus{
							&:before{content: "\f0d5";}
							&:hover{color:#D85131;}
						}
						&.pinterest{
							&:before{content: "\f0d3";}
							&:hover{color:#CA2128}
						}
						&.linkedin{
							&:before{content: "\f0e1";}
							&:hover{color:#017EB4}
						}
						&.twitter{
							&:before{content: "\f099";}
							&:hover{color: #5DD7FC}

						}
						&:hover{text-decoration: none; color: @activeColor;}
					}
					&.last{margin-right: 0px}
				}
			}
		}
	}
	&.block-wishlist{
		ol{margin: 0 0 0 20px;
			li{margin: 5px 0;}
			.product-details{
				.price-box .price{font-size: 100%}
			}
		}
		.actions{padding: 15px 0 0}
	}
	&.block-compare{
		ol{margin: 0 0 0 20px;
			li{margin: 5px 0;}
		}
		.actions{padding: 15px 0 0;
			.button{margin:0 0 0 5px; font-size: 116.7%;}
		}
	}
}

.block-cart{ width: 40px; height: 40px; position: relative; float: right; margin: 0 0 0 1px;
	ol{margin: 0 0 15px 0; list-style: none;
		li{display: block; width: 100%;clear: both; padding: 8px 0;
			.product-image{float: left; border: 1px solid #e9e9e9; margin: 0 10px 0 0;}
		}
	}
	p.empty{margin: 10px 0 0;}
	p.subtotal{float: left; margin: 10px 0; .label{margin: 0 0; padding: 0 0;}}
	.actions{float: right;}
}
/*--- My account ---*/
.my-account{
	.pager{
		.amount{float: left;margin: 0 0;}
		.limiter{float: right;
			label{float: left; margin:0 10px 0 0;}
			select{float: left;
			    height: 24px;
			    line-height: 24px;
			    margin: 0 10px 0 0;
			    padding: 2px;
			    width: 80px;
			}
		}
	}
}
.pager{
	p.amount{float: left;}
	.pages{ float: left;
		strong{display: none}
		ol{
			margin: 0 0;
			li{display: inline-block; float: left; margin: 0 0 0 4px; line-height: 26px;
				&:first-child{margin-left: 0px;}
				a{
					height: 26px; width: 26px;.border-radius(100%);
					background: #FFF; padding: 0 0; margin: 0 0; display: block;
					border:1px solid #e5e5e5;.transition(all 0.4s ease-in 0s); text-align: center;
					&.next, &.previous{ position: relative;
						padding: 0 0; text-indent: -999em;
						&:before{position: absolute;content: ""; width: 26px; height: 26px; left: -1px; top: 7px;
							background: url("../images/ico-pager.png") no-repeat 0px top; .transition(all 0.2s ease-in 0s);
						}
						&:hover{
							&:before{background-position: -26px top;}
						}
					}
					&.next{
						&:before{ left: 1px;
							background-position: -78px top;
						}
						&:hover{
							&:before{background-position: -52px top;}
						}
					}
				}
				a:hover, &.current{
					background: @activeColor; border:1px solid @activeColor; color: #FFF;
				}
				&.current{height: 26px; width: 26px; .border-radius(100%);}

			}
		}
	}
}
/*--- Responsive menu ---*/
#sns_resmenu{ display: none; margin-top: 14px;
	&.sns-resmenu{
		button.btn-navbar{margin: 0 0;position: relative;z-index: 2; padding: 0 0; background: transparent;
			height: 52px; width: 52px;.border-radius(12px); text-align: center; border: 1px solid rgba(255, 255, 255, 0.5);
			i{font-size: 21px; text-shadow:none;-moz-text-shadow:none;-o-text-shadow:none;-webkit-text-shadow:none;
				position: relative;top: 1px;left: -1px; color: #FFF;
			}
			&:focus{
				text-shadow:none;-moz-text-shadow:none;-o-text-shadow:none;-webkit-text-shadow:none;
				box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-webkit-box-shadow:none;
			}
		}
		&:hover{
			button.btn-navbar{background: rgba(255, 255, 255, 0.2);
			}
		}
	}
}
#sns_off_screennav{
	background: #333333;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 220px;
    height: 100%;
    z-index: 1000;
    transform: translateX(-100%);
    transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
	-webkit-transform: translate3d(-100%, 0, 0);
	-o-transform: translate3d(-100%, 0, 0);
	-ms-transform: translate3d(-100%);
}
#sns_off_screennav_overlay{display: none; background: rgba(0, 0, 0, 0.2);
	position: fixed;left:0px; top:0px;width: 100%; height: 100%; z-index: 99;
}
.page-sitemap{
	ul.links{list-style: none; margin: 0 0; float: left;}
	.pager{float: right; margin: 0 0;
		.pages{margin: 0 0 0 8px;}
	}
	.sitemap{clear: both; padding: 10px 0}
}
.tags-list{list-style: none; margin: 0 0;
	li{display: inline-block; margin: 2px 5px;}
}
.advanced-search{
	select{
		padding: 3px;
		option{padding: 3px;}
	}
}
/*--- rating ---*/
.rating-box{
    background: url("../images/bkg_rating.png") repeat-x scroll 0 0 transparent;
    display: inline-block;
    height: 12px;
    position: relative;
    vertical-align: middle;
    width: 60px;
    margin: 3px 12px 0 0; float: left;
	.rating {
		background: url("../images/bkg_rating.png") repeat-x scroll 0 100% transparent;
		height: 11px;
		left: 0;
		position: absolute;
		top: 0;
	}
}
.no-rating a{
	color: @color;
	&:hover{color: @activeColor;}
}
.rating-links a{
	margin: 0 1px; color: @color;
	&:hover{color: @activeColor;}
}
#compare-items li,
.product-details{
	position: relative;
	p.product-name{margin: 0 0}
}
/*--- messages ---*/
.messages {
	list-style: none;
	margin: 10px 0 15px;
    overflow: hidden;
    width: 100%;
    li.notice-msg{
    	background-color: #FCF8E3;
	    border: 1px solid #FBEED5;
	    .border-radius(0px);
	    padding: 8px 10px;
	    color: #C09853;
	    ul{position: relative; padding: 0 0 0 30px;
	    	&:before{
		    	font-family: FontAwesome;
		    	content: "\f06a";
		    	font-size: 22px;
		    	position: absolute;
		    	left: 0px;top: 0px;
		    }
	    }
    }

    li.error-msg{
    	background-color: #F2DEDE;
	    border: 1px solid #EED3D7;
	    color: #B94A48;
	    .border-radius(0px);
	    padding: 8px 10px;
	    ul{position: relative; padding: 0 0 0 30px;
	    	&:before{
		    	font-family: FontAwesome;
		    	content: "\f071";
		    	font-size: 22px;
		    	position: absolute;
		    	left: 0px;top: 0px;
		    }
	    }
    }
    li.success-msg {
	    background-color: #DFF0D8;
	    border: 1px solid #D6E9C6;
	    color: #468847;
	    .border-radius(0px);
	    padding: 8px 10px;
	    ul{position: relative; padding: 0 0 0 30px;
	    	&:before{
		    	font-family: FontAwesome;
		    	content: "\f058";
		    	font-size: 22px;
		    	position: absolute;
		    	left: 0px;top: 0px;
		    }
	    }
	}
	li.note-msg{
	    background-color: #D9EDF7;
	    border: 1px solid #BCE8F1;
	    color: #3A87AD;
	    .border-radius(0px);
	    padding: 8px 10px;
	     ul{position: relative; padding: 0 0 0 30px;
	    	&:before{
		    	font-family: FontAwesome;
		    	content: "\f0eb";
		    	font-size: 22px;
		    	position: absolute;
		    	left: 0px;top: 0px;
		    }
	    }
	}
    ul{margin: 0 0; list-style: none}
}
label em{padding-right: 5px;}
.quickview-main{
	.sns-product-detail{
		h1.product-name{margin-top: -13px; display: block;}
		.more-views .nav-gallery .next,
		.more-views .nav-gallery .prev{
			left: 0px;
		}
		//.more-views .slide-gallery{display: none;}
		.more-views .nav-gallery .next{left: auto; right: 0px;}
		#sns_gallery{margin: 0 0; height: 70px; overflow: hidden;
			li{margin: 0 5px 5px 5px; width: 67px !important;}
		}
		#product-shop,
		.product-shop{
			.add-to-links{padding: 0 0; border:none; display: block;width: 100%; float: left;
				li{display: inline-block; margin-right: 25px; float: left;
					a{padding: 0 0 0 20px; height: auto;line-height: 18px; background: url("../images/ico-dot.png") no-repeat left center;
						&:before{display: none;}
						&:hover{margin: 0 0;}
					}
				}
			}
			.email-friend{
				a{padding: 0 0 0  20px; height: auto;line-height: 18px; background: url("../images/ico-dot.png") no-repeat left center;
					&:before{display: none;}
					&:hover{margin: 0 0;}
				}
			}
		}
	}
	/*.ratings .rating-links,
	.no-rating a,
	.email-friend,
	.add-to-links{
		display: none !important;
	}*/
	.addthis_toolbox{display: none !important;}
	.product-img-box{width: 34%; float: left; margin: 0 0;}
	.product-shop{width: 63.5%; margin-left: 2.5%; float: left;}
	.has-custom{display: none;}
}
/*--- price-box ---*/
.price-box{
	p{margin: 0 0; display: inline-block;}
	.old-price{/*text-decoration: line-through;*/ margin: 0 10px 0 0; padding: 0 6px; display: inline-block; position: relative;
		.price{font-size: 150%; color: @color; position: relative;}
		&:before{position: absolute;content: ""; width: 100%; height: 1px; padding: 0 0; left: 0px; top: 50%; margin-top: 1px;
			background:#c8c8c8;
		}
	}
	.special-price{
		.price{color: @activeColor; font-size: 176%;}
	}
	.price{font-size: 150%; line-height: 24px;color: #686868;}
	.minimal-price-link .price{font-size: 100%}
	.price-label{display: none;}
	.price-from{
		padding: 0 10px 0 0;
		.price-label{display: inline-block;}
		.price{font-size: 150%}
	}
	.price-to {
		padding: 0 0;
		.price{font-size: 150%}
		.price-label{display: inline-block;}
	}
}

.sns-producttabs{
	 .sns-pdt-container{ text-align: center;
	 	.sns-pdt-nav{ display: block; float: left;width: 100%; text-align: center;
		 	.pdt-nav{
		 		> li{font-size: 150%; .transition(all 0.2s ease-out); border: 1px solid #e5e5e5; height: 42px; line-height: 42px;
					padding: 0 32px; display: inline-block; background: #FFF; color: @labelColor; margin: 0 0 0 5px; float: none;
					.border-radius(22px);
					span{padding: 0 0; display: inline-block;}
					&:first-child{margin: 0 0;}
					&.tab-nav-actived,
					&:hover{background-color: @activeColor;color: #FFF;
						border-color: @activeColor;
					}
				}
		 	}
		}
	 	.pre-text{margin: 15px 0 0; display: inline-block;width: 70%; text-align: center; color: @labelColor;}
	 	.sns-pdt-content{width: 100%; float: left;
	 		.content-loading{
			    background: none;
				min-height:450px;
				.cir{
					border-radius:50%;
					height:2px; width:2px; /* To allow border-radius to work */
					position:absolute;
					top:50%; left:50%;
					margin-top:-1px; margin-left:-1px;
					
					box-shadow:
					-75px -125px 0 40px #6cce74,
					 75px -125px 0 40px #c18d46,
					150px    0px 0 40px #c14745,
					 75px  125px 0 40px #2e1e5b,
					-75px  125px 0 40px #9c37a6,
					-150px    0px 0 40px #76bdd1;
					-o-animation:largeLoading 12s infinite linear;
					-moz-animation:largeLoading 12s infinite linear;
					-webkit-animation:largeLoading 12s infinite linear;
					animation:largeLoading 12s infinite linear; 
					/*box-shadow:
					-35px -60px 0 20px #6cce74,
					 35px -60px 0 20px #c18d46,
					70px    0px 0 20px #c14745,
					 35px  60px 0 20px #2e1e5b,
					-35px  60px 0 20px #9c37a6,
					-70px    0px 0 20px #76bdd1;
					-o-animation:smallLoading 12s infinite linear;
					-moz-animation:smallLoading 12s infinite linear;
					-webkit-animation:smallLoading 12s infinite linear;
					animation:smallLoading 12s infinite linear;*/
				}
	 		}
	 		.pdt-content{margin: 0 0;
	 			.products-grid{ padding-bottom: 30px;
	 				.item{margin-bottom: 0; margin-top: 30px;
	 					&.show-addtocart{margin-top: 47px;}
	 				}
	 			}
	 		}
	 		.pdt-loadmore{
		 		.btn-loadmore{ font-size: 150%; .transition(all 0.2s ease-out); text-transform: none;color: @labelColor;
					padding: 0 20px; height: 42px; line-height: 42px; border: 1px solid #e5e5e5; .border-radius(22px);
					background: #FFF;
					.inner{ padding: 0 0; height: 100%; display: block;
						/*.ico-loading{
							background: none; position: absolute; left: 14px; top: 7px;
							&:before{position: absolute;content: "\f021"; font-size: 16px; color: #FFF; font-family: FontAwesome;
								left: 0px; animation:2s linear 0s normal infinite spin;
								-webkit-animation:2s linear 0s normal infinite spin;
								-moz-animation:2s linear 0s normal infinite spin;
								-o-animation:2s linear 0s normal infinite spin;
							}
						}*/
						> span{padding: 0 0; height: 100%; padding-right: 22px;.transition(all 0.2s ease-out);
							background: url("../images/ico-plus.png") no-repeat right 2px;display: block;
						}
					}
			 		&:hover{background-color: @activeColor; border-color: @activeColor; color: #FFF;
			 			.inner > span{
			 				background-position: right -40px; color: #FFF;
			 			}
			 		}
			 		.icon-spin{ display: none; position: absolute;left: 14px; top: 9px;
		 				font-size: 16px; color: #FFF;
						&:before{content: "\f021"; }
			 		}
			 		&.loading{background-color:@activeColor; border-color: @activeColor; color: #FFF;
			 			.inner > span{padding-right: 0px; background: none;}
			 		}
			 		&.loaded{cursor: text;
			 			.inner > span{padding-right: 0px; background: none;}
			 			&:hover{
			 				background: #FFF; color: @labelColor; border-color: #e5e5e5;
			 			}
			 		}
		 		}
	 		}
	 	}
	 }
}
.sns-slider { margin: 0 0;
	.title-slider{font-size: 183.3%; text-transform:uppercase; color: @moduleTitleColor;
		margin: 0 0;
	}
	.navigation{position: relative;width: 61px; height: 28px; display: inline-block; background: #FFF;
		.next,
		.prev{ .transition(all 0.2s ease-out); margin: 0 0 0 5px;
			width: 26px; height: 26px; border: 1px solid #dfdfdf; .border-radius(100%); position: absolute;
			top: 0px; right: 0px; text-indent: -999em; background: url("../images/ico-pager.png") no-repeat -78px 6px;
			&:before{display: none;}
			&:hover{background-position: -52px 6px; background-color: @activeColor; border-color: @activeColor;}
		}
		.prev{left: 0px; right: auto; background-position: 0px 6px; margin: 0 0;
			&:hover{background-position: -26px 6px;}
		}
	}
	.timer{background:@activeColor; height: 1px; position: absolute; bottom: 0px;}
	.paging{margin: 15px 0 0; text-align: center; height: 10px;
		a{width: 10px; height: 10px; display: inline-block; background: #CCC;
			.transition(all 0.3s ease-out); margin: 0 0 0 5px; text-indent: -999em;
			&.selected,
			&:hover{background: @activeColor;}
		}
	}
	ul.products-grid{
		li.item{
			.transition(all 0.3s ease-out);
			//.opacity(20);
		}
	}
	.caroufredsel_wrapper{
		ul.products-grid{
			li.item{
				//.opacity(100);
			}
		}
	}
	&.fortabs{
		.caroufredsel_wrapper{
			margin: 0px -10px 0px -10px !important; padding: 10px 10px 0px 10px !important;
			> ul{ margin-left: -20px !important;
				.item{width: 170px !important; margin:0 0 0 30px;
					.item-inner .item-info .item-title{font-size: 133%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
				}
			}
		}
		.navigation{left: -87px;}
	}
	&.formenu{
		.title-slider{padding: 0 0;
			span{position: relative; display: inline-block;padding: 0 0 10px;
				&:before{position: absolute;content: ""; left: 0px; bottom: -14px; height: 1px; width: 100%; background: #ebebeb;}
			}
		}
		.navigation{position: absolute;top: -45px; right: 0px;}
		.caroufredsel_wrapper{margin: 20px 0 0 !important;}
		ul.products-grid{
			.item{ margin-top: 0px;padding-top: 0px;
				&.show-addtocart{
					padding-top: 17px;
				}
			}
		}
		/*.caroufredsel_wrapper{width: 100% !important; padding: 0px 10px 0px !important;
			margin: 28px -10px 0px -10px !important;
		}*/
	}

	&.column-style{
		.caroufredsel_wrapper{padding: 0 0!important; margin: 0 0!important; width: 100% !important;
			> ul{margin: 0 0 !important;
				.item{margin: 0 0;
					
				}
			}
		}
	}
}
.sns-ajaxcart{ margin: 0 0 0 8px; padding: 0 0; display: inline-block; text-align: left;
	.block-title{position: relative; cursor: pointer; background: transparent; position: relative;
		padding: 0 0 0; color: @color; height: 49px; width: 49px; border: 1px solid rgba(255, 255, 255, 0.5);
		.border-radius(12px); .transition(all 0.2s ease-out);
		background: url("../images/action-llist.png") no-repeat left -343px;
		.cart-status{ margin: 0 0; padding: 0 0;
			.label{ margin-top: 0px; font-weight: bold; font-size:115%; color: #686868; display: none;}
			.subtotal{margin: 0 0;
				> *{display: none;}
				.amount{color: @activeColor; display: inline-block;
					margin: 0 0; width: 25px; height: 25px; .border-radius(100%); background: #f74444;
					position: absolute; top: -8px; right: -8px; color: #FFF; text-align: center; line-height: 25px;
				}
			}
		}
		.ico-view{display: none;}
	}
	.block-content{padding: 21px 0px 5px; background-color: transparent; width: 300px; top: 50px; border: none; right: 0px;
		.opacity(0); .transition(all 0.4s ease-out); .transform(scale(0));
		transform-origin:50% 10% 0;-moz-transform-origin:50% 10% 0;-webkit-transform-origin:50% 10% 0;
        -o-transform-origin:50% 10% 0;-ms-transform-origin:50% 10% 0;
		.block-inner{ boder:1px solid #dfdfdf; position: relative; .box-shadow(0 0 5px rgba(0, 0, 0, 0.3)); background-color: #FFF;
			.mini-products-list{ margin: 0 0 15px;
				.item{
					margin: 10px 0 0; padding: 10px 15px 0;
					.product-image{border: none;}
					.product-name{
						font-size: 116.7%;
						a{
							&:hover{color: @activeColor; text-decoration: none;}
						}
					}
					p{margin: 0 0 5px;}
					.product-details-bottom{ position: relative;
						.item-options{float: left; margin-left: 0px; width: 100%;
						}
						.rating-container{margin: 0 0;}
						.quantity-container{ margin: 5px 0 0;
							.quantity-controls { display: none;
								input{height: 32px; width: 32px; background: url("../images/qty-inc-dec.png") no-repeat left 0px;
									padding: 0 0; border: none; .transition(all 0.2s ease-out); background-color: #D5D5D5; text-indent: -99em;
									&.quantity-minus{
										background-position: left -32px;
									}
									&:hover{background-color: @activeColor;}
								}
							}
							.label-qty{font-weight: bold; margin: 0 10px 0 0;}
							input.qty{line-height: 30px; height: 30px; .border-radius(100%); }
						}
						.btn-edit, .btn-remove{top: auto;bottom: 1px; height: 20px; width: 20px;
							&:after{vertical-align: bottom;}
						}
					}
					&:first-child{border-top: none; margin: 0 0; padding-top: 0}
				}
			}
			.actions{background: none;
				padding: 0 0; margin: 5px 15px 0; border-top: 1px solid #dfdfdf;
				.button{ font-size: 116.7%; padding: 5px 12px; margin: 15px 5px 15px 0;
					float: left;.transition(all 0.2s ease-out); background: #FFF;
					&:hover{background-color: @activeColor}
				}
			}
		}

	}
	&:hover,
	&.open{
		.block-title{
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
	&.have-item:hover,
	&.have-item.open{
		.block-content{.opacity(100); .transform(scale(1));}
	}
}
#modal_login{ text-align: left; color: @color;
	.row-fluid{max-width:530px;
		ul{margin: 24px 0 10px 10px}
	}
	form{margin: 0 0;}
}
#modal_regis{ text-align: left; color: @color;
	form{margin: 0 0;}
	.row-fluid{max-width:530px; }
	.fieldset{padding: 0 0; border: none; margin: 0 0;
		.legend{margin: 0 0 10px; padding: 0 0; font-size: 110%;}

	}
	ul{margin: 0 0; list-style: none;
		li.control{
			.input-box{float: left; margin: 0 5px 0 0;
				input[type="text"]{margin: 0 0; width: 220px;}
			}
			label{cursor: pointer;
			}
		}
	}
	em{padding: 0 5px 0 0}
	.buttons-set{padding: 20px 0 0; .button{float: none; margin: 0 0;}}
	.or{padding: 0 15px}
}
/*--- Wrap: #sns_topheader ---*/
#sns_topheader{ z-index: 4;
	height: 36px; line-height: 36px; border-top: 5px solid @activeColor; position: relative;
	&:before{position: absolute;content: ""; left: 0px; bottom: 0px; height: 1px; width: 100%;
		background: #ebebeb;
	}
	.topheader-left{
		ul.contact-us-now{
			list-style: none; margin: 0 0;
			li{ display: inline-block; float: left; line-height: 36px; margin-left: 25px; padding-left: 28px; 
				background: url("../images/ico-contactusnow.png") no-repeat left -1px; font-size: 92%; 
				label{float: left; line-height: 36px; margin: 0 5px 0 0; color: @color;}
				a{color: @color;
					&:hover{color: @activeColor}
				}
				&:first-child{margin-left: 0px;}
				&.c-phone{background-position: left -36px; padding-left: 26px;}
			}
		}
		ul.links{list-style: none; margin: 0 0 0 5px; float: left;
			li{display: inline-block;
				a{color: @activeColor}
				&.separator{margin: 0 4px 0 1px; color: @labelColor}
			}
		}
	}
	.topheader-right{
		.inner{float: right;}
		.sns-quickaccess{float: left;
			.welcome{font-weight: bold;color: @labelColor; float: left; display: none;}
			ul.links{list-style: none;margin: 0 0; padding: 0 0; float: left;
				li{ background: url("../images/separator.gif") no-repeat right center; padding: 8px 10px; display: table-cell;
					a{color: @color;
						&:hover{color: @activeColor}
					}
					&:first-child{padding-left: 0px;}
					&.last{}
				}
			}
		}
		.sns-switch{ float: left; margin: 0 0 0;
			.switch-inner{position: relative;
				.language-switcher,
				.currency-switcher{ float: left; margin: 0 0; cursor: pointer;
					label{float: left; margin-right: 10px; display: none}
					select{cursor:pointer; height: 35px;line-height: 35px;margin: 0; padding: 2px 2px 5px;
						border: none; background:none; .opacity(0);
					}
					.jqTransformSelectWrapper{ background: none;
						height: 36px;
						ul{top: 36px; left: 0px; border: none; //.box-shadow(0 0 3px rgba(0, 0, 0, 0.15));
							li{ position: relative;
								a{ padding: 5px 10px;background: #d5d5d5;color: #FFF; text-transform: uppercase;
									&:hover{background: @activeColor;color: #FFF}
									&.selected{background: @activeColor;color: #FFF}
								}
								&:before{
									content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 1px; background: #e9e9e9;
								}
								&:first-child:before{
									height: 0px;
								}
							}
						}
						div{display: block; height: 100%}
						div span{height: 36px; line-height: 36px; padding: 0 25px 0 5px; text-transform: uppercase;}
						div a.jqTransformSelectOpen{
							background-image: url("../images/ico-drop.png");background-repeat: no-repeat;
							background-position: right 0px; height: 6px; right: 5px; top: 15px;
						}
						&.open{
							div span{color: @color; background: #FFF;}
							div a.jqTransformSelectOpen{
								background-position: left -23px;
							}
						}
					}
				}
				.currency-switcher{ margin: 0 0 0 8px;
					.jqTransformSelectWrapper{
						width: 56px;
						ul{width: 56px !important;}
						select{width: 25px;}
						div span{width: 25px !important;}
					}
				}
				.language-switcher{ margin: 0 0 0 8px;
					.jqTransformSelectWrapper{
						width: 66px;
						ul{width: 66px !important;}
						select{width: 47px;}
						div span{width: 20px !important; background-position: 5px center; padding: 0 25px;}
					}
				}
			}
		}
	}
}
/*--- Wrap: #sns_header ---*/
#sns_header{ position: relative;z-index: 3;
	padding: 32px 0 30px;
	#logo{
		a{display:inline-block;
			span{display: none;}
		}
	}
	.header-right{
		.header-right-inner{float: right;
			.connect-us{list-style: none; float: left;
				li{ margin-left: 5px; float: left; display: inline-block; 
					a{text-indent: -999em; display: inline-block; width: 40px; height: 40px; border: 1px solid #e1e1e1;
						.border-radius(100%); background: url("../images/ico-connect.png") no-repeat left top;
						.transition(all 0.2s ease-out);
					}
					&:hover{
						a{background-position: left -40px; border-color: #4563a5;}
					}
					&.twitter{
						a{background-position: left -80px;}
						&:hover{
							a{background-position: left -120px; border-color: #47b1e3;}
						}
					}
					&.rss{
						a{background-position: left -160px;}
						&:hover{
							a{background-position: left -200px; border-color: #f8c03a;}
						}
					}
					&.vimeo{
						a{background-position: left -240px;}
						&:hover{
							a{background-position: left -280px; border-color: #86dfe9;}
						}
					}
					&:first-child{margin-left: 0px;}
				}
			}
			#search_mini_form{margin: 0 0 0 20px; float: left; line-height: normal; position: relative;
				.form-search{
					input.input-text{.border-radius(22px); border: 1px solid #d8d8d8; font-size: 11px; width: 235px;
						.transition(all 0.2s ease-out); padding: 10px 20px;
						&:focus{width: 250px;}
					}
				}
				.button{padding: 0 0;width: 24px; height: 24px; border: none; position: absolute; top: 9px; right: 11px;
					background: url('../images/ico-search.png') no-repeat center center;
				}
			}
		}
	}

}
/*--- Wrap: #sns_menu ---*/
.special-menu{
	#sns_menu{
		height: 0px;
		.inner{ background: rgba(255, 255, 255, 0.1);
			bottom: -80px;
		}
	}
}
#sns_menu{position: relative; z-index: 2; margin: 0 0; height: 80px;
	.inner{ width: 100%; height: 80px; background: @activeColor url("@{base-url}breadcrumbs-bg.jpg") no-repeat center top;
		position: absolute; bottom: 0px; left: 0px;
		&:after{position: absolute;content: ""; width: 100%; height: 1px; bottom: 0px; left: 0px; background: rgba(255, 255, 255, 0.1);}
	}
	.container {height: 80px; position: relative;
		.row-fluid{
			#sns_mainnav{// width: 100%;
			}
			.search-box{position: absolute;z-index: 1; right: 0px; top:0px;width: 0px;
				form{margin: 0 0;
					.form-search{float: right;width: 48px; height: 46px;
						.input-text{border: 5px solid #d5d5d5; float: left; padding: 8px 10px;width: 0px; position: absolute;
							right: 18px;
						}
						.button{padding: 0 0; width: 48px; height: 46px; 
							background: url("../images/ico-search.png") no-repeat 12px 13px;
							background-color: #d5d5d5; 
							border-color:#d5d5d5; 
							position: absolute;right: 0px;
						}
						&:hover{
							.input-text{border-color:@activeColor; width: 180px; right: 48px;}
							.button{background-color: @activeColor; border-color:@activeColor;}
						}
					}
				}
			}
		}
	}
	&.keep-menu {position: fixed;top: 0;left: 0;width: 100%;z-index: 20;
	}
	.nav-right{ text-align: right; margin-top: 14px;
		.block-wishlist{margin-left: 8px; position: relative; display: inline-block; text-align: left;
			.wishlist-toggle{.transition(all 0.2s ease-out);width: 49px; height: 49px; padding: 0 0;
				cursor: pointer; position: relative;
				.border-radius(12px); border: 1px solid rgba(255, 255, 255, 0.5);
				background:url("../images/action-llist.png") no-repeat left -49px;
				span{display: none;
					&.wishlist-num{display: inline-block; position: absolute; width: 25px; height: 25px; background: #f74444;
						.border-radius(100%); color: #FFF; text-align: center; line-height: 25px; right: -8px; top: -8px;
					}
				}
			}
			.block-content{ position: absolute; top: 50px; right: -70px; background: transparent; width: 270px; padding: 21px 5px 5px;
				.opacity(0); .transition(all 0.4s ease-out); .transform(scale(0));
				transform-origin:50% 10% 0;-moz-transform-origin:50% 10% 0;-webkit-transform-origin:50% 10% 0;
		        -o-transform-origin:50% 10% 0;-ms-transform-origin:50% 10% 0;
		        .block-inner{ background: #FFF;
		        	.box-shadow(0 0 3px rgba(0, 0, 0, 0.3)); padding: 15px;
		        	.product-name a{font-size: 116.7%;}
		        }
		        ol{ list-style: none; margin: 0 0;
		        	li.item{ margin: 15px 0 0;
		        		.product-image{margin: 0 10px 0 0; display: inline-block; float: left;}
		        		&:first-child{margin: 10px 0 0;}
		        	}
		        }
			}
			&.have-items{
				&:hover{
					.block-content{
						.opacity(100); .transform(scale(1));
					}
				}
			}
			&:hover{
				.wishlist-toggle{background-color: rgba(255, 255, 255, 0.2);}
			}
		}
		.block-compare{margin-left: 8px; position: relative; display: inline-block; text-align: left; 
			.compare-toggle{.transition(all 0.2s ease-out);width: 49px; height: 49px;
				cursor: pointer; position: relative;
				.border-radius(12px); border: 1px solid rgba(255, 255, 255, 0.5);
				background:url("../images/action-llist.png") no-repeat left -147px;
				span{display: none;
					&.compare-num{display: inline-block; position: absolute; width: 25px; height: 25px; background: #f74444;
						.border-radius(100%); color: #FFF; text-align: center; line-height: 25px; right: -8px; top: -8px;
					}
				}
			}
			.block-content{ position: absolute; top: 50px; right: -67px; background: transparent; width: 270px; padding: 21px 5px 5px;
				.opacity(0); .transition(all 0.4s ease-out); .transform(scale(0));
				transform-origin:50% 10% 0;-moz-transform-origin:50% 10% 0;-webkit-transform-origin:50% 10% 0;
		        -o-transform-origin:50% 10% 0;-ms-transform-origin:50% 10% 0;
		        .block-inner{ background: #FFF;
		        	.box-shadow(0 0 3px rgba(0, 0, 0, 0.3)); padding: 15px;
		        	.product-name a{font-size: 116.7%;}
		        }
			}
			&.have-items{
				&:hover{
					.block-content{
						.opacity(100); .transform(scale(1));
					}
				}
			}
			&:hover{
				.compare-toggle{background-color: rgba(255, 255, 255, 0.2);
				}
			}
		}
	}
}
.cms-home #sns_menu{margin: 0 0}
/*--- Wrap: #sns_slideshow ---*/
#sns_slideshow{ margin: 0 0; position: relative;z-index: 1; background: @activeColor;
	.sns-slideshow-wrap{
		.sns-fraction-slider{
			.fs_loader{
				border-radius:50%;
				height:2px; width:2px; /* To allow border-radius to work */
				position:absolute;
				top:50%; left:50%;
				margin-top:-1px; margin-left:-1px;
				/*
				box-shadow:
				-75px -125px 0 40px #6cce74,
				 75px -125px 0 40px #c18d46,
				150px    0px 0 40px #c14745,
				 75px  125px 0 40px #2e1e5b,
				-75px  125px 0 40px #9c37a6,
				-150px    0px 0 40px #76bdd1;
				-o-animation:largeLoading 12s infinite linear;
				-moz-animation:largeLoading 12s infinite linear;
				-webkit-animation:largeLoading 12s infinite linear;
				animation:largeLoading 12s infinite linear; */
				
				box-shadow:
				-35px -60px 0 20px #6cce74,
				 35px -60px 0 20px #c18d46,
				70px    0px 0 20px #c14745,
				 35px  60px 0 20px #2e1e5b,
				-35px  60px 0 20px #9c37a6,
				-70px    0px 0 20px #76bdd1;
				-o-animation:smallLoading 12s infinite linear;
				-moz-animation:smallLoading 12s infinite linear;
				-webkit-animation:smallLoading 12s infinite linear;
				animation:smallLoading 12s infinite linear;
				/*
				box-shadow:
				-25px -40px 0 10px #6cce74,
				 25px -40px 0 10px #c18d46,
				50px    0px 0 10px #c14745,
				 25px  40px 0 10px #2e1e5b,
				-25px  40px 0 10px #9c37a6,
				-50px    0px 0 10px #76bdd1;
				-o-animation:tinyLoading 12s infinite linear;
				-moz-animation:tinyLoading 12s infinite linear;
				-webkit-animation:tinyLoading 12s infinite linear;
				animation:tinyLoading 12s infinite linear;*/
			}
			.slide{
				img{.opacity(0)};
			}
			.fraction-slider{
				.slide{
					img{.opacity(100)};
					&.white-text{
						.subclaim{color: #FFF;}
						.claim{color: #FFF;}
						.line-content{text-indent: -999em; height: 6px; position: relative;
							&:before{position: absolute; content: ""; height: 100%; width: 80%; background: #FFF; left: 10%;}
						}
					}
					.fs-80{font-size: 80px}
					.fs-70{font-size: 70px}
					.fs-60{font-size: 60px}
					.fs-50{font-size: 50px}
					.fs-40{font-size: 40px}
					.fs-30{font-size: 30px}
					.fs-30{font-size: 30px}
					.fs-20{font-size: 20px}
				}
			}
		}
		.teaser{color: #FFF;}
		.claim{font-size: 300%; color: #FFF;}
		.subclaim{color: #FFF;}
		.next,
		.prev { .transition(all 0.2s ease-out); width: 61px; height: 61px; text-indent: -999em;
			background: url("../images/nav-slideshow.png") no-repeat -183px top; .border-radius(100%);
			border: 1px solid rgba(255, 255, 255, 0.2); right: 9px; margin-top:8px;
			&:hover{ background-color: rgba(255, 255, 255, 0.1); background-position: -122px top; border-color: rgba(255, 255, 255, 0.3);}
		}
		.prev{ background-position: 0px top; left: 9px; right: auto;
			&:hover{
				background-position: -61px top;
			}
		}
		.buttons-action{
			.button{ .transition(all 0.2s ease-out); display: inline-block; background: transparent; padding: 14px 36px; height: 43px;
				border: 1px solid #FFF; color: #FFF; font-size: 133.3%; .border-radius(24px);
				&:hover{background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.2)}
				&.btn-shopnow{margin-right: 5px;}
			}
		}
	}
}
/*--- Wrap: #sns_topsl ---*/
#sns_topsl{ margin: 40px 0 0; padding-bottom: 27px; border-bottom: 1px solid #ebebeb;
	.block{ position: relative; .transition(all 0.2s ease-out); padding: 106px 0 0; text-align: center;
		.block-title{ .transition(all 0.2s ease-out); padding-top: 0px; text-transform: none;
			span{
				&:before{position: absolute;content: ""; height: 78px; width: 78px; border: 3px solid #FFF;
					left: 50%; top: 1px; margin-left: -42px; .border-radius(14px);
					.transition(all 0.2s ease-out); .opacity(0);
				}
				&:after{ position: absolute;content: ""; background: url("../images/ico-shoppolicy.png") no-repeat -78px top;
					left: 50%; top:4px; margin-left: -39px; height: 78px; width: 78px; .transition(all 0.2s ease-out);
				}
			}
			&:before{position: absolute;content: ""; height: 84px; width: 84px; border: 1px solid #dfdfdf;
				left: 50%; top: 0px; margin-left: -43px; .border-radius(14px); .transition(all 0.2s ease-out);
			}
		}
		.block-content{color: @labelColor;}
		&.money-back{
			.block-title{
				span{
					&:after{background-position: -234px top;}
				}
			}
			&:hover{
				.block-title{
					span{
						&:after{background-position: -156px top;}
					}
				}
			}
		}
		&.orders-247{
			.block-title{
				span{
					&:after{background-position: -390px top;}
				}
			}
			&:hover{
				.block-title{
					span{
						&:after{background-position: -312px top;}
					}
				}
			}
		}
		&.secured-payment{
			.block-title{
				span{
					&:after{background-position: -546px top;}
				}
			}
			&:hover{
				.block-title{
					span{
						&:after{background-position: -468px top;}
					}
				}
			}
		}
		&:hover{
			.block-title{ color: @activeColor;
				&:before{border-color: @activeColor;
				}
				span{
					&:after{background-position: 0px top;}
					&:before{background:@activeColor; .opacity(100);}
				}
			}
		}
	}
}
/* --- Wrap: #sns_topsl --- */
#sns_breadcrumbs{ background: @activeColor url("@{base-url}breadcrumbs-bg.jpg") no-repeat center center;
	height: 231px; position: relative;
	.container{position: relative; height: 100%;
		#sns_pathway{position: absolute; bottom: 35px;}
		#sns_titlepage{position: absolute; bottom: 80px;
			background: url("../images/ico-pagetitle.png") no-repeat left center; line-height: 26px; font-size: 24px;
			color: #FFF; padding-left: 45px;
			> *{font-size: 100%; margin: 0 0; padding: 0 0; color: inherit; font-weight: inherit;}
		}
	}
}
/*--- Wrap: #sns_content ---*/
.home{
	#sns_content{margin: 40px 0}
}
#sns_content{ margin: 40px 0 40px; position: relative; z-index: 1;
	/* account form */
	#login-form{
		h2{font-size: 120%; margin: 0 0;}
		ul{list-style: none; margin: 0 0;}
	}

	#sns_maintop{margin-bottom: 8px;}
	#sns_mainmidle{
		.block{
			&.block-subscribe{ margin: 0 0;
				border-top: 1px solid #dfdfdf; padding: 20px;
				form{margin: 0 0 10px}
				label{
					margin-bottom: 20px; cursor: pointer;
				}
				input{width: 230px;float: left; margin-right: 10px;}
				#advice-validate-email-newsletter{float: left;}
				.block-content{padding: 5px 0 0;}
			}
			&.block-related{ position: relative; margin: 0;
				.navigation{ top: 0px; right: 0px; position: absolute;
					width: 61px; height: 28px; display: inline-block; background: #FFF;
					.next,
					.prev{ .transition(all 0.2s ease-out); margin: 0 0 0 5px; cursor: pointer;
						width: 26px; height: 26px; border: 1px solid #dfdfdf; .border-radius(100%); position: absolute;
						top: 0px; right: 0px; text-indent: -999em; background: url("../images/ico-pager.png") no-repeat -78px 6px;
						&:before{display: none;}
						&:hover{background-position: -52px 6px; background-color: @activeColor; border-color: @activeColor;}
					}
					.prev{left: 0px; right: auto; background-position: 0px 6px; margin: 0 0;
						&:hover{background-position: -26px 6px;}
					}
				}
				.block-content{padding:18px 0 10px;}
				.caroufredsel_wrapper{
					width: 100% !important;
				}
				.products-grid{
					.item{ margin: 0 15px; padding-top: 0px;
						&.show-addtocart{
							padding-top: 17px;
						}
						.related-checkbox{padding: 0px; display: none;}
					}
				}
			}
		}
		#crosssell-products-list{
			.item{margin-top: 0px;
				&.show-addtocart{margin-top: 17px;}
			}
		}
	}
	#sns_mainbottom{
		margin-top: 40px;
		.sns-tabs{
			.tabs-content{
				.tab-item{top: 0px;}
			}
		}
	}
	.sns-tabs {
		.tabs-navi{position: relative;z-index: 3;
			li{display: block;margin-top: 5px; position: relative;
				&:before{width: 7px; height: 39px;position: absolute;content: ""; left: 0px; top: 0px;
					background: @activeColor;.transition(all 0.3s ease-out);
				}
				a{display: block;padding: 0 14px; height: 37px; line-height: 37px;
					border: 1px solid #e9e9e9; font-size: 150%;.transition(all 0.3s ease-out);
					text-overflow:ellipsis;white-space:nowrap;overflow: hidden;
					&.tabulous_active{
						border-color:@activeColor;color: #FFF; background: @activeColor;position:relative;z-index: 2;
					}
				}
				&:hover{
					a{color: #FFF; text-decoration: none;position:relative;z-index: 2;}
					&:before{width: 100%;}
				}
				&:first-child{margin-top: 0px;}
			}
		}
	}
	.sns-slider {
		.title-slider{font-size: 200%; font-weight: normal; text-transform:none; color: @moduleTitleColor}
		.pretext{margin: 5px 0 0;position: relative;
			div{display: inline-block; background: #FFF;padding-right: 10px; position: relative;}
			&:before{position: absolute;content: "";height: 1px; width: 100%; background: #e9e9e9; top: 50%; left: 0px;}
		}
		.caroufredsel_wrapper{width: 100% !important; padding: 10px 10px 0px !important;
			margin: 22px -10px 0px -10px !important;
		}
		ul.products-grid{ margin-left: -20px !important;
			.item{width: 270px !important; margin:0 0 0 30px;}
		}
		.navigation{ width: 57px;height: 29px; top: 7px;
			> span{
				position: absolute; right: 0px;top:0px;.transition(all 0.2s ease-out); text-indent: -999em;
				height:27px;width:27px; border: 1px solid #e9e9e9; margin: 0 0;
				cursor: pointer; background: #FFF;
				&:before{
					background: url("../images/slider-nav.png") no-repeat left -9px; height: 9px; width: 7px; 
					position: absolute;left: 9px; top: 9px;
					content: "";
				}
			}
			.prev{
				&:before{background-position: left top; left: 11px;}
				&:hover{background-color: @activeColor; border-color: @activeColor;
					&:before{background-position: left -18px;}
				}
			}
			.next{left: 0px;right: auto; border-right: none;
				span{ position: relative;height: 100%; width: 100%; display: block;z-index: 1;
					&:before{height: 29px; width: 1px; content: ""; position: absolute;top:-1px;right: -1px; background:transparent;
						.transition(all 0.2s ease-out);
					}
				}
				&:hover{background-color: @activeColor; border-color: @activeColor;
					&:before{background-position: left -27px;}
					span:before{background: @activeColor;}
				}
			}
		}
		.timer{background:@activeColor; height: 1px; position: absolute; bottom: 0px;}
		&.fortabs{
			.caroufredsel_wrapper{
				margin: 0px -10px 0px -10px !important; padding: 10px 10px 0px 10px !important;
				> ul{ margin-left: -20px !important;
					.item{width: 170px !important; margin:0 0 0 30px;
						.item-inner .item-info .item-title{font-size: 133%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
					}
				}
			}
			.navigation{left: -87px;}
		}

		&.column-style{
			.navigation{top: 6px; right: 10px;}
			.caroufredsel_wrapper{padding: 0 0!important; margin: 0 0!important;
				ul{margin: 0 0 !important;
					.item{margin: 0 0;
						.item-child{display: block; padding-top: 10px; border-top: 1px solid #e9e9e9;
							.item-img{float: left;margin: 0 8px 10px 10px;}
							.item-title{font-size: 133%;
								a{ color: #686868;
									&:hover{text-decoration: none; color: @activeColor;}
								}
							}
							.ratings{
								.rating-box{float: none; margin: 0 0;}
								.rating-links{font-size: 91.66%;}
							}
							.no-rating{font-size:91.66%; }
							.price-box{
								.price{font-size: 100%; font-weight: normal;}
								.special-price .price,
								.old-price .price{font-size: 100%;}
							}
							&:first-child{border-top: none; margin-top: 0px;}
							&:hover{background-color: #f4f4f4;}
						}
					}
				}
			}
		}
	}


	.paypal-logo{text-align: center; margin: 0 0 20px 0;}
	.more-block{
		.block{ border: 1px solid #e9e9e9;
			.block-title{font-size: 165%; padding: 8px 0px; text-align: center; background: none;}
			.block-content{ padding: 0 10px;
				ul{ margin: 0 0; list-style: none;
					li{ position: relative; border-top: 1px solid #e9e9e9;
						.product-image{width: 40%; float: left; margin: 0 0; border: none;}
						.product-details{width: 60%; float: left; padding: 40px 0 0;
							.price-box{
								.price {
							    	font-size: 130%; text-align: left;
								}
								.old-price .price{
									font-size: 100%;
								}
							}
							input.checkbox{position: absolute; top: 10px; left: 0px;}
						}
						&:first-child{border: none; padding-top: 0px;}
					}
				}
			}
		}
	}
	/*-- Block in content ---*/
	.block{ margin-bottom: 10px;
		.block-title{ font-weight: normal; position: relative;
			padding: 0px 0px 8px 0px; position: relative; text-transform: uppercase;
			span{ position: relative;
				&:before{position: absolute;content: "";background: 6px @activeColor;
					left: 0px; bottom: 0px; height: 1px; width: 100%;
				}
			}
		}
		.block-content{margin: 0 0; padding: 15px 0 15px 0;
			
		}
		&.blank{
			margin: 0 0;
		}
		&.slide-banner{
			ul{margin: 0 0;
				li{ list-style: none; display: inline-block;float: left; width: 270px !important; margin: 0 0;
					p.img-content{margin: 18px 0 40px; text-align: center;}
					a.get-it{font-size: 150%; display: inline-block; border:1px solid #e5e5e5; .border-radius(22px);
						padding: 11px 32px; .transition(all 0.2s ease-out); background: #FFF;
						&:hover{
							color: #FFF; background: @activeColor; border-color: @activeColor;
						}
					}
				}
			}
			.caroufredsel_wrapper{ width: 100% !important;
				ul{
					//li{float: left;} 
				}
			}
			.paging{text-align: center; margin-top: 28px;
				a{width: 13px; height: 13px; .border-radius(100%); background: @activeColor; margin: 0 0 0 5px;
					display: inline-block; text-indent: -999em; .transition(background-color 0.2s ease-out);
					&:hover{background: @linkColor;}
					&.selected{border:2px solid @activeColor; background: #FFF;}
				}
			}
		}
		// Tags
		&.block-tags{
			.tags-list{list-style: none; margin: 0 0 10px; display: block;
				li{display: inline-block; margin: 0px 5px 5px 0; float: left;
					a{display: inline-block; background: #FFF; color: #686868; padding: 3px 10px;
						font-size: 100% !important; border: 1px solid #dfdfdf; .border-radius(14px);
						.transition(all 0.2s ease-out);
						&:hover{text-decoration: none; background-color: @activeColor; border-color: @activeColor; color: #FFF;}
					}
				}
			}
			.actions{ display: block;
				text-transform: uppercase;
				margin: 15px 0 0;
				a.button{ float: left;
					span{display: inline-block;}
				}
			}
		}
		// Poll
		&.block-poll{
			form{margin: 0 0}
			.block-subtitle{color: @labelColor; font-weight: bold;}
			ul#poll-answers{list-style: none;margin: 0 0 20px 0; padding: 6px 0 0;
				li{ border-bottom: 1px solid #ededed; padding: 8px 0;
					.jqTransformRadioWrapper{ margin: 0 11px 0 0;
						.jqTransformRadio{background: url("@{base-url}ico-radio.png") no-repeat left -1px;
							height: 21px; width: 15px;
							&.jqTransformChecked{background-position: left -22px;}
						}
						input[type="radio"]{float: left; margin: 0 8px 0 0}
					}
					label{cursor: pointer; margin: 0 0;}
					&:first-child{border-top: 1px solid #ededed}
				}
			}
			ol#poll-answers{list-style: none; margin: 0 0 20px 0; padding: 6px 0 0;
				li{ border-bottom: 1px solid #ededed; padding: 8px 0;
					span.answer{float: left;margin: 0 5px 0 0; color: @labelColor;}
					&:first-child{border-top: 1px solid #ededed}
				}
			}
		}
		//
		&.block-wishlist{
		}
		//
		&.block-compare{
			p.empty{margin: 0 0;}
		}
		&.block-account{
			ul{list-style: none;margin: 0;
				li{margin: 3px 0; .transition(all 0.2s ease-out);
					strong{color: @activeColor;}
					&:hover{padding-left: 10px;}
				}

			}
		}
		&.block-reorder{
			ol{list-style: none; margin:0 0;
				li input{float: left; margin: 0 8px 0 0}
			}
			.actions{margin: 10px 0 0;
				.btn-cart{margin-right: 10px;}
			}
		}
		&.block-progress{
			dl{ margin: 0 0;
				> div,
				> dt{margin: 0 0; padding: 8px 0; border-top: 1px solid #d4d4d4;
					&:first-child{border-top: none;}
				}
			}
		}
		// Shop by
		&.block-layered-nav{
			.currently{
				ol{ margin: 0 0 5px 25px;
					li{position: relative;}
				}
			}
			.actions{ margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px solid #e9e9e9;}
			dl#narrow-by-list{margin: 0 0;
				dt{text-transform:uppercase; position: relative; margin: 12px 0 0; background:url("../images/ico-dot.png") no-repeat left 5px;
					.transition(all 0.2s ease-out); font-weight: normal; color: @moduleTitleColor; padding: 0 0 0 20px;
					&:first-child{margin: 0 0;}
				}
				dd{ margin-left: 0px; border-bottom: 1px solid #ededed;
					ol{margin-left: 0px;
						li{
							list-style-type: none; padding: 3px 0 3px 20px; background:url("../images/arrow2.png") no-repeat left 9px;
							color: @linkColor;
						}
					}
					.price{
						.text-box{padding: 9px 0px 8px 0px; margin: 5px 0 1px; font-size: 130%; position: relative;
							height: 26px; line-height: 27px; color: @labelColor;
							> *{display: table-cell;}
							.price-separator{width: 26px; position: relative; text-indent: -999em; margin: 0 16px;
								&:before{height: 1px; width: 100%; background: #e5e5e5; top: 14px; left: 0px;
									position: absolute;content: "";
								}
							}
							input[type="text"]{font-size: 12px; font-family: arial,sans-serif; margin-left: 3px;
								height: 26px; line-height: 26px; .border-radius(14px); padding: 0 0; color: #686868;
							}
							input[type="button"]{ position: absolute; right: 0px; top: 9px; .transition(all 0.4s ease-out);
								border:none; text-indent: -99em; padding: 0px; margin: 0px; height: 28px; width: 28px;
								.border-radius(100%); border: 1px solid #e5e5e5;
								background: url("../images/ico-pager.png") no-repeat -78px 7px;
								&:hover{ background-color: @activeColor; border-color: @activeColor;
									background-position: -52px 7px;
								}
							}
						}
						p{
							input#amount{.box-shadow(none); margin: 0 0;
								&:focus{.box-shadow(none);}
							}
						}
						.range-wrap{ padding: 6px 0; margin-bottom: 8px;
							#slider-range{margin: 6px; background:@moduleTitleColor; height: 1px; .border-radius(0px);
								.ui-slider-range{background:#e6e6e6; height: 1px;
								}
								.ui-slider-handle{ height: 13px; width: 13px; .border-radius(100%);
									background: @activeColor; top: -6px;
								}
							}
						}
					}
					&.last{ border: none;
						ol{margin-bottom: 0px;}
					}
				}
			}
		}
		&.block-subscribe.forright{
			padding: 0 0; border: none;
			form{margin: 0 0;}
			label{margin: 0 0 10px 0}
			input{margin: 0 0}
			button.button{margin-top: 10px;}
		}
		// Category
		&.block-sns-layered-nav{
			ul.ui-accordion{list-style: none;margin: 0 0;
				li{position: relative; display: block; line-height: 22px;
					a.subhead{display: inline-block;}
					a.toggle{background: url("../images/plus-minus.gif") no-repeat left top; height: 21px;width: 21px; 
						display: block;position: absolute; right: 0px; top: 0px;
					}
					a.toggle.selected{ background-position: left -21px;}
					&.selected{
						> a{color: @activeColor;}
					}
				}
			}
		}
	}
	.box-up-sell{ position: relative; text-align: center; margin: 0 0;
		.block-title{padding: 0 0; font-size: 183.3%;
			span{
				&:before{display: none;}
			}
		}
		.navigation{position: relative;width: 61px; height: 28px; display: inline-block; background: #FFF;margin-top: 10px;
			.next,
			.prev{ .transition(all 0.2s ease-out); margin: 0 0 0 5px; cursor: pointer;
				width: 26px; height: 26px; border: 1px solid #dfdfdf; .border-radius(100%); position: absolute;
				top: 0px; right: 0px; text-indent: -999em; background: url("../images/ico-pager.png") no-repeat -78px 6px;
				&:before{display: none;}
				&:hover{background-position: -52px 6px; background-color: @activeColor; border-color: @activeColor;}
			}
			.prev{left: 0px; right: auto; background-position: 0px 6px; margin: 0 0;
				&:hover{background-position: -26px 6px;}
			}
		}
		.block-content{ padding:15px 0 0;
			.up-sell-products{margin: 0 0;
				.caroufredsel_wrapper{ margin: 0 0 !important; width: 100% !important;
				}
				ul.products-grid{list-style: none; margin: 0 0 0 -30px !important; 
					li.item{display: inline-block; width: 270px !important; float: left; margin: 0 0 0 30px;
						padding-top: 0px;
						&.show-addtocart{ padding-top: 17px;}
					}

				}
				.timer{position:absolute; bottom: -1px; left:0px;
					background-color: @activeColor;height: 1px;width: 0px;
				}
			}
		}
	}
	.category-image{margin-bottom: 30px;}

}
/*--- Wrap: #sns_promotions ---*/
#sns_promotions{
	margin: 0 0 40px;
}
/*--- Wrap: #sns_productswrap ---*/
#sns_productswrap{ margin: 0 0 40px;
	.sns-slider { text-align: center;
		.title-slider{padding: 0 0;
			span{position: relative; display: inline-block;padding: 0 0 10px;
				&:before{position: absolute;content: ""; left: 0px; bottom: -14px; height: 1px; width: 100%; background: #ebebeb;}
			}
		}
		.pretext{width: 70%; margin: 0 auto; color: @labelColor;}
		ul.products-grid{ margin-left: -20px !important;
			.item{width: 270px !important; margin:0 0 0 30px; padding-top: 0px;
				&.show-addtocart{
					padding-top: 17px;
				}
			}
		}
		.caroufredsel_wrapper{width: 100% !important; padding: 0px 10px 0px !important;
			margin: 25px -10px 0px -10px !important;
		}
	}
}
/*--- Wrap: #sns_testimonials ---*/
#sns_testimonials{ height:165px; background: @activeColor url("@{base-url}testimonials-bg.jpg") no-repeat center top;
	margin: 0 0 40px; padding: 150px 0 0; text-align: center;
	.block-title{position: relative; padding: 0px 10px 10px; display: inline-block;font-size: 183.3%; text-transform: uppercase;
		color: #FFF;
		&:before{ .transition(all 0.2s ease-out);
			position: absolute;content: ""; left: 50%; top: -120px; margin-left: -44px;
			height: 87px; width: 87px; .border-radius(100%); border:1px solid #FFF;
			background: url("../images/title-testimonials.png") no-repeat left top; z-index: 1;
		}
		&:after{ .transition(all 0.2s ease-out);
			position: absolute;content: ""; left: 50%; top: -120px; margin-left: -44px;
			height: 87px; width: 87px; .border-radius(100%); border:1px solid transparent;
			background: rgba(255, 255, 255, 0.1); z-index: 2; .opacity(0);
		}
	}
	.block-content{ padding: 10px 0 15px; overflow: hidden; color: #FFF;
		.list-quotes{ list-style: none; margin: 0 0; position: relative; padding: 0 0;
			.item{.transition(all 0.4s ease-out 0.2s); .opacity(0); visibility: hidden; padding: 5px 125px 0;
				position: absolute;left: 0px; top: 0px; .transform(scale(1.3));
				.quote-content{font-style: italic; position: relative; line-height: 18px;}
				.name{color: #FFF; padding: 10px 0 0; font-weight: bold;}
				&.active{.opacity(100); visibility: visible;.transform(scale(1));
					.quote-content{
					}
				}
			}
		}
		#sns_quotenav{ margin: 0 auto; position: relative;
			ul{list-style: none; margin: 0;
				li{ display: inline-block; cursor: pointer; text-align: center; background: #FFF; text-indent: -999em;
					.border-radius(100%);  margin: 0px 2px; width: 13px; height:13px;.transition(background 0.2s ease-out);
					&:hover{
						background: rgba(255, 255, 255, 0.5);
					}
					&.active{
						border: 2px solid #FFF; background: transparent;
					}
				}
			}
		}
	}
	&:hover{
		.block-title{
			&:before{border-color: rgba(255, 255, 255, 0.3);}
			&:after{.opacity(100);}
		}
	}
}
/*--- Wrap: #sns_botsl ---*/
#sns_botsl {
	margin: 0 0 38px 0;
	.block{
		.block-title{font-size: 183.3%; position: relative; display: inline-block; text-transform: none;
			padding: 0 0 10px;
			&:before{position: absolute;content: ""; height: 1px; width: 100%; bottom: 0px; left: 0px;
				background: @activeColor;
			}
		}
		.block-content{padding: 30px 0 0px; color: @labelColor;
			.addthis_toolbox{padding-top: 15px; border-top: 1px solid #dfdfdf;}
		}
		&.block-latestblog{position: relative; margin-bottom: 0px;
			.navigation{ width: 61px;height: 28px; top: 0px;right: 0px; position: absolute;
				> span{
					position: absolute; right: 0px;top:0px;.transition(all 0.1s ease-out); text-indent: -999em;
					height:26px;width:26px; .border-radius(100%); border:1px solid #dfdfdf;
					cursor: pointer; background: url("../images/nav-cir.png") no-repeat left top;
					&:hover{ background-color: @activeColor; border-color:@activeColor;
						background-position: left -26px;
					}
				}
				.prev{ left: 0px; right: auto;
					background-position: left -52px;
					&:hover{
						background-position: left -78px;
					}
				}
			}
			.block-content{ padding-top: 0px; padding-bottom: 0px;
				ul{ margin: 0 0;
					list-style: none;margin-bottom: 0;
					.item{ float: left;
						.item-post{ position: relative; padding: 11px 0px 19px 65px;
							.date{position: absolute;height: 53px; width: 53px; border: 1px solid #e9e9e9; text-align: center;
								left: 0px; top: 50%; margin-top:-30px; .transition(all 0.1s ease-out); .border-radius(12px);
								.d-day{color: #686868; display: block; font-size: 116.7%; margin-top:7px;}
								.d-month{display: block; font-size: 92%; color: @color;}
							}
							.postTitle{margin:0 0 4px; border: none; overflow: hidden;text-overflow: ellipsis;
	    						white-space: nowrap; font-size: 150%; line-height: 26px;
								a{
									&:hover{text-decoration: none; color: @activeColor;}
								}
							}
							.postContent{ padding: 0 0;
								p{margin: 0 0;}
							}
							.read-more{position: absolute;bottom: 0px; right: 0px;height: 21px; width: 21px; text-indent: -99em;
								display: block; background: #c5c5c5 url("../images/arrow-white.png") no-repeat 8px 6px;
								.transition(all 0.2s ease-out);
							}
							&:hover{
								.date{background: @activeColor; border-color:@activeColor;
									span{color: #FFF;}
								}
								.read-more{background-color: @activeColor;}
							}
							&:first-child{padding-top: 23px; border: none;
								.date{margin-top: -24px;}
							}
							&.last{padding-bottom: 0px;
								.date{margin-top: -20px;}
							}
						}
					}
				}
			}
		}
		&.block-twitter{
			#sns_twitter{
				.user{
					a{
						img{float: left; margin: 0 18px 6px 0}
						> span{display: block; color: @color;
							span{color: @labelColor; font-size: 150%;}
						}
						&:hover{
							> span{
								color: @activeColor;
								span{color: @activeColor;}
							}
						}
					}
				}
				.tweet{float: left;color: @labelColor;
					a{color: @activeColor;}
				}
				.interact{
					a{color: @color;
						&:hover{color: @activeColor;}
					}
				}
			}
		}
	}
}
/*--- Wrap: #sns_connect ---*/
#sns_connect{
	padding: 30px 0;
}
/*--- Wrap: #sns_brand ---*/
#sns_brand{ margin: 0 0 18px; padding: 38px 0 0; position: relative; z-index: 0; border-top: 1px solid #ebebeb;
	.slider-brands{ position: relative; padding: 0 0; z-index: 1; background: #FFF; text-align: center;
		.block-title{ font-size: 183.3%;
			position: relative; display: inline-block; padding: 0 0 10px;
			&:before{position: absolute;content: ""; height: 1px; width: 100%; left: 0px; bottom: 0px; background: #ebebeb;}
		}
		.block-content{padding: 15px 85px 0;}
		ul{list-style: none; margin: 0 0;z-index: 1;
			li{width: 186px; height: 90px; float: left; display: inline-block;text-align: center;
				a{display: inline-block; position: relative;.opacity(60); .transition(all 0.2s ease-out);
					&:hover{ .opacity(100);}
				}

			}
		}
		.next:before,
		.prev:before{
			background: url("../images/arrow-nav.png") no-repeat left -31px; height: 31px; width: 17px;
			position: absolute;left: 22px; top: 15px;
			content: "";
		}
		.next,
		.prev{
			position: absolute; left: 0px; top:50%; margin-top:-7px;z-index: 3;
			height:60px;width:60px; border: 1px solid transparent;
			cursor: pointer; background: #FFF; .border-radius(100%);
			.transition(all 0.1s ease-out); text-indent: -999em;
			&:hover{ border-color: #dfdfdf;}
		}
		.prev{right: 0px; left: auto;
			&:before{background-position: left 0px;}
		}
	}
}
/*--- Wrap: #sns_botsl2 ---*/
#sns_botsl2{ margin: 0 0 52px; padding: 35px 0 0; border-top: 1px solid #ebebeb;
	.block{
		.block-title{text-transform: none; font-size: 183.3%;overflow: hidden;text-overflow: ellipsis;
    		white-space: nowrap;
		}
	}
	.block{
		.block-content{ padding-top: 20px; line-height: 18px;
			p{margin: 0 0 12px 0}
			ul{margin: 0 0; list-style: none;
				li{ padding: 3px 0 3px 20px; line-height: 18px; position: relative; .transition(all 0.1s ease-out);
					&:before{.transition(all 0.1s ease-out);
						background: url("../images/ico-dot.png") no-repeat left top;
						height: 9px; width: 9px; position: absolute;top: 8px; left: 0px;
						content: "";
					}
					&:hover{
						margin-left:8px;
					}
				}
			}
		}
		&.block-connectus{
			.block-content{
				p{ margin-bottom: 2px;
					&.c-phone{margin-bottom: 0px;}
				}
			}
		}
	}
	.block-subscribe{
		.block-content{
			label{cursor: pointer; margin: 3px 0 15px; color: @labelColor; line-height: 18px;}
			form{ margin-bottom: 0px;
				.input-box{
					input{width: 240px; float: left; padding: 8px 15px; font-size: 11px;
						margin: 0 0; .border-radius(18px);
						&.validation-failed{border-color: #B94A48;}
					}
					.actions{ float: left; margin-left: -60px; position: relative; height: 40px; width: 55px;
						button{ position: absolute; right: -6px; top: 0px;
							padding: 10px 14px;background-color: transparent; height: 38px;border: none;
							> span{ width: 25px; height: 16px; display: inline-block; background-position: left top;
								background-image: url("../images/ico-mail.png"); background-repeat: no-repeat;
								span{display: none;}
							}
						}
					}
					.validation-advice{ display: none;}
				}
			}
		}
	}
}
/*--- Wrap: #sns_footer ---*/
#sns_footer{ margin: 0 0; padding: 0 0 40px; border-top: 1px solid #ebebeb;
	.sns-info{ text-align: center;
		ul{ font-size: 92%;
			display:inline-block; margin: 0 0;
			li{
				background:url("../images/separated.gif") no-repeat left center;
				display:inline-block;
				padding: 0 13px 0 15px;
				&:first-child{
					padding-left: 0px; background:none;
				}
				&.last{padding-right: 0px;}
				a:hover{text-decoration: none; color: @activeColor}
			}
		}
	}
	.sns-copyright{ text-align: center;
		width:100%; color: @labelColor;
		padding:3px 0 0;
		a{color: @activeColor;
			&:hover{text-decoration: none;}
		}
	}
	ul.payment{list-style: none; margin: 0 0 0 -157px; text-align: center; position: relative; top: -28px;
		width: 315px; left: 50%; height: 55px;
		li{display: inline-block; padding: 0 0 0 10px; background: #FFF; float: left;
			a{background-image: url("../images/pay-me.png"); background-repeat: no-repeat; text-indent: -999em; .border-radius(14px);
				background-position: left top; height: 53px; width: 53px; display: inline-block; border: 1px solid #e1e1e1;
				position: relative; .transition(all 0.1s ease-out); top: 0px;
				&.skrill{background-position: left -53px;}
				&.maestro{background-position: left -106px;}
				&.cirus{background-position: left -159px;}
				&.payment{background-position: left -212px;}
			}
			&:first-child{padding-left: 0px;}
			&:hover{
				a{top: -10px;}
			}
		}
	}
}
/*--- category product ---*/
.category-products{
	/* products-grid */
	
}

/*--- products-grid ---*/
.products-grid{ margin: 0 0; list-style: none;
	.item.first{margin-left: 0;}
	.item{float:left;background:#FFF; margin-top: 20px;
		&.show-addtocart{ margin-top: 37px;}
		.item-inner{ position: relative;
			.item-img{position: relative;
				.ico-product{position: absolute; bottom: 10px; left: 10px; z-index: 2; background: #de44c3;
					padding: 4px 20px 8px; color: #FFF; font-size: 150%; .border-radius(18px);
					strong{font-weight: 600;}
					&.ico-sale{
						background: #7ebf38;
						right: 10px; left: auto;
					}
				}
				.cart-wrap{
					position: absolute; top: -17px; width: 100%; height: 36px;z-index: 3; text-align: center;
					.btn-cart{font-size: 116.7%; text-transform: none; position: relative;
						height: 34px; padding: 0 17px 0 47px;
						&:before{
							position: absolute;content: "";width: 38px; height: 34px; top: -2px; left: 10px;
							background: url("../images/ico-cart.png") no-repeat -38px top; .transition(all 0.15s ease-out);
						}
						&:hover{
							&:before{background-position: 0px top;
								-o-animation:shake 2s infinite linear;
								-moz-animation:shake 2s infinite linear;
								-webkit-animation:shake 2s infinite linear;
								animation:shake 2s infinite linear;
							}
						}
					}
				}
				.item-img-info{text-align: center;border: 1px solid #e9e9e9; .transition(all 0.3s ease-out);
					position: relative; overflow: hidden;
					a.product-image{display: inline-block; width: 100%;
						&:before{
							position: absolute;width: 100%; height: 100%; top: 0px; left: 0px;
							z-index: 1; content: "";.opacity(0);
							.transition(all 0.4s ease-out 0.2s); background-color: rgba(255, 255, 255, 0.4);
						}
						.img-main{ display: inline;}
					}
				}
				.item-box-hover{z-index: 2; .transition(all 0.2s ease-out);
					background-color: @activeColor;
	    			background-color: hsla(hue(@activeColor), saturation(@activeColor), lightness(@activeColor), 0.8); // rgba(...)
					position: absolute; width: 100%; height: 90px; bottom: -90px; left: 0px;
					overflow: hidden;
					&.number-buttom3{
						.box-inner{width: 183px;}
					}
					&.number-buttom2{
						.box-inner{width: 122px;}
					}
					&.number-buttom1{
						.box-inner{width: 61px;}
					}
					.box-inner{ height: 51px; margin: 20px auto 0;
						.sns-btn-quickview,
						ul.add-to-links li a{
							width: 49px; height:49px; border: 1px solid #FFF; position: relative; display: block;
							padding: 0 0; margin: 0 5px; background-color: transparent; .border-radius(12px);
							&:before{ .transition(all 0.2s ease-out);
								position: absolute;content: ""; height: 100%; width: 100%;
								background-image: url("@{base-url}action-lgrid.png");
								background-repeat: no-repeat; background-position: left top; left: 0px; top: 0px;
							}
							&:hover{background-color: #FFF;}
						}
						.quickview-wrap{
							float: left;
							.sns-btn-quickview{
								span{display: none;}
								&:before{
									background-position: left -196px;
								}
								&:hover{
									&:before{
										background-position: left -245px;
									}
								}
							}
						}
						.actions{ float: left; height: 51px; display: block;
							ul.add-to-links{margin: 0 0; float: left; list-style: none; height: 100%;
								display: block;
								li{float: left; display: block;
									.link-wishlist{
										&:before{
										}
										&:hover{
											&:before{
												background-position: left -49px;
											}
										}
									}
									.link-compare{
										&:before{
											background-position: left -98px;
										}
										&:hover{
											&:before{
												background-position: left -147px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.item-info{text-align: center;
				.info-inner{ border: 1px solid #e9e9e9; border-top: none; .transition(all 0.3s ease-out);
					.item-content{
						.no-rating,
						.ratings{height: 35px;margin: 0 0;
							.rating-box{float: none; margin: 0 0;}
							.rating-links{display: none;}
						}
						//.no-rating{a{margin: 5px 0 0;}}
						.item-price{height: 26px; line-height: 26px; padding: 6px 0;}
					}
					.item-title{ margin-bottom: 3px;padding-top: 16px; font-size: 116.7%;
						white-space:nowrap; overflow:hidden;text-overflow:ellipsis;
						a{text-decoration: none;
							&:hover{color: @activeColor;}
						}
					}
				}
			}
		}
		&:hover{
			.item-inner{
				.item-img{
					.cart-wrap{
						.btn-cart{border-color: @activeColor; background-color: @activeColor; color: #FFF;
							&:before{background-position: 0px top;}
						}
					}
					.item-img-info{
						border-color: @activeColor;
						a.product-image:before{
							left: 0px; top: 0px; margin:0 0;.opacity(100);
						}
					}
					.item-box-hover{visibility: visible; .opacity(100); left: 0px; bottom: 0px;
					}
				}
				.item-info{
					.info-inner{border-color: @activeColor;
						.item-title{
							a{color: @activeColor;}
						}
					}
				}
			}
		}
	}
}

/*--- product-list ---*/
.products-list{
	list-style: none; margin: 0 0;
	.item{ position: relative; margin: 20px 0 0;
		.item-img{margin: 0 2.564% 0 0;position: relative; float: left; display: inline-flex;
			.product-image{display: inline-block; border: 1px solid #dfdfdf; position: relative;
				overflow: hidden; width: 100%;
				.image-main{display: inline-block; width: 100%;
					img{.transition(all 0.2s ease-out);}
				}
			}
			.ico-product{position: absolute; bottom: 10px; left: 10px; z-index: 2; background: #de44c3;
				padding: 4px 20px 8px; color: #FFF; font-size: 150%; .border-radius(18px);
				//background-image: url("../images/ico-product.png");background-repeat: no-repeat;background-position: left top;
				&.ico-sale{
					background: #7ebf38;
					right: 10px; left: auto;
				}
			}
			&:hover{
				.product-image{
					.image-main{
						img{.transform(rotate(-10deg) scale(1.1));}
					}
				}
			}
		}
		.product-shop{ //float: left; width: 72.436%;
			.product-name{margin: 0 0 8px; font-size: 116.7%; line-height: normal; font-weight: normal;
				a{color: @labelColor; position: relative;top: -4px;
					&:hover{color: @activeColor;}
				}
			}
			.price-box{margin-bottom: 12px;}
			.ratings{clear: none; margin: 0 0 12px 0;
				&:after{clear: none;}
				.rating-links{margin: 0 0;}
			}
			.no-rating{margin: 0 0 12px 0}
			.desc{margin: 0 0 20px;
				.link-learn{display: none;}
			}
			.actions-addtocart{ margin: 0 0; width: 100%;height: 51px;
				.sns-btn-quickview,
				a,
				.btn-cart{text-indent: -999em;
					width: 49px; height:49px; border: 1px solid #dfdfdf; position: relative; display: block;
					padding: 0 0; margin: 0 5px; background-color: transparent; .border-radius(12px);
					&:before{ .transition(all 0.2s ease-out);
						position: absolute;content: ""; height: 100%; width: 100%;
						background-image: url("../images/action-llist.png");
						background-repeat: no-repeat; background-position: left top; left: 0px; top: 0px;
					}
					&:hover{background-color: @activeColor; border-color: @activeColor;}
				}
				button.btn-cart{float: left; margin: 0 5px 0 0;
					> span{display: none;}
					&:before{
						background-position: left -294px;
					}
					&:hover{
						&:before{
							background-position: left -343px;
						}
					}
				}
				.quickview-wrap{
					float: left;
					.sns-btn-quickview{
						span{display: none;}
						&:before{
							background-position: left -196px;
						}
						&:hover{
							&:before{
								background-position: left -245px;
							}
						}
					}
				}
				ul.add-to-links{margin: 0 0; float: left; list-style: none; height: 51px;
					display: block;
					li{float: left; display: block;
						.link-wishlist{
							&:before{
							}
							&:hover{
								&:before{
									background-position: left -49px;
								}
							}
						}
						.link-compare{
							&:before{
								background-position: left -98px;
							}
							&:hover{
								&:before{
									background-position: left -147px;
								}
							}
						}
					}
				}
			}
		}
	}
}
/*--- Product page ---*/
.sns-product-detail{
	h1.product-name{ display: none;
		font-size: 133.3%; font-weight: bold; margin: -14px 0 10px; color: @labelColor; text-transform: uppercase;
	}
	.product-image-zoom{position: relative; z-index: 1;
		.ico-product{position: absolute; top: 10px; left: 10px; z-index: 2; background: #de44c3;
			padding: 4px 20px 8px; color: #FFF; font-size: 150%; .border-radius(18px);
			//background-image: url("../images/ico-product.png");background-repeat: no-repeat;background-position: left top;
			&.ico-sale{
				background: #7ebf38;
				right: 10px; left: auto;
			}
		}
		.cloud-zoom{
			display: block;
			border: 1px solid #e9e9e9;
		}
		.popup-btn{position: absolute;z-index:9999; bottom: 20px; right: 20px;
			a{display: block; .border-radius(100%); border:1px solid #dfdfdf;
				height: 35px; width: 35px; background: url("../images/ico-zoom.png") no-repeat 9px 9px;
			}
		}
		.cloud-zoom-big{border: 1px solid @color; .box-shadow(0 0 3px rgba(0, 0, 0, 0.5))}
		.cloud-zoom-lens {
			border: 1px solid @color;
			margin:-1px;
		}
	}
	.product-shop{
		form{margin: 0 0;
			.rating-links{margin: 0}
		}
		.add-to-links{list-style: none; margin: 0 0; display: block;
			padding-top: 20px; border-top: 1px solid #E5E5E5;
			li{ display: block; padding: 0 0 10px;
				a{
					height: 44px; line-height: 44px;
					.transition(all 0.2s ease-out); display: inline-block; position: relative; text-transform: uppercase;
					padding: 0 0 0 55px;
					&:before{
						background-image: url("../images/add-to-links.png"); height: 42px; width: 42px; border:1px solid #dfdfdf; .border-radius(10px);
						background-repeat: no-repeat; background-position:0 0; position: absolute; content: "";left: 0px; top: 0px;
					}
					&:hover{color: @activeColor; text-decoration: none; margin-left: 15px;
					}
					&.link-wishlist{
						&:before{background-position:0 0;}
					}
					&.link-compare{
						&:before{background-position:0 -42px;}
					}
				}
				.separator{display: none; margin: 0 0; padding: 0 0;}
			}
		}
		.price-rating{ position: relative;
			border-bottom: 1px solid #E5E5E5;
		    border-top: 1px solid #E5E5E5;
		    margin: 0 0 15px;
		    padding: 5px 0;
		    .price-box{float: left;
		    	.price{line-height: 32px;}
		    }
		    .ratings, .no-rating{float: right; margin: 0 0;
		    	line-height: 32px; height: 32px; padding-left: 12px;
		    	.rating-box{
		    		float: left; margin: 9px 8px 0 0;
		    	}
		    	.rating-links{float: left; line-height: 32px}
		    }
		    .ratings-table{  margin-left: 15px; margin-bottom: 0px; float: right;
				th{text-align: right; padding-right: 10px;}
				.rating-box{margin: 0 0;}
			}
			a.nobr{float: right;}
		}
		.addthis_toolbox{
			padding: 0 0 8px; border-bottom: 1px solid #e5e5e5; margin-bottom: 20px;
		}
		.short-description{margin: 0 0 15px; color: @labelColor;
			p{margin: 0 0;}
		}
	}
	.more-views{
		margin: 10px 0 0; position: relative; z-index: 1;
		
		.nav-gallery{ margin: 0 0;
			.next,
			.prev{
				position: absolute; right: -13px;top:50%;.transition(all 0.1s ease-out); text-indent: -999em;
				height:26px;width:26px; .border-radius(100%); border:1px solid #dfdfdf; margin-top: -13px;
				cursor: pointer; background: #FFF url("../images/nav-cir.png") no-repeat left top; z-index: 3;
				&:hover{ background-color: @activeColor; border-color:@activeColor;
					background-position: left -26px;
				}
			}
			.prev{ left: -13px; right: auto;
				background-position: left -52px;
				&:hover{
					background-position: left -78px;
				}
			}
		}
		.slide-gallery{ margin: 0 0; float: left;width: 100%; max-height: 85px; overflow: hidden;
			ul{
				list-style: none;
				li{text-align: center;margin: 0 0 0 10px; width: 85px !important;
					display: inline-block; float: left;
					a{display: block;
						img{ border: 1px solid #e9e9e9;}
					}
					&.active{
						a{
							img{
								border-color: @activeColor;
							}
						}
					}
				}
			}
			.caroufredsel_wrapper{ margin: 0 0 !important; width: 100% !important;
				ul{margin: 0 0 0 -10px !important;}
			}
		}
		.caroufredsel_wrapper{max-width: 100%;}
		&:hover{
			.nav-gallery{
				.next,
				.prev{.opacity(100);}
			}
		}
	}
	#review-form{
		.data-table tbody th {
		    border-bottom: 1px solid #e9e9e9;
		    border-right: 1px solid #e9e9e9;
		}
		.data-table tbody td{text-align: center; }
		ul.form-list{margin: 10px 0 0; list-style: none;
			.input-box{
				textarea{
			    	width: 240px;
			    }
			    .input-text{margin-bottom: 5px;}
			}
			label{margin-bottom: 0;}
		}
		.buttons-set .button {
		    float: left;
		    margin: 0 0;
		}
	}
	#sns_tab_products{ margin: 40px 0 0;
		ul.sns-tab-navi{list-style: none; margin: 0 0;position: relative; z-index: 1;
			li{
				display: inline-block; float: left; margin: 0 0 0 5px;
				a{border:1px solid #e9e9e9; border-bottom: none; background-color: #FFF; color: @labelColor;
					.border-radius(12px 12px 0 0); .transition(all 0.2s ease-out);
					position: relative; text-transform: none;font-weight: normal; font-size: 133.3%; padding: 10px 15px;
					&:before{position: absolute;content: ""; height: 1px; width: 100%; left: -1px; bottom:-1px;
						border-left: 1px solid transparent; border-right: 1px solid transparent;
						.transition(all 0.2s ease-out); background: transparent;
					}
					&:hover,
					&.tabulous_active{background-color: @activeColor; color: #FFF; border-color:@activeColor;
						&:before{
							background-color: @activeColor; border-color: @activeColor;
						}
					}
				}
				&:first-child{ margin: 0 0;}
			}
		}
		.sns-tab-content { float: left; padding: 0 0 50px; border:1px solid #e9e9e9; width: 100%; position: relative;
			//&:before{position: absolute;content: ""; height: 100%; width: 1px; border-right: 1px solid #e9e9e9;right: 0px; top: 0px;}
			.tab-content-inner{
				margin: 20px 25px 0px; height: 100%; position: relative; overflow: hidden;
				#sns_tab_decription{color: @labelColor;}
				.tab-item{ margin: 0 0; background: #FFF; .transition(all 0.6s ease-out); width: 100%; top: 0px;
					h2{font-size: 125%; text-transform: uppercase; line-height: normal;margin-top: 0px; color: #686868}
					h3{font-size: 110%; line-height: normal; margin-top: 0px; font-weight: normal;}
					h4{font-size: 100%; line-height: normal;margin-top: 0px;}
					label{font-weight: bold;}
					ul.product-tags{list-style: none;margin: 0 0;
						li{display: inline-block; margin: 0 5px 0 0;}
					}
					tbody td {
					    &.label{width: 20%}
					}
					#customer-reviews{
						.pager{
							p.amount{float: left; margin: 0 0; line-height: 24px;}
							.limiter{float: right;
								label{float: left; margin: 0 8px 0 0; line-height: 24px;}
								select{width: 60px; height: 24px; line-height: 24px; padding: 2px; margin: 0 5px 0 0;cursor: pointer;}
							}
						}
					}
					.box-reviews{
						dl{margin: 0 0 15px;
							dt{padding: 0 0; margin: 10px 0 0;
								&:first-child{border: none; margin: 0 0;}
								font-weight: normal;
								span{font-weight: bold;}
								a{font-weight: bold; text-decoration: underline}
							}
							dd{ margin: 0 0;
								.ratings-table{  margin-left: 15px; margin-bottom: 0px;
									th{text-align: right; padding-right: 10px;}
									.rating-box{margin: 0 0;}
								}
							}
						}
					}
					#review-form{margin: 0px;}
					#addTagForm{ margin: 0 0 10px;
						.input-box{
							input{
								float: left;margin: 0 10px 5px 0; padding: 7px 10px 6px;
								.border-radius(22px);
							}
						}
						button.button{clear: both}
						.validation-advice{float: left;width: 100%; line-height: normal;}
					}
					.box-tags{
						h2{display: none;}
					}
				}
			}
		}
	}
	.upsell-products{margin-top: 40px;}

}
.toolbar-bottom .toolbar{margin: 30px 0 0;}
.toolbar{ padding: 0 0; margin: 0 0 10px; height: 50px; line-height: 50px; border: 1px solid #dfdfdf;
	.view-mode{float: left; margin: 0 0; height: 50px;
		label{float: left; margin: 0 5px 0 0; display: none;}
		.list,.grid{ position: relative;
			height: 24px; width: 24px; display: block; float: left; margin: 13px 14px 13px 13px;
			&:before{ position: absolute; content: ""; left: 0px; top: 0px;
				background: url("@{base-url}ico-viewmode.png") no-repeat left top; width: 100%; height: 100%;
			}
			&:after{position: absolute;content: ""; right: -14px; top: -13px; height: 50px; width: 1px; background: #dfdfdf}
		}
		.grid{
			&:hover:before{background-position: left -24px;}
		}
		.list{
			&:before{background-position: left -48px;}
			&:hover:before{background-position: left -72px;}
		}
		strong.list:before{background-position: left -72px;}
		strong.grid:before{background-position: left -24px;}
	}
	.limiter{float: left;margin-left: 0px; padding: 0 10px; color: @labelColor;
		line-height: 50px; height: 50px;
		label{line-height: 50px; float: left;margin: 0 12px 0 0;}
		.select-new{float: left; margin: 11px 10px 0 0; color: @color;
			.select-inner{
				select{.opacity(0);}
				.jqTransformSelectWrapper{ .border-radius(14px);.transition(all 0.2 ease-in);
					height: 26px; border: 1px solid #e5e5e5; width: 60px !important; background:#FFF;
					&:hover{border-color: #ccc;}
					div{
						span{ text-align: center;
							 line-height: 26px; height: 26px; padding-left: 10px;color: @labelColor;
						}
						a.jqTransformSelectOpen{
							height: 26px; background-position: left 11px; right: 0px; padding-right: 10px;
						}
					}
					ul{top: 28px; width: 60px !important;left: -1px !important; border-color:#e5e5e5;
						a{padding: 2px 6px; background-position: center 10px;
							&.selected{background: #eaeaea; color: @labelColor;}
							&:hover{background: #e5e5e5; color: @labelColor;}
						}
					}
				}
				select{cursor: pointer;width: 20px; border: none; background: none;}
			}
		}

	}
	.sort-by{float: left;margin-left: 0px;line-height: 50px;height: 50px; padding: 0 20px;
		label{line-height: 50px;height: 50px; float: left;margin: 0 12px 0 0;}
		.select-new{float: left; margin: 11px 5px 0 0;
			.select-inner{ cursor: pointer;
				select{.opacity(0);}
				.jqTransformSelectWrapper{.border-radius(14px); .transition(all 0.2 ease-in);
					height: 26px; border: 1px solid #e5e5e5; background: #FFF;width: 90px !important;
					&:hover{border-color: #ccc;}
					div{
						span{ text-align: center;
							 line-height: 26px; height: 26px; padding-left: 10px;color: @labelColor;
						}
						a.jqTransformSelectOpen{
							height: 26px; background-position: left 11px; right: 0px; padding-right: 10px;
						}
					}
					ul{top: 28px; width: 90px !important;left: -1px !important;border-color:#e5e5e5;
						a{padding: 2px 6px; background-position: center 10px;
							&.selected{background: #eaeaea; color: @labelColor;}
							&:hover{background: #e5e5e5; color: @labelColor;}
						}
					}
				}
				select{cursor: pointer;width: 50px; border: none; background: none;}
			}
		}
		.set-desc,.set-asc{ width: 26px; height: 26px; border: 1px solid #e5e5e5; .border-radius(100%); position: relative;
			margin: 11px 0 0 0;display: block; float: left;text-indent: -999em; .transition(all 0.4s ease-in);
			&:before{ position: absolute; content: ""; left: 7px; top: 0px; .transition(all 0.2s ease-in);
				width: 26px; height: 26px; background: url("../images/arrow-downup.png") no-repeat left 0px;

			}
			&:hover{background-color: @activeColor; border-color: @activeColor;
				&:before{background-position: left -26px;}
			}
		}
		.set-desc{
			&:before{
				background-position: left -78px;
			}
			&:hover{
				&:before{background-position: left -52px;}
			}
		}
	}
	.pager{margin:0 0; float: right;
		p.amount{margin: 0 0; line-height: 50px; display: none;}
		.pages{padding: 0 10px; height: 50px; line-height: 50px;
			ol{margin-top: 11px; overflow: hidden;}
		}
	}
}
#confirmbox{border: 1px solid #686868;
	.add-to-cart{margin: 0 0 !important}
	.head-cfbox{
		.product-title{font-weight: bold; color: @linkColor;}
	}
	.product-name a{color: @linkColor;
		font-weight: 300; font-size: 116.7%;
		&:hover{color: @activeColor}
	}
	.cf-producinfo{
		.product-image{border: none;}
	}
	#bottom-cfbox{
		.btn{
			font-size: 116.7%; .transition(all 0.2s ease-out); text-transform: none; .box-shadow(none);
			padding: 6px 20px; .border-radius(18px); color: @labelColor; border: 1px solid #e5e5e5; background: #FFF;
			&:hover{background-color: @activeColor;color: #FFF; border-color: @activeColor;}
		}
	}
	#cout_down{position: absolute; right: 0px; bottom: 0px; padding: 0 5px; color: #FFF; background: #686868;
	}
	#product-shop{
		table.grouped-items-table{margin-bottom: 0;}
	}
}
#btn-close{color: #686868;.opacity(100);
	&:hover{color: @activeColor}
}
.postWrapper{ padding-bottom: 20px;
	.postTitle{border: none;margin-bottom: 10px;
		h2{line-height: 24px; font-size: 150%;
			a{
				&:hover{color: @activeColor}
			}
		}
		h3{line-height: normal; font-size: 91.5%; font-weight: normal;}
		&.title-detail{ h2{font-size: 116.7%; margin: -3px 0 0; text-transform: uppercase; color: @labelColor }}
	}
	.postContent{ padding-bottom: 5px;
	}
	.aw-blog-read-more{display: none;}
	.post-info{padding:3px 0; border-top: 1px solid #dfdfdf;}
	.postDetails{
		h4.poster{font-size: 100%; line-height: normal;}
		.create-time{margin: 0 0;}
	}
}

.blog-toolbar{
	.toolbar{margin: 30px 0 0;
		.limiter{display: none;}
		.sort-by .select-new{
			.select-inner{
				select{width: 70px;}
				.jqTransformSelectWrapper{
					width: 110px !important;
					ul{width: 110px !important;}
				}
			}
		}
	}
	&.post{
		.toolbar{margin: 10px 0 20px;}
	}
}
.cmt-heading{
	h2{font-size: 125%; line-height: 24px;}
}
.commentWrapper{
	h4.username{font-size: 100%; line-height: normal; color: @activeColor;}
}
#postComment{
	h4.legend{font-weight: normal;font-size: 125%;}
	.commentDetails{margin: 0 0;}
	ul.form-list{list-style: none;margin: 0 0;
		.input-box{ margin-bottom: 20px;
			input.input-text{margin: 0 0; padding: 5px 10px;max-width:215px;}
			textarea{margin: 0 0;}
			.validation-advice{margin-top: 3px;}
			label{
				color: @labelColor; display: none;
			}
			&.cmt-user{
				
			}
			&.cmt-email{
				
			}
		}
	}
}
.contact-page{ margin: 0 auto;
	.page-title{
		h1{text-align: center;}
	}
	.contact-content{ > p{text-align: center; color: @labelColor;}}
	.map-wrap{ margin-bottom: 40px;
		#google_map{height: 355px;}
	}
	.more-info{margin-bottom: 30px; border-bottom: 1px solid #dfdfdf; border-top: 1px solid #dfdfdf;
		p{margin: 0 0; line-height: 26px;}
		.address{
			p{margin-right: 30px;}
		}
		.chat{
			p{margin-left: 30px;}
		}
		.phone{text-align: center; height: 50px; margin: 3px 0; border-left: 1px solid #dfdfdf;border-right: 1px solid #dfdfdf;}
	}
	.block-connectus{
		.block-content{padding-top: 0px !important}
	}
	#contactForm{
		ul{list-style: none;margin: 0 0;
			.input-box{position: relative;padding: 1px;margin-bottom: 10px;
				input{border: none;margin: 0 0;width: 90%; padding: 8px 1%;position: relative;z-index: 2;}
				textarea{border: none;margin: 0 0;width: 98%;height: 150px; padding: 8px 1%;position: relative;z-index: 2;}
				.validation-advice{margin-top: 3px;}
				&:before{position: absolute;content:"";width: 100%;height: 36px;top: 0px; left: 0px;
					border: 1px solid #dfdfdf; z-index: 1;
				}
			}
			li.wide{
				.input-box{
					&:before{height: 166px;}
				}
			}
			li.fields{
				div.field{width: 50%;
					.input-box{
						input{padding: 8px 2%;}
					}
				}
			}
		}
	}
	.buttons-set .button{
		margin: 0 0; float: left;
	}
}