<div class="page-head">
    <div class="page-title">
       <h2>{$arr_informationbox.title}</h2>
    </div>
</div>
 
  <ul>
      {foreach from=$arr_informationbox.items key=key item=link name=element}
    	{*{if $link.sort > 1}*}
        <li><a href="{$link.target}">{$link.text}</a></li>
        {*{/if}*}
         
      {/foreach}
  </ul> 
