
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active animated fadeInUp">
                        <img alt="Third slide" src="templates/t_0735/images/top-slider/slide_1.jpg">
                        <div class="caption">
                            <div class=" slider-title animated fadeInDown delay1">GET YOUR DECORATION</div>
                            <div class="hidden-xs delay2 slider-desc animated fadeIn">Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum.</div>
                            <div class="slider-button animated fadeInUp delay3">
                                <a href="javascript:;">PURCHASE</a>
                            </div>
                        </div>
                    </div>
                    <div class="item  animated fadeInUp">
                        <img alt="Third slide" src="templates/t_0735/images/top-slider/slide_2.jpg">
                        <div class="caption">
                            <div class=" slider-title animated fadeInDown delay1">GET YOUR DECORATION</div>
                            <div class="hidden-xs delay2 slider-desc animated fadeIn">Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum.</div>
                            <div class="slider-button animated fadeInUp delay3">
                                <a href="javascript:;">PURCHASE</a>
                            </div>
                        </div>
                    </div>
                    <div class="item  animated fadeInUp">
                        <img alt="Third slide" src="templates/t_0735/images/top-slider/slide_3.jpg">
                        <div class="caption">
                            <div class=" slider-title animated fadeInDown delay1">GET YOUR DECORATION</div>
                            <div class="hidden-xs delay2 slider-desc animated fadeIn">Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum.</div>
                            <div class="slider-button animated fadeInUp delay3">
                                <a href="javascript:;">PURCHASE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <img src="templates/t_0735/images/slide-left.png" alt="">
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <img src="templates/t_0735/images/slide-right.png" alt="">
                </a>