/* ======= FONTS ====== */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

/*checout pages + and - and delete*/
.tableMAIN {
    width                 : 100%;
    margin-bottom         : 20px;
    max-width             : 100%;
    background-color      : transparent;
    border-collapse       : separate;
    border-spacing        : 0;
    border                : 1px solid #D3D6DB;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
}

.language-switcher div > span img {
    vertical-align: inherit;
}

.tableMAIN th, .tableMAIN td {
    padding        : 8px;
    line-height    : 20px;
    vertical-align : middle;
    text-align     : center;
}

.warenkorb_rem_item:before {
    content     : "\f0d9";
    font-family : FontAwesome;
    font-size   : 40px;
    vertical-align: middle;
}

.warenkorb_add_item:after {
    content     : "\f0da";
    font-family : FontAwesome;
    font-size   : 40px;
    vertical-align: middle;
}

.pdB img {
    height : 100px;
}

.productListing-heading {
    background-color : #F6F7F8;
    border-bottom    : 1px solid #E9EAED;
    color            : #6A7480;
    font-weight      : bold;
}

.productListing-even td {
    border-bottom : 1px solid #ECECEC;
}

.productListing-data td {
    border : none;
}

ul.unstyle {
    list-style : none;
    font-size  : 13px;
}

.checkout-shipping-textarea textarea {
    width : 98%;
}

.checkout-payment-textarea textarea {
    width : 98%;
}

input[name='gv_redeem_code'] {
    width : 95%;
}

.infoBox td {
    vertical-align : top;
}

.cartcount_inputs {
    width         : 60px;
    margin-bottom : 0 !important;
    text-align: center;
}

input[type=number].cartcount_inputs::-webkit-outer-spin-button,
input[type=number].cartcount_inputs::-webkit-inner-spin-button {
    -webkit-appearance : none;
    margin             : 0;
}

input[type=number].cartcount_inputs {
    -moz-appearance : textfield;
}

.pdC td {
    padding : 0;
}

.pdC a:hover, .pdA a:hover {
    text-decoration : none;
}

.checkout-confirmation-image-cell {
    max-width  : 100px;
    max-height : 150px;
}

.table-confirmation-checkout td {
    vertical-align : middle !important;
    text-align     : center;
}

.table-confirmation-checkout .price-unit, .table-confirmation-checkout .price-total {
    white-space : nowrap;
}

.price .mwst_info {
    display : none;
}

#product .price .mwst_info {
    color       : #000000;
    font-size   : 11px;
    margin-top  : -10px;
    display     : block;
    line-height : initial;
}

.additional-image {
    height: 60px;
}

.shopping_cart_mini {
    margin-top      : 10px;
    font-weight     : bold;
    font-size       : 20px;
    text-decoration : underline;
    text-align      : center;
}

.toolbar .sort-by .select-new .select-inner .jqTransformSelectWrapper div span {
    width   : 100% !important;
    margin  : 0;
    padding : 0 25px;
    text-align: left;
}

#sns_topheader {
    z-index : 1050;
}

.sns-ajaxcart .block-content {
    margin-left : -280px;
}

.sns-ajaxcart,
.header-right-inner {
    height : 50px;
}

.sns-ajaxcart {
    width : 70px;
}

#sns_menu .nav-right {
    float : right;
}

.mini-cart .block-content form {
    margin     : 0 0;
    max-height : 420px;
    overflow-y : auto;
}

.mini-cart .block-content ::-webkit-scrollbar {
    width : 10px;
}

.mini-cart .block-content ::-webkit-scrollbar-track {
    -webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius      : 10px;
}

.mini-cart .block-content ::-webkit-scrollbar-thumb {
    border-radius    : 10px;
    background-color : #A7A4A4;
}

.summe_shopping_cart {
    font-weight   : bold;
    text-align    : right;
    margin-bottom : 10px;
    font-size     : 15px;
}

.mini-cart .block-content .product-details-bottom input.qty {
    width      : 32px;
    padding    : 0 0;
    text-align : center;
    margin     : 0 0;
}

.accountMarginBottom {
    margin-bottom : 50px;
}

.alert_checkout_payment {
    z-index     : 999;
    position    : absolute;
    width       : 80%;
    height      : 30px;
    font-size   : 17px;
    padding-top : 20px;
}

.panel-body table .main input[type="radio"],
.form_tem .logradioHLD input[type="radio"],
.content-wrapper .inputHLDinner input[type="radio"] {
    margin-bottom : 6px;
}

.panel-body table .main select,
.form_tem .inputHLD select {
    display   : block;
    float     : left;
    width     : 234px;
    font-size : 14px;
    cursor    : pointer;
}

/* ############# LOGIN/REGISTER OVERLAY end */
.inputtext {
    text-align : right;
}

.inputfield,
.general_inputs {
    display               : block;
    float                 : left;
    width                 : 212px;
    height                : 37px;
    font-size             : 14px;
    margin                : 0;
    /* IE7 / IE8 */
    height /*\**/         : 27px \9;
    padding /*\**/        : 10px 0 0 6px \9;
    /* IE7 / IE8 */
    -webkit-border-radius : 0 !important;
    -moz-border-radius    : 0 !important;
    border-radius         : 0 !important;
    padding               : 4px 10px !important;
    -webkit-transition    : all 0.2s ease-out !important;
    -moz-transition       : all 0.2s ease-out !important;
    -o-transition         : all 0.2s ease-out !important;
    transition            : all 0.2s ease-out !important;
    color                 : #C8C8C8 !important;
}

.inputfield:focus {
    color : #000000 !important;
}

.general_inputs:focus {
    color : #000000 !important;
}

.zipcode {
    width : 90px;
}

.city {
    width : 104px;
}

.inputbutton {
    display : block;
    height  : 39px;
    border  : 0;
    margin  : 18px 0 0 0;
    outline : none;
    cursor  : pointer;
}

a.linkpwf {
    display         : inline-block;
    margin          : 10px 0 0 0;
    color           : #BBBBBB;
    text-decoration : underline;
}

a.linkpwf:hover {
    color : #333333;
}

.errorMessages {
    padding    : 12px 8px 8px 8px;
    margin     : 0 0 12px 0;
    border     : 4px solid #990000;
    background : #F1CECE;
    font-size  : 12px;
}

.logradioHLD {
    display : inline-flex;;
}

.inputHLDbox {
    margin  : 0 0 17px 0;
    padding : 2px;
    border  : 1px solid #D3D3D3;
}

.inputHLDhead {
    padding     : 12px 0 15px 18px;
    font-size   : 14px;
    font-weight : bold;
    color       : #4E4E4E;
    background  : url(images/boxes_accHEADbg.png) repeat-x 0 0;
}

.inputHLDinner {
    width  : 510px;
    margin : 0 auto;
}

.inputHLDinnerChangePass {
    width  : 765px;
    margin : 10px auto;
}

.inputHLD {
    float  : left;
    margin : 0 20px 14px 0;
}

.req_label {
    margin : 0 0 6px 0;
}

.req_label span {
    font-size   : 12px;
    font-weight : bold;
    color       : #990000;
}

.inputTXT {
    width  : 120px;
    margin : 0 0 4px 0;
}

.inputfieldHLD {
    width  : 260px;
    border : 1px solid #D4D4D4;
    margin : 0 15px 0 0;
}

.width_streed {
    width : 96%
}

.width_streed input {
    width : 95.2%;
}

.zipcodeHLD {
    width : 91px;
}

.cityHLD {
    width : 152px;
}

.inputcheckbox {
    float : left;
}

.inputcheckboxTXT span {
    padding : 0 0 0 7px;
}

.inputcheckboxTXT {
    float  : left;
    margin : 0 0 4px 0;

}

.inputselectHLD {
    width  : 210px;
    border : 1px solid #FFFFFF;
    margin : 0 2px 0 0;
}

.clearer {
    clear  : both;
    height : 0;
}

.formHTML5 {
    min-width : 475px;
}

.formHTML5 .inputHLDbox input:required {
    background : #FFFFFF url(images/input_required.png) no-repeat 98% center;
    border     : 1px solid #CCCCCC;
}

.formHTML5 .inputHLDbox input:required:valid {
    background   : #FFFFFF url(images/input_valid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #5CD053;
    border-color : #28921F;
}

.formHTML5 .inputHLDbox input:focus:invalid {
    background   : #FFFFFF url(images/input_invalid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #D45252;
    border-color : #B03535
}

/* ############# LOGIN/REGISTER OVERLAY begin END*/
/**************STYLE FOR SELECT********************/
.inputselectHLD select {
    display            : block;
    width              : 100%;
    padding            : 6px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : #555555;
    background         : #FFFFFF;
    border             : 1px solid #CCCCCC;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.alert table {
    border : 0;
}

/*****************MODIFY ADRESS USER ACCOUNT******************/
.modify_address {
    float : right;
}

.form-group select, .form-group textarea, .panel-body .textarea textarea {
    display            : block;
    width              : 50%;
    height             : 34px;
    padding            : 6px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : #555555;
    background         : #FFFFFF;
    border             : 1px solid #CCCCCC;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.dropdown select {
    background         : transparent;
    border             : none;
    color              : #7AC144;
    -webkit-appearance : none;
    cursor             : pointer;
}

.image_view_product_list {
    width               : 100%;
    height              : 255px;
    background-position : center;
    background-size     : cover;
}

.no-products {
    margin: 50px;
}

.country_id {
    border-radius : 30px;
    border        : 1px solid #CCCCCC;
    cursor        : pointer;
}

.title-modal {
    font-size     : 25px;
    font-weight   : bold;
    text-align    : left;
    margin-bottom : 10px;
    line-height   : 30px;
}

.no-actived-content {
    display : none;
}

.actived-content {
    display : block;
}

.block .btn-delete {
    font-size             : 150%;
    -webkit-transition    : all 0.2s ease-out;
    -moz-transition       : all 0.2s ease-out;
    -o-transition         : all 0.2s ease-out;
    transition            : all 0.2s ease-out;
    text-transform        : none;
    padding               : 6px 20px;
    -webkit-border-radius : 18px;
    -moz-border-radius    : 18px;
    border-radius         : 18px;
    color                 : #FFFFFF;
    border                : 1px solid #E5E5E5;
    background            : #FF0000;
}

.block .btn-delete:hover {
    background-color : #BC0808;
    color            : #FFFFFF;
    border-color     : #A60505;
}

.mini-cart form .mini-products-list .odd .img_mini_cart img {
    width : 60px;
    float : left;
    margin-right: 10px;
}

.cont_abst_sitemap .pager .pages {
    float : right;
}

.cont_abst_sitemap .pager .pages ol li a,
.cont_abst_sitemap .pager .pages ol li .pageResultsACTIVE {
    margin : 0 3px;
}

.row-fluid .span3_span4_min {
    width : 25.914894%;
}

.row-fluid .span3_span4_max {
    width : 21.1%;
}

.span9 form ul .fields .input-box select {
    width  : 100%;
    height : 38px;
    margin : -1px;
}

.btn-close-menu {
    background : none;
    border     : none;
    position   : absolute;
    right      : 0;
    top        : 0;
    font-size  : 20px;
}

#sns_off_screennav ul button.btn-close-menu:hover {
    background : none;
    border     : none;
    color      : #FFFFFF;
}

.toolbar .pager p.amount {
    margin: 0 10px;
}

.products-grid .item.show-addtocart {
    margin-left: 25px;
}