/* IE8 not support media query */
body .container{width: 1170px;}
/* Fix for menu */
ul.mainnav > li:hover > a,
ul.mainnav > li.active > a{border-color: #90cbd5;}
#sns_menu .inner:after{background: #90cbd5;}

.sns-megamenu-wrap.horizontal-menu .mega-nav li.level0 > .mega-content-wrap,
ul.mainnav li > ul[class*="level"] { visibility: visible !important; top: -999em !important}

.sns-megamenu-wrap.horizontal-menu .mega-nav li.level0:hover > .mega-content-wrap,
ul.mainnav > li:hover > ul[class*="level"] {top: 85px !important;}
ul.mainnav > li li:hover > ul[class*="level"] {top: 5px !important;}

#sns_menu .nav-right .block-wishlist .wishlist-toggle,
#sns_menu .nav-right .block-compare .compare-toggle,
.sns-ajaxcart .block-title{border: 1px solid #90cbd5;}

#sns_slideshow .sns-slideshow-wrap .next,
#sns_slideshow .sns-slideshow-wrap .prev{border: 1px solid #90cbd5;}
#sns_slideshow .sns-slideshow-wrap .teaser{line-height: 18px !important}
/* quickview */
.products-list .item .item-img .sns-btn-quickview:before{display: none;}
.products-list .item .item-img:hover .sns-btn-quickview:before{display: block;}

#sns_off_screennav{display: none;}

.sns-ajaxcart .block-content .block-inner,
#sns_menu .nav-right .block-compare .block-content .block-inner,
#sns_menu .nav-right .block-wishlist .block-content .block-inner{
	display: none; border: 1px solid #e9e9e9; visibility: hidden;
}
.sns-ajaxcart:hover .block-content .block-inner,
#sns_menu .nav-right .block-compare:hover .block-content .block-inner,
#sns_menu .nav-right .block-wishlist:hover .block-content .block-inner{
	display: block; visibility: visible;
}

.sns-ajaxcart,
#sns_menu .nav-right .block-compare,
#sns_menu .nav-right .block-wishlist{
	z-index: 1;
}
.sns-ajaxcart:hover,
#sns_menu .nav-right .block-compare:hover,
#sns_menu .nav-right .block-wishlist:hover{
	z-index: 2;
}
.hideleft,
.hideflip {visibility: hidden;}
.showleft,
.showflip {visibility: visible;}