ul.mainnav > li > ul[class*="level"],
.sns-megamenu-wrap.horizontal-menu .mega-nav li.level0 .mega-content-wrap{
	visibility: visible;
	-webkit-transform:scale(0);
}

#sns_content .sns-tabs .tabs-navi li a{-webkit-transition:none;}