@font-face {
    font-family : NovecentowideLightBold;
    src         : url(fonts/Novecentowide-DemiBold-webfont.eot);
    src         : url(fonts/Novecentowide-DemiBold-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/Novecentowide-DemiBold-webfont.woff) format('woff'), url(fonts/Novecentowide-DemiBold-webfont.ttf) format('truetype'), url(fonts/Novecentowide-DemiBold-webfont.svg#NovecentowideLightBold) format('svg');
    font-weight : 400;
    font-style  : normal
}

@font-face {
    font-family : NovecentowideBookBold;
    src         : url(fonts/Novecentowide-Bold-webfont.eot);
    src         : url(fonts/Novecentowide-Bold-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/Novecentowide-Bold-webfont.woff) format('woff'), url(fonts/Novecentowide-Bold-webfont.ttf) format('truetype'), url(fonts/Novecentowide-Bold-webfont.svg#NovecentowideBookBold) format('svg');
    font-weight : 400;
    font-style  : normal
}

/*checout pages + and - and delete*/
.warenkorb_del_item:after {
    content       : "\f014";
    display       : block;
    height        : 18px;
    width         : 18px;
    margin        : 10px;
    padding-left  : 0 !important;
    text-indent   : -9999px;
    background    : url(images/remove.png) #798184;
    border-radius : 100px;
    border        : 1px solid;
}

.warenkorb_rem_item:before {
    content     : "\f0d9";
    font-family : FontAwesome;
    font-size   : 40px;
    color       : #21C2F8;
    vertical-align: middle;
}

.warenkorb_add_item:after {
    content     : "\f0da";
    font-family : FontAwesome;
    font-size   : 40px;
    color       : #21C2F8;
    vertical-align: middle;
}

.tableMAIN {
    width                 : 100%;
    margin-bottom         : 20px;
    max-width             : 100%;
    background-color      : transparent;
    border-collapse       : separate;
    border-spacing        : 0;
    border                : 1px solid #D3D6DB;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
}

.tableMAIN th, .tableMAIN td {
    padding        : 8px;
    line-height    : 20px;
    vertical-align : middle;
    text-align     : center;
}

.pdB img {
    height : 100px;
}

.productListing-heading {
    background-color : #F6F7F8;
    border-bottom    : 1px solid #E9EAED;
    color            : #6A7480;
    font-weight      : bold;
}

.productListing-even td,
.productListing-odd td {
    border-bottom : 1px solid #ECECEC;
}

.productListing-data td {
    border : none;
}

ul.unstyle {
    list-style : none;
    font-size  : 13px;
}

ol.steps {
    list-style  : none;
    padding     : 0;
    overflow    : hidden;
    font-size   : 15px;
    line-height : 15px;
    margin      : 20px 0;
}

ol.steps li {
    list-style  : none;
    text-align  : center;
    color       : #999999;
    background  : #EEEEEE;
    position    : relative;
    margin-left : 43px;
}

ol.steps li:after {
    position          : absolute;
    top               : 50%;
    left              : 100%;
    content           : " ";
    height            : 0;
    width             : 0;
    pointer-events    : none;
    border            : 19px solid transparent;
    border-left-color : #EEEEEE;
    margin-top        : -19px;
}

ol.steps li:first-child {
    margin-left : 0;
}

ol.steps li:first-child span {
    padding : 9px;
}

ol.steps li:first-child span:after {
    border : none;
}

ol.steps li:last-child:after {
    border-width : 0;
}

ol.steps li span {
    display : block;
    padding : 9px 28px 9px 9px;
    color   : #000000;
}

ol.steps li span:after {
    position          : absolute;
    top               : 50%;
    right             : 100%;
    content           : " ";
    height            : 0;
    width             : 0;
    pointer-events    : none;
    border            : 19px solid #EEEEEE;
    border-left-color : transparent;
    margin-top        : -19px;
}

ol.steps > li {
    float : left;
    width : 22%;
}

ol.steps li.current {
    background : #21C2F8;
    width      : 22.6%;
}

ol.steps li.current a {
    color : #FFFFFF;
}

ol.steps li.current:after {
    border-left-color : #21C2F8;
}

ol.steps li.current span:after {
    border-color      : #21C2F8;
    border-left-color : transparent;
}

ol.steps li.done a {
    color : #21C2F8;
}

.checkout-shipping-textarea textarea {
    width : 98%;
}

.checkout-payment-textarea textarea {
    width : 98%;
}

input[name='gv_redeem_code'] {
    width : 95%;
}

.infoBox td {
    vertical-align : top;
}

.cartcount_inputs {
    width         : 60px;
    margin-bottom : 0 !important;
    text-align: center;
}

.pdC td {
    padding : 0;
}

.pdC a:hover,
.pdA a:hover {
    text-decoration : none;
}

.checkout-confirmation-image-cell {
    max-width  : 100px;
    max-height : 150px;
}

.table-confirmation-checkout td {
    vertical-align : middle !important;
    text-align     : center;
}

.table-confirmation-checkout .price-unit,
.table-confirmation-checkout .price-total {
    white-space : nowrap;
}

.shopping_cart_mini {
    margin-top      : 10px;
    font-weight     : bold;
    font-size       : 20px;
    text-decoration : underline;
    text-align      : center;
}

.summe_shopping_cart {
    font-weight   : bold;
    text-align    : right;
    margin-bottom : 10px;
    font-size     : 15px;
}

.accountMarginBottom {
    margin-bottom : 50px;
}

.alert_checkout_payment {
    z-index     : 999;
    position    : absolute;
    width       : 80%;
    height      : 30px;
    font-size   : 17px;
    padding-top : 20px;
}

.panel-body table .main input[type="radio"],
.form_tem .logradioHLD input[type="radio"],
.content-wrapper .inputHLDinner input[type="radio"] {
    margin-bottom : 6px;
}

.panel-body table .main select,
.form_tem .inputHLD select {
    display   : block;
    float     : left;
    width     : 234px;
    font-size : 14px;
    cursor    : pointer;
}

/* ############# LOGIN/REGISTER OVERLAY end */
.inputtext {
    text-align : right;
}

.inputfield {
    display               : block;
    float                 : left;
    width                 : 223px;
    height                : 37px;
    font-size             : 14px;
    margin                : 0;
    /* IE7 / IE8 */
    height /*\**/         : 27px \9;
    padding /*\**/        : 10px 0 0 6px \9;
    /* IE7 / IE8 */
    -webkit-border-radius : 0 !important;
    -moz-border-radius    : 0 !important;
    border-radius         : 0 !important;
    padding               : 4px 10px !important;
    -webkit-transition    : all 0.2s ease-out !important;
    -moz-transition       : all 0.2s ease-out !important;
    -o-transition         : all 0.2s ease-out !important;
    transition            : all 0.2s ease-out !important;
    color                 : #C8C8C8 !important;
}

.zipcode {
    width : 90px;
}

.city {
    width : 104px;
}

.inputbutton {
    display : block;
    height  : 39px;
    border  : 0;
    margin  : 18px 0 0 0;
    outline : none;
    cursor  : pointer;
}

a.linkpwf {
    display         : inline-block;
    margin          : 10px 0 0 0;
    color           : #BBBBBB;
    text-decoration : underline;
}

a.linkpwf:hover {
    color : #333333;
}

.errorMessages {
    padding    : 12px 8px 8px 8px;
    margin     : 0 0 12px 0;
    border     : 4px solid #990000;
    background : #F1CECE;
    font-size  : 12px;
}

.logradioHLD {
    display : inline-flex;;
}

.inputHLDbox {
    margin  : 0 0 17px 0;
    padding : 2px;
    border  : 1px solid #D3D3D3;
}

.inputHLDhead {
    padding       : 12px 0 15px 18px;
    font-size     : 14px;
    font-weight   : bold;
    color         : white;
    border-bottom : 1px solid #CCCCCC;
}

.inputHLDinner {
    width  : 510px;
    margin : 0 auto;
}

.inputHLDinnerChangePass {
    width  : 765px;
    margin : 10px auto;
}

.inputHLD {
    float  : left;
    margin : 0 20px 14px 0;
}

.req_label {
    margin : 0 0 6px 0;
}

.req_label span {
    font-size   : 12px;
    font-weight : bold;
    color       : #990000;
}

.inputTXT {
    width  : 126px;
    margin : 0 0 4px 0;
}

.inputfieldHLD {
    width  : 260px;
    border : 1px solid #D4D4D4;
    margin : 0 15px 0 0;
}

.width_streed {
    width : 96%
}

.width_streed input {
    width : 95.2%;
}

.zipcodeHLD {
    width : 91px;
}

.cityHLD {
    width : 152px;
}

.inputcheckbox {
    float : left;
}

.inputcheckboxTXT span {
    padding : 0 0 0 7px;
}

.inputcheckboxTXT {
    float  : left;
    margin : 0 0 4px 0;
}

.inputselectHLD {
    width  : 210px;
    border : none;
    margin : 0 2px 0 0;
}

.clearer {
    clear  : both;
    height : 0;
}

.formHTML5 .inputHLDbox input:required {
    background : #363636 url("images/input_required.png") no-repeat 98% center;
}

.formHTML5 .inputHLDbox input:required:valid {
    background   : #363636 url("images/input_valid.png") no-repeat 98% center;
    box-shadow   : 0 0 5px #5CD053;
    border-color : #28921F;
}

.formHTML5 .inputHLDbox input:focus:invalid {
    background   : #363636 url("images/input_invalid.png") no-repeat 98% center;
    box-shadow   : 0 0 5px #D45252;
    border-color : #B03535
}

/* ############# LOGIN/REGISTER OVERLAY begin END*/
/**************STYLE FOR SELECT********************/
.inputselectHLD select {
    display            : block;
    width              : 100%;
    padding            : 6px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : white;
    background-image   : none;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.alert table {
    border : 0;
}

/*****************MODIFY ADRESS USER ACCOUNT******************/
.modify_address {
    float : right;
}

.form-group select,
.form-group textarea,
.panel-body .textarea textarea {
    display            : block;
    width              : 50%;
    height             : 34px;
    padding            : 6px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : #555555;
    background         : #FFFFFF;
    border             : 1px solid #CCCCCC;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.dropdown select {
    background         : transparent;
    border             : none;
    color              : #7AC144;
    -webkit-appearance : none;
    cursor             : pointer;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    display : block;
}

.title-modal {
    font-size     : 25px;
    font-weight   : bold;
    text-align    : left;
    margin-bottom : 10px;
    line-height   : 30px;
}

.no-actived-content {
    display : none;
}

.actived-content {
    display : block;
}

.block .btn-delete {
    font-size             : 150%;
    -webkit-transition    : all 0.2s ease-out;
    -moz-transition       : all 0.2s ease-out;
    -o-transition         : all 0.2s ease-out;
    transition            : all 0.2s ease-out;
    text-transform        : none;
    padding               : 6px 20px;
    -webkit-border-radius : 18px;
    -moz-border-radius    : 18px;
    border-radius         : 18px;
    color                 : #FFFFFF;
    border                : 1px solid #E5E5E5;
    background            : #FF0000;
}

.block .btn-delete:hover {
    background-color : #BC0808;
    color            : #FFFFFF;
    border-color     : #A60505;
}

.mini-cart form .mini-products-list .odd .img_mini_cart img {
    width : 60px;
}

.cont_abst_sitemap .pager .pages ol li .pageResultsACTIVE {
    height                : 26px;
    width                 : 26px;
    -webkit-border-radius : 100%;
    -moz-border-radius    : 100%;
    border-radius         : 100%;
    background            : #3CABDA;
    border                : 1px solid #3CABDA;
    color                 : #FFFFFF;
}

.cont_abst_sitemap .pager .pages {
    float : right;
}

.cont_abst_sitemap .pager .pages ol li a,
.cont_abst_sitemap .pager .pages ol li .pageResultsACTIVE {
    margin : 0 3px;
}

.row-fluid .span3_span4_min {
    width : 25.914894%;
}

.row-fluid .span3_span4_max {
    width : 21.1%;
}

.span9 form ul .fields .input-box select {
    width  : 100%;
    height : 38px;
    margin : -1px;
}

body {
    font-family : Raleway, Arial, Helvetica, sans-serif;
    font-size   : 14px;
    line-height : 1.8;
    font-weight : 400;
    position    : relative;
    color       : #D3D3D3;
    padding     : 0;
    margin      : 0;
    overflow-x  : hidden;
    background  : #FFFFFF
}

body, html {
    height           : 100%;
    width            : 100%;
    background-color : #292929;

}

img {
    height    : auto;
    max-width : 100%
}

.hidden {
    display : none
}

.alignleft {
    float : left
}

.alignright {
    float : right
}

.aligncenter {
    margin-left  : auto;
    margin-right : auto;
    display      : block;
    clear        : both
}

.clear {
    clear       : both;
    display     : block;
    font-size   : 0;
    height      : 0;
    line-height : 0;
    width       : 100%
}

::-moz-selection {
    color       : #FFFFFF;
    text-shadow : none;
    background  : #2B2E31
}

::selection {
    color       : #FFFFFF;
    text-shadow : none;
    background  : #2B2E31
}

*, :after, :before {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    padding            : 0;
    margin             : 0
}

a.readmore {
    text-transform : none;
    display        : block;
    font-family    : 'Droid Serif', Georgia, "Times New Roman", serif !important;
    font-size      : 11px;
    font-style     : italic
}

a.remove {
    display       : block;
    height        : 18px;
    width         : 18px;
    margin        : 10px;
    padding-left  : 0 !important;
    text-indent   : -9999px;
    background    : url(images/remove.png) #AAAAAA;
    border-radius : 100px;
    border        : 1px solid;
}

.social li a, a {
    padding            : 0;
    margin             : 0;
    text-decoration    : none;
    -webkit-transition : background-color .2s linear, color .2s linear;
    -moz-transition    : background-color .2s linear, color .2s linear;
    -o-transition      : background-color .2s linear, color .2s linear;
    -ms-transition     : background-color .2s linear, color .2s linear;
    transition         : background-color .2s linear, color .2s linear
}

a:focus, a:hover {
    text-decoration : none;
    color           : #F5F5F5;
}

a img {
    vertical-align : bottom
}

h1, h2, h3, h4, h5, h6 {
    font-family    : 'Helvetica Neue', Helvetica, sans-serif;
    font-weight    : 600;
    color          : #FFFFFF;
    margin-bottom  : 15px;
    text-rendering : optimizeLegibility
}

h1 {
    font-size  : 30px;
    margin-top : 0
}

h2 {
    font-size  : 22px;
    margin-top : 0
}

h3 {
    font-size  : 20px;
    margin-top : 0
}

h4 {
    font-size : 18px
}

h5 {
    font-size : 16px
}

h6 {
    font-size : 14px
}

address, blockquote, dd, dl, fieldset, ol, p, pre, table, ul {
    margin-bottom : 20px
}

a img {
    border : none
}

dl, ol, ul {
    margin-left   : 30px;
    margin-bottom : 1.25em;
    font-family   : inherit
}

ol, ol.no-bullet, ul, ul.no-bullet {
    margin-left : 0
}

ol li ol, ol li ul, ul li ol, ul li ul {
    margin-left   : 1.25em;
    margin-bottom : 0
}

dl dt {
    margin-bottom : .3em;
    font-weight   : 700
}

dl dd {
    margin-bottom : .75em
}

.lead {
    font-family : 'Droid Serif', Georgia, "Times New Roman", serif !important;
    font-size   : 15px;
    font-style  : italic;
    font-weight : 300;
    line-height : 1;
    padding     : 15px 0
}

section::after, section::before {
    position : absolute;
    content  : '';
}

.first {
    clear : both
}

.last {
    margin-right : 0
}

audio, video {
    max-width : 100%;
    height    : auto
}

#soundcloud {
    margin-bottom : -5px !important
}

embed, iframe, object {
    max-width : 100%
}

mark {
    margin : 0 2px
}

.darkbg {
    background-color : #151311
}

.whitewrapper {
    padding : 60px 0
}

.darkwrapper {
    background-color : #151311;
    padding          : 60px 0
}

.bordertop {
    border-top : 1px solid #474747
}

.parallax {
    background-attachment : fixed !important;
    background-position   : center center;
    background-repeat     : no-repeat;
    background-size       : cover
}

.nopadding {
    padding : 60px 0 0 !important
}

.paddingtop {
    padding : 60px 0
}

.portfoliopadding {
    padding  : 30px 0 !important;
    overflow : hidden !important
}

.title h1 {
    font-size : 30px
}

.darkwrapper .servicesbox .serviceicon {
    border-color : #FFFFFF
}

.panel-title a.accordion-toggle {
    width    : 100%;
    display  : block;
    position : relative
}

.darkwrapper h1, .darkwrapper h2, .darkwrapper h3, .footer1 h1, .footer1 h2, .footer1 h3, .footer1 i, .overlay .servicesbox .title h3, .overlay h1, .overlay h3, .pager li > a, .pager li > span, .service-icon .serviceicon:hover i, .testimonial_details:hover, .testimonial_details:hover a, .testimonial_details:hover i, .testimonial_details:hover span, mark {
    color : #FFFFFF
}

.darkwrapper .servicesbox .title h3 {
    line-height : 20px
}

.whitewrapper .center-title h1 {
    color : #FFFFFF
}

.center-title h1 {
    font-size       : 36px;
    line-height     : 36px;
    font-weight     : 400;
    font-family     : Pacifico, cursive;
    color           : #FFFFFF;
    text-decoration : none;
    padding         : 10px;
    border          : none
}

.title1 hr {
    border-top : 1px solid #D4D4D4;
    position   : relative;
    margin     : 0;
    max-width  : 280px
}

.title1 hr:after {
    position   : absolute;
    left       : 0;
    right      : 80%;
    top        : -1px;
    border-top : 1px solid #F2F2F2;
    content    : ''
}

.bigtitle {
    padding  : 20px 0;
    overflow : hidden
}

.bigtitle h1 {
    font-family    : NovecentowideBookBold, 'Helvetica Neue', Helvetica, sans-serif;
    font-size      : 51px;
    font-weight    : 400;
    border-bottom  : 1px solid #D4D4D4;
    padding-bottom : 30px;
    position       : relative
}

.bigtitle p {
    color       : #FFFFFF;
    font-size   : 21px;
    font-weight : 300;
    overflow    : hidden;
    padding     : 0 0 0 50px;
    position    : relative;
    line-height : 1.6
}

.bigtitle h1 {
    float        : left;
    margin-right : 3%;
    width        : 35%
}

.bigtitle h1:after {
    border-bottom : 1px solid #F0454D;
    bottom        : -1px;
    content       : "";
    height        : 0;
    left          : 0;
    position      : absolute;
    width         : 25%
}

.title hr {
    border-top : 1px solid #D4D4D4;
    position   : relative;
    max-width  : 235px;
    margin     : 0 auto
}

.title hr:after {
    position   : absolute;
    left       : 30%;
    right      : 30%;
    top        : -1px;
    border-top : 1px solid #F2F2F2;
    content    : ''
}

.whitewrapper .title hr {
    border-color : #D4D4D4
}

.image-wrap {
    padding : 20px 0
}

.firstcol, .secondcol {
    padding  : 20px 0;
    overflow : hidden;
    position : relative;
    display  : block
}

.topbar {
    border-bottom : 1px solid #2F2F2F;
    background    : #292929;
    min-height    : 40px;
    font-size     : 12px;
    padding       : 0
}

.topbar ul {
    margin-bottom : 0 !important
}

.callus {
    float : right
}

.social {
    float : left
}

.callus, .social {
    line-height : 40px
}

.callus p {
    margin  : 0;
    padding : 0
}

.social li {
    float       : left;
    width       : 40px;
    height      : 40px;
    line-height : 40px;
    text-align  : center;
    list-style  : none;
    border-left : 1px solid #2F2F2F;
    display     : inline-block;
    margin      : 0;
    position    : relative;
    padding     : 0
}

.callus li:last-child, .social li:last-child {
    border-right : 1px solid #2F2F2F
}

.social li a {
    font-size : 14px
}

.callus li {
    border-left : 1px solid #2F2F2F;
    float       : left;
    padding     : 0 10px;
    height      : 40px;
    line-height : 40px;
    text-align  : center;
    list-style  : none;
    display     : inline-block;
    margin      : 0;
    position    : relative
}

.header {
    background    : #323232;
    position      : relative;
    display       : block;
    min-height    : 108px;
    border-bottom : 1px solid #2F2F2F
}

.logo {
    float       : left;
    line-height : 75px;
    margin      : 0;
    padding     : 0;
    text-shadow : none
}

.searchicon {
    color : #237DAC;
    float : right
}

#dmsearch {
    float    : right !important;
    height   : 27px;
    right    : 0;
    position : absolute;
    margin   : 8px 0 0;
    padding  : 0
}

.searchicon:before {
    content        : "\f002";
    border-left    : 1px solid rgba(50, 50, 50, .2);
    background     : #323232;
    background     : none repeat scroll 0 0 rgba(50, 50, 50, .3);
    display        : block;
    font-family    : FontAwesome;
    font-size      : 13px;
    font-style     : normal;
    font-variant   : normal;
    font-weight    : 400;
    height         : 27px;
    line-height    : 27px;
    text-transform : none;
    width          : 27px
}

.dmsearch {
    width   : 27px;
    z-index : 10
}

.dm-search-container {
    position           : absolute;
    right              : 0;
    height             : 27px;
    width              : 0;
    overflow           : hidden;
    -webkit-transition : width 200ms;
    -moz-transition    : width 200ms;
    transition         : width 200ms
}

.dmsearch.dmsearch-open .dm-search-container {
    width : 210px
}

.searchicon, button[type=submit].dmsearch-submit {
    width       : 27px;
    height      : 27px;
    display     : block;
    position    : absolute;
    right       : 20px;
    top         : 6px;
    line-height : 27px;
    text-align  : center;
    cursor      : pointer;
    background  : none;
    border      : none;
    outline     : none;
}

.searchicon {
    z-index : 90
}

.dmsearch.dmsearch-open .searchicon {
    z-index        : 1;
    pointer-events : none
}

input[type=submit].dmsearch-submit {
    background    : 0 0;
    color         : transparent;
    box-shadow    : none;
    border        : none;
    padding       : 0;
    border-radius : 0;
    outline       : 0;
    z-index       : -1
}

.dmsearch.dmsearch-open input[type=submit].dmsearch-submit {
    z-index : 90
}

input[type=text].dmsearch-input {
    outline    : 0;
    opacity    : 0;
    background : white;
    border     : 1px solid #2F2F2F;
    width      : 210px;
    height     : 27px;
    margin     : 0;
    padding    : 2px 7px
}

.dmsearch.dmsearch-open input[type=text].dmsearch-input {
    opacity : 1
}

::-webkit-input-placeholder {
    color : #AAAAAA
}

:-moz-placeholder {
    color : #AAAAAA
}

::-moz-placeholder {
    color : #AAAAAA
}

:-ms-input-placeholder {
    color : #AAAAAA
}
nav.navbar-inverse {
    background: #323232 none;
    border: none;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
    border-top-color : #454545
}

.portfolio-filter a,
.post_meta a,
.social a,
.topbar p,
.twitter-widget ul li a:hover {
    color : #D3D3D3
}

.footer1 {
    background-color   : #292723;
    padding            : 60px 0 45px;
    border-top         : 3px solid #2F2F2F;
    color              : #D3D3D3;
    -moz-box-shadow    : inset 0 0 5px 5px #2F2F2F;
    -webkit-box-shadow : inset 0 0 5px 5px #2F2F2F;
    box-shadow         : inset 0 0 5px 5px #2F2F2F
}

.footer1 .form-control {
    background-color : #363636;
    border-color     : #222222
}

.footer1 .title h3 {
    font-weight    : 700;
    padding        : 10px 0;
    font-size      : 18px;
    text-transform : uppercase
}

.copyright1 {
    background-color : #292929;
    min-height       : 40px;
    border-bottom    : 1px solid #2F2F2F;
    color            : #FFFFFF;
    font-weight      : 400;
}

.footer-social li {
    -webkit-border-radius : 500px;
    -moz-border-radius    : 500px;
    border-radius         : 500px;
    color                 : #292723;
    border                : 1px solid #888888;
    display               : inline-block;
    font-size             : 15px;
    height                : 40px;
    line-height           : 40px;
    margin                : 30px 5px 5px;
    position              : relative;
    text-align            : center;
    width                 : 40px;
    z-index               : 5
}

.footer-social li:hover a,
.footer-social li:hover i {
    color : #FFFFFF
}

.blog_wrap .title h3 a,
.copyright1 a, .miniboxes strong,
.portfolio-wrap .title1 a,
.post_meta i,
.product_title a {
    color       : #FFFFFF;
    font-weight : 400
}

.footerlogo {
    padding : 10px 0
}

.footer-menu ul {
    list-style : none outside;
    float      : right;
    display    : inline;
    margin     : 5px
}

.footer-menu li {
    line-height : 12px;
    float       : left;
    padding     : 0 7px
}

.tabbable .title {
    margin : 0 0 5px
}

.about_widget img {
    padding-right : 15px
}

.tabbable .about_skills {
    margin : 0
}

.about_skills,

.about_tabbed {
    margin : 40px 0
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background   : #292929;
    border-color : #454545
}

.tab-content {
    background    : #343434;
    border-left   : 1px solid #454545;
    border-bottom : 1px solid #454545;
    border-right  : 1px solid #454545
}

.nav-tabs > li > a {
    border       : 1px solid #454545;
    line-height  : 1.42857;
    margin-right : 0
}

.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
    border-color : #545454
}

.nav-tabs {
    border-bottom : 1px solid #454545
}

.nav-stacked li:last-child {
    border-bottom : 0 solid #EFEFEF !important
}

.nav-stacked > li > a {
    color  : #D3D3D3;
    border : 0 solid #EFEFEF !important
}

.panel-body .title h3 {
    font-size : 16px;
    margin    : 10px 0 20px
}

.panel-body .form-control {
    margin-bottom : 0
}

.form-control {
    background-color : #363636;
    border-color     : #222222;
    color            : white;
}

.panel-default,
.panel-group .panel-heading + .panel-collapse .panel-body {
    border     : 0 solid #FFFFFF !important;
    box-shadow : 0 0 #FFFFFF;
    background : 0 0
}

.panel-default > .panel-heading {
    background-color      : #292929;
    padding               : 16px;
    border                : 1px solid #545454;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px
}

.panel-default > .panel-heading a {
    font-size : 18px;
    color     : #FFFFFF
}

.about_skills .progress {
    height           : 5px !important;
    background-color : #DFE5E9
}

.about_skills h4 {
    font-size   : 14px;
    font-weight : 400
}

.newsletter_widget {
    background : #212121;
    border     : 1px solid #343434;
    padding    : 30px;
    margin-top : 30px
}

.newsletter_widget h2 {
    text-transform : uppercase;
    font-size      : 24px
}

.shopstyle1 img {
    width : 100%
}

.popular_items img {
    width         : 105px;
    padding-right : 10px;
    float         : left;
    margin-top    : 5px
}

.popular_items {
    margin : 20px 0
}

.popular_items .popular_items_div {
    display    : block;
    margin-top : 24px;
    overflow   : hidden;
    position   : relative
}

.popular_items .popular_items_div h4 {
    margin-bottom : 5px !important
}

#contact1 .form-control {
    margin-bottom    : 25px;
    background-color : #212121;
    border           : 1px solid #333333
}

.cart_list li,
.contact-widget ul li {
    list-style     : none;
    padding-bottom : 10px;
    margin-bottom  : 10px
}

.contact-widget .social {
    padding-top : 10px;
    border-top  : 1px solid #3A3A3A !important
}

.contact-widget .social li:last-child {
    border-right : 0 solid #FFFFFF
}

.contact-widget .social li {
    border-left : 0 solid #F2F2F2;
    height      : 35px;
    line-height : 35px;
    width       : 35px
}

.contact-widget i {
    font-size     : 15px;
    padding-right : 5px
}

.tagcloud a {
    float           : left;
    display         : block;
    margin-bottom   : 6px;
    margin-right    : 6px;
    padding         : 5px 10px;
    color           : #D3D3D3 !important;
    text-decoration : none;
    border          : 1px solid #F2F2F2;
    box-shadow      : none !important
}

.tagcloud a:hover {
    background      : #232527;
    border          : 1px solid inherit;
    color           : #FFFFFF !important;
    text-decoration : none
}

.widget {
    padding-bottom : 20px;
    margin-bottom  : 20px
}

.widget .title h3 {
    font-size : 18px
}

.overflow-top-best {
    height        : 75px;
    overflow      : hidden;
    padding-right : 5px;
}

/*#search_mini_form:after {*/
/*color: #d9d9d9;*/
/*font-size: 12px;*/
/*height: 35px;*/
/*line-height: 35px;*/
/*position: absolute;*/
/*width: 35px;*/
/*right: 0;*/
/*top: 0;*/
/*font-family: FontAwesome;*/
/*content: "\f002"*/
/*}*/

#sidebar .tabbable {
    margin-top : 20px
}

.recent_posts li {
    margin-bottom : 20px
}

.recent_posts li:last-child {
    margin-bottom : 0
}

.recent_posts > li img {
    width : 50px
}

.recent_posts img {
    margin : 0 10px 0 0
}

.tabbable .valign h4 {
    color          : #D3D3D3;
    font-size      : 14px !important;
    margin-bottom  : 0 !important;
    padding-bottom : 0 !important
}

.tabbable .valign .recent_post_img {
    width : 50px
}

#sidebar .valign > div {
    display        : table-cell;
    vertical-align : top
}

#sidebar,
.darkbg a,
.darkbg p,
.portfolio-wrap .portfolio_cat a {
    color : #D3D3D3
}

.recent_posts_widget > li {
    display    : table;
    height     : 60px;
    margin-top : 20px;
    width      : 100%
}

.recent_posts_widget > li:last-child {
    border-bottom : 0 solid #FFFFFF
}

.recent_posts li {
    list-style : none
}

.recent_posts_widget a {
    color : #D3D3D3
}

.recent_posts_widget > li img {
    max-width : 50px
}

.recent_posts_widget img {
    float  : left;
    margin : 5px 15px 0 0
}

.flickr-gallery {
    list-style : none;
    margin     : 0;
    padding    : 0;
    overflow   : hidden
}

.footer1 .flickr-gallery li {
    border-color : #333333
}

.flickr-gallery li {
    margin : 2px;
    width  : 61px;
    border : 3px solid #292929;
    float  : left
}

.flickr-gallery li:hover {
    border : 3px solid #292929
}

.client {
    margin : 30px 0 0
}

.testimonial_wrap {
    margin : 40px 0
}

.testimonial_details {
    border             : 1px solid #2F2F2F;
    padding            : 20px 20px 0;
    -webkit-transition : background-color .4s linear, color .4s linear;
    -moz-transition    : background-color .4s linear, color .4s linear;
    -o-transition      : background-color .4s linear, color .4s linear;
    -ms-transition     : background-color .4s linear, color .4s linear;
    transition         : background-color .4s linear, color .4s linear
}

.testimonial_widget .details,
.twitter_widget .details {
    font-size : 18px;
    padding   : 15px 0
}

.testimonial_widget,
.twitter_widget {
    padding : 0 50px
}

.testimonial_widget .lead,
.twitter_widget .lead {
    font-weight : 100;
    font-size   : 24px;
    color       : #FFFFFF;
    font-style  : normal
}

.twitter_widget .lead:before {
    content     : "\f099";
    font-family : FontAwesome;
    font-size   : 23px;
    padding     : 5px 10px
}

.testimonial_widget .lead:after {
    content     : "\f10e";
    font-family : FontAwesome;
    font-size   : 13px;
    padding     : 5px
}

.testimonial_widget .lead:before {
    content     : "\f10d";
    font-family : FontAwesome;
    font-size   : 13px;
    padding     : 5px 10px
}

.twitter_widget .details span {
    font-size       : 18px;
    line-height     : 18px;
    font-weight     : 400;
    color           : #FFFFFF;
    text-decoration : none;
    padding         : 10px;
    border          : none
}

.messagebox1 .lead {
    color      : #FFFFFF;
    font-style : normal;
    padding    : 10px 0 30px
}

.messagebox1 h1,
.testimonial_widget .details span {
    font-size       : 38px;
    line-height     : 1.6;
    font-weight     : 400;
    font-family     : Pacifico, cursive;
    color           : #FFFFFF;
    text-decoration : none;
    padding         : 0;
    border          : none
}

.darkwrapper .testimonial_details {
    border-color : transparent
}

.testimonial_details img {
    margin : 3px 20px 20px 0;
    width  : 80px
}

.skills_boxes,
.teambox {
    margin : 40px 0
}

.teambox img {
    width : 100%
}

.teambox .title h3 {
    padding       : 25px 0 5px;
    margin-bottom : 0 !important
}

.teambox .title .lead {
    margin : 10px 0
}

#slider4container .tparrows,
#slider4container .tparrows:before,
#slider4container .tparrows:hover {
    color : #000000 !important
}

#slider4container .tparrows {
    background : #FFFFFF !important;
    background : rgba(255, 255, 255, .5) !important
}

#slider4container .tparrows:hover {
    background : #FFFFFF !important
}

.boxedcontainer {
    max-width : 1170px;
    margin    : auto;
    padding   : 0 30px
}

.portfolio-wrap img,
.portfolio-wrap-sidebar img,
.tp-banner-container {
    width    : 100%;
    position : relative;
    padding  : 0
}

.tp-banner {
    width    : 100%;
    position : relative
}

.tp-banner-fullscreen-container {
    width    : 100%;
    position : relative;
    padding  : 0
}

.tp-bullets.simplebullets.navbar {
    height  : 35px;
    padding : 0
}

.tp-bullets.simplebullets .bullet {
    cursor                : pointer;
    position              : relative !important;
    background            : rgba(255, 255, 255, .5) !important;
    -webkit-border-radius : 10px;
    border-radius         : 10px;
    -webkit-box-shadow    : none;
    -moz-box-shadow       : none;
    box-shadow            : none;
    width                 : 6px !important;
    height                : 6px !important;
    border                : 5px solid rgba(0, 0, 0, 0);
    display               : inline-block;
    margin-right          : 2px !important;
    margin-bottom         : 14px !important;
    -webkit-transition    : background-color .2s, border-color .2s;
    -moz-transition       : background-color .2s, border-color .2s;
    -o-transition         : background-color .2s, border-color .2s;
    -ms-transition        : background-color .2s, border-color .2s;
    transition            : background-color .2s, border-color .2s;
    float                 : none !important
}

.tp-bullets.simplebullets .bullet.last {
    margin-right : 0
}

.tp-bullets.simplebullets .bullet.selected, .tp-bullets.simplebullets .bullet:hover {
    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
    box-shadow         : none;
    background         : rgba(255, 255, 255, 1) !important;
    width              : 6px !important;
    height             : 6px !important;
    border             : 5px solid #FFFFFF
}

.tparrows:before {
    font-family     : revicons;
    color           : #FFFFFF;
    font-style      : normal;
    font-weight     : 400;
    display         : inline-block;
    text-decoration : inherit;
    margin-right    : 0;
    margin-top      : 8px;
    text-align      : center;
    width           : 50px;
    font-size       : 20px
}

.tparrows {
    cursor                : pointer;
    background            : rgba(0, 0, 0, .3) !important;
    -webkit-border-radius : 2px;
    border-radius         : 2px;
    width                 : 50px !important;
    height                : 50px !important
}

.tparrows:hover {
    color : #FFFFFF
}

.tp-leftarrow:before {
    content : '\e824'
}

.tp-rightarrow:before {
    content : '\e825'
}

.tparrows.tp-rightarrow:before {
    margin-left : 1px
}

.tparrows:hover {
    background : rgba(0, 0, 0, 1) !important
}

.owl-carousel .owl-wrapper:after {
    content     : ".";
    display     : block;
    clear       : both;
    visibility  : hidden;
    line-height : 0;
    height      : 0
}

.owl-carousel {
    display  : none;
    position : relative;
    width    : 100%;
}

.owl-carousel .owl-wrapper {
    display  : none;
    position : relative
}

.owl-carousel .owl-wrapper-outer {
    overflow : hidden;
    position : relative;
    width    : 100%
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition : height 500ms ease-in-out;
    -moz-transition    : height 500ms ease-in-out;
    -ms-transition     : height 500ms ease-in-out;
    -o-transition      : height 500ms ease-in-out;
    transition         : height 500ms ease-in-out
}

.owl-carousel .owl-item {
    float        : left;
    margin-top   : 10px;
    margin-right : 10px;
}

.owl-controls .owl-buttons div,
.owl-controls .owl-page {
    cursor : pointer
}

.owl-controls {
    -webkit-user-select         : none;
    -moz-user-select            : none;
    -ms-user-select             : none;
    user-select                 : none;
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0)
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility    : hidden;
    -ms-backface-visibility     : hidden;
    -webkit-transform           : translate3d(0, 0, 0);
    -moz-transform              : translate3d(0, 0, 0);
    -ms-transform               : translate3d(0, 0, 0)
}

.owl-theme .owl-controls {
    margin-top : 10px;
    text-align : center
}

.owl-theme .owl-controls .owl-buttons div {
    color                 : #FFFFFF;
    display               : inline-block;
    zoom                  : 1;
    *display              : inline;
    margin                : 5px;
    padding               : 3px 10px;
    font-size             : 12px;
    -webkit-border-radius : 30px;
    -moz-border-radius    : 30px;
    border-radius         : 30px;
    background            : #869791;
    filter                : Alpha(Opacity=50);
    opacity               : .5
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter          : Alpha(Opacity=100);
    opacity         : 1;
    text-decoration : none
}

.owl-theme .owl-controls .owl-page {
    display  : inline-block;
    zoom     : 1;
    *display : inline
}

.owl-theme .owl-controls .owl-page span {
    border        : 1px solid #212121;
    border-radius : 0;
    display       : block;
    height        : 4px;
    margin        : 5px 6px;
    width         : 25px;
    background    : #474747
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height                : auto;
    width                 : auto;
    color                 : #FFFFFF;
    padding               : 2px 10px;
    font-size             : 12px;
    -webkit-border-radius : 30px;
    -moz-border-radius    : 30px;
    border-radius         : 30px
}

.grid {
    margin-bottom : 30px;
    overflow      : hidden
}

.grid figure {
    margin   : 0;
    position : relative
}

.grid figure img {
    max-width : 100%;
    display   : block;
    position  : relative
}

.grid figcaption {
    position   : absolute;
    top        : 0;
    left       : 0;
    background : #EC644B;
    color      : #EAEAEA
}

.grid figcaption h3 {
    text-align : left;
    padding    : 0;
    margin     : 0;
    font-size  : 14px;
    color      : #FFFFFF
}

.grid figcaption h3 i {
    margin-right : 10px
}

.grid figcaption a {
    text-align  : center;
    display     : inline-block;
    cursor      : pointer;
    font-size   : 13px;
    color       : #FFFFFF !important;
    line-height : 50px
}

.grid figcaption a:hover {
    opacity         : 1;
    text-decoration : none
}

.cs-style-3 figure {
    overflow : hidden
}

.cs-style-3 figure img {
    -webkit-transition : -webkit-transform .4s;
    -moz-transition    : -moz-transform .4s;
    transition         : transform .4s
}

.cs-style-3 figure.cs-hover img,
.no-touch .cs-style-3 figure:hover img {
    -webkit-transform : translateY(-50px);
    -moz-transform    : translateY(-50px);
    -ms-transform     : translateY(-50px);
    transform         : translateY(-50px)
}

.cs-style-3 figcaption {
    height             : 50px;
    width              : 100%;
    top                : auto;
    bottom             : 0;
    opacity            : 0;
    -webkit-transform  : translateY(100%);
    -moz-transform     : translateY(100%);
    -ms-transform      : translateY(100%);
    transform          : translateY(100%);
    -webkit-transition : -webkit-transform .4s, opacity .1s .3s;
    -moz-transition    : -moz-transform .4s, opacity .1s .3s;
    transition         : transform .4s, opacity .1s .3s
}

.cs-style-3 figure.cs-hover figcaption,
.no-touch .cs-style-3 figure:hover figcaption {
    opacity            : 1;
    -webkit-transform  : translateY(0px);
    -moz-transform     : translateY(0px);
    -ms-transform      : translateY(0px);
    transform          : translateY(0px);
    -webkit-transition : -webkit-transform .4s, opacity .1s;
    -moz-transition    : -moz-transform .4s, opacity .1s;
    transition         : transform .4s, opacity .1s
}

.cs-style-3 figcaption a.external {
    bottom     : 0;
    color      : #FFFFFF;
    display    : block;
    height     : 50px;
    position   : absolute;
    left       : 0;
    text-align : center;
    width      : 25%;
}

.cs-style-3 figcaption a.zoom {
    bottom      : 0;
    color       : #FFFFFF;
    display     : block;
    height      : 50px;
    position    : absolute;
    left        : 25%;
    border-left : 1px solid rgba(255, 255, 255, .5);
    text-align  : center;
    width       : 25%;
}

.cs-style-3 figcaption a.addtocart {
    bottom      : 0;
    color       : #FFFFFF;
    display     : block;
    height      : 50px;
    position    : absolute;
    right       : 0;
    border-left : 1px solid rgba(255, 255, 255, .5);
    text-align  : center;
    width       : 50%;
}

.cs-style-3 i {
    font-size : 14px
}

.cs-style-3 figcaption a.addtocart:hover,
.cs-style-3 figcaption a.external:hover,
.cs-style-3 figcaption a.zoom:hover {
    background : #292723
}

.onsale {
    bottom                : auto;
    color                 : #FFFFFF;
    height                : 50px;
    left                  : 20px;
    margin                : 0;
    padding               : 0;
    position              : absolute;
    right                 : auto;
    top                   : 20px;
    width                 : 50px;
    z-index               : 1;
    -webkit-border-radius : 500px;
    -moz-border-radius    : 500px;
    border-radius         : 500px;
    line-height           : 50px;
    text-align            : center
}

.price-detail {
    padding-bottom : 5px
}

.product_title h3 {
    font-size     : 18px;
    padding       : 15px 0 0;
    margin-bottom : 8px
}

#calculate input {
    margin-top : 10px
}

.product-content .price1 {
    overflow      : auto;
    padding       : 5px;
    margin-bottom : 0;
    font-size     : 28px;
    font-weight   : 400
}

.product-content .price1-old {
    font-size       : 17px;
    text-decoration : line-through
}

.product-content .price1-new {
    font-weight : 600;
    font-size   : 25px
}

.product-content .price1-tax {
    font-size   : 12px;
    font-weight : 400
}

.product-content .price1 .reward {
    font-size   : 12px;
    margin      : 10px 0;
    font-weight : 400;
    display     : block
}

.product-content .price1 .discount {
    font-weight : 400;
    font-size   : 12px
}

.product-content select {
    width : 100%
}

.product-content .general {
    padding-top : 15px
}

.form-verif {
    background     : #FFFFFF;
    border         : 1px solid #E9E9E9;
    border-radius  : 0;
    box-shadow     : 0 1px 1px rgba(0, 0, 0, .075) inset;
    color          : #555555;
    display        : block;
    font-size      : 14px;
    height         : 30px;
    line-height    : 1.42857;
    margin         : -4px;
    padding        : 6px 12px;
    transition     : border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
    vertical-align : middle;
    width          : 35px
}

div.thumbnails {
    padding-top : 10px;
    zoom        : 1
}

div.thumbnails a {
    float        : left;
    width        : 30%;
    margin-right : 4.9%
}

div.thumbnails a img {
    width  : 100%;
    height : auto
}

div.thumbnails a.last {
    margin-right : 0
}

div.thumbnails a.first {
    clear : both
}

#centered_grid {
    padding : 0;
    margin  : 0 auto !important
}

.portfolio {
    text-align : inherit;
    overflow   : visible !important;
    margin     : auto !important;
    margin-top : 0 !important
}

.portfolio-columns,
.portfolio_classic {
    overflow : hidden;
    padding  : 0 0 30px;
    width    : 100%
}

#also_products,
#xsell_products {
    overflow : hidden;
    padding  : 20px 0;
    margin   : 0;
    width    : 100%
}

#also_products .item,
#xsell_products .item {
    padding : 10px !important
}

.portfolio-wrap {
    overflow : hidden;
    padding  : 0;
    margin   : 0;
    width    : 100%
}

.portfolio-wrap.portfoliopadding {
    border-bottom : 1px double #EFEFEF;
    border-top    : 1px double #EFEFEF;
    margin        : 5px 0
}

.portfolio-wrap.portfoliopadding:last-child {
    border-bottom : 0 solid #FFFFFF !important
}

.portfolio-wrap.portfoliopadding:first-child {
    border-top : 0 solid #FFFFFF !important
}

.portfolio-wrap .title1 {
    margin-top : 20px;
    display    : block
}

.portfolio-wrap .portfolio_cat {
    display : block;
    margin  : 13px 0 0
}

.portfolio_desc .title1 h3 {
    font-size : 18px !important
}

.portfolio_desc.mini .title1 h3 {
    font-size : 15px !important
}

.paddingtop .item {
    border : 0 solid #FFFFFF !important
}

.portfolio_wrapper .item {
    background : #FFFFFF
}

.portfolio_wrapper .item img {
    width : 100%
}

.portfolio-filter ul {
    list-style   : none;
    padding-left : 10px
}

.portfolio-filter {
    text-align : center;
    margin     : 15px 0;
    padding    : 20px 0
}

.portfolio-filter li {
    display      : inline;
    margin-right : 15px;
    padding      : 0
}

.portfolio-filter li a {
    font-size : 14px
}

.portfolio-filter li a.orange:before {
    background-color : #FF6C13 !important
}

.portfolio-filter li a.purple:before {
    background-color : #574DE5 !important
}

.portfolio-filter li a.yellow:before {
    background-color : #E2E41F !important
}

.portfolio-filter li a.blue:before {
    background-color : #21C2F8 !important
}

.portfolio-filter li a:before {
    background            : #111111;
    -webkit-border-radius : 10px;
    -moz-border-radius    : 10px;
    border-radius         : 10px;
    content               : "";
    display               : inline-block;
    height                : 10px;
    margin-right          : 5px;
    position              : relative;
    width                 : 10px
}

.portfolio_image {
    position : relative;
    overflow : hidden;
    width    : 100%
}

.hovereffect {
    position : relative;
    cursor   : pointer;
    padding  : 0;
    width    : auto;
    height   : auto
}

.portfolio_cat i {
    padding-right : 5px
}

.masonry_wrapper .item {
    float            : left;
    width            : 20%;
    height           : 157px;
    margin           : 0 2px 4px;
    padding          : 4px;
    background-color : #292929 !important
}

.masonry_wrapper .item img {
    height   : auto;
    width    : 100%;
    position : relative;
    z-index  : -2
}

.masonry_wrapper .item-w2 {
    width      : 40%;
    background : #FFFFFF
}

.masonry_wrapper .item-h2 {
    height     : 322px;
    background : #FFFFFF
}

.masonry_wrapper .item-h3 {
    height     : 485px;
    background : #FFFFFF
}

.isotope-item {
    z-index : 2
}

.isotope-hidden.isotope-item {
    pointer-events : none;
    z-index        : 1
}

.isotope, .isotope .isotope-item {
    -webkit-transition-duration : .8s;
    -moz-transition-duration    : .8s;
    -ms-transition-duration     : .8s;
    -o-transition-duration      : .8s;
    transition-duration         : .8s
}

.isotope {
    -webkit-transition-property : height, width;
    -moz-transition-property    : height, width;
    -ms-transition-property     : height, width;
    -o-transition-property      : height, width;
    transition-property         : height, width
}

.isotope .isotope-item {
    -webkit-transition-property : -webkit-transform, opacity;
    -moz-transition-property    : -moz-transform, opacity;
    -ms-transition-property     : -ms-transform, opacity;
    -o-transition-property      : -o-transform, opacity;
    transition-property         : transform, opacity
}

.isotope .isotope-item.no-transition,
.isotope.no-transition,
.isotope.no-transition .isotope-item {
    -webkit-transition-duration : 0s;
    -moz-transition-duration    : 0s;
    -ms-transition-duration     : 0s;
    -o-transition-duration      : 0s;
    transition-duration         : 0s
}

.blog_button {
    -moz-user-select : none;
    background       : #292723;
    border           : 1px solid #EFEFEF;
    color            : #FFFFFF !important;
    cursor           : pointer;
    display          : inline-block;
    font-size        : 13px;
    font-weight      : 400;
    line-height      : 1.42857;
    margin-bottom    : 30px;
    padding          : 10px 23px;
    text-align       : center;
    vertical-align   : middle;
    white-space      : nowrap
}

.blog-columns {
    background    : #292929;
    border        : 1px solid #545454;
    margin-bottom : 30px
}

.blog-columns img {
    width : 100%
}

.blog-content {
    padding : 20px
}

.blog-columns .title h3 {
    border-bottom  : 1px solid #545454;
    font-size      : 16px;
    padding-bottom : 15px
}

.blog-columns .title h3 a {
    color       : #FFFFFF;
    font-weight : 400
}

.blog-columns .post_meta span,
.blog-columns .post_meta span i {
    padding-right : 5px
}

.blog-columns .post_meta {
    padding : 0 0 15px
}

.quote-post {
    background : #F2F2F2;
    position   : relative;
    padding    : 20px 10px
}

.quote-post:after {
    font-family   : FontAwesome;
    content       : "\f10e";
    padding-right : 20px;
    right         : 0;
    position      : absolute;
    top           : 50px;
    color         : #000000;
    font-size     : 600%;
    opacity       : .2;
    -moz-opacity  : .2;
    filter        : alpha(opacity=20)
}

.quote-post blockquote {
    border-left : 0 solid #FFFFFF
}

.postwrapper {
    background-color : #292929;
    padding          : 60px 0;
    border-top       : 1px solid #2F2F2F
}

.post-wrapper-top {
    background    : url(images/topbg.png) repeat rgba(0, 0, 0, .5);
    bottom        : 0;
    left          : 0;
    right         : 0;
    top           : 0;
    z-index       : 0;
    border-bottom : 3px solid #2F2F2F;
    margin-bottom : 0;
    padding       : 0;
    position      : relative;
    text-align    : left
}

.breadcrumb > li + li:before {
    font-size : 13px
}

.post-wrapper-top h2 {
    border-bottom : 3px solid #FFFFFF;
    display       : inline-block;
    font-size     : 24px;
    padding       : 40px 0;
    color         : #FFFFFF;
    position      : relative;
    margin-bottom : -3px
}

.breadcrumb {
    background-color : rgba(0, 0, 0, 0);
    border-left      : 0 solid #63B76C;
    border-radius    : 0;
    font-size        : 14px;
    color            : #FFFFFF;
    font-weight      : 400;
    list-style       : none outside none;
    padding          : 40px 0 0
}

.breadcrumb > li + li:before {
    content         : "\f138";
    font-family     : FontAwesome;
    font-style      : normal;
    font-weight     : normal;
    text-decoration : inherit;
    margin          : 0 5px;
    padding         : 0 10px
}

.authorbox_wrapper {
    padding       : 20px;
    border-bottom : 1px solid #545454;
    margin-bottom : 50px
}

.authorbox_wrapper img {
    margin : 0 20px 20px 0;
    width  : 100px !important
}

.authorbox_wrapper h4 {
    margin-bottom  : 0;
    padding-bottom : 0
}

.authorbox_wrapper p {
    padding-top : 5px;
    margin-top  : 5px
}

#comments_wrapper {
    margin : 60px 0
}

.reviews .comment-list {
    margin : 20px 0 40px
}

.comment-list {
    margin     : 60px 0;
    list-style : none
}

.comment-list ol li, .comment-list ul li {
    list-style : none
}

.comment-avatar {
    margin : 0 20px 0 0;
    float  : left;
    height : 70px;
    width  : 70px
}

.comment-content {
    background    : #292929;
    border        : 1px solid #545454;
    margin-bottom : 20px;
    overflow      : hidden;
    padding       : 20px
}

.comment-author {
    margin-bottom : 10px
}

.comment-meta {
    font-size    : 12px;
    color        : #AAAAAA;
    padding-left : 10px
}

.comment-reply {
    margin    : -10px -5px 0 0;
    float     : right;
    font-size : 12px;
    color     : #FFFFFF
}

.leave-comment textarea {
    height : 150px
}

.pagination > li > a,
.pagination > li > span {
    background-color : #272727;
    color            : #FFFFFF;
    float            : left;
    line-height      : 1.82857;
    margin-left      : 5px;
    padding          : 6px 15px;
    position         : relative;
    text-decoration  : none
}

.blog_wrap {
    margin : 50px 0 0
}

.single_wrap .title {
    margin : 30px 0 10px !important
}

.postwrapper .blog_wrap {
    margin : 0 0 30px
}

.blog_wrap img {
    width : 100%
}

.blog_wrap .title {
    margin-bottom : 30px
}

.blog_wrap .post_desc {
    padding : 20px 0
}

.blog_wrap .title h3 {
    border-bottom  : 1px solid #545454;
    display        : flex;
    font-size      : 18px;
    padding-bottom : 15px
}

.blog_wrap .post_meta i {
    padding-right : 4px
}

.blog_wrap .post_meta span {
    padding-right : 10px
}

.custom-box {
    border             : 1px solid #A9A9A9;
    text-align         : center;
    padding            : 50px 20px 10px;
    margin             : 60px 0 30px;
    -webkit-transition : border-color .4s linear, color .4s linear;
    -moz-transition    : border-color .4s linear, color .4s linear;
    -o-transition      : border-color .4s linear, color .4s linear;
    -ms-transition     : border-color .4s linear, color .4s linear;
    transition         : border-color .4s linear, color .4s linear
}

.custom-box:hover .diamondicon i,
.custom-box:hover .serviceicon i,
.service-box .serviceicon:hover i,
.service-square-icon i,
.serviceicon:hover i {
    color : #FFFFFF !important
}

.service-square-icon i {
    font-size : 18px
}

.service-square {
    margin : 40px 0 20px
}

.service-square-icon {
    width                 : 65px;
    height                : 65px;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
    line-height           : 65px;
    background            : #FFFFFF;
    text-align            : center;
    margin                : 3px 15px 15px 0
}

.custom-box .icn-main-container {
    top      : 25px;
    position : absolute;
    left     : 0;
    right    : 0
}

.service-square .title h3 {
    font-size     : 18px !important;
    margin-bottom : 7px
}

.service-box .title h3,
.service-icon .title h3 {
    font-size   : 18px !important;
    font-weight : 400
}

.service-box .title {
    padding-top : 20px
}

.service-box .serviceicon {
    -webkit-border-radius : 500px;
    -moz-border-radius    : 500px;
    border-radius         : 500px;
    color                 : #292723;
    background            : #343434;
    border                : 1px solid #545454;
    height                : 85px;
    margin                : 0 auto;
    line-height           : 95px;
    position              : relative;
    text-align            : center;
    width                 : 85px;
    z-index               : 5
}

.custom-box .serviceicon {
    -webkit-border-radius : 500px;
    -moz-border-radius    : 500px;
    border-radius         : 500px;
    color                 : #292723;
    background            : #343434;
    border                : 1px solid #545454;
    font-size             : 21px;
    height                : 65px;
    margin                : 0 auto;
    line-height           : 65px;
    position              : relative;
    text-align            : center;
    width                 : 65px;
    z-index               : 5
}

.diamondicon {
    width                    : 60px;
    height                   : 60px;
    background               : #343434;
    border                   : 1px solid #545454;
    line-height              : 60px;
    margin                   : 17px 35% 0 auto;
    -webkit-transform        : rotate(-45deg);
    -moz-transform           : rotate(-45deg);
    -ms-transform            : rotate(-45deg);
    -o-transform             : rotate(-45deg);
    transform                : rotate(-45deg);
    -webkit-transform-origin : 0 100%;
    -moz-transform-origin    : 0 100%;
    -ms-transform-origin     : 0 100%;
    -o-transform-origin      : 0 100%;
    transform-origin         : 0 100%
}

.diamondicon .diamondicon-icon {
    color     : #292723;
    font-size : 21px
}

.custom-box .serviceicon.smallradius,
.serviceicon.smallradius {
    -webkit-border-radius : 5px !important;
    -moz-border-radius    : 5px !important;
    border-radius         : 5px !important
}

.servicesbox .title h3 {
    font-size   : 18px;
    line-height : 50px
}

.servicesbox p {
    display : block
}

.servicesbox .title i {
    font-size : 18px !important
}

.blog_wrap .post_date,
.servicesbox .serviceicon {
    -webkit-border-radius : 500px;
    -moz-border-radius    : 500px;
    border-radius         : 500px;
    color                 : #FFFFFF;
    border                : 1px solid #DBE6ED;
    float                 : left;
    font-size             : 15px;
    height                : 54px;
    line-height           : 54px;
    margin-right          : 10px;
    position              : relative;
    text-align            : center;
    width                 : 54px;
    z-index               : 5
}

#services .item {
    margin  : 0;
    padding : 10px;
    display : block;
    width   : 100%;
    height  : auto
}

.serviceslist {
    list-style-type : none;
    margin          : 60px 0;
    padding         : 0;
    position        : relative;
    overflow        : hidden
}

.serviceslist .service-icon .serviceicon {
    -webkit-border-radius : 500px;
    -moz-border-radius    : 500px;
    border-radius         : 500px;
    color                 : #FFFFFF;
    background            : #323232;
    border                : 1px solid #545454;
    font-size             : 15px;
    height                : 65px;
    line-height           : 65px;
    margin-right          : 10px;
    position              : relative;
    text-align            : center;
    width                 : 65px;
    z-index               : 5
}

.serviceslist .servicelistbox .serviceicon {
    margin : 4px 20px 0
}

.serviceslist .col-lg-6,
.serviceslist .col-md-6,
.serviceslist .col-sm-6,
.serviceslist .col-xs-6 {
    padding : 0 !important
}

.servicelistbox {
    color      : #959595;
    margin-top : 40px
}

.servicelistbox .service-icon .title h3 {
    font-size : 18px !important
}

.service-icon .title h3 {
    font-size : 15px !important
}

.miniboxes .title {
    padding : 10px 0
}

.miniicon {
    background  : #FFFFFF;
    height      : 50px;
    line-height : 55px;
    margin      : 35px auto;
    color       : #FFFFFF;
    position    : relative;
    width       : 90px
}

.miniicon:before {
    border-bottom : 25px solid red;
    border-left   : 45px solid rgba(0, 0, 0, 0);
    border-right  : 45px solid rgba(0, 0, 0, 0);
    content       : "";
    height        : 0;
    left          : 0;
    position      : absolute;
    top           : -25px;
    width         : 0
}

.miniicon:after {
    border-left  : 45px solid rgba(0, 0, 0, 0);
    border-right : 45px solid rgba(0, 0, 0, 0);
    border-top   : 25px solid red;
    bottom       : -25px;
    content      : "";
    height       : 0;
    left         : 0;
    position     : absolute;
    width        : 0
}

[class*=".effect-"] {
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility    : hidden;
    backface-visibility         : hidden;
    -webkit-perspective         : 1000px;
    -moz-perspective            : 1000px;
    perspective                 : 1000px
}

.effect-fade {
    opacity : 0
}

.effect-fade.in {
    opacity : 1
}

.effect-slide-left {
    -webkit-transform : translate3d(-30%, 0, 0);
    transform         : translate3d(-30%, 0, 0);
    opacity           : 0
}

.effect-slide-left.in {
    -webkit-transform : translate3d(0, 0, 0);
    transform         : translate3d(0, 0, 0);
    opacity           : 1
}

.effect-slide-right {
    -webkit-transform : translate3d(30%, 0, 0);
    transform         : translate3d(30%, 0, 0);
    opacity           : 0
}

.effect-slide-right.in {
    -webkit-transform : translate3d(0, 0, 0);
    transform         : translate3d(0, 0, 0);
    opacity           : 1
}

.effect-slide-top {
    -webkit-transform : translate3d(0, -30%, 0);
    transform         : translate3d(0, -30%, 0);
    opacity           : 0
}

.effect-slide-top.in {
    -webkit-transform : translate3d(0, 0, 0);
    transform         : translate3d(0, 0, 0);
    opacity           : 1
}

.effect-slide-bottom {
    -webkit-transform : translate3d(0, 30%, 0);
    transform         : translate3d(0, 30%, 0);
    opacity           : 0
}

.effect-slide-bottom.in {
    -webkit-transform : translate3d(0, 0, 0);
    transform         : translate3d(0, 0, 0);
    opacity           : 1
}

.effect-pop {
    opacity : 0
}

.effect-pop.in {
    -webkit-animation : pop .6s ease-out .5s both;
    -moz-animation    : pop .6s ease-out .5s both;
    -o-animation      : pop .6s ease-out .5s both;
    animation         : pop .6s ease-out .5s both
}

@-webkit-keyframes pop {
    0% {
        -webkit-transform : scale(1);
        -ms-transform     : scale(1);
        transform         : scale(1)
    }
    50% {
        -webkit-transform : scale(1.2);
        -ms-transform     : scale(1.2);
        transform         : scale(1.2);
        opacity           : 1
    }
    100% {
        opacity           : 1;
        -webkit-transform : scale(1);
        -ms-transform     : scale(1);
        transform         : scale(1)
    }
}

@-moz-keyframes pop {
    0% {
        -webkit-transform : scale(1);
        -ms-transform     : scale(1);
        transform         : scale(1)
    }
    50% {
        -webkit-transform : scale(1.2);
        -ms-transform     : scale(1.2);
        transform         : scale(1.2);
        opacity           : 1
    }
    100% {
        opacity           : 1;
        -webkit-transform : scale(1);
        -ms-transform     : scale(1);
        transform         : scale(1)
    }
}

@-o-keyframes pop {
    0% {
        -webkit-transform : scale(1);
        -ms-transform     : scale(1);
        transform         : scale(1)
    }
    50% {
        -webkit-transform : scale(1.2);
        -ms-transform     : scale(1.2);
        transform         : scale(1.2);
        opacity           : 1
    }
    100% {
        opacity           : 1;
        -webkit-transform : scale(1);
        -ms-transform     : scale(1);
        transform         : scale(1)
    }
}

@keyframes pop {
    0% {
        -webkit-transform : scale(1);
        -ms-transform     : scale(1);
        transform         : scale(1)
    }
    50% {
        -webkit-transform : scale(1.2);
        -ms-transform     : scale(1.2);
        transform         : scale(1.2);
        opacity           : 1
    }
    100% {
        opacity           : 1;
        -webkit-transform : scale(1);
        -ms-transform     : scale(1);
        transform         : scale(1)
    }
}

.effect-fall {
    opacity           : 0;
    -webkit-transform : scale(1.5);
    -ms-transform     : scale(1.5);
    transform         : scale(1.5)
}

.effect-fall.in {
    -webkit-transform : scale(1);
    -ms-transform     : scale(1);
    transform         : scale(1);
    opacity           : 1
}

.effect-perspective {
    -webkit-perspective : 1300px;
    -moz-perspective    : 1300px;
    perspective         : 1300px
}

.effect-helix {
    -webkit-transform-style : preserve-3d;
    -moz-transform-style    : preserve-3d;
    transform-style         : preserve-3d;
    opacity                 : 0;
    -webkit-transform       : rotateY(-180deg);
    -ms-transform           : rotateY(-180deg);
    transform               : rotateY(-180deg)
}

.effect-helix.in {
    opacity           : 1;
    -webkit-transform : rotateY(0deg);
    -ms-transform     : rotateY(0deg);
    transform         : rotateY(0deg)
}

.hovicon {
    display               : inline-block;
    line-height           : 75px;
    cursor                : pointer;
    margin                : 15px 0;
    width                 : 75px;
    height                : 75px;
    -webkit-border-radius : 50%;
    -moz-border-radius    : 50%;
    border-radius         : 50%;
    text-align            : center;
    position              : relative;
    text-decoration       : none;
    z-index               : 1;
    color                 : #FFFFFF
}

.hovicon:after {
    pointer-events        : none;
    position              : absolute;
    width                 : 100%;
    height                : 100%;
    -webkit-border-radius : 50%;
    -moz-border-radius    : 50%;
    border-radius         : 50%;
    content               : '';
    -webkit-box-sizing    : content-box;
    -moz-box-sizing       : content-box;
    box-sizing            : content-box
}

.hovicon:before {
    line-height            : 80px;
    font-style             : normal;
    font-weight            : 400;
    font-variant           : normal;
    text-transform         : none;
    display                : block;
    -webkit-font-smoothing : antialiased
}

.hovicon.effect-1 {
    -webkit-transition : background .2s, color .2s;
    -moz-transition    : background .2s, color .2s;
    transition         : background .2s, color .2s
}

.hovicon.effect-1:after {
    top                : -7px;
    left               : -7px;
    padding            : 7px;
    -webkit-transition : -webkit-transform .2s, opacity .2s;
    -webkit-transform  : scale(.8);
    -moz-transition    : -moz-transform .2s, opacity .2s;
    -moz-transform     : scale(.8);
    -ms-transform      : scale(.8);
    transition         : transform .2s, opacity .2s;
    transform          : scale(.8);
    opacity            : 0
}

.hovicon.effect-1.sub-a:hover:after {
    -webkit-transform : scale(1);
    -moz-transform    : scale(1);
    -ms-transform     : scale(1);
    transform         : scale(1);
    opacity           : 1
}

.jt-shadow {
    -webkit-box-shadow : inset 0 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow    : inset 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow         : inset 0 1px 3px rgba(0, 0, 0, .1)
}

.authorbox_wrapper img, .comment img, .flickr-gallery li img, .popular_items div.image_sm, .recent_posts img, .recent_posts_widget img, .shopping-cart-widget img, .testimonial_wrap img, div.thumbnails a img {
    -webkit-transition : opacity .2s ease-in-out;
    -moz-transition    : opacity .2s ease-in-out;
    -ms-transition     : opacity .2s ease-in-out;
    -o-transition      : opacity .2s ease-in-out;
    transition         : opacity .2s ease-in-out
}

.authorbox_wrapper img:hover,
.comment img:hover,
.flickr-gallery li img:hover,
.popular_items img:hover,
.recent_posts img:hover,
.recent_posts_widget img:hover,
.shopping-cart-widget img:hover,
.testimonial_wrap img:hover,
div.thumbnails a img:hover {
    -ms-filter     : "alpha(Opacity=60)";
    filter         : alpha(opacity=60);
    -moz-opacity   : .6;
    -khtml-opacity : .6;
    opacity        : .6
}

.imgWrap {
    position : relative
}

.imgWrap:after {
    content        : "";
    position       : absolute;
    top            : 0;
    bottom         : 0;
    left           : 0;
    right          : 0;
    border         : 10px solid rgba(33, 194, 248, .4);
    pointer-events : none
}

.banner {
    padding       : 0;
    margin-bottom : 20px;
    position      : relative
}

.ContentWrapperHe .ContentHe .Content {
    padding    : 0;
    position   : absolute;
    top        : 10%;
    display    : block;
    margin     : 0 auto;
    text-align : Center;
    right      : 0;
    left       : 0
}

.banner .jtbtn {
    color        : #FFFFFF !important;
    border-color : #FFFFFF !important
}

.hoverimage h3 {
    border-radius   : 0;
    color           : #FFFFFF !important;
    font-size       : 28px !important;
    font-weight     : 100 !important;
    margin          : 25px auto 10px;
    padding         : 5px 10px !important;
    text-align      : center;
    text-decoration : none;
    text-transform  : uppercase;
    font-family     : Raleway !important
}

.shadow {
    display  : block;
    position : relative
}

.shadow img {
    display : block
}

.shadow::before {
    display            : block;
    content            : '';
    position           : absolute;
    width              : 100%;
    height             : 100%;
    -moz-box-shadow    : inset 0 0 3px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow : inset 0 0 3px 1px rgba(0, 0, 0, .2);
    box-shadow         : inset 0 0 3px 1px rgba(0, 0, 0, .2)
}

.f-container {
    overflow : hidden;
    padding  : 20px 0 0
}

.highlight {
    font-size   : 72px;
    font-family : NovecentowideBookBold, cursive;
    font-weight : 700;
    line-height : 1.8
}

.milestone-details {
    font-size   : 21px;
    color       : #FFFFFF;
    padding     : 0 0 20px;
    font-family : 'Nothing You Could Do', cursive;
    font-weight : 400
}

.f-element {
    color         : #FFFFFF;
    margin-bottom : 20px;
    height        : auto;
    text-align    : center
}

.f-element i {
    margin-bottom : 10px;
    font-size     : 36px
}

.darkwrapper .lead {
    color : #FFFFFF
}

.messagebox .lead {
    font-style : normal !important
}

.messagebox h1 {
    font-weight : 300 !important
}

.custommenu li a:before,
.product_details li:before {
    content : "\f105" !important
}

.featureslist li:before {
    content       : "\f140" !important;
    padding-right : 8px !important
}

.custommenu li a:before {
    font-family   : FontAwesome;
    font-size     : 13px;
    padding-right : 5px;
    top           : 2px
}

.check li:before,
.featureslist li:before,
.product_details li:before {
    content       : "\f00c";
    font-family   : FontAwesome;
    font-size     : 16px;
    left          : 0;
    padding-right : 5px;
    position      : relative;
    top           : 2px
}

.featureslist li {
    list-style : none;
    margin     : 0 0 10px
}

.check li,
.product_details li {
    list-style : none;
    margin     : 0 0 5px
}

.product_details {
    margin-top   : 20px;
    margin-left  : 0;
    padding-left : 10px
}

.check {
    margin-left  : 0;
    padding-left : 0
}

.check li a,
.product_details li a {
    color : #656565
}

.error404 h2 {
    font-size      : 160px;
    font-weight    : 900;
    line-height    : 1.3;
    text-align     : center;
    text-transform : uppercase;
    margin-bottom  : 0 !important;
    padding-bottom : 0
}

.error404 h3 {
    margin      : 0 0 30px;
    font-size   : 26px;
    opacity     : .2;
    padding-top : 0;
    text-align  : center
}

.pricing-box a {
    color : #FFFFFF !important
}

.pricing-box {
    border             : 1px solid #EFEFEF;
    text-align         : center;
    padding            : 20px;
    margin             : 40px 0;
    -webkit-transition : background-color .4s linear, color .4s linear;
    -moz-transition    : background-color .4s linear, color .4s linear;
    -o-transition      : background-color .4s linear, color .4s linear;
    -ms-transition     : background-color .4s linear, color .4s linear;
    transition         : background-color .4s linear, color .4s linear
}

div.price {
    width                 : 130px !important;
    -webkit-border-radius : 500px;
    -moz-border-radius    : 500px;
    border-radius         : 500px;
    height                : 130px !important;
    line-height           : 130px;
    font-size             : 24px;
    color                 : #FFFFFF;
    margin                : 0 auto !important;
    text-align            : center;
    font-weight           : 400
}

.pricing-box h3 {
    font-size : 20px
}

.pricing-box:hover .jtbtn,
.pricing-box:hover div.price {
    background-color : #343434;
    border-color     : #545454
}

.pricing-box:hover,
.pricing-box:hover h3 {
    color : #FFFFFF
}

.pricing-box hr {
    margin : 20px -20px;
    border : dotted #343434
}

.pricing {
    list-style : none;
    padding    : 0;
    margin     : 0 !important
}

.pricing li {
    font-size   : 13px;
    line-height : 31px;
    margin      : 0 auto;
    padding     : 0;
    text-align  : center
}

#map {
    display  : block;
    position : relative;
    height   : 450px;
    width    : 100%
}

#map img {
    max-width : inherit
}

.map {
    position : relative
}

.map .searchmodule {
    padding : 18px 10px
}

.infobox {
    display  : inline-block;
    padding  : 10px 5px 5px;
    position : relative;
    width    : 270px
}

.infobox img {
    margin-right : 10px;
    width        : 95px !important
}

.infobox .title {
    font-size      : 13px;
    font-weight    : 700;
    font-family    : Raleway, Arial, Helvetica, sans-serif;
    margin-top     : 0;
    margin-bottom  : 0;
    text-transform : uppercase;
    padding-bottom : 5px
}

.infobox .title a {
    font-weight : 700
}

.percent {
    display        : block;
    font-size      : 30px;
    letter-spacing : -3px;
    line-height    : 9.5;
    font-weight    : 300;
    position       : absolute;
    text-align     : center;
    top            : -3px;
    width          : 90%;
    z-index        : 10
}

.chart {
    margin-bottom : 20px
}

.skills .title {
    padding : 25px 0 0
}

.skills .title h3 {
    font-weight    : 700;
    text-transform : uppercase;
    font-size      : 18px
}

.jtbtn-big.anim {
    text-transform     : uppercase;
    display            : inline-block;
    text-align         : center;
    -webkit-transition : all 200ms linear !important;
    transition         : all 200ms linear !important;
    font-size          : 14px;
    padding            : 10px 20px 10px 30px !important
}

.jtbtn-big.anim i {
    float              : right;
    -ms-filter         : "alpha(Opacity=0)";
    opacity            : 0;
    font-size          : 12px;
    padding-top        : 4px;
    -webkit-transition : all 200ms linear !important;
    transition         : all 200ms linear !important
}

.jtbtn-big.anim:hover i {
    margin-left : 10px !important;
    -ms-filter  : "alpha(Opacity=100)";
    opacity     : 1
}

.jtbtn-big2 {
    display             : inline-block;
    border              : 1px solid #FFFFFF;
    padding             : 9px 35px;
    margin-bottom       : 0;
    font-size           : 13px;
    font-weight         : 400;
    line-height         : 1.428571429;
    text-align          : center;
    vertical-align      : middle;
    cursor              : pointer;
    white-space         : nowrap;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
    background          : #FFFFFF
}

.jtbtn-big1 {
    display             : inline-block;
    border              : 1px solid #111111;
    padding             : 9px 35px;
    margin-bottom       : 0;
    font-size           : 13px;
    font-weight         : 400;
    line-height         : 1.428571429;
    text-align          : center;
    vertical-align      : middle;
    cursor              : pointer;
    white-space         : nowrap;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
    background          : 0 0;
    color               : #FFFFFF !important
}

.jtbtn-big {
    display             : inline-block;
    padding             : 9px 27px;
    margin-bottom       : 0;
    font-size           : 13px;
    font-weight         : 400;
    line-height         : 1.428571429;
    text-align          : center;
    vertical-align      : middle;
    cursor              : pointer;
    white-space         : nowrap;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
    background          : 0 0;
    color               : #FFFFFF !important
}

.jtbtn {
    display             : inline-block;
    padding             : 6px 23px;
    margin-bottom       : 0;
    font-size           : 13px;
    font-weight         : 400;
    line-height         : 1.428571429;
    text-align          : center;
    vertical-align      : middle;
    cursor              : pointer;
    white-space         : nowrap;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
    background          : 0 0;
    color               : #292723 !important;
    border              : 1px solid #292723
}

.animationload {
    background : #323232;
    width      : 100%;
    height     : 100%;
    position   : fixed;
    z-index    : 99999
}

#intro {
    width      : 50px;
    height     : 50px;
    position   : absolute;
    top        : 50%;
    left       : 50%;
    margin     : -33px 0 0 -33px;
    background : url(images/load.gif)
}

@media (max-height : 2000px) {
    .dmtop {
        background-color : #21C2F8 !important
    }

    .dmtop {
        background         : url(images/arrow.png) 50% 50% no-repeat;
        z-index            : 999;
        width              : 40px;
        height             : 40px;
        border-radius      : 0;
        text-indent        : -999px;
        position           : fixed;
        bottom             : -100px;
        right              : 25px;
        cursor             : pointer;
        -webkit-transition : all .7s ease-in-out;
        -moz-transition    : all .7s ease-in-out;
        -o-transition      : all .7s ease-in-out;
        -ms-transition     : all .7s ease-in-out;
        transition         : all .7s ease-in-out;
        overflow           : auto
    }

    .dmtop:hover {
        background-color : #111111 !important
    }
}

#video-parallax {
    position : relative;
    display  : block;
    overflow : hidden;
    width    : 100%;
    height   : 100%
}

#bgndVideo,
#mbYTP_bgndVideo {
    position : relative;
    width    : 100%;
    height   : 100%
}

#mbYTP_bgndVideo {
    margin  : 0 !important;
    padding : 0 !important
}

.volume:hover {
    color : #FFFFFF !important
}

.volume {
    bottom      : 0;
    position    : absolute;
    z-index     : 1;
    right       : 0;
    width       : 30px;
    height      : 30px;
    background  : #000000;
    line-height : 30px;
    font-size   : 20px;
    text-align  : center;
    color       : #FFFFFF;
    cursor      : pointer
}

.img-thumbnail
,.input-group-addon {
    background-color : #292929;
    border           : 1px solid #545454
}

@media (max-width : 768px) {
    .fhmm .dropdown-menu .withoutdesc {
        background : 0 0
    }

    .fhmm .collapse,
    .fhmm .dropdown,
    .fhmm .dropup,
    .fhmm .nav {
        width : 100%
    }

    .icn-main-container {
        top : -30px !important
    }

    .dm_featured_box_bg {
        background : 0 0
    }

    .dm_featured_box {
        width : 100%
    }

    #search_mini_form:after,
    .callusv1,
    .header_search {
        margin-top : 0 !important
    }

    .fhmm .navbar-nav > li > .dropdown-menu {
        margin-top : 5px
    }

    .breadcrumb,
    .header.affix .logo-wrapper,
    .sliderwrapper .btn,
    .sliderwrapper .jtbtn,
    .tp-banner-container .jtbtn-big,
    .tp-caption.minidesc {
        display : none
    }

    .percent {
        line-height : 6.5
    }

    .callus li,
    .callus li:last-child,
    .social li,
    .social li:last-child {
        border : none
    }

    .callus,
    .callus li,
    .copyright1,
    .footer-menu .menu,
    .logo,
    .social,
    .social li {
        float      : none !important;
        clear      : both !important;
        text-align : center !important
    }

    body > div.wrapper > section.topbar.topbar-blue.clearfix > div > div > div:nth-child(1) > ul {
        margin-left : 40%;
    }
}

@media (max-width : 640px) {
    body > div.wrapper > section.topbar.topbar-blue.clearfix > div > div > div:nth-child(1) > ul {
        margin-left : 40%;
    }
}

@media (max-width : 480px) {
    body > div.wrapper > section.topbar.topbar-blue.clearfix > div > div > div:nth-child(1) > ul {
        margin-left : 30%;
    }
}

@media (max-width : 320px) {
    body > div.wrapper > section.topbar.topbar-blue.clearfix > div > div > div:nth-child(1) > ul {
        margin-left : 10%;
    }
}

.popular_items_div .price1 {
    color : #FFFFFF;
}

#defaultmenu .navbar-nav li a:hover,
.bigtitle .last span,
.breadcrumb a,
.callus span,
.center-title span,
.check li:before,
.copyright1 a:focus,
.copyright1 a:hover,
.custom-box .diamondicon i,
.custom-box .serviceicon i,
.darkwrapper h1 span,
.featureslist li:before,
.footer-social li i,
.footer1 i:hover,
.highlight,
.mmodebody .title h1 span,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.panel-default > .panel-heading:hover .panel-title:after,
.panel-default > .panel-heading:hover a,
.portfolio-filter a:focus,
.portfolio-filter a:hover,
.price-detail,
.pricing-box:hover div.price,
.product-content .price1-new,
.product_details li:before,
.rating i,
.searchicon:before,
.service-box .serviceicon i,
.servicesbox .serviceicon,
.serviceslist .service-icon a i,
.serviceslist .servicesbox .serviceicon i,
.social a:hover,
.testimonial_meta i,
.testimonial_meta span,
.testimonial_widget .details,
.testimonial_widget .lead:after,
.testimonial_widget .lead:before,
.tp-caption.big_title,
.tp-caption.pacifico2 span,
.tp-caption.pacifico3 span,
.tp-caption.small_thin_grey1 span,
.twitter_widget .details a,
.twitter_widget .lead:before,
a,
a.readmore {
    color : #21C2F8
}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-reply-count:hover,
#bbpress-forums li.bbp-body ul.forum li.bbp-forum-topic-count:hover,
.bs-glyphicons li:hover,
.btn-primary,
.cs-style-3 figcaption a.addtocart,
.cs-style-3 figcaption a.external,
.cs-style-3 figcaption a.zoom,
.custom-box:hover .diamondicon,
.custom-box:hover .serviceicon,
.flex-control-paging li a.flex-active,
.flex-direction-nav a,
.footer-social li:hover,
.greybg .serviceslist .service-icon .serviceicon:hover,
.hovicon.effect-1,
.hovicon.effect-1.sub-a:hover,
.hovicon.effect-1.sub-a:hover i,
.miniicon,
.nav-tabs > li > a:hover,
.onsale,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.pager li > a,
.pager li > span,
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.portfolio-filter li a:before,
.pricing-box:hover,
.progress-bar,
.service-box .serviceicon:hover,
.service-icon .serviceicon:hover,
.service-square-icon,
.servicesbox .serviceicon:hover,
.tagcloud a:hover,
.testimonial_details:hover,
.twitter-widget ul li:hover:before,
.volume:hover,
div.bbp-template-notice,
div.bbp-template-notice.info,
div.indicator-hint,
div.price,
mark {
    background-color : #21C2F8
}

.bigtitle h1:after,
.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.custom-box:hover,
.custom-box:hover .serviceicon,
.flex-control-paging li a,
.flex-control-paging li a.flex-active,
.flickr-gallery li:hover,
.footer-social li,
.form-control:focus,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.panel-default > .panel-heading:hover,
.post-wrapper-top h2,
.pricing-box .jtbtn,
.serviceicon:hover,
.serviceslist .service-icon .serviceicon,
.tagcloud a:hover,
.tp-bullets.simplebullets .bullet.selected,
.tp-bullets.simplebullets .bullet:hover,
.twitter-widget ul li:before,
div.bbp-template-notice,
div.bbp-template-notice.info,
div.indicator-hint {
    border-color : #21C2F8
}

.miniicon:after,
.nav .open > a:after,
.nav .open > a:focus:after,
.nav .open > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-nav > li > a:focus:after,
.navbar-nav > li > a:hover:after,
.title hr:after,
.title1 hr:after {
    border-top-color : #21C2F8
}

#onepage .tp-bannertimer {
    background : rgba(33, 194, 248, .8) !important
}

.jtbtn-big2 {
    color : #21C2F8 !important
}

.miniicon:before {
    border-bottom-color : #21C2F8
}

.hovicon.effect-1:after {
    box-shadow : 0 0 0 4px #21C2F8
}

.jtbtn-big {
    border : 1px solid #21C2F8
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color : #11B2E8
}

.mmodebody {
    overflow : hidden;
    height   : 100%;
    margin   : 0;
    padding  : 0
}

.mmodebody img {
    height              : 100%;
    width               : 100%;
    z-index             : -1;
    position            : absolute;
    display             : block;
    background-size     : cover;
    background-position : 50% 50%
}

#background {
    width  : 100%;
    height : 100%
}

#slides {
    position : relative
}

#slides .slides-container {
    margin     : 0;
    list-style : none
}

#slides .scrollable {
    *zoom      : 1;
    position   : relative;
    top        : 0;
    left       : 0;
    overflow-y : auto;
    height     : 100%
}

#slides .scrollable:after {
    content : "";
    display : table;
    clear   : both
}

.slides-pagination {
    position   : absolute;
    z-index    : 20;
    bottom     : 30px;
    text-align : center;
    width      : 100%
}

.slides-pagination a {
    color           : #1A1A1A;
    background      : #FFFFFF;
    opacity         : .5;
    -moz-opacity    : .5;
    filter          : alpha(opacity=50);
    width           : 30px;
    height          : 4px;
    display         : -moz-inline-stack;
    display         : inline-block;
    vertical-align  : middle;
    *vertical-align : auto;
    zoom            : 1;
    *display        : inline;
    margin          : 2px;
    overflow        : hidden;
    text-indent     : -100%
}

.slides-pagination a.current, .slides-pagination a:hover {
    opacity      : 1;
    -moz-opacity : 1;
    filter       : alpha(opacity=100)
}

.home-content {
    position          : absolute;
    text-align        : center;
    left              : 50%;
    top               : 50%;
    -webkit-transform : translate(-50%, -50%);
    -moz-transform    : translate(-50%, -50%);
    -ms-transform     : translate(-50%, -50%);
    -o-transform      : translate(-50%, -50%);
    transform         : translate(-50%, -50%);
    display           : inline-block;
    width             : 700px;
    padding           : 50px;
    border-radius     : 4px
}

.home-content h1 {
    font-size      : 500%;
    color          : #FFFFFF;
    margin-bottom  : 0;
    font-weight    : 900;
    font-family    : NovecentowideBookBold, 'Helvetica Neue', Helvetica, sans-serif;
    text-transform : uppercase;
    line-height    : 95%
}

.home-content h4 {
    font-size      : 200%;
    color          : #FFFFFF;
    font-weight    : 400;
    margin-top     : 20px;
    text-transform : uppercase
}

.hwrap {
    top      : 0;
    z-index  : 1;
    width    : 100%;
    height   : 100%;
    display  : block;
    overflow : hidden;
    padding  : 0 !important;
    position : relative
}

#contactform fieldset {
    padding               : 20px;
    border                : 1px solid #EEEEEE;
    -webkit-border-radius : 5px;
    -moz-border-radius    : 5px
}

#contactform legend {
    padding               : 7px 10px;
    font-weight           : 700;
    color                 : #000000;
    border                : 1px solid #EEEEEE;
    -webkit-border-radius : 5px;
    -moz-border-radius    : 5px;
    margin-bottom         : 0 !important;
}

#contactform span.required {
    font-size : 13px;
    color     : red
}

#message {
    margin  : 10px 0;
    padding : 0
}

.error_message {
    display               : block;
    height                : 22px;
    line-height           : 22px;
    background            : #FBE3E4 url(images/error.gif) no-repeat 10px center;
    padding               : 3px 10px 3px 35px;
    color                 : #8A1F11;
    border                : 1px solid #FBC2C4;
    -webkit-border-radius : 5px
}

.loader {
    padding : 0 10px
}

acronym {
    border-bottom : 1px dotted #CCCCCC
}

/*begin css modification*/
#drop-currencies > div.bootstrap-select.open,
#drop-languages > div.bootstrap-select.open {
    color : #21C2F8 !important;
}

#drop-currencies > div > button,
#drop-languages > div > button {
    border-top    : 2px solid #323232;
    color         : #D3D3D3;
    font-size     : 13px;
    font-weight   : 400;
    width         : 74px;
    height        : 40px;
    outline       : none !important;
    background    : #292929 !important;
    border-left   : none;
    border-bottom : none;
    border-right  : 1px solid #2F2F2F;
    padding       : 0;
}

#drop-currencies > div,
#drop-languages > div {
    margin-bottom : 0 !important;
}

#drop-currencies > div > ul,
#drop-languages > div > ul {
    position           : absolute;
    top                : 100%;
    float              : left;
    min-width          : 160px;
    padding            : 0;
    margin             : 0;
    list-style         : none;
    font-size          : 13px;
    background-color   : #292929;
    -webkit-box-shadow : 0 0 0 rgba(0, 0, 0, 0.175);
    box-shadow         : 0 0 0 rgba(0, 0, 0, 0.175);
    background-clip    : padding-box;
    border-top         : 2px solid #21C2F8
}

#drop-currencies > div > button > span.caret {
    display : none;
}

.image_view_product {
    max-width           : 100%;
    height              : 263px;
    background-position : center;
    background-size     : cover;
}

.image_sm {
    width               : 105px;
    height              : 100px;
    margin-right        : 10px;
    float               : left;
    background-position : center;
    background-size     : cover;
}

.topbar ul.nav.navbar-nav li a:hover {
    color : #21C2F8;
}

.topbar ul.nav.navbar-nav li.open a {
    color : #21C2F8;
}

.topbar ul.nav.navbar-nav li ul.dropdown-menu li a {
    color : #D3D3D3;
}

.topbar ul.nav.navbar-nav li ul.dropdown-menu li a:hover {
    color : #21C2F8;
}

.callus ul li a {
    color : #D3D3D3;
}

.callus ul li a:hover {
    color : #21C2F8;
}

.fa-envelope {
    background : #237DAC !important;
}

li.dropdown-submenu ul {
    background : darkgray !important;
}

.textarea {
    height             : auto;
    background-color   : #363636;
    border-color       : #222222;
    display            : block;
    width              : 100%;
    margin-bottom      : 10px;
    padding            : 6px 12px;
    font-size          : 12px;
    line-height        : 1.428571429;
    color              : white;
    vertical-align     : middle;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.general_inputs {
    background-color : #363636;
    display          : block;
    width            : 100%;
    height           : 34px;
    margin-bottom    : 10px;
    padding          : 6px 12px;
    font-size        : 12px;
    line-height      : 1.428571429;
    color            : white;
    vertical-align   : middle;
    border           : none;
    box-shadow       : inset 0 1px 1px rgba(0, 0, 0, .075);
    transition       : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-text {
    background-color : #363636;
    display          : block;
    width            : 318px;
    height           : 34px;
    margin-bottom    : 10px;
    padding          : 6px 12px;
    font-size        : 12px;
    line-height      : 1.428571429;
    color            : white;
    vertical-align   : middle;
    border           : none;
    box-shadow       : inset 0 1px 1px rgba(0, 0, 0, .075);
    transition       : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#advanced-search-list > li:nth-child(3) > div > select,
#advanced-search-list > li:nth-child(4) > div > select {
    width : 315px;
}

select, .inputfield {
    text-transform   : none;
    background-color : #363636;
    border           : none;
    display          : block;
    height           : 34px;
    color            : white;
}

.fullwidth div.input-box select {
    width : 100%;
}

div.price-detail span.mwst_info,
div.price1 span.mwst_info {
    display : none;
}

.mwst_info {
    color       : white;
    font-size   : 11px;
    margin-top  : -10px;
    display     : block;
    line-height : initial;
}

#product-grid-container span.mwst_info {
    display : none;
}

.shop_wrapper .form-control {
    margin : 10px 0 0;
}

.shop_wrapper select.form-control {
    width : 99.9%
}

.shop-top .form-control {
    margin : 0
}

.shop-top {
    line-height : 44px;
}

.image_view_gallery {
    width               : 253px;
    height              : 253px;
    background-position : center;
    background-size     : cover;
}

.image_view_list {
    width               : auto;
    height              : 190px;
    background-position : center;
    background-size     : cover;
    margin-left         : -15px;
}

.list-item.box .price-box {
    margin : 5px 0 5px;
}

.list-item.box .price {
    margin : 0
}

.list-item.box .desc {
    margin : 0 0 10px;
}

.list-item.box .price,
.shop-right .title .price,
.shop_item .price {
    font-size   : 16px !important;
    font-weight : 500;
}

.list-item {
    margin : 0 0 30px;
}

.list-item h4.product-name {
    margin : 0
}

.navbar-default .navbar-nav > .open > a {
    border-top-color : #21C2F8;
}

.panel-body {
    background : #292929;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color : #292929;
}

div.shop-top .glyphicon {
    font-size  : 24px;
    margin-top : 4px;
}

div.view-mode {
    margin-right : 5px;
    margin-top   : -3px;
}

.copyright-text p {
    margin-bottom : 0;
}

div.copyright-text > p:nth-child(2) {
    margin-bottom : 25px;
}

div.copyright-text > p:nth-child(1) {
    font-size  : 13px;
    margin-top : 20px;
}

.form-list {
    list-style : none;
}

div.recent_post_img a:focus,
div.recent_post_img a:hover {
    color : #01090C;
}

ul.scroll_list {
    max-height : 200px;
    overflow   : auto;
}

ul.scroll_list::-webkit-scrollbar {
    width : 3px;
}

ul.scroll_list::-webkit-scrollbar-track {
    background-color : #363636;
}

ul.scroll_list::-webkit-scrollbar-thumb {
    background-color : #237DAC;
}

ul.scroll_list::-webkit-scrollbar-thumb:hover {
    background-color : #21C2F8;
}

ul.fullwidth {
    max-height : 600px;
    overflow   : auto;
}

ul.fullwidth::-webkit-scrollbar {
    width : 7px;
}

ul.fullwidth::-webkit-scrollbar-track {
    background-color : #363636;
}

ul.fullwidth::-webkit-scrollbar-thumb {
    background-color : #237DAC;
}

ul.fullwidth::-webkit-scrollbar-thumb:hover {
    background-color : #21C2F8;
}

.version-center {
    padding       : 20px 0 0;
    border-bottom : 1px solid #E6E9EA !important;
}

.version-center .dropdown-menu > li {
    text-align : left !important;
}

.version-center .navbar-collapse.collapse {
    text-align     : center; /* Set this */
    height         : auto !important;
    padding-bottom : 0;
    overflow       : visible !important;
    font-weight    : bold;
}

.version-center .navbar-nav {
    display : inline-block;
    float   : none;
    margin  : 0 0 -3px;
}

.version-center .navbar {
    padding-top : 0 !important;
    margin-top  : 0 !important;
}

.version-center .navbar-nav > li > a {
    padding : 10px 15px;
    margin  : 0 0 -5px 0;
}

.version-center .navbar-nav > li > .dropdown-menu {
    margin-top : 0 !important;
}

.version-center .logo-wrapper {
    width    : 200px;
    overflow : hidden;
}

.version-center .logo-wrapper a img {
    display : block;
    margin  : auto;
    width   : 100%;
}

#search_mini_form:after {
    color         : #21C2F8;
    padding-right : 0;
    right         : 10px;
    text-align    : center;
    width         : 45px;
    margin-top    : 3px;
}

#search_mini_form {
    margin-bottom : 20px;
}

form input#search {
    height : 40px;
}

@media (max-width : 767px) {
    .logo-wrapper {
        margin-left   : 30%;
        margin-bottom : 15px;
    }
}

@media (max-width : 480px) {
    .logo-wrapper {
        margin-left : 20%;
    }
}

@media (max-width : 320px) {
    .logo-wrapper {
        margin-left : 0;

    }
}

.buttons-set {
    margin-bottom : 10px;
}

/*end css modification*/