.block-info .inner-block {
  padding-bottom: 158px;
}
.block-info .btn-small {
  opacity: 0;
  filter: alpha(opacity=0);
}
.block-info .inner-block > div {
  bottom: -56px;
  position: absolute;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.block-info:hover .inner-block > div {
  bottom: 0;
}
.block-info:hover .btn-small {
  opacity: 1;
  filter: alpha(opacity=100);
}