<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>

<td>


<table width="100%" border="0" cellspacing="0" cellpadding="0" id="quickProductViewerHead">
  <tr>
    <td class="qPVHmiddleLeft"><span>{$count_arr_prods_on_cat} {$PRODUCTS_INFO_ARTICLE_IN_CAT}&nbsp; {$categories_name}</span></td>
    <td class="qPVHmiddleRight"><span><a href="{$CAT_LINK}">{$PRODUCTS_INFO_BACK_TO_LIST}</a></span></td>
  </tr>
</table>
<div id="quickProductViewer">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="quickProductViewerCnt">
    <tr>
      <td class="qPVCleft"><div></div></td>
      <td class="qPVCmiddle">
      <div id="viewerStage" class="VSpos">
        <div id="qPVTloader"><img src="{$templatepath}/mt_review2preview/ajax-loader.gif" /></div>
        <div id="viewerMask" style="width:1px; overflow:hidden;">
          <div id="viewerImages" style="width:{math equation='x * y' x=86 y=$count_arr_prods_on_cat}px;">
          {foreach from=$arr_prods_on_cat key=key item=sub_product name=subproducts}         
          	<div class="subproductholder"><div class="subproductcount"></div><div class="col" style="width:70px;overflow:hidden;height:70px;"><a href="{$sub_product.link}" class="subproduct" rel="{$sub_product.id}">{$sub_product.image}</a></div></div>
          {/foreach}
          </div>
          <div style="clear:both;"></div>
        </div>
      </div>
      </td>
      <td class="qPVCright"><div></div></td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="quickProductViewerNav">
    <tr>
      <td class="qPVNmiddleLeft" valign="top"><a href="javascript:;" id="scroll2previous"></a></td>
      <td class="qPVNmiddleRight" valign="top"><a href="javascript:;" id="scroll2next"></a></td>
    </tr>
  </table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="quickProductViewerFoot" style="display:none;">
  <tr>
    <td class="qPVFleftBottom"><div></div></td>
    <td class="qPVFBottom" valign="top" align="center"><div><a href="javascript:;" id="qPVtoggle"><span></span></a></div></td>
    <td class="qPVFrightBottom"><div></div></td>
  </tr>
</table>
</div>



</td>
</tr>
</table>