.nivoSlider {
    position:relative;
    width:980px;
    height:auto;
    overflow: hidden;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    max-width: none;
}
.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
    background: white;
    filter: alpha(opacity=0);
    opacity: 0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
    position:absolute;
    left:0px;
    bottom:0px;
    background:#000;
    color:#fff;
    width:100%;
    z-index:8;
    padding: 5px 10px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
    -moz-opacity: 0.8;
    filter:alpha(opacity=8);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
    padding:5px;
    margin:0;
}
.nivo-caption a {
    display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position:absolute;
    top:42%;
    z-index:9;
    cursor:pointer;
}
.nivo-prevNav {
    left:0px;
}
.nivo-nextNav {
    right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
    text-align:center;
    padding: 15px 0;
}
.nivo-controlNav a {
    cursor:pointer;
}
.nivo-controlNav a.active {
    font-weight:bold;
}
/* slider theme */
.slideshow {
    position: relative;
}
.slideshow .nivoSlider {
    position: relative;
    background: #fff url('../../images/loading.gif') no-repeat 50% 50%;
    margin-bottom: 20px;
}
.slideshow .nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.slideshow .nivoSlider a {
    border: 0;
    display: block;
}
.slideshow .nivo-controlNav {
    position: absolute;
    left: 46%;
    bottom: 10px;
    text-align: center;
    height: 18px;
    z-index: 99;
}
.slideshow .nivo-controlNav a {
    vertical-align: top;
    display: none;
    width: 22px;
    height: 22px;
    background: url('../../images/bullets.png') no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:3px;
    float:left;
}
.slideshow .nivo-controlNav a.active {
    background-position:0 -22px;
}
.slideshow .nivo-directionNav a {
    display:block;
    width:60px;
    height:57px;
    background:url("../../images/arrows.png") no-repeat;
    text-indent:-9999px;
    border:0;
    -webkit-transition: background-position .3s;
    -moz-transition: background-position .3s;
    transition: background-position .3s;
}
.slideshow a.nivo-nextNav {
    background-position:-60px 0px;
    right:0;
}
.slideshow a.nivo-nextNav:hover {
    background-position: -60px -57px;
}
.slideshow a.nivo-prevNav {
    background-position: 0 0;
    left:0;
}
.slideshow a.nivo-prevNav:hover {
    background-position: 0 -57px;
    left:0;
}
.slideshow .nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.slideshow .nivo-caption a {
    color:#efe9d1;
    text-decoration:underline;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .nivoSlider { width:768px; }
}
@media only screen and (max-width: 767px) {
    .nivoSlider { width:320px; margin-left: 0; margin-right: 0; }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {

    .nivoSlider { width:480px; margin-left: 0; margin-right: 0; }
    .slideshow .nivo-controlNav { right: 30px; }

}