{if $arr_searchbox.form}
    {$arr_searchbox.form}
        <input id="search" class="form-control" type="text" name="keywords" value="{$arr_searchbox.inputtextfield}" placeholder="{$arr_searchbox.title}">
        <button type="submit" class="searchicon"></button>
    </form>
{/if}