.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; background: #fff; position: relative;  zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }
html.ie8 .flex-direction-nav .flex-prev, html.ie8 .flex-direction-nav .flex-next {display:none;}

html.ie8 #flexslider_hg_homepage_wrapper:hover .flex-direction-nav .flex-prev,
html.ie8 #flexslider_hg_homepage_wrapper:hover .flex-direction-nav .flex-next {display:block;}
.flex-direction-nav a.flex-disabled {
   display:none;
}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { 
text-decoration:none; 
display: block; 
width: 35px; 
padding:0 10px;
height: 60px;
line-height:60px; 
text-align:Center	;
margin: -20px 0 0; 
position: absolute; 
top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color:#ffffff; text-indent:hanging;text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 1; left: 15px; }
.flexslider:hover .flex-next { opacity: 1; right: 15px; }
.flexslider:hover .flex-next:focus, 
.flexslider:hover .flex-prev:focus, 
.flexslider:hover .flex-next:hover, 
.flexslider:hover .flex-prev:hover { color:#ffffff;opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0 !important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "FontAwesome"; font-size: 28px; display: inline-block; content: '\f104'; }
.flex-direction-nav a.flex-next:before  { content: '\f105'; }

.flexslider .slides li {
    position:relative;
}

.flex-caption {

   background:rgba(255, 255, 255, 0.7);
    border: medium none;
    box-shadow: none;
    max-width: 300px;
	right:0;
	bottom:0;
	position:absolute;
    -moz-box-sizing: border-box;
    border-radius: 3px;
    display: inline-block;
    margin: 5px 0 10px;
    padding: 30px;
    width: 100%;
}

	/* description location */
	 .flexslider .desc{
		position:absolute;
		max-width:420px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		right:0;
		bottom:10px;
	}

	/* columns common style */
	 .flexslider .desc span.title{
		background:url(../images/slider-text-background.png);
		font-size:18px;
		font-weight:600;
		line-height:100%;
		margin:0 0 5px 0;
	}	

	/* title */
	 .flexslider .desc span.title, .desc span.title a{
		text-decoration:none;
		color:#fff;
		display:block;
	}	

	.flexslider .desc span.title a,  
	.flexslider .desc span.title span{
		padding:10px;
		display:block;
	}

	/* description texts*/
	.flexslider .desc span.text{
		padding:10px;
		font-size:12px;
		background:url(../images/slider-text-background.png);
		text-decoration:none;
		color:#fff;
		display:block;
	}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;z-index:10;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(255,255,255,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 1px rgba(0,0,0,0.3); box-shadow: inset 0 0 1px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(255,255,255,0.5); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
