/*! ===========================================================
 * modalDengkul.js
 * version: 1.0
 * http://takien.com/modal-dengkul
 * Inspired by Facebook image modal.
 * ===========================================================
 * Copyright 2013 Takien.
 * Follow me @cektkp
 * License GNU GPL v3
 * ========================================================== */
 
#modalDengkul {
	font-family:"Lucida Grande",sans-serif;
	color:#464646;
	font-size:14px
}
#modalDengkul-overlay {
	background:rgba(0,0,0,0.8);
	width:100%;
	height:100%;
	z-index:9999;
	position:fixed;
	top:0;
	left:0;
}
#modalDengkul {
	position:fixed;
	z-index:10000;
	width:85%;
	height:auto;
	min-width:750px;
	min-height:522px;
	top:0;
	left:0;
	overflow:hidden;
}
#modalDengkul, #modalDengkul  *, #modalDengkul  *:before,#modalDengkul  *:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
.modalDengkul-inner {
	position:relative;
	width:100%
}
.modalDengkul-close {
	position:absolute;
	right:5px;
	z-index:10001;
	font-size:14px;
	color:#808080;
	text-decoration:none;
	font-weight: normal;
}
.modalDengkul-close:hover {
	color:#f5f5f5;
	text-decoration: none;
}
.modalDengkul-left,
.modalDengkul-right {
	top:0;
	position:absolute;
}
.modalDengkul-left {
	width: 100%;
	left:0;
	background:#000
}
.modalDengkul-left-inner {
	position:relative;
	text-align: center;
}
.modalDengkul-img-large {
	
	max-width:100%;
	max-height:100%;
}
.modalDengkul-right {
	right:0;
	/*min-width:20%;
	width: 350px;*/
	padding: 0;
}
.modalDengkul-right-inner {
	padding:10px;
}
.modalDengkul-right h2{
	margin:0;
	padding:0;
}
.modalDengkul-left img {
	max-width:100%;
}
.modalDengkul-nav {
	display:block;
	width:40px;
	position:absolute;
	top:0;
	z-index:10001;
	overflow:hidden;
	text-indent:-100px;
	display:none;
	background-image:url('../img/arrow.png');
	background-repeat:no-repeat;
	background-position:left center;
}
.modalDengkul-navLeft {
	left:10px;
}
.modalDengkul-navRight {
	right:10px;
	background-position:right center;
}