.block-twitter{position: relative;}
.block-twitter a.follow-link{
	position: absolute;
	top:0px; right: 0px;
	padding: 3px 10px; border: 1px solid #e8e8e8;
}
#sns_twitter ul{
	margin: 0 0; list-style: none;
}
#sns_twitter ul li{ padding: 18px 0 0;
	float: left;width: 100%; display: block;
}
#sns_twitter ul li:first-child{border-top: none; margin: 0 0; padding: 0 0;}
#sns_twitter .user{margin: 0 0 3px 0;}
#sns_twitter .user span span{
	font-weight: bold;
}
#sns_twitter .tweet {margin: 0 0 5px 0;}
#sns_twitter .tweet a{color: #73939E}
#sns_twitter .timePosted{color: #909090; margin: 0 0; font-size: 92%; border-top: 1px solid #dfdfdf; padding-top: 3px; margin-top: 3px;}
#sns_twitter .interact{ margin: 0 0; clear: left;}
#sns_twitter .interact a{ display: inline-block;
	background: url("../images/icon.png") no-repeat left -2px; margin: 0 0 0 22px; padding: 0 0 0 18px;
}
#sns_twitter .interact a.twitter_reply_icon{
	margin: 0 0;
}
#sns_twitter .interact a.twitter_retweet_icon{
	padding: 0 0 0 25px; background-position: 0 -21px;
}
#sns_twitter .interact a.twitter_fav_icon{
	background-position: 0 -41px;
}
#sns_twitter.no-avartar .user img{display: none;}
#sns_twitter.no-followlink a.follow-link{display: none;}
#sns_twitter.no-date .timePosted{display: none;}
#sns_twitter.no-interactlink .interact a{display: none;}