{if $arr_searchbox}
        {$arr_searchbox.form}
            {*<div class="button-search"><i class="fa fa-search"></i></div>*}
            <input type="text" name="keywords" id="keywords" placeholder="{$arr_searchbox.title}" value="{$arr_searchbox.inputtextfield}"/>
            <button type="submit" title="Search entire store here..." style="background: none; border: none;outline: none"><i class="fa fa-search"></i></button>
            {$arr_searchbox.hidden_sessionid}
    </form>
{/if}