<section id="information">
  	<div class="container">
        {if empty($custom_heading_title)}
            <h1 class="text-center">{$HEADING_TITLE}</h1>
        {else}
            <h1 class="text-center">{$custom_heading_title}</h1>
        {/if}
        <div class="page-info-description">
            {$INFO_DESCRIPTION}
        </div>
	</div>
</section>