html, body {
    height: 100%;
    width: 100%;
}

.sp-wrap {
    display: none;
    line-height: 0;
    font-size: 0;
    background: #EEEEEE;
    position: relative;
    margin: 0 25px 15px 0;
    border: 1px solid #E4E4E4;
    float: left;
    width: 285px;
}

.sp-large {
    position: relative;
    overflow: hidden;
}

.sp-large a img {
    max-width: 100%;
    height: auto;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.sp-large a {
    display: inline-block;
}

.sp-thumbs {
    width: 100%;
    text-align: left;

}

.sp-thumbs img {
    width: 100px;
    /* height:100%;*/
}

.sp-thumbs a:link, .sp-thumbs a:visited {
    border: 2px solid #EEEEEE;
    display: inline-block;
}

.sp-thumbs a:hover, .sp-thumbs a:active, .sp-current {
    border: 2px solid #555555 !important;
}

.sp-zoom {
    position: absolute;
    left: 0;
    top: 0;
    cursor: zoom;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    display: none;
}