{if $arr_loginbox}
	<li><a href="{$arr_topmenu.4.link}" title="{$arr_topmenu.4.name}" >{$arr_topmenu.4.name}</a></li>
	{if $arr_loginbox.boxtyp == "myaccount"} 
		<li ><a href="{$arr_loginbox.items.4.target}">{$arr_loginbox.items.4.text}</a></li>
	{else}
		<li ><a href="{$domain}/login.php">{$arr_smartyconstants.LOGIN_BOX_REGISTER}</a></li>
	{/if}
    <li><a href="{$arr_topmenu.2.link}">{$arr_topmenu.2.name}</a></li>
{/if}