img[src*="pixel_trans.gif"], img[src*="pixel_silver.gif"], img[src*="pixel_black.gif"] {
    width  : 0 !important;
    height : 0 !important;
}

img[src*="spacer.gif"] {
    width  : 0 !important;
    height : 0 !important;
}

.close {
    font-size : 12px;
}

h1 {
    font-size   : 16px;
    line-height : 18px;
}

body {
    font-family : 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.slimScrollDiv {
    margin : 0 auto;
}

.rounded {
    -webkit-border-radius : 4px;
    -moz-border-radius    : 4px;
    border-radius         : 4px;
}

.topbar-inner {
    height : 40px;
}

/*layout*/

.page-info-description {
    padding-right : 5px;
}

.subcategories-gallery {
    margin-left : -1%;
}

.row-fluid .subcategories-gallery .span4 {
    margin-left : 0.8%;
}

.main-container {
    /*background-color: #e7ebf2;*/
    width : 793px;
}

.checkout-container, .account-container {
    padding          : 5px;
    background-color : #FFFFFF;
    margin-right     : 5px;
    border           : 1px solid #D3D6DB;
}

.footer {
    padding : 10px 5px 10px 5px;
}

.sidebar {
    padding : 5px 0 0 5px;
}

.breadcrumb {
    margin-left      : -20px;
    padding-left     : 40px;
    padding          : 14px 0;
    margin           : 0;
    background-color : transparent;
}

.breadcrumb i {
    color : #3B5998;
}

.navigation-controls {
    padding-left  : 5px;
    padding-right : 5px;
}

.navigation-controls a {
    line-height : 20px;
}

.navigation-controls i {
    font-size      : 20px;
    vertical-align : middle;
    color          : #3B5998;
}

/*box categories*/
.box-categories {
    border-top : 1px solid #DAE3E9;
}

.box-categories .nav {
    margin-bottom : 0;
}

.nav-tabs.nav-stacked > li > a {
    border       : none;
    border-top   : 1px solid #ECECEC;
    margin-left  : 10px;
    margin-right : 10px;
}

.nav-tabs.nav-stacked > li i {
    float       : right;
    padding-top : 5px;
}

.nav-tabs.nav-stacked > li > a {
    border-left  : none;
    border-right : none;
    font-weight  : bold;
}

.nav > li:hover, .nav > li:focus {
    background-color : #F6F6F6;
}

.menu-wrapper {
    background : #FFFFFF;
    margin     : 0 0 10px 0;
    padding    : 10px 0;
}

.menu-wrapper a {
    cursor : pointer;
}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
    color            : #3B5998;
    background-color : #FFFFFF;
    border-color     : #DDDDDD;
}

.dropdown-menu {
    top       : 0px;
    left      : 245px;
    padding   : 0;
    margin    : 0;
    min-width : 120px;
}

.dropdown-menu > li > a {
    padding : 3px 15px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    color : #FFFFFF !important;
}

.dropdown-submenu > .dropdown-menu {
    margin-top            : 0;
    -webkit-border-radius : 0;
    -moz-border-radius    : 0;
    border-radius         : 0;
}

nav li.dropdown.open, .nav li.dropdown.open.active, .nav li.dropdown.open a:hover, .nav li.dropdown.open a:focus {
    background-color : #F6F6F6;
    color            : #3B5998;
}

/*box login box*/

.box-loginbox .box-content {
    padding : 5px;
}

.box-loginbox ul.unstyled {
    margin : 0;
}

.box-information .nav-tabs.nav-stacked > li > a {
    font-weight : normal;
}

.box-information .nav {
    margin-bottom : 1px;
}

.box-html-box .box-content {
    padding : 5px;
}

.box-news .show-all-news-link {
    line-height   : 38px;
    padding-right : 3px;
}

.box-news .news-small-description {
    line-height : 11px;
    margin      : 0;
    height      : 37pt;
    overflow    : hidden;
    display     : block;
}

.box-news .news-title-item {
    height        : 13pt;
    overflow      : hidden;
    text-overflow : ellipsis;
    display       : block;
    white-space   : nowrap;
}

/*news listing*/
.news-list-media-heading {
    margin : 0;
}

/*product listing*/
.product-old-price {
    text-decoration : line-through;
    margin          : 0;
}

.products-gallery .product-new-price {
    font-size   : 16px;
    font-weight : bold;
    color       : #3B5998;
}

.products-gallery .product-new-price .mwst_info {
    font-size   : 10px;
    font-weight : normal;
    color       : #999999;
    display     : block;
    line-height : 12px;
}

.products-gallery .product-new-price .mwst_info br {
    display : none;
    height  : 0;
}

.products-gallery .product-new-price .mwst_info a {
    color       : #999999;
    margin-left : 3px;
}

.products-gallery .thumbnail, .subcategories-gallery .thumbnail {
    margin                : 5px;
    -webkit-box-shadow    : none;
    -moz-box-shadow       : none;
    box-shadow            : none;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
    background-color      : #FFFFFF;
}

.products-gallery .caption {
    margin : 5px;
}

.products-gallery .image-container {
    display : block;
    margin  : 0 auto;
}

.products-gallery > li {
    margin-left : 10px;
}

.products-gallery .span3 {
    width : 180px;
}

.products-listing {
    padding-right : 5px;
    padding-top   : 5px;
}

.products-listing .media {
    border                : 1px solid #C4CDE1;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
    -webkit-box-shadow    : 0 1px 0 0 #D8DEEB;;
    -moz-box-shadow       : 0 1px 0 0 #D8DEEB;;
    box-shadow            : 0 1px 0 0 #D8DEEB;;
    background-color      : #FFFFFF;
    margin-top            : 0;
    margin-bottom         : 8px;
}

.products-listing .media-body {
    text-overflow : ellipsis;
    padding-right : 10px;
    padding-top   : 15px;
}

.products-listing .media-heading {
    font-size       : 15px;
    line-height     : 15px;
    /*white-space: nowrap;*/
    font-weight     : bold;
    text-decoration : none;
    height          : 15px;
    overflow        : hidden;
}

.products-listing .product-category {
    color     : #242424;
    font-size : 13px;
}

.products-listing .product-price {
    color : #676767
}

.products-listing .product-price .mwst_info br {
    display : none;
    height  : 0;
}

.products-listing .product-price .mwst_info {
    padding-left : 3px;
}

/*products media gallery lisintg*/
/*general boxes*/

.box-heading {
    background-color      : #F6F7F8;
    border-bottom         : 1px solid #E9EAED;
    margin-bottom         : -1px;
    color                 : #6A7480;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
}

.box-heading h3 {
    font-size   : 12px;
    font-weight : 700;
    margin      : 0;
    line-height : 38px;
    margin-left : 10px;
}

.box {
    border                : 1px solid #D3D6DB;
    margin-bottom         : 10px;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
    background-color      : #FFFFFF;
}

.box-title {
    margin : 20px 0;
}

.products-media-gallery .product-title-link {
    line-height : 11pt;
    height      : 11pt;
    overflow    : hidden;
    display     : block;
    margin      : 0;
    font-size   : 11px;
    margin-top  : 9px;
}

.products-media-gallery .product-new-price {
    font-size   : 13px;
    font-weight : bold;
    color       : #3B5998;
}

.products-media-gallery .product-old-price {
    color : #89919C;
}

.products-media-gallery .product-new-price .mwst_info {
    font-size   : 10px;
    font-weight : normal;
    color       : #89919C;
    display     : block;
    line-height : 12px;
}

.products-media-gallery .product-new-price .mwst_info br {
    display : none;
    height  : 0;
}

.products-media-gallery .product-new-price .mwst_info a {
    color       : #89919C;
    margin-left : 3px;
}

.products-media-gallery .media > .pull-left {
    margin-right : 5px;
}

.products-media-gallery .media {
    border-top : 1px solid #DDDDDD;
    padding    : 3px 3px 5px 3px;
    margin     : 0;
}

/* shopping cart box*/
.box-shopping-cart-body {
    padding : 5px;
}

.box-shopping-cart-icon {
    line-height   : 40px;
    font-size     : 15px;
    padding-right : 5px;
}

/*box search*/
.box-search {
    margin-top : 5px;
}

.box-search .btn {
    background-image    : none;
    background-color    : #FFFFFF;
    border-left         : none;
    border-bottom-color : #CCCCCC;
}

.box-search form {
    margin : 0;
}

#keywords {
    width        : 200px;
    border-right : none;
}

/*product info*/
.product-info-page-container {
    padding-right : 5px;
}

.product-info-page {
    background-color      : #FFFFFF;
    border                : 1px solid #DDDDDD;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
}

.product-info-media-container {
    background-color      : #FFFFFF;
    padding               : 12px;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
}

.product-info-price-container {
    background-color : #F6F7F8;
    border-top       : 1px solid #E5E5E5;
    border-bottom    : 1px solid #E5E5E5;
    padding          : 12px;
}

.product-info-description-container {
    background-color      : #FFFFFF;
    padding               : 12px;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
}

.product-info-review2preview-container {
    background-color : #F6F7F8;
    border-bottom    : 1px solid #E5E5E5;
    padding          : 12px;
}

.product-info-also-purchased-container {
    background-color : #F6F7F8;
    border-top       : 1px solid #E5E5E5;
    border-bottom    : 1px solid #E5E5E5;
    padding          : 12px;
}

.slider-review2preview .thumbnail, .thumbnail .slider-also-purchased {
    padding : 2px;
}

.product-info-description table {
    width : auto;
}

.product-info-media-container .thumbnail {
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
}

.product-info-media-container .product-title {
    font-size   : 16px;
    line-height : 18px;
    margin      : 15px 0 0 0;
}

.product-info-media-container .product-category {
    color     : #898F9C;
    font-size : 14px;
}

.product-info-table-description {
    color : #333333;
}

.product-info-price-old {
    text-decoration : line-through;
    display         : inline-block;
}

.product-info-price-new {
    color       : #4E5665;
    font-weight : bold;
    font-size   : 14px;
}

.product-info-price-new .mwst_info {
    display     : block;
    font-size   : 11px;
    color       : #4E5665;
    font-weight : normal;
    line-height : 10px;
}

.product-info-price-new .mwst_info br {
    display : none;
    height  : 0;
}

.product-info-price-new .mwst_info a {
    padding-left : 5px;
}

.additional-image-canvas {
    width   : 113px;
    height  : 113px;
    display : block;
    border  : 1px solid #DDDDDD;
}

.additional-image {
    padding-left : 0 !important;
}

.video-thumb {
    position : relative;
}

.video-thumb .icon-play-circle {
    position    : absolute;
    top         : 35%;
    left        : 37%;
    color       : #FFFFFF;
    font-size   : 35px;
    display     : block;
    text-shadow : -1px 0px 26px rgba(0, 0, 0, 1);
    transition  : text-shadow 0.5s ease;
}

.video-thumb .icon-play-circle:hover {
    text-shadow : -1px 0px 26px rgba(150, 150, 150, 1);
    transition  : text-shadow 0.5s ease;
}

.video-thumb a:hover {
    text-decoration : none;
}

.shopping-cart-btn {
    -webkit-border-radius : 3px !important;
    -moz-border-radius    : 3px !important;
    border-radius         : 3px !important;
    -webkit-box-shadow    : none !important;
    -moz-box-shadow       : none !important;
    box-shadow            : none !important;
    font-size             : 14px !important;
    line-height           : 34px !important;
    padding               : 0 16px !important;
    background-color      : #3D5B99 !important;
    border-color          : #435A8B #3C5488 #334C83 !important;
    font-weight           : bold !important;
    background-image      : -moz-linear-gradient(top, #4E69A2, #3D5B99) !important;
    background-image      : -webkit-gradient(linear, 0 0, 0 100%, from(#4E69A2), to(#3D5B99)) !important;
    background-image      : -webkit-linear-gradient(top, #4E69A2, #3D5B99) !important;
    background-image      : -o-linear-gradient(top, #4E69A2, #3D5B99) !important;
    background-image      : linear-gradient(to bottom, #4E69A2, #3D5B99) !important;
    filter                : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e69a2', endColorstr='#ff3d5b99', GradientType=0) !important;
}

.shopping-cart-btn:hover {
    background-color : #3D5B99;
    border-color     : #435A8B #3C5488 #334C83;
    background-image : -moz-linear-gradient(top, #4E69A2, #3D5B99);
    background-image : -webkit-gradient(linear, 0 0, 0 100%, from(#4E69A2), to(#3D5B99));
    background-image : -webkit-linear-gradient(top, #4E69A2, #3D5B99);
    background-image : -o-linear-gradient(top, #4E69A2, #3D5B99);
    background-image : linear-gradient(to bottom, #4E69A2, #3D5B99);
    filter           : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e69a2', endColorstr='#ff3d5b99', GradientType=0);
}

/*checout pages*/
.tableMAIN {
    width                 : 100%;
    margin-bottom         : 20px;
    max-width             : 100%;
    background-color      : transparent;
    border-collapse       : separate;
    border-spacing        : 0;
    border                : 1px solid #D3D6DB;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
}

.tableMAIN th, .tableMAIN td {
    padding        : 8px;
    line-height    : 20px;
    vertical-align : middle;
    text-align     : center;
}

.pdB img {
    height : 100px;
}

.productListing-heading {
    background-color : #F6F7F8;
    border-bottom    : 1px solid #E9EAED;
    color            : #6A7480;
    font-weight      : bold;
}

.productListing-even td {
    border-bottom : 1px solid #ECECEC;
}

.productListing-data td {
    border : none;
}

ol.steps {
    list-style    : none;
    margin        : 0;
    padding       : 0;
    overflow      : hidden;
    font-size     : 13px;
    line-height   : 20px;
    margin-bottom : 20px;
}

ol.steps li {
    list-style-image : none;
    list-style-type  : none;
    margin-left      : 0;
    text-align       : center;
    color            : #999999;
    background       : #EEEEEE;
    position         : relative;
    margin-left      : 43px;
}

ol.steps li:after {
    position          : absolute;
    top               : 50%;
    left              : 100%;
    content           : " ";
    height            : 0;
    width             : 0;
    pointer-events    : none;
    border            : solid transparent;
    border-left-color : #EEEEEE;
    border-width      : 19px;
    margin-top        : -19px;
}

ol.steps li:first-child {
    margin-left : 0;
}

ol.steps li:first-child span {
    padding : 9px;
}

ol.steps li:first-child span:after {
    border : none;
}

ol.steps li:last-child:after {
    border-width : 0;
}

ol.steps li span {
    display : block;
    padding : 9px 0;
}

ol.steps li span:after {
    position          : absolute;
    top               : 50%;
    right             : 100%;
    content           : " ";
    height            : 0;
    width             : 0;
    pointer-events    : none;
    border            : 19px solid #EEEEEE;
    border-left-color : transparent;
    margin-top        : -19px;
}

ol.steps > li {
    float : left;
    width : 161px;
}

ol.steps li.current {
    background : #5B74A8;
    color      : #FFFFFF;
}

ol.steps li.current a {
    color : #FFFFFF;
}

ol.steps li.current:after {
    border-left-color : #5B74A8;
}

ol.steps li.current span:after {
    border-color      : #5B74A8;
    border-left-color : transparent;
}

.anbieterbilder0 {
    padding-left : 0;
}

div.span.mam {
    margin-left : 0;
}

.checkout-shipping-textarea textarea {
    width : 98%;
}

.checkout-payment-textarea textarea {
    width : 98%;
}

input[name='gv_redeem_code'] {
    width : 95%;
}

.infoBox td {
    vertical-align : top;
}

.cartcount_inputs {
    width         : 60px;
    margin-bottom : 0 !important;
}

.pdC td {
    padding : 0;
}

.pdC a:hover, .pdA a:hover {
    text-decoration : none;
}

.warenkorb_del_item:after {
    content     : "\f014";
    font-family : FontAwesome;
    font-size   : 15px;
}

.warenkorb_rem_item:before {
    content     : "\F146";
    font-family : FontAwesome;
    font-size   : 14px;
}

.warenkorb_add_item:after {
    content     : "\F0FE";
    font-family : FontAwesome;
    font-size   : 14px;
}

/**/
.top-boxes-bar {
    margin-left : 5px;
}

.top-boxes-bar .btn, .btn-home {
    font-size        : 13px;
    line-height      : 18px;
    font-weight      : bold;
    border-color     : #A5A5A5;
    padding          : 3px 5px;
    background-image : none;
    background       : transparent;
    background-color : #FCFCFC;
}

.btn-home {
    -webkit-border-radius : 3px !important;
    -moz-border-radius    : 3px !important;
    border-radius         : 3px !important;
    margin-bottom         : 5px;
}

.btn-shopping-cart {
    margin-left                       : 0;
    -webkit-border-top-left-radius    : 3px !important;
    -moz-border-radius-topleft        : 3px !important;
    border-top-left-radius            : 3px !important;
    -webkit-border-bottom-left-radius : 3px !important;
    -moz-border-radius-bottomleft     : 3px !important;
    border-bottom-left-radius         : 3px !important;
}

.btn-account {
    -webkit-border-top-right-radius    : 3px !important;
    border-top-right-radius            : 3px !important;
    -webkit-border-bottom-right-radius : 3px !important;
    border-bottom-right-radius         : 3px !important;
    -moz-border-radius-topright        : 3px !important;
    -moz-border-radius-bottomright     : 3px !important;
    border-left                        : 0;
}

.btn-group > .dropdown-menu {
    -webkit-border-radius : 0;
    -moz-border-radius    : 0;
    border-radius         : 0;
}

.top-boxes-bar .caret-custom {
    font-size : 16px;
    color     : #6D84B4;
}

.checkout-confirmation-image-cell {
    max-width  : 100px;
    max-height : 150px;
}

.table-confirmation-checkout td {
    vertical-align : middle !important;
    text-align     : center;
}

.table-confirmation-checkout .price-unit, .table-confirmation-checkout .price-total {
    white-space : nowrap;
}