{*	 
         <div class="footer">
             <div class="block" style="margin-top:10px">
              {if $smarty.const.FACEBOOK_DISPLAY_FOOTER }
                 <p> {$text_custom_footer}</p>
              {/if}
                 <ul class="inline text-center footer-overlay">
                     {foreach from=$arr_footer.partner key=key item=partner}
                         <li>
                             <a href="http://{$partner.link}" target="_blank" class="muted">{$partner.text} {$partner.name}</a>
                             <a href="http://{$partner.link}" target="_blank">
                                 <img src="{$imagepath}/{$partner.logo|replace:'.gif':'.png'}" alt="" title="{$partner.name}"/>
                             </a>
                         </li>
                     {/foreach}
                 </ul>
             </div>
         </div>
*}	 
 </div>
</body>
</html>