<table cellspacing='0' cellpadding='0' id='ajaxsearch' class='ajaxsearch' width='100%'>
	<tr>
		<td class='ajax_schatten_links_o' ><img src='images/spacer.gif' width='9' height='17'></td>	
		<td valign='top' class='ajax_schatten_mitte_o'><div class='ajax_pfeil'></div></td>
		<td class='ajax_schatten_rechts_o'><img src='images/spacer.gif' width='9' height='17'></td>
	</tr>
	<tr>
		<td class='ajax_schatten_links_m' ><img src='images/spacer.gif' width='9' height='17'></td>
       	<td class='ajax_contentbox' bgcolor='#FFFFFF' align='right'><a href='javascript:CloseAjaxSearch();'>
		    <img src='images/ajax_search/button_ajax_close.gif' class='ajax_button_close' border='0' /></a>&nbsp;&nbsp;
		</td>
		<td class='ajax_schatten_rechts_m'><img src='images//spacer.gif' width='9' height='17'></td>
    </tr>
    <tr>
		<td class='ajax_schatten_links_m'><img src='images/spacer.gif' width='9'></td>
		<td class='ajax_contentbox' bgcolor='#FFFFFF'>
			<!-- Search Content //-->
			<table border='0' cellpadding='4' cellspacing='0' width='100%'>
	    		{foreach from=$products_list key=key item=product}
		    		<tr id='ajax_row_{$key}' onclick='ProductEdit('{$product.products_id}')'>										
				   		<td><a href='{$product.link}'>{$product.products_model}&nbsp;{$product.products_name}</a>
					</tr>
	    		{/foreach}
			</table>
		</td>
		<td class='ajax_schatten_rechts_m'><img src='images/spacer.gif' width='9'></td>
    </tr>    
	<tr>
   		<td class='ajax_schatten_links_u'><img src='images/spacer.gif' width='9' height='15'></td>
		<td class='ajax_schatten_mitte_u'><img src='images/spacer.gif' height='15'></td>
        <td class='ajax_schatten_rechts_u'><img src='images/spacer.gif' width='9' height='15'></td>
	</tr>
</table>