


		<table border="0" cellspacing="0" cellpadding="0" class="pageHeadingTable">
       <tr>         
         <td class="pageHeading" nowrap  width="50%">{$HEADING_TITLES_SITEMAP}</td>         
         <td class="pageHeadingRight" align="right"  width="50%">&nbsp;</td>         
       </tr>
    </table>  

		<table border="0" cellspacing="0" cellpadding="0" class="pageContentTable">
			<tr>
				<td>
					<table border="0" width="100%" cellspacing="0" cellpadding="0">
		      	<tr>
        			<td class="cont_abst">
								<table border="0" width="100%" cellspacing="0" cellpadding="0">				
              		<tr>
                		<td class="main">{$HEADING_DESCRIPTION_SITEMAP}</td>
              		</tr>
              		<tr>
                		<td class="main">
											{*
											{foreach from=$products_array item=item}
													{$item.products_name}<br>
											{/foreach} 
											*}										
										</td>
              		</tr>
            		</table>
							</td>
          	</tr>
        </table>
			</td>
      </tr>
      
    </table>

