{include file="header.tpl"}
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
			<div class="checkout-container">
			  	{$content}
			</div>
		</div>		
	</div>
</div>
{include file="footer.tpl"}