@font-face {
    font-family : 'Glyphicons Halflings';
    src         : url('fonts/glyphicons-halflings-regular.eot');
    src         : url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

* {
    -moz-border-radius    : 0 !important;
    -webkit-border-radius : 0 !important;
    -ms-border-radius     : 0 !important;
    -o-border-radius      : 0 !important;
    border-radius         : 0 !important;
    outline               : 0;
    /* cursor: default;*/
}

a, select {
    cursor : pointer;
}

.btn:active, .btn:focus, a:active, a:focus {
    outline : 0
}

.no-border-right {
    border-right : 0 !important
}

.no-border-left {
    border-left : 0 !important
}

.no-padding {
    padding : 0 !important
}

.hero-spacer {
    margin-top : 50px
}

.hero-feature {
    margin-bottom : 30px
}

select {
    border  : 1px solid #DDDDDD;
    padding : 3px
}

@font-face {
    font-family : 'open_sanscondensed_light';
    /* src: url('fonts/Open Sans Condensed  Light.ttf');*/
    src         : url('fonts/OpenSans-CondLight-webfont.eot');
    src         : url('fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-CondLight-webfont.woff') format('woff'),
    url('fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
    url('fonts/OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'source_sans_proregular';
    src         : url('fonts/sourcesanspro-regular-webfont.eot');
    src         : url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
    url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
    url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'DroidSansRegular';
    src         : url('fonts/DroidSans-webfont.eot');
    src         : url('fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/DroidSans-webfont.woff') format('woff'),
    url('fonts/DroidSans-webfont.ttf') format('truetype'),
    url('fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight : normal;
    font-style  : normal;
}

body {
    font-family : 'source_sans_proregular';
    color       : #333333;
    background  : #F1F1F1;
}

.main-container {
    padding-top : 20px;
    background  : #FFFFFF;
}

header {
    padding-top : 10px;
    background  : #F1F1F1;
}

header .well {
    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
    -ms-box-shadow     : none;
    -o-box-shadow      : none;
    box-shadow         : none;
    padding            : 20px 0 0;
    border             : 0;
    background         : transparent;
}

header .logo {
    padding : 0;
}

header .logo img {
    max-width : 200px;
}

header .logo a {
    color       : #333333;
    font-size   : 35px;
    font-family : 'open_sanscondensed_light';
}

header .logo a span {
    color : #428BCA;
}

header .logo a:hover {
    text-decoration : none;
}

.slider {
    margin  : 0 0 20px;
    padding : 0;
    width   : 100%;
}

ul.bxslider {
    list-style : none;

}

.bx-wrapper .bx-viewport {
    top  : 0;
    left : 0;

}

.bx-wrapper img {
    width : 100%;
}

.bx-viewport {
    max-height : 300px !important;
}

.input-search {
    position : relative;
    z-index  : 1;
}

.search-header {
    color : #999999;
}

/****************** languages & cart **************/

.btn-group-cart, .btn-group-cart .btn {
    color : #999999;
}

.btn-group-cart .btn {
    text-align : center;
}

.btn-group-cart .dropdown-menu {
    z-index    : 1001;
    right      : 0;
    margin-top : -1px;
}

.btn-group-cart:hover .dropdown-menu,
.btn-group-cart .dropdown-menu:hover {
    display : block;
}

#cart, #cart a, .lang-title {
    color : #999999;
}

#cart:hover, #cart:hover a {
    color           : #FFFFFF;
    text-decoration : none;
    background      : #4A4A4A;
}

.lang {
    list-style-type : none;
}

.languages {
    min-width : inherit;

}

ul.cart-content b {
    font-weight : normal;
    display     : block;
    font-family : 'DroidSansRegular';
    color       : #428BCA;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 15px;
}

/****************** languages & cart end **************/
.link-p {
    display      : block;
    min-height   : 250px;
    height       : auto;
    width        : 100%;
    max-width    : 100%;
    margin-right : auto;
    margin-left  : auto;
}

.first-p {
    min-height : 169px;
}

.def-img {
    position   : inherit !important;
    width      : auto !important;
    height     : inherit !important;
    max-width  : inherit !important;
    max-height : inherit !important;
    left       : inherit !important;
    top        : inherit !important;
}

.prod-caption {
    background : #FBFBFB;
    border-top : 1px solid #DDDDDD;
}

.prod-caption h4 {
    font-size : 16px;
    height    : 18px;
    overflow  : hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.prod-caption a:hover {
    text-decoration : none;
}

span.title {
    display        : block;
    border-bottom  : 3px solid #EEEEEE;
    padding-bottom : 8px;
    margin-bottom  : 20px;
    font-family    : 'open_sanscondensed_light';
    font-size      : 22px;
    color          : #4C7ED3;
}

footer {
    color      : #A09F9F;
    background : #313131;
}

footer h4 {
    border-bottom  : 1px solid #5D5D5D;
    padding-top    : 10px;
    padding-bottom : 10px;
    font-size      : 16px;
    color: #EEEEEE;
}

footer .column ul {
    font-size   : 13px;
    list-style  : none;
    padding     : 0;
    line-height : 22px;
}

footer .column ul a {
    color : #A09F9F;
}

footer .copyright {
    padding : 10px;
    color   : #CCCCCC;
}

.navbar {
    background    : #4A4A4A;
    margin-bottom : 0;
}

.navbar li a {
    font-family        : 'open_sanscondensed_light';
    font-size          : 20px;
    text-transform     : uppercase;
    color              : #FFFFFF !important;
    -ms-transition     : all 100ms ease-in-out 0s;
    -moz-transition    : all 100ms ease-in-out 0s;
    -webkit-transition : all 100ms ease-in-out 0s;
    -o-transition      : all 100ms ease-in-out 0s;
    transition         : all 100ms ease-in-out 0s;
}

.navbar li a:hover, .navbar li a:active {
    background-color : #428BCA !important;
}

.navbar li.nav-dropdown .caret {
    border-top-color    : #FFFFFF;
    border-bottom-color : #FFFFFF;
}

@media (min-width : 768px) {
    .navbar li.nav-dropdown ul li a {
        font-family    : Arial;
        font-size      : 15px;
        color          : #333333 !important;
        text-transform : inherit;
    }

    .navbar li.nav-dropdown ul li a:hover {
        background-color : #F1F1F1 !important;
    }
}

/*navbar*/
.categories-menu {
    white-space : nowrap;
}

.categories-menu > .visited {
    background-color : #FF0000;
}

.catLevel_0_on > a.visited {
    background-color : #3276B1;
    color            : #FFFFFF;
}

.catLevel_0_on > .menu-item {
    background-color : #3276B1;
    color            : #FFFFFF;
}

.list-categ a {
    font-family        : 'DroidSansRegular';
    background         : #FBFBFB;
    -ms-transition     : all 100ms ease-in-out 0s;
    -moz-transition    : all 100ms ease-in-out 0s;
    -webkit-transition : all 100ms ease-in-out 0s;
    -o-transition      : all 100ms ease-in-out 0s;
    transition         : all 100ms ease-in-out 0s;
}

.list-categ a:hover {
    background : #FFFFFF;
    color      : #428BCA;
}

.thumbnail:hover {
    box-shadow : 0 0 10px 1px #F1F1F1;
}

.catalogue-pagination {
    margin      : 0 0 40px;
    font-family : 'open_sanscondensed_light';
}

.catalogue-pagination li.disabled:hover a {
    cursor : default;
}

.catalogue-pagination li a {
    -ms-transition     : all 100ms ease-in-out 0s;
    -moz-transition    : all 100ms ease-in-out 0s;
    -webkit-transition : all 100ms ease-in-out 0s;
    -o-transition      : all 100ms ease-in-out 0s;
    transition         : all 100ms ease-in-out 0s;
    padding            : 3px 12px;
}

.back-top {
    display    : none;
    position   : fixed;
    bottom     : 0;
    right      : 0;
    width      : 30px;
    background : #555555;
    color      : #FFFFFF;
    height     : 23px;
}

.back-top:hover, .back-top:focus, .back-top:active {
    color : #FFFFFF;
}

.back-top:hover {
    -ms-transition     : all 100ms ease-in-out 0s;
    -moz-transition    : all 100ms ease-in-out 0s;
    -webkit-transition : all 100ms ease-in-out 0s;
    -o-transition      : all 100ms ease-in-out 0s;
    transition         : all 100ms ease-in-out 0s;
    background         : #333333;
}

.tbl-cart thead {
    background : #F8F8F8
}

.tbl-cart .td-qty {
    white-space : normal !important;
    width       : 130px;
}

.btns-cart .btn {
    margin-right : 3px;
}

.tbl-checkout tbody tr td:nth-child(odd) {
    background : #F8F8F8;
}

.input-qty-detail .bootstrap-touchspin {
    float        : left;
    margin-right : 5px;
    width        : 130px;
}

.btn-group > .btn-default + a:not(.btn), .mwst_info {
    display : none;
}

/******************* product_info *****************/
.prod_info > .mwst_info {
    font-size      : 12px;
    display        : block;
    font-family    : 'source_sans_proregular';
    font-weight    : 400;
    text-transform : lowercase;
}

.prod_info {
    font-size      : 30px;
    text-transform : uppercase;
    font-family    : 'open_sanscondensed_light';
    font-weight    : 900;
}

.products_name_div {
    padding-left   : 0;
    text-transform : uppercase;
}

/******************* dropdown-menu *****************/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    text-decoration  : none;
    color            : #FFFFFF;
    background-color : #333333;
}

.dropdown-submenu {
    position : relative;
}

.dropdown-submenu > .dropdown-menu {
    top                   : 0;
    left                  : 100%;
    margin-top            : 0;
    margin-left           : -1px;
    -webkit-border-radius : 0 6px 6px 0;
    -moz-border-radius    : 0 6px 6px 6px;
    border-radius         : 0 6px 6px 6px;
}

.dropdown-submenu:hover > a:after {
    border-left-color : #FFFFFF;
}

.dropdown-submenu.pull-left {
    /*float:none;*/
    clear : both;
}

.categories-menu {
    margin-bottom : 20px;
}

.categories-menu > li {
    float     : none;
    font-size : 14px;
    /*border-bottom  : 1px solid #CCCCCC;*/
}

.categories-menu > li > a:hover,
.categories-menu > .dropdown:hover > a {
    background-color : #333333 !important;
    color            : #FFFFFF;
}

.categories-menu > li:last-child {
    border-bottom : 0;
    border-top    : 0;
}

.dropdown > .dropdown-menu {
    /*background-color : #EEEEEE;*/
    left             : 100%;
    top              : 0px;
    font-size        : 16px;
    text-transform   : lowercase;
    z-index          : 10999;
}

.categories-menu {
    /*border : 1px solid #CCCCCC;*/
    width  : 100%;
}

.list-group-item {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.dropdown-submenu > .dropdown-menu {
    top                   : 0;
    left                  : 100%;
    margin-top            : 0;
    margin-left           : -1px;
    -webkit-border-radius : 0 6px 6px 0;
    -moz-border-radius    : 0 6px 6px 6px;
    border-radius         : 0 6px 6px 6px;
}

.dropdown-submenu:hover > a:after {
    border-left-color : #FFFFFF;
}

.dropdown-submenu.pull-left {
    float : none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left                  : -100%;
    margin-left           : 10px;
    -webkit-border-radius : 6px 0 6px 6px;
    -moz-border-radius    : 6px 0 6px 6px;
    border-radius         : 6px 0 6px 6px;
}

.float-right-ico-arrow {
    float : right;
    /*margin : -35px 5px;*/
    color : #919CA3;
    line-height: 22px;
}

.arrow-level2 {
    float  : right;
    margin : -20px 5px;
}

.button_display_categories {
    height        : 35px;
    font-size     : 20px;
    margin-bottom : 20px
}

.button_display_categories span.caret {
    border-width : 20px;
}

/******************* breadcrumb *****************/

.breadcrumb {
    color : rgba(0, 0, 0, 0.0);

}

.breadcrumb a {
    color          : #A09F9F;
    font-family    : 'open_sanscondensed_light';
    text-transform : uppercase;
    font-size      : 18px;
}

.breadcrumb a:hover {
    color           : #428BCA;
    text-decoration : none;
}

.breadcrumb a::before {
    content : " > ";
    /*font-family : FontAwesome;*/
    /*margin      : 0 5px;*/
}

.breadcrumb a:hover::before,
.breadcrumb a:last-child::before {
    color : #A09F9F;
}

.breadcrumb a:nth-child(1)::before {
    content : "";
    /*margin  : 0;*/
}

.breadcrumb a:last-child {
    color  : #428BCA;
    cursor : default;
}

/*****************/

.prod-caption, h4 {
    text-transform : uppercase;
    font-family    : 'source_sans_proregular';
    /*color          : #EEEEEE;*/
}

.footer_partner {
    color : #CCCCCC;
}

/****************/
.footer-box {
    font-family : 'source_sans_proregular';
}

.tableMAIN {
    /*width: 50%;*/
    margin-bottom         : 20px;
    /* max-width: 100%;*/
    background-color      : transparent;
    border-collapse       : separate;
    border-spacing        : 0;
    border                : 1px solid #D3D6DB;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
}

.checkout-container {
    font-family : arial, sans-serif;
}

.tableMAIN th, .tableMAIN td {
    padding        : 8px;
    line-height    : 20px;
    vertical-align : middle;
    text-align     : center;
}

.productListing-heading {
    background-color : #F6F7F8;
    border-bottom    : 1px solid #E9EAED;
    color            : #6A7480;
    font-weight      : bold;
}

.productListing-even td,
.productListing-odd td {
    border-bottom : 1px solid #ECECEC;
}

td.pdC table {
    margin : auto;
}

td.pdC table td {
    padding : 0;
}

.productListing-data td {
    border : none;
}

ul.unstyle {
    list-style : none;
    font-size  : 13px;
}

/************steps**************/
ol.steps {
    font-family    : 'open_sanscondensed_light';
    text-transform : uppercase;
    list-style     : none;
    margin         : 0 0 20px;
    padding        : 0;
    overflow       : hidden;
    font-size      : 13px;
    line-height    : 18px;
}

ol.steps li {
    list-style  : none;
    text-align  : center;
    color       : #999999;
    background  : #EEEEEE;
    position    : relative;
    margin-left : 43px;
}

ol.steps li:after {
    position          : absolute;
    top               : 50%;
    left              : 100%;
    content           : " ";
    height            : 0;
    width             : 0;
    pointer-events    : none;
    border            : 19px solid transparent;
    border-left-color : #EEEEEE;
    margin-top        : -19px;
}

ol.steps li:first-child {
    margin-left : 0;
}

ol.steps li:first-child span {
    padding : 9px;
}

ol.steps li:first-child span:after {
    border : none;
}

ol.steps li:last-child:after {
    border-width : 0;
}

ol.steps li span {
    display : block;
    padding : 9px 28px 9px 9px;
}

ol.steps li span:after {
    position          : absolute;
    top               : 50%;
    right             : 100%;
    content           : " ";
    height            : 0;
    width             : 0;
    pointer-events    : none;
    border            : 19px solid #EEEEEE;
    border-left-color : transparent;
    margin-top        : -19px;
}

ol.steps > li {
    float : left;
    width : 22%;
}

ol.steps li.current {
    background : #428BCA;
    width      : 22.6%;
}

ol.steps li.current a {
    color : #FFFFFF;

}

ol.steps li.current:after {
    border-left-color : #428BCA; /*#7AC144;*/
}

ol.steps li.current span:after {
    border-color      : #428BCA; /*#7AC144;*/
    border-left-color : transparent;
}

ol.steps li.done a {
    color : #428BCA;

}

ol.steps li a:hover {
    text-decoration : none;

}

.general_inputs {
    display               : block;
    float                 : left;
    width                 : 212px;
    height                : 37px;
    font-size             : 14px;
    margin                : 5px 0;
    /* IE7 / IE8 */
    height /*\**/         : 27px \9;
    padding /*\**/        : 10px 0 0 6px \9;
    /* IE7 / IE8 */
    -webkit-border-radius : 0 !important;
    -moz-border-radius    : 0 !important;
    border-radius         : 0 !important;
    padding               : 4px 10px !important;
    -webkit-transition    : all 0.2s ease-out !important;
    -moz-transition       : all 0.2s ease-out !important;
    -o-transition         : all 0.2s ease-out !important;
    transition            : all 0.2s ease-out !important;
    color                 : #C8C8C8 !important;
}

.general_inputs:focus {
    color : #000000 !important;
}

.panel-body table .main select, .form_tem .inputHLD select {
    display               : block;
    float                 : left;
    width                 : 212px;
    font-size             : 14px;
    cursor                : pointer;
    height                : 40px;
    line-height           : 30px;
    margin                : 0;
    padding               : 4px;
    -webkit-border-radius : 0;
    -moz-border-radius    : 0;
    border-radius         : 0;
    -webkit-transition    : all 0.2s ease-out;
    -moz-transition       : all 0.2s ease-out;
    -o-transition         : all 0.2s ease-out;
    transition            : all 0.2s ease-out;
}

/************steps end*************/
.checkout-shipping-textarea textarea {
    width : 98%;
}

.checkout-payment-textarea textarea {
    width : 98%;
}

input[name='gv_redeem_code'] {
    width : 95%;
}

.infoBox td {
    vertical-align : top;
}

.cartcount_inputs {
    width         : 60px;
    margin-bottom : 0 !important;
    text-align    : center;
}

/******Shoping cart*******/
.warenkorb_del_item:after {
    content     : "\f014";
    font-family : FontAwesome;
    font-size   : 15px;
    color       : #428BCA;
}

.warenkorb_rem_item:before {
    content        : "\f0d9";
    font-family    : FontAwesome;
    font-size      : 40px;
    color          : #428BCA;
    vertical-align : middle;
}

.warenkorb_add_item:after {
    content        : "\f0da";
    font-family    : FontAwesome;
    font-size      : 40px;
    color          : #428BCA;
    vertical-align : middle;
}

a.warenkorb_add_item,
a.warenkorb_rem_item,
a.warenkorb_del_item {
    text-decoration: none;
}

.shopping {
    margin-bottom : 20px;
}

.subtotal {
    font-weight : 900;
    font-size   : 18px;
    font-family : 'open_sanscondensed_light';
}

#tab-card {
    font-family    : 'open_sanscondensed_light';
    text-transform : uppercase;
}

#tab-card a:hover {
    text-decoration : none;
}

/**************************/
.form2val input:required/*, select:required*/     {
    background : #FFFFFF url(images/input_required.png) no-repeat 98% center;
    border     : 1px solid #CCCCCC;
}

.form2val input:required:valid/*, select:valid*/      {
    background   : #FFFFFF url(images/input_valid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #5CD053;
    border-color : #28921F;
}

.form2val input:focus:invalid/*, select:invalid */     {
    background   : #FFFFFF url(images/input_invalid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #D45252;
    border-color : #B03535
}

form {
    margin-bottom : 20px;
}

.mail-form {
    margin-bottom : 0;
}

/*******LOGIN*******/

/* ############# LOGIN/REGISTER OVERLAY end */
.inputtext {
    text-align : right;
}

.inputfield {
    display       : block;
    float         : left;
    width         : 212px;
    height        : 37px;
    font-size     : 14px;
    margin        : 0;
    padding       : 0 0 0 6px;
    /* IE7 / IE8 */
    height /*\**/ : 27px \9;
    /* IE7 / IE8 */
}

.zipcode {
    width : 90px;
}

.city {
    width : 104px;
}

.inputbutton {
    display : block;
    height  : 39px;
    border  : 0;
    margin  : 18px 0 0 0;
    outline : none;
    cursor  : pointer;
}

a.linkpwf {
    display         : inline-block;
    margin          : 10px 0 0 0;
    color           : #BBBBBB;
    text-decoration : underline;
}

a.linkpwf:hover {
    color : #333333;
}

.errorMessages {
    padding    : 12px 8px 8px 8px;
    margin     : 0 0 12px 0;
    border     : 4px solid #990000;
    background : #F1CECE;
    font-size  : 12px;
}

.inputHLDbox {
    margin  : 0 0 17px 0;
    padding : 2px;
    border  : 1px solid #D3D3D3;
}

.inputHLDhead {
    padding     : 12px 0 15px 18px;
    font-size   : 14px;
    font-weight : bold;
    color       : #4E4E4E;
    background  : url(images/boxes_accHEADbg.png) repeat-x 0 0;
}

.inputHLDinner {
    width  : 470px;
    margin : 0 auto;
}

.inputHLDinnerChangePass {
    width  : 700px;
    margin : 10px auto;
}

.inputHLD {
    float  : left;
    margin : 0 20px 14px 0;
}

.req_label {
    margin : 0 0 6px 0;
}

.req_label span {
    font-size   : 12px;
    font-weight : bold;
    color       : #990000;
}

.inputTXT {
    width  : 120px;
    margin : 0 0 4px 0;
}

.inputfieldHLD {
    width  : 260px;
    border : 1px solid #D4D4D4;
    margin : 0 15px 0 0;
}

.width_streed {
    width : 95%
}

.width_streed input {
    width : 100%;
}

.zipcodeHLD {
    width : 91px;
}

.cityHLD {
    width : 152px;
}

.inputcheckbox {
    float : left;
}

.inputcheckboxTXT span {
    padding : 0 0 0 7px;
}

.inputcheckboxTXT {
    float  : left;
    margin : 0 0 4px 0;

}

.inputselectHLD {
    width  : 210px;
    border : 1px solid #FFFFFF;
    margin : 0 2px 0 0;
}

.clearer {
    clear  : both;
    height : 0;
}

.form-horizontal form .control-group select,
.inputselectHLD select,
.control-group textarea {
    display            : block;
    width              : 100%;
    padding            : 6px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : #555555;
    background         : #FFFFFF;
    border             : 1px solid #CCCCCC;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.formHTML5 .inputHLDbox input:required {
    background : #FFFFFF url(images/input_required.png) no-repeat 98% center;
    border     : 1px solid #CCCCCC;
}

.formHTML5 .inputHLDbox input:required:valid {
    background   : #FFFFFF url(images/input_valid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #5CD053;
    border-color : #28921F;
}

.formHTML5 .inputHLDbox input:focus:invalid {
    background   : #FFFFFF url(images/input_invalid.png) no-repeat 98% center;
    box-shadow   : 0 0 5px #D45252;
    border-color : #B03535
}

/* ############# LOGIN/REGISTER OVERLAY begin END #######*/
.tab-pane {
    padding : 20px;
}

.tab-pane a:hover {
    text-decoration : none;
}

.navbar-collapse .navbar-nav > li > a:active,
.navbar-collapse .navbar-nav > li > a:focus,
.navbar-collapse .navbar-nav > li > a:hover,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    color      : #FFFFFF;
    background : #428BCA;
}

/*account.tpl*/
.tab-content {
    border        : 1px solid #DDDDDD;
    border-top    : 0;
    margin-bottom : 20px;
}

.image_view_product_list {
    /*max-width           : 255px;*/
    height              : 255px;
    background-position : center;
    background-size     : cover;
}

.shopping_cart_checkout_width {
    width       : 200px;
    float       : left;
    margin-left : 10px;
}

/**************CONTACT US*********************/
.form-horizontal form .control-group select,
.control-group textarea {
    display            : block;
    width              : 100%;
    padding            : 6px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : #555555;
    background         : #FFFFFF;
    border             : 1px solid #CCCCCC;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

form[name=contact_us] input.general_inputs {
    width: 100%;
}
.min-width-block-preview {
    min-width : 280px;
}

/********************MENU DOPDOWN STYLE********************************/
.dropdown-submenu:hover > .dropdown-menu,
.dropdown:hover > .dropdown-menu {
    display : block;
}

.overflow_3_level {
    max-height : 400px;
    overflow   : auto;
}
.overflow_3_level::-webkit-scrollbar {
    width: 10px;
}

.overflow_3_level::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.overflow_3_level::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #A7A4A4;
}
/********************END MENU DOPDOWN STYLE********************************/
.margin-bottom {
    margin-bottom: 20px;
}

/*###### For firefox ######*/
@-moz-document url-prefix() {
    .float-right-ico-arrow {
        margin: -20px 5px;
    }
}