{include file="header.tpl"}
<section class="homecolon">
    <div class="container">
        <div id="content" class="single col-lg-12 col-md-12 col-sm-12">
           {$content}
        </div>
    </div>
</section>
{include file="footer.tpl"}