{if $arr_searchbox}
    {$arr_searchbox.form}
        <span class="fa fa-search"></span>
        <input type="text" name="keywords" id="keywords" placeholder="{$arr_searchbox.title}" value="{$arr_searchbox.inputtextfield}"/>
        {$arr_searchbox.hidden_sessionid}
        <div class="clearfix"></div>
    </form>
{/if}
